html, body {
    width: 810px;
    margin: 0 auto;
    padding: 0;
}

div.clearfix {
    clear: both;
}

a > img { border: 0; }

p {
    margin: 0;
}

div.main {
    position: relative;
    width: 810px;
    margin: 0 auto;
    background: #2b3848;
    min-height: 500px;
}

/* # # # # # # # # # # # # # # */
#header {
    /*height: 62px;*/
    background: #fff;
}

#header > .left {
    padding-left: 60px;
    width: 345px;
    float: left;
}

#header > .left span {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #2b3848;
    line-height: 62px;
}

#header > .right {
    float: right;
    padding-top: 15px;
    padding-right: 49px;
    width: 356px;
    text-align: right;
}

#header > .right span.follow {
    display: block;
    float: right;
    line-height: 62px;
    color: #424242;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-right: 9px;
}

#header > .right div.field-element {
    display: block;
    float: right;
}

#header > .right div.share-images {
    display: inline-block;
}
#header > .right div.share-images a {
    display: block;
    float: left;
    margin: 0 4px;
}

#header > .right div.share-images a:last-of-type {
    margin-right: 0;
}
/* # */

div.red-spacer {
    height: 10px;
    background: #ea5343;
}

#footer {
    /*height: 122px;*/
    background: #fff;
}

#footer > .left {
    padding-left: 53px;
    width: 352px;
    float: left;
}

#footer > .left span {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #2b3848;
    line-height: 122px;
}

#footer > .right {
    float: right;
    padding: 46px 49px 0 0;
    width: 356px;
    text-align: right;
}
#footer > .right .field-element {
    display: inline-block;
    vertical-align: top;
}

#footer > .right span.follow {
    display: inline-block;
    line-height: 48px;
    color: #424242;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-right: 9px;
}

#footer > .right div.share-images {
    display: inline-block;
    vertical-align: top;
}

#footer > .right div.share-images img {
    display: inline-block;
    margin: 0 4px;
}

#footer > .right div.share-images img:last-of-type {
    margin-right: 0;
}

/* # # # # */

.section-01 {
    height: 525px;
    background: #2b3848;
    padding-top: 58px;
	overflow: hidden;
}

.section-01 > .left {
    width: 342px;
    padding-left: 63px;
    float: left;
}

.section-01 > .left h1 {
    margin: 0 0 43px 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
}

.section-01 > .left h2,
.section-01 > .left h3,
.section-01 > .left h3 a {
    margin: 0 0 45px 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.section-01 > .left h3 {
    margin: 30px 0 55px 0;
}

.section-01 > .left .markets {
    text-align: center;
}

.section-01 > .left .markets > .field-element {
    display: inline-block;   
    margin: 0 31px;
    width: 100px;
    height: 106px;
}
.section-01 > .left .markets > .field-element img {
    width: 100px;
    height: 106px;
}

.section-01 > .left .markets a.android img {
    margin-bottom: -5px;
}

.section-01 > .right {
    width: 405px;
    float: right;    
}

.section-01 > .right .mobile-place {
    position: relative;
    width: 304px;
    height: 520px;
    background: url(../img/red-iphone.png) no-repeat;
    margin-left: 65px;
	padding: 94px 0 0 27px;
}

.section-01 > .right .mobile-place .field-element,
.section-01 > .right .mobile-place img {
    width: 252px;
    height: 426px;
}

/* # # # # */

.section-02 {
    /*height: 263px;*/
    background: #fff;
}

.section-02 .features {
    text-align: center;
    padding-bottom: 25px;
}

.section-02 .features .feature:first-of-type {
    margin-left: 20px;
}

.section-02 .features .feature {
    display: inline-block;
    width: 170px;
    margin: 0 51px;
    text-align: center;
    padding-top: 27px;
}

.section-02 .features .feature:last-of-type {
    margin-right: 20px;
}

.section-02 .features .feature .image {
    width: 110px;
    height: 88px;
    background: #ea5343;
    border-radius: 70px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto 22px auto;
    position: relative;
    padding-top: 18px;
}

.section-02 .features .feature h3 {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 18px 0;
    color: #333333;
}

.section-02 .features .feature span {
    color: #555555;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* # # # # */

.section-03 {
    /*height: 494px;*/
    background: #ea5343;
    padding: 35px 0 80px;
}

.section-03 .heading .main,
.section-03 .heading .desc {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 50px;
    text-align: center;
    display: block;
    line-height: 45px;
}

.section-03 .heading .desc {
    font-size: 16px;
}

.section-03 .slider {
    width: 636px;
    height: 303px;
    background: url(../img/white-iphone.png) no-repeat;
    margin: 0 auto;
    position: relative;
}

.section-03 .slider .super-iphone {
    position: absolute;
    top: 27px;
    left: 92px;
    width: 449px;
    height: 252px;
}


/* # # # # */

.section-04 {
    /*height: 405px;*/
    background: #2b3848;
    padding: 35px 0 50px;
    text-align: center;
    vertical-align: top;
}
.section-04 > :not(.clearfix) {
    display: inline-block;
    width: 336px;
    height: 350px;
    margin: 0 20px;
}

.section-04 .image {
    height: 173px;
    margin-bottom: 65px;
    text-align: center;
}

.section-04 > .left {
    width: 336px;
    margin-right: 22px;
    margin-left: 58px;
    float: left;
}

.section-04 > .right {
    width: 336px;
    float: left;
}

.section-04 .text-content h1 {
    display: block;
    width: 336px;
    height: 86px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 30px;
    line-height: 34px;
    color: #fff;
    text-align: center;
    padding-top: 15px;
}

.section-04 a {
    text-decoration: none;
}

/* # # # # */

.section-05 {
    /*height: 317px;*/
    background: #fff;
    padding: 36px 0;
}

.section-05 .left,
.section-05 .right {
    width: 252px;
    float: left;
}

.section-05 .left {
    margin-right: 123px;
    margin-left: 98px;
}

.section-05 .top {
    background: url(../img/quotation.png) no-repeat;
    background-position: left bottom;
    text-align: center;
    height: 126px;
}

.section-05 .content,
.section-05 .name {
    padding: 19px 0 0 22px;
    color: #424242;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.section-05 .name {
    color: #e96c3e;
}

/* # # # # */

.section-06 {
    /*height: 166px;*/
    padding: 66px 0 30px;
    background: #2b3848;
}

.section-06 .left {
    width: 252px;
    float: left;
    margin-left: 98px;
}

.section-06 .right {
    float: left;
    padding-left: 16px;
    padding-top: 18px;
}

/* # # # # */

.sign-up-form {
    width: 332px;
    height: 105px;    
}

.sign-up-form input[type=text],
.sign-up-form input[type=email] {
    width: 220px;
    height: 71px;
    background: #fff;
    border: 0;
    float: left;
    padding: 0;
    color: #2b3848;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 19px;
    padding-right: 8px;
}

.sign-up-form input[type=submit]{
    width: 85px;
    height: 71px;
    border: 0;
    background: url(../img/go-btn.png) no-repeat top left;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    text-indent: -3000em;
}

.sign-up-form .sign-up-info {
    display: block;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #d3d3d3;
    padding-left: 22px;
    padding-top: 11px;
}

*::-webkit-input-placeholder {
    color: #d3d3d3;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
}
*:-moz-placeholder {
    color: #d3d3d3;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
}
*::-moz-placeholder {
    color: #d3d3d3;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
}
*:-ms-input-placeholder {
    color: #d3d3d3;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
}

/* Control nav styles (e.g. 1,2,3...) */

div#slider ul li,
div#slider ul {
    padding: 0;
    margin: 0;
}

div#slider ol.dots {
    text-align:center;
    bottom: 0;
    padding: 0;
}
div#slider ol.dots li.dot {
    background: url(../img/slider-bullet.png) no-repeat;
    display: inline-block;
    margin: -15px 6px 0;
    text-indent: -999999px;
    width: 28px;
    height: 28px;
    cursor:pointer;
}

div#slider ol.dots li.dot.active {
    background: url(../img/slider-bullet-active.png) no-repeat;
}

#slider > ul {
    height: 350px !important;
}

#slider { position: relative; overflow: auto; height: 350px !important; }
#slider li { list-style: none; text-align: center; }
#slider ul li { float: left; }

#slider .dots {
    position:absolute;
    left: 50%;
    width: 260px;
    margin-left: -130px;
    z-index:999999 !important;
    padding-top: 0  !important;
    margin-top: 0 !important;
}