/*
#view-on-fb {
    background: url("../images/analytics/view-on-facebook.png") no-repeat;
    height: 55px;
    width: 273px;
}

#view-on-fb > a {
    height: 100%;
    position: absolute;
    width: 273px;
}
*/
#view-on-fb {
	border-radius:4px;
	margin-top:0px;
	height:44px;
	display:inline-block;
}

#view-on-fb > a {
	padding:9px 10px;
}

#fanpage-dropdown {
    background: url("../images/analytics/facebook-page-dropdown.png") no-repeat;
    width: 180px;
    min-height: 55px;
}

#fanpage-dropdown .items > ul {
    height: 71px;
    padding-left: 0px !important;
    padding-top: 0;

}

#fanpage-dropdown .items {
    padding-top: 50px;
    width: 0;
}
/*
#change-range {
    background: url("../images/analytics/change-range-button.png") no-repeat;
    height: 34px;
    width: 150px;
    position: absolute;
    cursor: pointer;
    top: 24px;
    left: 370px;
    border: 0 none !important;
}
*/
#change-range {
    cursor: pointer;
}

.analytics-table {
    margin-top: 15px;
	/*
    background: url("../images/analytics/table.png") no-repeat;
    height: 577px;
    width: 855px;
	*/
}

.analytics-table .table-data {
	/*
    height: 564px;
    padding-left: 13px;
    padding-right: 12px;
    padding-top: 88px;
	*/
}
.canvasjs-chart-container::before {
    content: '';
    position: absolute;
    top: 189px;
    background-color: #fff;
    width: 100%;
    height: 10px;
    z-index: 999;
}

ul li[id="fanpage-dropdown"] {
    cursor: pointer;
}

ul li[id="fanpage-dropdown"] > div {
    display: none;
}

ul li {
    list-style: none;
}

ul li[id="fanpage-dropdown"]:hover > div {
    display: block;
}

#tabs-table, #motion-post-table {
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 403px;
    height: 476px;
    overflow-y: auto;
}

#tabs-table {
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}
#motion-post-table {
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
}

#motion-post-table {
    margin-left: 30px !important;
    width: 395px !important;
}

#motion-post-table .name {
    width: 218px;
}

#tabs-table .items span, #motion-post-table .items span {
    font-size: 15px;
    color: white;
    vertical-align: middle;
    padding-bottom: 1px;
    display: inline-block;
}

.items a {
    color: #fff;
}

.items .name {
    width: 220px;
    padding-left: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.items .value {
    display: inline-block;
    text-align: center;
    width: 32px;
    margin-right: 3px;
}
#refresh-btn-area{
	border-radius: 4px;
    margin-top: 0px;
    height: 44px;
    display: inline-block;
    width: 50px;
    margin-left: 8px;	
}

#refresh {
	cursor: pointer;
    display: inline-block;
    padding: 9px;
    box-shadow: none;
}

.current-selection {
    margin-top: 5px;
    background: #1099d2;
    height: 40px;
    width: 170px;
    margin-left: 20px;
    border-radius: 5px;
    color: white;
    padding-left: 5px;
    padding-top: 9px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.title {
    left: 26px;
    position: absolute;
    top: 7px;
    color: white;
}

select {
/*    color: transparent; */
}

option {
	/*
    color: white;
    font-weight: bold;
    background: #002e61;
	*/
}

.result-table div:not([class]) {
    font-size: 18px;
}
.result-table div:not([class]):nth-child(even) {
    background: #1099D2;
}