/* Webkit, Chrome and Safari */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform:translateY(-50%);
    opacity: 0;
  }
  5% {
    -webkit-transform:translateY(-50%);
    opacity: 0;
  }
  15% {
    -webkit-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    -webkit-transform:translateY(0%);
    padding-bottom: 8px;
  }
  60% {
    -webkit-transform:translateY(-10%);
  }
  90% {
    -webkit-transform:translateY(0%);
    padding-bottom: 9px;
  }
  100% {
    -webkit-transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
    -moz-transform:translateY(-50%);
    opacity: 0;
  }
  5% {
    -moz-transform:translateY(-50%);
    opacity: 0;
  }
  15% {
    -moz-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    -moz-transform:translateY(0%);
    padding-bottom: 8px;
  }
  60% {
    -moz-transform:translateY(-10%);
  }
  90% {
    -moz-transform:translateY(0%);
    padding-bottom: 9px;
  }
  100% {
    -moz-transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
    -o-transform:translateY(-50%);
    opacity: 0;
  }
  5% {
    -o-transform:translateY(-50%);
    opacity: 0;
  }
  15% {
    -o-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    -o-transform:translateY(0%);
    padding-bottom: 8px;
  }
  60% {
    -o-transform:translateY(-10%);
  }
  90% {
    -o-transform:translateY(0%);
    padding-bottom: 9px;
  }
  100% {
    -o-transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  0% {
    transform:translateY(-50%);
    opacity: 0;
  }
  5% {
    transform:translateY(-50%);
    opacity: 0;
  }
  15% {
    transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    transform:translateY(0%);
    padding-bottom: 8px;
  }
  60% {
    transform:translateY(-10%);
  }
  90% {
    transform:translateY(0%);
    padding-bottom: 9px;
  }
  100% {
    transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}


/** Fade css effect */

/* Webkit, Chrome and Safari */

@-webkit-keyframes fade_effect {
  0% {
    -webkit-transform:translateY(0%);
    opacity: 0;
  }
  50% {
    -webkit-transform:translateY(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

/* Mozilla Firefox 15 below */
@-moz-keyframes fade_effect {
  0% {
    -moz-transform:translateY(0%);
    opacity: 0;
  }
  50% {
    -moz-transform:translateY(-20%);
    opacity: 0;
  }
  100% {
    -moz-transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

/* Opera 12.0 */
@-o-keyframes fade_effect {
  0% {
    -o-transform:translateY(0%);
    opacity: 0;
  }
  50% {
    -o-transform:translateY(-20%);
    opacity: 0;
  }
  100% {
    -o-transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes fade_effect {
  0% {
    transform:translateY(0%);
    opacity: 0;
  }
  50% {
    transform:translateY(-20%);
    opacity: 0;
  }
  100% {
    transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}