html, body {
    padding: 0;
    margin: 0;
    background: #e7ebf2 url(../images/facebook-preview/top-border.png) repeat-x top center;
}

.main {
    width: 1070px;
    margin: 0 auto;
}

.top {
    width: 1070px;
    height: 97px;
    background: url(../images/facebook-preview/facebook_top.png) no-repeat;
    position: relative;
}

.top .page-image {
    position: absolute;
    top: 50px;
    left: 35px;
}

.content {
    background: #fff;
    border: 1px solid #c4cde0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    padding: 20px;
    width: 810px;
    margin-left: 19px;
}

.page-names-holder {
    height: 26px;
    position: absolute;
    left: 80px;
    top: 55px;
}

.page-name, .tab-name {
    float: left;
}

.page-name > .left {
    width: 7px;
    height: 26px;
    background: url(../images/facebook-preview/left_1.png) no-repeat;
    float: left;
}

.page-name > .middle {
    background: url(../images/facebook-preview/left_2.png) repeat-x;
    height: 26px;
    float: left;
font-size: 13px;
line-height: 25px;
font-weight: bold;
padding-top: 0;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.page-name > .right {
    width: 13px;
    height: 26px;
    background: url(../images/facebook-preview/left_3.png) no-repeat;
    float: left;
}

.tab-name > .left {
    background: url(../images/facebook-preview/left_2.png) repeat-x;
    height: 26px;
    float: left;
    font-size: 13px;
    line-height: 18px;
    padding-top: 0;
    font-size: 13px;
    line-height: 25px;
    font-weight: bold;
    padding-top: 0;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.tab-name > .right {
    width: 24px;
    height: 26px;
    background: url(../images/facebook-preview/right_1.png) no-repeat;
    float: left;
}

.content .tab-preview {
    width: 810px;
    min-height: 300px;
    background: #fff;
}

.bottom {
    width: 1070px;
    height: 69px;
    background: url(../images/facebook-preview/facebook_bottom.png) no-repeat;
}

.fbStickyHeaderBreadcrumb .uiButton .uiButtonText, html #globalContainer .fbStickyHeaderBreadcrumb .uiButton input {
    font-size: 13px;
    line-height: 18px;
    padding-top: 0;
}

.ad-preview .content .tab-preview {
    width: 470px;
    min-height: 176px;
}
.ad-preview .content .tab-preview img {
    width: 470px;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}
.ad-preview .content {
    margin-left: 170px;
    width: 470px;
    padding: 122px 12px 0;
    background: #fff url(../images/facebook-preview/fake-wall.png) no-repeat 0 0;
}
.ad-preview .content-end {
    height: 77px;
    width: 494px;
    margin: -2px 0 0 170px;
    border: 1px solid #c4cde0;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    background: #fff url(../images/facebook-preview/fake-wall.png) no-repeat left bottom;
}
.ad-preview .fake-after {
    margin: 10px 0 0 170px;
    width: 496px;
    height: 393px;
    background: url(../images/facebook-preview/fake-wall-before.png) no-repeat 0 0;
}