/*.like-gate {
    width: 350px;
}
.like-gate-text, .share-gate-text {
    font-size: 18px;
    font-style: italic;
    background: #517cca;
    width: 240px;
    height: 75px;
    margin-top: 15px;
    color: white;
    overflow: hidden;
    text-align: center;
}
.like-gate-text {
    margin-left: 22px;
}*/


.gate-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    
}

.gate-popup {
    background: #fff;
    border: #000 solid 2px;
    border-radius: 3px;
    
    -webkit-box-shadow: -7px 7px 0px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    -7px 7px 0px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         -7px 7px 0px 0px rgba(50, 50, 50, 0.5);    
    
}

.gate-popup-overlay .gate-popup {
    position: fixed;
    
    top: 150px;
    left: 50%;
}

.gate-popup-header-bar {
    display: inline-block;
    width: 100%;
    height: 30px;
    background: #517cca;
    padding-top: 4px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 25px;
}
.container #main .gate-popup-header-bar > *, .gate-popup-header-bar > * {
    text-align: center;
    font-weight: bold;
    color: #fff;
    line-height: 25px;
    font-size: 14px;
    width: 100%;
    margin: 0;
}

.gate-popup-close {
    background: url(../images/gates/popups/close-24x24.png);
    top: -13px;
    right: -13px;
    width: 24px;
    height: 24px;
    position: absolute;
    cursor: pointer;
}

/* EMAIL GATE */
.email-gate {
    width: 500px;
    height: auto;
    
    text-align: center;
}
#main .email-gate .privacy-info, .email-gate .privacy-info {
    width: 100%;
    font-size: 12px;
    margin: 0 0 10px;
}
.email-gate .privacy-info input[type="text"] {
    border: 0 none;
    background: #fff;
    font-size: 12px;
    text-align: center;
    margin: 0;
}

.gate-popup-overlay .email-gate {
    margin-top: -100px;
    margin-left: -250px;
}

.email-gate-confirm-message-wrapper {
    display: table;
    width: 454px;
    height: auto;
    margin: 15px 0 15px 22px;
}

.email-gate-confirm-message-body {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    background: #517cca;
    margin-left: 22px;
    margin-top: 15px;
    padding: 10px;
    color: white;
    overflow: hidden;
    text-align: center;
}
.container #main .email-gate-confirm-message-body > *, .email-gate-confirm-message-body > * {
    text-align: center;
    color: white;
    font-size: 18px;
    width: 100%;
}
.email-gate-confirm-message-body a {
    color: #fff;
}

.email-gate input[type='text'] {
    width: 410px;
    margin-top: 20px;
    font-size: 24px;
    background: #ddd;
}
.email-gate input::-moz-placeholder {
    font-size: 24px;
}
.email-gate input::-webkit-input-placeholder {
    font-size: 24px;
}
.email-gate input:-moz-placeholder {
    font-size: 24px;
}
.email-gate input::-moz-placeholder {
    font-size: 24px;
}
.email-gate input:-ms-input-placeholder {
    font-size: 24px;
}

.email-gate a.cta {
    margin-top: 10px;
    display: inline-block;
    max-width: 400px;
}
.email-gate a.cta img {
    width: 100%;
    height: auto;
}


/* LIKE & SHARE GATES */
.gate-popup-short {
    width: 500px;
    /*min-height: 100px;*/
    padding: 15px 22px;
}

.gate-popup-overlay .gate-popup-short {
    margin-left: -250px;
    margin-top: -50px;
}

.gate-popup-short-prompt-message-wrapper {
    display: table;
    width: 300px;
    min-height: 70px;
    /*margin-left: 22px;
    margin-top: 15px;*/
}

.gate-popup-short-prompt-message-body {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    font-size: 18px;
    background: #517cca;
    margin-left: 22px;
    margin-top: 15px;
    color: white;
    overflow: hidden;
    text-align: center;
}


.fb-share-button, .gate-download-button {
    position: absolute !important; 
    top: 50%; 
    margin-top: -30px; 
    right: 10px; 
    cursor: pointer;
    width: 154px !important;
    height: auto;
}

/* CUSTOM CODE GATE */
.gate-popup-overlay iframe {
    width: 100%;
    border: 0;
}

.gate-popup.custom-code-gate {
    margin-left: 46px;
}

.custom-code-gate {
    width: 500px;
    height: auto;
    text-align: center;
}

.custom-code-gate-text-wrapper {
    width: 100%;
    padding: 5px 10px;
}

.custom-code-gate-text-wrapper .custom-code-gate-text {
    width: 100%;
    height: 147px;
    font-family: 'Courier New';
    border-color: #ababab;
    color: black;
    font-size: 12px;
    background-color: #f3f3f3;    
}

#custom-code-prompt-content .gate-popup-close {
    top: -12px;
}
