/* User menu responsive */
@media (max-width: 767px) {
    .home-content, .home-content > .header-home-content { width: 100% !important; }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .logo-responsive { width: 27% !important;  }
}

@media (min-width: 1200px) {
}
/*  Header responsive   */
@media(max-width:855px)
{
	.topwrapper  h1{
		font-size:18px;
	}
	.topwrapper .selected{
		font-size:16px;
	}
	.menu-settings{
		padding-left:0px;
		padding-right:0px;
	}
}

/* Sidebar responsive */
@media (max-width: 767px) {
    #sidebar {
        position: relative;
        width: 100%;
        border-radius: 0;
        height: auto;
        margin-bottom: 15px;
    }
    
    #sidebar nav ul li {
        display: inline-block;
        width: 49%;
        text-align: center;
    }
    
    #sidebar nav ul li a {
        margin: 2px auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #sidebar {
        position: relative;
        width: 100%;
        border-radius: 0;
        height: auto;
        margin-bottom: 15px;
    }
    
    #sidebar nav ul li {
        display: inline-block;
        width: 50.5%;
        text-align: center;
    }
    
    #sidebar nav ul li a {
        margin: 2px auto;
    }
    
    .home-content, .home-content > .header-home-content { 
        width: 100% !important; 
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    
}

@media (min-width: 1200px) {
    
}

/* Home page responsive */
/* Sidebar responsive */
@media (max-width: 992px) {
    .stats-info { display: none; }
    .row.home-row {
        display: inline-block;
    }
    .home-page {
        text-align: center;
    } 
}

@media (min-width: 768px) and (max-width: 991px) {
    .home-page {
        text-align: center;
    } 
    .row.home-row {
        width: 50%;
        display: inline-block;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    
}

@media (min-width: 1200px) {
    
}

/* Motion posts respo */
@media (max-width: 770px) {
    
    .sidestrip {
        border-right: none;
    }
    
    .page-boxes {
        width: 100% !important;
        padding-bottom: 15px;
    }
    
    .page-boxes > a.page-box {
        display: block;
    }
    
    
    
}

@media (max-width: 481px) {
    .motion-posts-elements > .post.tab {
        float: none;
    }
}
