@import url('tabwizard.animations.css');

#preview-modal {
    position: relative;
    margin: 0 auto;
    background: url(../images/template-preview/template-review-base.png) no-repeat;
    padding: 0 0 29px 31px;
    width: 975px;
    height: 940px;
}

/**
 * Main
 */
#editor.tabbed-modal {
    position: relative;
    margin: 0 auto;
/*    background: url(../images/tabwizard/editor-background.png) no-repeat; 
    padding: 0 0 29px 31px;
    width: 975px;
    height: 940px;*/
	background:#fff;
	opacity:0.99;
	border: 2px solid #e6e9ef;
    border-radius: 10px;
    background-image: none;
    box-shadow: 10px 10px 20px #d8d8d8;	
    display: none;
	max-height:875px;
}

/**
 * Header
 */
.tabbed-modal .tabbed-modal-header {
    padding: 6px 12px 0 8px;
}

.tabbed-modal #editor-close {
	position: absolute;
    top: -2px;
    right: -2px;
    display: block;
    width: 40px;
    height: 24px;
    background-color: #315c7b;
    border-radius: 0px 10px 0px 0px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    z-index: 989898;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}

.tabbed-modal .tabbed-modal-header .tabbed-modal-nav a.editor-nav-link {
    display: block;
    float: left;
    width: 283px;
    height: 87px;
    text-indent: -99999px;
}

.tabbed-modal .tabbed-modal-header .tabbed-modal-nav div.editor-nav-next {
    float: left;
    width: 17px;
    margin: 0 13px 0 12px;
    height: 87px;
    background: url(../images/tabwizard/menu-spacer.png) no-repeat;
}

.tabbed-modal .tabbed-modal-header .tabbed-modal-nav div.editor-nav-next:first-of-type {
    margin: 0 5px 0 9px;
}

.tabbed-modal .tabbed-modal-header .tabbed-modal-nav a#editor-choose-template.editor-nav-link {
}

.tabbed-modal .tabbed-modal-header .tabbed-modal-nav a#editor-edit-template.editor-nav-link {
}

.tabbed-modal .tabbed-modal-header .tabbed-modal-nav a#editor-publish.editor-nav-link {
}
.tabbed-modal.ad-wizard .tabbed-modal-header .tabbed-modal-nav a#editor-publish.editor-nav-link {
}

.tabbed-modal .tabbed-modal-header .tabbed-modal-nav a.editor-nav-link.active {
    background-position: 0 -87px !important;
}

/**
 * Content 
 */
.tabbed-modal .tabbed-modal-content {
    padding: 6px 0 0 0;
}

.tabbed-modal .tabbed-modal-content .tab {
    display: none;
    opacity: 0;
}

.tabbed-modal .tabbed-modal-content .tab.active {
    display: block;
    opacity: 1;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-header {
    height: 60px;
    margin: 0 auto;
    padding: 6px 11px 5px 0px;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-header.second-tab {
/*    float: left;
    width: 563px;
*/
}
.tabbed-modal.ad-wizard .tabbed-modal-content .tab .tabbed-modal-content-header.second-tab {
    width: 844px;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-header h1,
.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-header h2 {
    margin: 0;
    font-size: 21px;
    font-weight: normal;
    color: #000;
}
.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-header h2 {
}
.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-header h2 {
    font-size: 14px;
    line-height: 14px;
    margin-top: 6px;
	font-family:lato light;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .preview-header .search-templates {
    margin: 13px 0 12px 0;
    width: 207px;
    position: relative;
    height: 43px;
    background: url(../images/tabwizard/search-background.png) no-repeat;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .preview-header .editor-template-title {
/*    width: 554px;
    height: 43px;
    background: url(../images/tabwizard/template-title-bar.png) no-repeat;
    position: relative;
    float: left;
    margin-top: 14px;
	*/
}
.ad-wizard .tab .editor-preview-on-facebook {
    float: right;
    margin: 16px 20px 0 0;
	height:44px;
	line-height:44px;
	font-size:14px;
	color:#fff;
	border:none;
}

.tab .editor-add-autoresponder {
    display: block;
    float: left;
    margin-left: 13px;
    text-indent: -99999px;
    width: 323px;
    height: 44px;
    margin-top: 13px;
    background: url(../images/tabwizard/add-autoresponder.png) no-repeat;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .preview-header .editor-template-title input,
.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .preview-header .search-templates input {
    border: 0;
    background: transparent;
    position: absolute;
    top: 5px;
    font-size: 14px;
    font-style: italic;
    color: #000;
    left: 176px;
    height:33px;
    width:355px;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .preview-header .search-templates input {
    top: 5px;
    left: 50px;
    width: 150px;
    font-weight: bold;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .editor-template-preview {
/*    background: #002f5f;
    border-top: 5px solid #1786dd;
    */
    margin: 10px auto 6px 0px;
    padding: 15px 5px;
	width:835px;
	height:610px;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #d8d8d8;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .editor-templates-list {
	margin: 10px 15px 6px auto;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #d8d8d8;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .editor-templates-list .editor-header-templates-list {
    height: 43px;
	background: #eee;
    border-radius: 10px 10px 0px 0px;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .editor-templates-list .editor-header-templates-list span {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    float: left;
    font-weight: lighter;
    color: #fff;
    line-height: 43px;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .editor-templates-list .editor-header-templates-list a {
    float: left;
    display: block;
    line-height: 43px;
    text-indent: -99999px;
    width: 152px;
    height: 31px;
    margin-top: 7px;
}

/**
 * Templates box
 */

.editor-templates-list-content .template-box {
    width: 225px;
    height: 289px;
    background: #fff;
    display: block;
    float: left;
    border-radius: 5px;
    margin: 15px 20px;
	box-shadow:0px 1px 13px #d8d8d8;
}
.ad-wizard .editor-templates-list-content .template-box {
    height: 289px;
}

.editor-templates-list-content .template-box .title {
	width: 205px;
    height: 20px;
    background: #00518c;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 21px;
    margin-left: 6px;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0px 0px 4px 4px;
    text-transform: uppercase;
}

.editor-templates-list-content .template-box .description {
	width: 215px;
    height: 76px;
    color: #000;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    margin: 0px auto 0 auto;
    padding: 0 0px;
    overflow: hidden;
}

.editor-templates-list-content .template-box .description span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 4px 0;
}

.editor-templates-list-content .template-box .thumb {
	width: 217px;
    height: 136px;
    margin: 0px;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 7px;
}

.ad-wizard .editor-templates-list-content .template-box .thumb {
    height: 136px;
}

.editor-templates-list-content .template-box .thumb > img {
	width: 205px;
    height: 136px;
    border-radius: 9px;
    border: 1px solid #d8d8d8;
}

.editor-templates-list-content .template-box .thumb .thumb-overlay {
    position: absolute;
    top: 0;
    left: 6px;
    display: none;
}
.ad-wizard .editor-templates-list-content .template-box .thumb .thumb-overlay {
    top: 0px;
}
.editor-templates-list-content .template-box .thumb:hover .thumb-overlay {
    display: block;
}

.editor-templates-list-content .template-box.active {
    border: 5px solid #57d1f7;
    height: 299px;
    margin: 8px 25px;
}

.editor-templates-list-content .template-box .buttons {
    height: 26px;
    margin-top: 15px;
}

.editor-templates-list-content .template-box .buttons a {
    display: block;
    float: left;
    text-indent: -99999px;
}

.editor-templates-list-content .template-box .buttons a.edit-button {
	width: 75px;
    height: 25px;
    display: block;
    border-radius: 0px 4px;
    background-color: #00518c;
    text-decoration: none;
    color: #fff;
    text-indent: 0;
    text-align: center;
    line-height: 25px;
}

.editor-templates-list-content .template-box .buttons a.favorite-button {
    width: 38px;
    height: 25px;
    display: block;
    text-indent: 0px;
    color: #00518c;
    line-height: 25px;
    font-size: 24px;
    text-align: center;
	text-decoration:none;
}

.editor-templates-list-content .template-box .buttons a.favorite-button.active {
	color:#ffb402;
}
.no-video-placeholder {
    color: #fff;
}

i.ticked {
    margin-top: 7px;
    float: left;
    display: none;
    background: url(../images/tabwizard/show-all-tick.png) no-repeat;
    width: 28px;
    height: 28px;
}

i.ticked.active {
    display: block;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .editor-templates-list .editor-header-templates-list select.categories-select-box {
    background-color: transparent;
    background: url(../images/new-layout/categories.png) no-repeat 0 6px;
    float: left;
    display: block;
    line-height: 43px;
    border: 0;
    width: 110px;
    height: 36px;
    margin-left: 17px;
    -webkit-appearance:none;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .editor-templates-list .editor-header-templates-list a.categories-select-box {
    background: url(../images/tabwizard/categories-button.png) no-repeat 0 0;
    margin-left: 17px;
}

.categories-select-box {
    color: transparent;
    margin-top: 7px;
}
.categories-select-box option {
    color: #000;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .editor-templates-list .editor-header-templates-list a.show-all-button {
	float: left;
    display: inline-block;
    line-height: 33px;
    width: 86px;
    height: 31px;
    margin-top: 6px;
    text-decoration: none;
    text-indent: 0px;
    color: #337ab7;
}
.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .editor-templates-list .editor-header-templates-list span{
	display: block;
    font-size: 16px;
    float: left;
    font-weight: lighter;
    color: #000;
    line-height: 43px;
}
.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .editor-templates-list .editor-header-templates-list span.one {
    margin-left: 15px;
	display: block;
    font-size: 16px;
    float: left;
    font-weight: lighter;
    color: #000;
    line-height: 43px;	
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .editor-templates-list .editor-header-templates-list span.two {
	text-overflow: ellipsis;
    overflow: hidden;
    width: 330px;
    margin-left: 10px;
    white-space: nowrap;	
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .editor-templates-list .editor-header-templates-list span.two a {
    color: #fff;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .editor-templates-list .editor-header-templates-list span.three {
    margin-left: 5px;
    margin-right: 23px;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .editor-templates-list .editor-templates-list-content {
    height: 572px;
    padding: 5px;
}

.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .preview-header .editor-template-title input::-webkit-input-placeholder,
.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .preview-header .search-templates input::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 14px;
    font-style: italic;
    color:    #000;
}
.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .preview-header .editor-template-title input:-moz-placeholder,
.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .preview-header .search-templates input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
    font-style: italic;
    color:    #000;
}
.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .preview-header .editor-template-title input::-moz-placeholder,
.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .preview-header .search-templates input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 14px;
    font-style: italic;
    color:    #000;
}
.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .preview-header .editor-template-title input:-ms-input-placeholder,
.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .preview-header .search-templates input:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 14px;
    font-style: italic;
    color:    #000;
}

.responders.publish-box .responder-element {
    width: 434px;
    height: 55px;
    background: #002f5f;
    margin-bottom: 5px;
    position: relative;
}

.responders.publish-box .responder-element .element {
    position: absolute;
    margin: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #fff;
    font-weight: lighter;
    display: block;
    width: 141px;
    height: 55px;
    top: 0;
    left: 0;
    line-height: 55px;
    background: #1796dd;
    text-align: center;
}

.responders.publish-box .responder-element .contents {
    display: table;
    width: 434px;
    height: 55px;
    text-align: center;
    padding-left: 150px;
}

.responders.publish-box .responder-element .contents span {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #fff;
    font-weight: lighter;
    text-align: left;
}

/* Publish tab */
.editor-publish-container .left-column {
    float: left;
    margin: 0px;
}

.editor-publish-container .right-column {
    float: left;
    margin-top: 0px;
    margin-left: 44px;
}

.editor-publish-container .left-column .publish-box .header,
.editor-publish-container .right-column .publish-box .header {
    width: 350px;
    height: 56px;
    background: #eee;
    padding: 9px 13px;
	border-radius:10px 0px;
}
.editor-publish-container .left-column .publish-box#icon-library-scroll .header{
	border-radius:0px 10px 0px 0px;
	
}
.editor-publish-container .right-column .responders.publish-box .header{
	border-radius:0px 10px;
	width:434px;
}

.editor-publish-container .left-column .publish-box .header h3,
.editor-publish-container .right-column .publish-box .header h3,
.editor-publish-container .left-column .publish-box .header span,
.editor-publish-container .right-column .publish-box .header span  {
    margin: 0;
    font-size: 14px;
    color: #000;
    font-weight: bold;
} 

.editor-publish-container .left-column .publish-box .header span,
.editor-publish-container .right-column .publish-box .header span {
    font-weight: lighter !important;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: bottom;
	color:#000;
}
.editor-publish-container .right-column .publish-box .header span.title{
	font-weight:bold !important;
}
#editor-publish-fanpage-name {
    text-overflow: ellipsis;
    width: 160px;
}

.editor-publish-container .left-column .publish-box .content {
    min-height: 188px;
    background: transparent;
}

.your-tab-icon.publish-box .content {
    padding-top: 15px;
}
.your-tab-icon.publish-box .content p {
    text-align: right;
    color: #000;
    margin-top: 75px;
    margin-right: 28px;
}

.your-tab-icon.publish-box .content .select-button, .preview-element .select-button {
	width: 111px;
    height: 74px;
    display: block;
    text-indent: 0px;
    background-size: contain;
    margin: 0 0px 25px auto;
    text-align: center;
    background-color: #eee;
    line-height: 74px;
    color: #fff;
    font-size: 22px;
	text-decoration:none;
}

.your-tab-icon.publish-box .content .upload-button, .preview-element .upload-button {
    width: 133px;
    height: 39px;
    display: block;
    text-indent: -9999px;
    background: url(../images/tabwizard/upload-button.png) no-repeat;
    margin: 0 auto;
}

.editor-publish-container .search-library.publish-box {
    margin: 17px 0 22px 0;
    width: 381px;
}

.editor-publish-container .background-search {
    width: 234px;
    height: 49px;
    position: relative;
    background: url(../images/tabwizard/search-background-publish.png) no-repeat;
    margin: 0 auto;
}

.editor-publish-container .background-search input {
    position: absolute;
    top: 11px;
    right: 13px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    width: 150px;
    background: transparent;
    border: 0;
}

.icon-library.publish-box .content {
    height: 286px;
    width: 350px;
    padding: 10px;
}

.icon-library.publish-box .content a {
    display: block;
    float: left;
    margin: 2px;
}

/* Bolded placeholder */
.editor-publish-container .background-search input::-webkit-input-placeholder {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #000;
}
.editor-publish-container .background-search input:-moz-placeholder {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #000;
}
.editor-publish-container .background-search input::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #000;
}
.editor-publish-container .background-search input:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #000;
}

.publishing-tab-to.publish-box .header {
    width: 434px !important;
	border-radius:10px 0px 0px 10px !important;
}

.publishing-tab-to.publish-box .header span {
    line-height: 36px;
    margin-left: 12px;
}

.publishing-tab-to.publish-box .header .title {
    width: 230px;
}
.publishing-tab-to.publish-box .header .choose-other-page-button {
    display: inline-block;
	line-height:36px;
    text-indent: 0px;
    float: right;
	text-decoration:none;
}

.publishing-tab-to.publish-box .content {
    width: 434px;
    background: transparent;
    padding-top: 31px;
}

.tabbed-modal.ad-wizard .publishing-tab-to.publish-box .content {
    margin: 12px;
    width: 805px;
    height: 600px;
    padding-top: 50px;
}
.tabbed-modal.ad-wizard .publishing-tab-to.publish-box .content .ad-preview-img {
    margin: 0 auto 20px;
    display: block;
    max-width: 600px;
    max-height: 350px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.publishing-tab-to.publish-box .content .button {
    display: block;
    text-indent: -99999px;
    margin: 15px auto;
}

.publishing-tab-to.publish-box .content .button.preview-on-fb-big {
    width: 323px;
    height: 44px;
    margin: 0 auto 29px auto;
    /* background: url(../images/tabwizard/preview-on-FB-button.png) no-repeat; */
    background: #01518c;
    border-radius: 10px;
    text-align: center;
    text-indent: 0;
    line-height: 44px;
    color: #fff;
    font-size: 21px;
}

.publishing-tab-to.publish-box .content .button.publish-now-big {
    width: 390px;
    height: 85px;
/*    background: url(../images/tabwizard/publish-now-button.png) no-repeat; */
	background:#01518c;
	text-align:center;
	color:#fff;
	border-radius:10px;
	font-size:50px;
	line-height:85px;
	text-indent:0;
}
.ad-wizard .publishing-tab-to.publish-box .content .button.publish-now-big {
    /*background: url(../images/tabwizard/export-button.png) no-repeat; */
}

.publishing-tab-to.publish-box .content .button.publish-changes-big {
    width: 416px;
    height: 92px;
/*    background: url(../images/tabwizard/publish-changes-button.png) no-repeat; */
	background:#01518c;
	text-align:center;
	color:#fff;
	border-radius:10px;
	font-size:24px;
	line-height:92px;
	text-indent:0;
}

.publishing-tab-to.publish-box .content .button.schedule-big {
    width: 416px;
    height: 92px;
    margin: 29px auto 36px auto;
/*    background: url(../images/tabwizard/SCHEDULE-button.png) no-repeat; */
}

.publishing-tab-to.publish-box .content .button.copy-download-big {
    width: 358px;
    height: 44px;
    background: url(../images/tabwizard/copy-or-download.png) no-repeat;
}

/* Bolded placeholder */
.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .preview-header .search-templates input::-webkit-input-placeholder {
    font-weight: bold;
}
.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .preview-header .search-templates input:-moz-placeholder {
    font-weight: bold;
}
.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .preview-header .search-templates input::-moz-placeholder {
    font-weight: bold;
}
.tabbed-modal .tabbed-modal-content .tab .tabbed-modal-content-main .preview-header .search-templates input:-ms-input-placeholder {
    font-weight: bold;
}
/**
 * Footer
 */
.tabbed-modal .tabbed-modal-footer {
    height: 40px;
	margin-right: 10px;
    margin-top: 15px;
}


.tabbed-modal .tabbed-modal-footer #editor-footer-left-side {
    width: 161px;
    float: left;
}

.tabbed-modal .tabbed-modal-footer #editor-footer-middle {
    float: left;
    margin: 10px 20px;
}
.tabbed-modal .tabbed-modal-footer #editor-footer-middle span {
    display: none;
}

.tabbed-modal .tabbed-modal-footer #editor-footer-left-side .button,
.tabbed-modal .tabbed-modal-footer #editor-footer-right-side .button {
    margin-left: 18px;
    display: block;
    width: 143px;
    height: 39px;
    text-indent: -9999px;
}

.tabbed-modal .tabbed-modal-footer #editor-footer-left-side #editor-back-button.back {
	/*
    margin-top: 14px;
	background:transparent;
	border-radius:10px;
	box-shadow:0px 5px 10px #d8d8d8;
	height:35px;
	line-height:35px;
	padding:0px 10px;
	text-decoration:none;
	width:150px;
	display:block;
	color:#000;
	font-family:lato light;
	*/
	float:left;
	display: block;
    height: 30px;
    width: 85px;
    background-color: #00518c;
    border-radius: 10px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    box-shadow: 0px 0px 13px #d8d8d8;	
	text-indent:0;
	text-decoration:none;	
	
}

.tabbed-modal .tabbed-modal-footer #editor-footer-left-side #editor-back-button.cancel {
    float: right;
	display: block;
    height: 30px;
    width: 85px;
    background-color: #00518c;
    border-radius: 10px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    box-shadow: 0px 0px 13px #d8d8d8;	
}

.tabbed-modal .tabbed-modal-footer #editor-footer-middle-side {
    width: 574px;
    float: left;
}

.tabbed-modal .tabbed-modal-footer #editor-footer-right-side {
    width: 209px;
    float: right;
}

.tabbed-modal .tabbed-modal-footer #editor-footer-right-side #editor-next-button {
    float: right;
	display: block;
    height: 30px;
    width: 85px;
    background-color: #00518c;
    border-radius: 10px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    box-shadow: 0px 0px 13px #d8d8d8;	
	text-indent:0;
	text-decoration:none;
}

.tabbed-modal .tabbed-modal-footer #editor-footer-right-side #editor-next-button.disabled {
	background:#eee;
}

.tabbed-modal .tabbed-modal-footer #editor-footer-right-side #editor-close-button {
    float: right;
	display: block;
    height: 30px;
    width: 85px;
    background-color: #00518c;
    border-radius: 10px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    box-shadow: 0px 0px 13px #d8d8d8;	
}

/**
 *     Editor - modals like color picker etc
 */

.modal-editor {
    width: 350px;
    height: 482px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -171px;
    margin-top: -236px;
    /* background: url(../images/tabwizard/modals/background.png) no-repeat; */
    padding: 75px 2px 25px 20px;
    background: #fff;
    box-shadow: 0px 5px 10px #d3d3d3;
	border-radius:10px;
}
#video-editor-modal.modal-editor {
    margin-top: -160px;
}
.modal-editor .cke_inner .cke_bottom {
    display: none;
}

.modal-editor .modal-editor-header {
    position: absolute;
    height: 64px;
    background: #eee;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.modal-editor .modal-editor-header .close-modal-button {
	display: block;
    width: 40px;
    height: 24px;
    position: absolute;
    top: -1px;
    right: -1px;
    background: #01518c;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 0px 10px 0px 0px;
}

.modal-editor .modal-editor-header span.draggable {
display: block;
    width: 50px;
    height: 50px;
    background: #01518c;
    float: left;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
    z-index: 999999;
    /* border: 3px solid; */
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 38px;
}

.modal-editor .modal-editor-header .head {
    float: left;
    width: 255px;
    text-align: left;
    font-family: Arial, sans-serif;
    color: #fff;
    font-size: 20px;
    padding-top: 13px;
    line-height: 20px;
    padding-left: 5px;
}

.modal-editor .modal-editor-header .head.video {
    text-align: center;    
    line-height: 21px;
}

.modal-editor .modal-editor-header .head.color-picker {
    line-height:35px;
    padding-left: 50px;
}

.modal-editor .modal-editor-header .head span.title {
    display: block;
    color: #000;
    font-weight: bold;
    padding-top: 7px;
}

.modal-editor .modal-editor-header .head span.description {
    display: block;
    font-weight: lighter;
    font-size: 14px;
}

.modal-editor .modal-editor-content {
    height: 321px;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-editor .modal-editor-content label {
    margin-bottom: 0;
}

/* "Visible" checkbox */
.attribute-editor[id$=visible-editor] {
    padding: 10px 0 0 10px;
}

#image-visible-editor {
    padding-left: 10px;
}

#styleColor-visible-editor {
    padding-top: 10px;
}

.modal-editor .modal-editor-content .preview-element {
    width: 296px;
    /*height: 208px;*/
    margin: 11px 0 11px 11px;
}

.modal-editor .modal-editor-content .preview-element.colorpicker {
    margin-top: 12px;
}

.modal-editor .modal-editor-content .preview-element .head {
    height: 38px;
    background: #1796dd;
    font-weight: lighter;
    font-family: Arial, sans-serif;
    font-size: 14px;   
    line-height: 38px;
    text-align: center;
    color: #fff;
}

.modal-editor .modal-editor-content .preview-element .head-color {
    width: 240px;
    height: 49px;
    margin-left: 38px;
    margin-bottom: 6px;
}

.modal-editor .modal-editor-content .preview-element .head-color .color-picker-preview {
    width: 49px;
    height: 49px;
    float: left;
}

.modal-editor .modal-editor-content .preview-element .head-color .color-picker-pickup {
    float: left;
    margin-left: 21px;
    width: 170px;
    padding-top: 6px;
}

.modal-editor .modal-editor-content .preview-element .head-color .color-picker-pickup .left {
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    width: 43px;
    float: left;
    background: #1796dd;
    text-align: center;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 39px;
    line-height: 39px;
    padding-left: 7px;
}

.modal-editor .modal-editor-content .preview-element .head-color .color-picker-pickup .right {
    height: 39px;
    width: 127px;
    float: left;
    background: #57d1f7;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.modal-editor .modal-editor-content .preview-element .head-color .color-picker-pickup .right input {
    height: 30px;
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    line-height: 30px;
    margin-left: 8px;
    width: 100px;
    background: transparent;
    border: 0;
    margin-top: 4px;
}

.modal-editor .modal-editor-content .preview-element .content {
    background: #002f5f;
    height: 170px;
    position: relative;
}

.modal-editor .modal-editor-content .url-link-holder {
    width: 295px;
    height: 43px;
    margin: 5px 0 0 5px;
}

.modal-editor .modal-editor-content .url-link-holder .left {
    width: 120px;
    height: 43px;
    background: #1796dd;
    float: left;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.modal-editor .modal-editor-content .url-link-holder.video .right {
    width: 185px;
}

.modal-editor .modal-editor-content .url-link-holder.video .right input {
    width: 170px;
}

.modal-editor .modal-editor-content .url-link-holder .left a {
    display: block;
}

.modal-editor .modal-editor-content .url-link-holder .left a:hover {
    text-decoration: none;
}

.modal-editor .modal-editor-content .url-link-holder .left a .plus-element {
    width: 21px;
    height: 21px;
    display: block;
    text-indent: -99999px;
    background: url(../images/tabwizard/modals/add-link.png) no-repeat;
    float: left;
    margin: 10px 4px 0 8px;
}

.modal-editor .modal-editor-content .url-link-holder .left a .description {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 14px;   
    color: #fff;
    width: 86px;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.modal-editor .modal-editor-content .url-link-holder .right {
    min-width: 175px;
    width: 100%;
    max-width: 175px;
    height: 43px;
    float: left;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #57d1f7;
}

.modal-editor .modal-editor-content .url-link-holder .right input {
    margin: 4px 0 0 10px;
    height: 35px;
    width: 155px;
    background: transparent;
    border: 0;
    font-weight: normal;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}

.modal-editor .modal-editor-content .url-link-holder .right select {
    margin: 11px;
    width: 150px;
}

.modal-editor .url-link-holder .right.datetime-picker input {
    width: 140px;
}
.modal-editor .url-link-holder .right.datetime-picker .add-on {
    display: inline-block;
    width: 20px;
    height: 30px;
    vertical-align: middle;
    background: url(../images/tabwizard/calendar.png) no-repeat center center;
    cursor: pointer;
}
.bootstrap-datetimepicker-widget ul {
    padding: 0 10px;
}
.bootstrap-datetimepicker-widget .icon-time {
    display: inline-block;
    width: 100%;
    height: 20px;
    background: url(../images/tabwizard/time.png) no-repeat center center;
    cursor: pointer;
}
.bootstrap-datetimepicker-widget .icon-calendar {
    display: inline-block;
    width: 100%;
    height: 20px;
    background: url(../images/tabwizard/calendar.png) no-repeat center center;
    cursor: pointer;
}
.bootstrap-datetimepicker-widget .icon-chevron-up {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/tabwizard/chevron-up.png) no-repeat center center;
    cursor: pointer;
}
.bootstrap-datetimepicker-widget .icon-chevron-down {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/tabwizard/chevron-down.png) no-repeat center center;
    cursor: pointer;
}

.modal-editor .modal-editor-footer {
    height: 48px;
    margin-top: 20px;
}

#video-editor-modal.modal-editor .modal-editor-content {
    height: auto;
}

#video-editor-modal.modal-editor .modal-editor-footer {
    margin-top: -20px;
}

.modal-editor .modal-editor-footer .modal-editor-upload-buttom, 
.modal-editor .modal-editor-footer .modal-editor-ok-buttom,
.modal-editor .modal-editor-footer .modal-gate-ok-button {
    display: block;
    text-indent: -999999px;
    float: right;
    margin-right: 13px;
    height: 39px;  
}

.modal-editor .modal-editor-footer .modal-editor-ok-buttom,
.modal-editor .modal-editor-footer .modal-gate-ok-button {
    width: 90px;
    /* background: url(../images/tabwizard/modals/ok-button.png) no-repeat; */
    background: #01518c;
    color: #fff;
    text-indent: 0px;
    line-height: 36px;
    text-align: center;
    border-radius: 10px;
    height: 36px;
}

.modal-editor .modal-editor-footer .modal-editor-upload-buttom {
    width: 133px;
    background: url(../images/tabwizard/modals/upload-button.png) no-repeat;    
}

/**
 *     Published - modal
 */

.modal-congrats {
    position: absolute;
    width: 614px;
    height: 485px;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -307px;
    z-index: 999999;
    padding: 0px;
    display: none;
	border: 2px solid #e6e9ef;
	border-radius:12px;
	background-color:#fff;
	opacity:0.99;
	box-shadow: 0px 5px 10px #d8d8d8;
}

.modal-congrats .header {
    width: 610px;
    height: 70px;
    position: relative;
    text-align: left;
    font-size: 26px;
    color: #000;
    line-height: 60px;
	background-color: #ececec;
    border-radius: 8px 10px 0px 0px;
	padding-left:15px;
}

.modal-congrats .header .close-modal-button {
    display: block;
    position: absolute;
    text-indent: 0px;
	top: -2px;
    right: -2px;
    display: block;
    width: 40px;
    height: 24px;
    background-color: #315c7b;
    border-radius: 0px 10px 0px 0px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    z-index: 989898;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}

.modal-congrats .modal-congrats-content {
    width: 100%;
    padding-top: 5px; 
    height: 355px;
}

.modal-congrats .modal-congrats-content .content {
    width: 485px;
    height: 340px;
    margin: 0 auto;
    background: transparent;
    border-radius: 10px;
    padding-top: 0px;
    position: relative;
	border: 1px solid #ddd;
}

.modal-congrats .modal-congrats-content .content .what-next {
    width: 150px;
    height: 40px;
    text-indent: 0px;
    box-shadow: 0px 5px 10px #d8d8d8;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
    background-color: #d5d5d5;
    color: #fff;
	margin-left:6px;
	margin-top:10px;
}

.modal-congrats .modal-congrats-content .content .button {
	display: block;
    height: 40px;
    text-indent: 0;
    margin-top: 0px;
    background-image: none !important;
    box-shadow: 0px 5px 10px #d8d8d8;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    width: auto;
    min-width: 140px;
    background-color: #00518c;
    color: #fff;
	
}

.modal-congrats .modal-congrats-content .content .create-new.button {
    width: 162px;
    background: url(../images/tabwizard/modals/create-new-button.png) no-repeat;
    left: 247px;
    top: 122px;
}

.modal-congrats .modal-congrats-content .content .duplicate.button,
.modal-congrats .modal-congrats-content .content .duplicatead.button {
    width: 146px;
    left: 69px;
    top: 191px;
    background: url(../images/tabwizard/modals/duplicate-button.png) no-repeat;   
}

.modal-congrats .modal-congrats-content .content .analytics.button {
    width: 146px;
    left: 265px;
    top: 191px;
    background: url(../images/tabwizard/modals/analytics-button.png) no-repeat;
}

.modal-congrats .modal-congrats-content .content.published .view-on-fb.button {
    width: 146px;
    left: 20px;
    top: 191px;
    background: url(../images/tabwizard/modals/view-on-FB-button.png) no-repeat;   
    background-size: 128px 39px;
}

.modal-congrats .modal-congrats-content .content.published .duplicate.button,
.modal-congrats .modal-congrats-content .content.published .duplicatead.button {
    width: 146px;
    left: 168px;
    top: 191px;
    background: url(../images/tabwizard/modals/duplicate-button.png) no-repeat;   
}
.modal-congrats.ad-congrats .modal-congrats-content .content.published .duplicate.button,
.modal-congrats.ad-congrats .modal-congrats-content .content.published .duplicatead.button {
    left: 80px;
}
.modal-congrats.ad-congrats .modal-congrats-content .content .create-new.button {
    top: 191px;
    left: 257px;
}
.modal-congrats.ad-congrats .modal-congrats-content .content .what-next {
    left: 163px;
}

.modal-congrats .modal-congrats-content .content.published .analytics.button {
    width: 146px;
    left: 328px;
    top: 191px;
    background: url(../images/tabwizard/modals/analytics-button.png) no-repeat;
}

.modal-congrats .modal-congrats-content .content h2 {
    margin: 0;
    font-size: 60px;
    color: #000;
    text-decoration: none;
    font-family: lato light;
    text-align: center;
	
}

span.checked-action {
    display: inline-block;
    width: 200px;
    height: 68px;
    margin-bottom: -15px;
    margin-left: 20px;
	color:#cdcdcd;
	font-size:70px;
	vertical-align:top
	text-align:right;
}

.modal-congrats .modal-congrats-footer {
    height: 54px;
    width: 100%;
}

.modal-congrats-exit-buttom,
.modal-congrats-close-buttom {
    text-indent: -999999px;
    display: inline-block;
    float: right;
    height: 39px;
} 

.modal-congrats-exit-buttom {
    width: 139px;
    margin-right: 18px;
    background: url(../images/tabwizard/modals/exit-button.png) no-repeat;
}

.modal-congrats-close-buttom {
    margin-right: 58px;
    width: 187px;
}

.modal-editor .modal-editor-content .url-link-holder .right input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: normal;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #000;
}
.modal-editor .modal-editor-content .url-link-holder .right input:-moz-placeholder {
    font-style: italic;
    font-weight: normal;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 19px;
}
.modal-editor .modal-editor-content .url-link-holder .right input::-moz-placeholder {
    font-style: italic;
    font-weight: normal;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 19px;
}
.modal-editor .modal-editor-content .url-link-holder .right input:-ms-input-placeholder {
    font-style: italic;
    font-weight: normal;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 19px;
}


.modal-editor .image-preview {
    width: 111px;
    height: auto;
}
#image-editor-modal .image-element-hider,
#downloadButton-iconImage-editor .image-element-hider {
    width: 111px;
    height: 74px;
}
#image-editor-modal .image-element-hider img,
#downloadButton-iconImage-editor .image-element-hider img {
    max-width: 111px;
    max-height: 74px;
}

#image-imageAsset-editor .preview-element .content {
    text-align: center;
}

.modal-editor .modal-editor-content .VideoUrlEditor .preview-element .content {
    text-align: center;
}

.modal-editor .modal-editor-content .VideoUrlEditor .preview-element .content img {
    max-width: 296px;
    max-height: 170px;
}

.tab-icon-library {
    height: 261px !important;
    overflow-x: hidden;
    overflow-y: scroll;
	width:340px;
}

.tab-icon-library .tab-icon {
    display: inline-block;
    cursor: pointer;
}
.tab-icon-library .tab-icon img {
    max-width: 100px;
    max-height: 74px;
}

.editor-save-details {
    display: none;
}



/* COPY HTML MODAL */
.template-html-editor {
    /* position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -334px;
    margin-left: -362px; */ /* It's correct css for this modal */
   
    padding: 0 0 27px 35px;
    position: relative;
    margin: 0 auto;
    width: 668px;
    height: 724px;
    background: url(../images/tabwizard/template-copy-bg.png) no-repeat;
    display: none;
}

.template-html-editor-header {
    height: 64px;
}

.template-html-editor-header a, .gs-header .close-button, .tp-modal-header .close-button {
	/*
    display: block;
    position: absolute;
    right: -12px;
    top: -12px;
    text-indent: -99999px;
    background: url(../images/tabwizard/editor-close.png) no-repeat;
    width: 30px;
    height: 30px;
	*/
	
	display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 24px;
    background: #315c7b;
    border-radius: 0px 10px 0px 0px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    color: #fff;
    text-align: center;	
}

.template-html-editor-nav {
    padding-top: 11px;
    height: 83px;
    padding-left: 100px;
}

.template-html-editor-nav a, .template-html-editor-nav i {
    display: block;
    float: left;
}

a.copy-button-clipboad {
    width: 185px;
    height: 65px;
    background: url(../images/tabwizard/copy-button.png) no-repeat;
    text-indent: -9999px;
    margin-right: 11px;
}

a.download-html-editor {
    /* I can't find psd for it */
    width: 243px;
    height: 65px;
    background: url(../images/tabwizard/download-html.png) no-repeat;
    text-indent: -9999px;
}

i.tick-44 {
    width: 44px;
    height: 44px;
    background: url(../images/tabwizard/tick-44x44.png) no-repeat;
    text-indent: -9999px;
    margin-top: 10px;
}

.template-html-editor-content {
    width: 606px;
    height: 485px;
    margin-left: 14px;
    padding: 15px 5px 15px 15px;
    
    font-family: Pragmata, Menlo, 'DejaVu LGC Sans Mono', 'DejaVu Sans Mono', Consolas, 'Everson Mono', 'Lucida Console', 'Andale Mono', 'Nimbus Mono L', 'Liberation Mono', FreeMono, 'Osaka Monospaced', Courier, 'New Courier', monospace;
    color: #fff;
    
}

.template-html-editor-footer {
    height: 65px;
}

a.close-window-button {
    display: block;
    width: 175px;
    height: 39px;
    text-indent: 0px;
    float: right;
    margin-right: 13px;
    margin-top: 14px;
}

/* Custom modals */
#socialFollowIcons-editor-modal {
    width: 342px;
    height: 392px;
    background: url(../images/tabwizard/modals/social-bg.png) no-repeat;
}

#socialFollowIcons-editor-modal .modal-editor-content {
    padding: 12px 6px 0 6px;
    height: 240px;
}

#socialFollowIcons-editor-modal .modal-editor-content .attribute-editor {
    /*margin-bottom: 15px;*/
    clear: both;
    height: 42px;
}

#socialFollowIcons-editor-modal .modal-editor-content .attribute-editor label {
    display: block;
    text-indent: -9999999px;
    width: 40px;
    float: left;
    height: 42px;
    margin-right:11px;
}

#socialFollowIcons-editor-modal .modal-editor-content .attribute-editor input[type=text],
#socialFollowIcons-editor-modal .modal-editor-content .attribute-editor input[type=email] {
    width: 195px;
    height: 43px;
    float: left;
    /*background: url(../images/tabwizard/modals/social-input-bg.png) no-repeat;*/
    border: 0;
    padding: 0 10px;
    margin: 0;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
}

#socialFollowIcons-editor-modal .title {
    display: none;
}

#socialFollowIcons-visible-editor {
    position: absolute;
}

#socialFollowIcons-visible-editor label {
    width: 160px !important;
    line-height: 58px;
    color: #000 !important;
    text-indent: 0 !important;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#socialShareIcons-editor-modal,
#template08SocialButton-editor-modal {
    width: 384px;
    height: 211px;
/*    background: url(../images/tabwizard/modals/url-bg.png) no-repeat; */
}

#socialShareIcons-editor-modal .modal-editor-content,
#template08SocialButton-editor-modal .modal-editor-content {
    height: 60px;
    padding-left: 5px;
    padding-top: 10px;
}

#socialShareIcons-editor-modal #socialShareIcons-visible-editor,
#template08SocialButton-editor-modal #template08SocialButton-visible-editor {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

#socialShareIcons-editor-modal .modal-editor-content .url-link-holder,
#template08SocialButton-editor-modal .modal-editor-content .url-link-holder {
    width: 325px;
}

#socialShareIcons-editor-modal .modal-editor-content .url-link-holder .right,
#template08SocialButton-editor-modal .modal-editor-content .url-link-holder .right {
    min-width: 205px;
}

#video-editor-modal .modal-editor-content #video-autoplay-editor,
#video-editor-modal .modal-editor-content #video-forceHd-editor {
    padding: 0px 0 0 10px;
}

#scrollTo-editor-modal {
    height: 240px;
    background: url(../images/tabwizard/modals/background_small.png) no-repeat;
}

#scrollTo-editor-modal .modal-editor-content {
    padding: 30px 5px 5px 30px;
    height: 79px;
}

.download-button-modal {
    overflow: hidden !important;
    height: auto !important;
}
.download-button-modal .content {
    text-align: center;
}

.two {
    width: 110px;
}

.modal-congrats.modal-congrats-scheduled .button.analytics {
    display: none;
}
.modal-congrats.modal-congrats-scheduled .button.view-on-fb {
    display: none;
}
.modal-congrats.modal-congrats-scheduled .button.duplicate {
    left: 256px !important;
}

.bootstrap-timepicker-widget.dropdown-menu {
    z-index: 999999999;
}

#socialFollowIcons-twitterUrl-editor label {
    background-image: url('../images/fields/social/twitter.png');
    background-size: contain;
}

#socialFollowIcons-facebookUrl-editor label {
    background-image: url('../images/fields/social/facebook.png');
    background-size: contain;
}
#socialFollowIcons-googleUrl-editor label {
    background-image: url('../images/fields/social/google.png');
    background-size: contain;
}
#socialFollowIcons-linkedInUrl-editor label {
    background-image: url('../images/fields/social/linkedin.png');
    background-size: contain;
}

.editor-save-details {
    background: #eee;
    width: 100%;
    height: 75px;
    margin-left: -34px;
    margin-top: -7px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-style: italic;
    padding-top: 10px;
    position: absolute;
	border-radius:10px 10px 0px 0px;
	z-index:1;
}
.editor-save-details > h1 {
	margin-top:10px;
}

#editor-header-choose-title {
    padding-top: 0px !important;
    font-size: 20px !important;
    text-align: left !important;
    padding-left: 30px;
}

.editor-save-details input {
    width: 516px;
    height: 44px;
    background: #eee;
    padding-left: 170px;
    
    position: absolute;
    top: 22px;
    right: 60px;
    
    border: none;
    

    
}

#editor-header-choose-title-save {
    border: none;
    width: 35px;
    height: 35px;    
    position: absolute;
    right: 40px;
    top: 24px;
	border-radius:50%;
	color:#fff;
	line-height:35px;
	text-align:center;
	font-size:16px;
}
#editor-header-choose-title-save.active {
	background-color: #00508D;
}
.editor-save-details input::-webkit-input-placeholder { color:#000; }
.editor-save-details input::-moz-placeholder { color:#000; } /* firefox 19+ */
.editor-save-details input:-ms-input-placeholder { color:#000; } /* ie */
.editor-save-details input:-moz-placeholder { color:#000; }

//Download button editor in template 01 fix
#downloadButton-editor-modal .modal-editor-content {
    overflow-y: auto !important; 
}

.image-element-hider {
    display: inline-block;
    width: 111px;
    height: 74px;
    overflow: hidden;
    margin: 20px;
}
.delete-image-button {
    display: block;
    width: 15px;
    height: 15px;
    background: url('/images/tabwizard/modals/close-15x15.png');
    position: absolute;
    top: 10px;
    right: 85px;
}

.tab-icon .remove-button{
    display: none;
    color: #ffffff;
    background: #ff0000;
    width: 16px;
    height: 16px;
    line-height: 14px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 17px;
    z-index: 10;
    left: 94px;
    margin-top: -16px;
}

/* -------- New updated --- */

#editor-nav > .steps.active{
}
#editor-nav > .steps > a, #editor-nav > .steps > i{
	display:block;
	padding:2.5px 0px;
}

#editor-nav > .steps{
	width: 41px;
    text-align: center;
    color: #c1c2c2;
	margin-bottom:5px;
	font-size:10px;
}

#editor-nav >.steps > a {
	width: 40px;
    color: #000;
    height: 40px;
    font-size: 20px;
    background-color: #c1c2c2;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
	text-indent:0;
}
#editor-nav > .steps.active{
	color:#0270bf;
}
#editor-nav > .steps.active > a{
	background-color:#0270bf;
	color:#fff;
}
#editor-nav > .steps.active > a#mp-tab-link {
	background-color:#0270bf;
}
.tabbed-modal {
	height:auto;
}
#editor{
	width:960px;
}
.error-information{
	display:inline-block;
	color:#ff0000;
	font-size:18px;
	line-height:80px;
	vertical-align: top;
	margin-left:70px;
}
.error-input{
	width: 50%;
    display: inline-block;
    text-align: right;
    height: 44px;
    margin-top: 18px;
    border-radius: 10px;
    background-color: #fff;
}
.error-input > .left{
	float:left;
	line-height: 44px;
    padding:0px 15px;
	color:#000;
	font-size:14px;
}
.error-input > .left > .title{
	border-right: 1px solid #ccc;
    padding-right: 10px;
    line-height: 25px;
    display: inline-block;
}
.error-input > .right{
	float:left;
	position: relative;
    height: 44px;
    width: 65%;	
}
.error-input > .right > input{
	border: 0;
	background: transparent;
    position: absolute;
    top: 5px;
    font-size: 14px;
    font-style: italic;
    color: #000;
    left: 0px;
    height: 33px;
    width: 100%;
    padding-left: 0px;
}
.error-input > .right > input::-moz-placeholder, .error-input > .right > input::-webkit-input-placeholder,  .error-input > .right > input:-moz-placeholder,  .error-input > .right > input:-ms-input-placeholder{
	color:#000;
}

.preview-header {
    height: 44px;
    padding-left: 15px;
	box-shadow: 0px 5px 10px #d8d8d8;
    border-radius: 10px;
    margin: 15px 15px 25px 0px;
	border: 1px solid #f5f5f5;
}
.preview-header > .left{
	float:left;
	line-height:44px;
	padding-right:15px;
}
.preview-header > .left > .title{
	border-right: 1px solid #ccc;
    padding-right: 10px;
    line-height: 25px;
    display: inline-block;
}
.responders.publish-box .preview-header > .left > .title{
	min-width:120px;
}
.preview-header > .right{
	float:left;
	width:50%;
	position:relative;
}
.preview-header > .right > input{
	width: 100%;
    line-height: 31px;
    margin-top: 5px;
	border:0px;
}

.preview-header > .editor-template-title.right > input{
    position: relative	!important;
	width: 100%	!important;
    line-height: 31px;
    margin-top: 5px;
	border:0px;
	left:0px !important;
	top:0px !important;
	color:#000 !important;
	
}

.editor-publish-container{
	height: 700px;
    margin-right: 15px;
    box-shadow: 0px 5px 10px #d8d8d8;
    border-radius: 10px;
	margin-top:20px;
    border: 1px solid #d8d8d8;	
}
.tab .custom-btn {
    float: left;
    height: 36px;
	width: inherit;
    display: inline-block;
    line-height: 35px;
    padding: 0px 10px;
    color: transparent;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 5px 10px #d8d8d8;
    border-radius: 10px;
    margin-right: 15px;	
    margin-top: 6px;
    margin-left: 0px;
	color:#000;	
	border:1px solid #f5f5f5;
	
}
.tab .custom-btn.right{
	float:right;
}
.tab .custom-btn:hover {
	background-color:#0270bf;
	color:#fff;
	border:1px solid #0270bf;

}
.tab .content{
	padding: 0px 15px;
}
.tab .content > .row{
	margin:50px 0px;
}
.tab .content .custom-btn{
	width: auto;
    text-align: center;
    font-size: 15px;
    height: 50px;
    line-height: 52px;
    padding: 0px 18px;
	border:1px solid #f5f5f5;

}
.tab .content .custom-btn:hover{
	border:none;
}

.custom-btn-second,.custom-btn-third {
    float: left;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    padding: 0px 10px;
    color: transparent;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 5px 10px #d8d8d8;
    border-radius: 10px;
	color:#000;	
	width:130px;
	text-decoration:none;
	text-align:center;
	border:1px solid #f5f5f5;
}
.custom-btn-second.right{
	float:right;
}
.custom-btn-second > i{
	font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
    display: inline-block;
}
.custom-btn-second:hover {
	background-color:#0270bf;
	color:#fff;
	text-decoration:none;
	border:0;
}
.custom-btn-third{
	width:100px;
	line-height:30px;
	height:30px;
	text-decoration:none;
	border:1px solid #0274c5;
	background-color:#00518c;
	font-size:12px;
}

.custom-btn-second.active, .custom-btn-third.active{
	background-color:##00518c;
	color:#fff;
	text-decoration:none;
	
}

.right-column >.publish-box .preview-header{
	margin-left:15px;
	border:1px solid #f5f5f5;
	
}
.right-column >.publish-box .preview-header > .right{
	height:44px;
	width:62%;
}

.right-column >.publish-box .preview-header > .right > span{
	display: inline-block;
    line-height: 44px;
}
.left-column > .publish-box .content{
	position:relative;
}
.left-column > .publish-box .content > .preview-header{
	margin-top: 3px;
    margin-left: 0;
    margin-right: 0px;
    position: absolute;
    height: 50px;
    top: -3px;
    left: -1px;
    right: 0px;
    border: 1px solid #eee;
    border-radius: 0px 0px 10px 10px;
}
.left-column > .publish-box .content > .list-view{
	position:absolute;
	top:55px;
}

.modal-congrats-close-buttom{
	display: block;
    height: 40px;
    text-indent: 0;
    margin-top: 0px;
    background-image: none;
    box-shadow: 0px 5px 10px #d8d8d8;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    width: auto;
    min-width: 140px;
    background-color: #00518c;
    color: #fff;
}
.modal-congrats-close-buttom:hover{
	text-decoration:none;
	color:#fff;
}
/*--------new btn ----------*/

.custom-button{
	background:transparent;
	border-radius:10px;
	box-shadow:0px 5px 10px #d8d8d8;
	height:35px;
	line-height:35px;
	padding:0px 10px;
	text-decoration:none;
	display:block;
	color:#000;
	font-family:lato light;
	background-image:none !important;
	padding:0px 10px;
	width: 150px;
    margin: 16px 5px;
}
a.custom-button:hover{
	text-decoration:none;
}
.custom-button.text-center{
	text-align:center;
}
.custom-button.move-right{
	margin:10px 10px 0px auto;
}
.custom-button.selected{
	background-color:#0274c5;
	color:#fff;
}
.custom-button.small{
	width:100px;
	height:30px;
	line-height:30px;
}