.tp-modal {
    width: 863px;
    height: 730px;
/*    background: url(../images/template-preview/template-review-base.png) no-repeat; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -187px 0 0 -341px;
    padding: 2px 2px 27px 35px;
    display: none;
	background: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #d3d3d3;	
	
}

.tp-modal a.edit-button {
	/*
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/tabwizard/edit-button.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    height: 39px;
    margin-bottom: 0;
    margin-left: 33px;
    margin-right: 15px;
    margin-top: 0;
    text-indent: -99999px;
    width: 114px;
	*/
	
	background:transparent;
	border-radius:10px;
	box-shadow:0px 5px 10px #d8d8d8;
	height:35px;
	line-height:35px;
	padding:0px 10px;
	text-decoration:none;
	width:160px;
	display:block;
	font-family:lato light;
	background-image:none !important;
    font-size:15px;
    border: 1px solid #f5f5f5;	
	background-color:#01518c;
	color:#fff;
    border:none;
	text-align:center;
	
}

.tp-modal div.footer div.right {
    margin-left: 630px;
}

.tp-modal-header {
    height: 62px;
	position:absolute;
	left:0;
	border-radius:10px 10px 0px 0px;
	background:#eee;
	padding:10px 25px;
	top:0;
	width:100%;
	text-transform: capitalize;
}
.tp-modal div.categories {
    color: #000;
    margin-left: 0px;
    margin-top: 5px;
    text-overflow: ellipsis;
	font-size:13px;
}

.tp-modal div.description {
    color: #000;
    height: 68px;
    margin-left: 19px;
    margin-right: 14px;
    margin-top: 3px;
    padding: 5px;
}

.tp-modal #page-preview {
    width: 810px;
    height: 485px; 
    background: transparent; 
    margin: 85px 8px 0; 
    border: none; 
    overflow-y: auto;
    overflow-x: hidden;
}
.ad-preview.tp-modal #page-preview img {
    width: 810px;
    height: auto;
}

.tp-modal h2 {
    color: #000;
    font-size: 25px;
	font-weight:bold;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.tp-modal .footer {
    margin-top: 10px;
}

.custom-btn{
	background:transparent;
	border-radius:10px;
	box-shadow:0px 5px 10px #d8d8d8;
	height:35px;
	line-height:35px;
	padding:0px 10px;
	text-decoration:none;
	width:160px;
	display:block;
	color:#000;
	font-family:lato light;
	background-image:none !important;
    font-size:15px;
    border: 1px solid #f5f5f5;
}
a.custom-btn:hover{
	text-decoration:none;
    background: #0270bf;
    color:#fff;
    border: none;
}
.custom-btn.text-center{
	text-align:center;
}
.custom-btn.move-right{
	margin:10px 0px 0px auto;
}
.custom-btn.selected{
	background-color:#0274c5;
	color:#fff;
    border:none;
}
.custom-btn.active{
	background-color:#01518c;
	color:#fff;
    border:none;
}