.gs-modal {
    width: 682px;
    height: 674px;
    /* background: url(../images/gates/gates-bg.png) no-repeat; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -187px 0 0 -341px;
    padding: 75px 20px 27px 20px;
    display: none;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #d3d3d3;
}

.gs-modal > .gs-header {
    width: 645px;
	height: 64px;
    position: absolute;
    background: #eee;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
}

.gs-modal > .gs-nav {
    width: 645px;
    height: 60px;
    padding-top: 9px;
    padding-left: 0px;
}

.gs-modal > .gs-nav > .gate {
    width: 149px;
    height: 45px;
    float: left;
    position: relative;
}

.gs-modal > .gs-nav > .gate.custom-code-gate {
    width: 165px;
}

.gs-modal > .gs-nav > .gate span.tick_container {
    content: "";
    background-color: #e5e5e5;
    display: none;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 7px;
    right: 0px;
    z-index:1;
    border-radius: 50px;
}

.gs-modal > .gs-nav > .gate span.tick {
    display: none;
    width: 27px;
    height: 17px;
    z-index: 2;
    position: absolute;
    background-color: transparent;
    background-image: url(../images/gates/gate-tick.png);
    background-repeat: no-repeat;
    top: 6px;
    right: -1px;
}


.gs-modal > .gs-nav > .gate span.tick_container {
    display: block;
    cursor: pointer;
}

.gs-modal > .gs-nav > .gate span.tick {
    display: block;
}

.gs-modal > .gs-nav > .gate.like-gate,
.gs-modal > .gs-nav > .gate.share-gate {
    margin-right: 84px;
}

.gs-modal > .gs-nav > .gate.email-gate {
    margin-right: 70px;
}

.gs-modal > .gs-nav > .gate > .button-nav {
    display: block;
    width: 114px;
    height: 45px;
    background-color: #fff;
	border:1px solid #cecece;
	border-radius:10px;
	text-align:center;
	color:#000;
	box-shadow:0px 3px 7px #d3d3d3; 
	font-family:lato light;
	line-height:45px;
	font-size:16px;
}

.gs-modal > .gs-nav > .gate > .button-nav.custom-code {
    width: 130px;
}

.gs-modal > .gs-nav > .gate.active > .button-nav {
/*    background-position: 0 -45px; */
	background-color: #01518c;
    color: #fff;
	border-radius:10px 10px 0px 0px;
    box-shadow: none;
    border: 0px;	
	height: 51px;
    font-weight: bold;
    font-size: 15px;
    font-family: lato light;	
}

.gs-modal > .gs-nav > .gate > .button-nav.like {
/*    background-image: url(../images/gates/nav-like.png); */
}

.gs-modal > .gs-nav > .gate > .button-nav.share {
/*    background-image: url(../images/gates/nav-share.png); */
}

.gs-modal > .gs-nav > .gate > .button-nav.email {
/*    background-image: url(../images/gates/nav-email.png); */
}

.gs-modal > .gs-nav > .gate > .button-nav.custom-code {
/*    background-image: url(../images/gates/nav-custom-code.png); */
}

/** 
 * Switcher 
 */

.gs-info-active {
    width: 620px;
    padding-top: 17px;
    height: 89px;
    margin-left: 14px;
}

.gs-info-active > .left {
    width: 326px;
    height: 72px;
    float: left;
    margin-left: 11px;
}

.gs-info-active > .left > .about-info {
    padding: 5px 12px 7px 15px;
    height: 72px;
    font-family: Arial, sans-serif;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
	background:#1099d2;
	border-radius:10px;
}
.gs-info-active > .left > .about-info > .icon{
	display: inline-block;
    width: 52px;
    font-size: 36px;
}
.gs-info-active > .left > .about-info > .message{
	display: inline-block;
    vertical-align: top;
    width: 235px;
    font-size: 15px;
    text-align: justify;	
}
.gs-info-active > .right {
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

.on-off-switch {
    background: #85dffc;
    border-radius: 20px;
    width: 131px;
    height: 46px;
    position: relative;
    padding: 3px;
	display:inline-block;
	vertical-align:top;
}
.gs-info-active > .right > span{
	display: inline-block;
    color: #fff;
    line-height: 45px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}
.gs-info-active > .right > span.on{
    padding-right: 3px;
}
.gs-info-active > .right > span.off{
    padding-left: 3px;
}

.on-off-switch.off {
    background: #f04831;
}

.on-off-switch > .on-click-switch {
    display: block;
    text-indent: -99999px;
    width: 39px;
    height: 40px;
    background: url(../images/gates/switcher.png) no-repeat;
}

.on-off-switch.off > .on-click-switch {
    float: right;
}

.gate-main > .gate-navigate {
    margin-top: 16px;
    width: 593px;
    height: 42px;
    margin-left: 28px;
}

.gate-navigate > .left > a.link.active,
.gate-navigate > .right > a.link.active {
    padding: 10px 9px 1px 11px;
    display: block;
    width: 277px;
    height: 42px;
    background: #85dffc;
    color: #1099d2;
    font-family: "Helvetica Neue";
    font-size: 20px;
    line-height: 22px;
    text-decoration: none;
    position: relative;
    float: left;
    -webkit-border-top-left-radius: 17px;
    -webkit-border-top-right-radius: 17px;
    -moz-border-radius-topleft: 17px;
    -moz-border-radius-topright: 17px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.gate-navigate > .left > a.link.normal,
.gate-navigate > .right > a.link.normal {
    padding: 6px 9px 1px 11px;
    margin-top: 5px;
    display: block;
    width: 277px;
    height: 33px;
    background: #1099d2;
    color: #fff;
    font-family: "Helvetica Neue";
    font-size: 20px;
    line-height: 22px;
    text-decoration: none;
    position: relative;
    float: left;
    -webkit-border-top-left-radius: 17px;
    -webkit-border-top-right-radius: 17px;
    -moz-border-radius-topleft: 17px;
    -moz-border-radius-topright: 17px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.gate-navigate > .right > a.link.disabled {
    margin-top: 5px;
    display: block;
    float: left;
    background-image: url(../images/gates/confirm-message-disabled.png);
    width: 277px;
    height: 33px;
}

.gate-navigate > .right > a.link.disabled > span {
    display: none;
}

.gate-navigate > .left > a {
    margin-right: 39px;
}

.gate-navigate > .left > a > span {
    display: block;
    float: left;
}

.gate-navigate > .right > a > span {
    display: block;
    float: left;
}

.gate-navigate > .left > a > span.content,
.gate-navigate > .right > a > span.content {
    padding-left: 10px;
}

.gate-navigate > .left > a > span.number,
.gate-navigate > .right > a > span.number {
    border-radius: 50px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    background: #fff;
    text-align: center;
    color: #1099d2;
    font-family: "Helvetica Neue";
    font-size: 16px;
    margin-left: 13px;
    margin-right: 11px;
}

.gate-navigate > .left > a > span.divied,
.gate-navigate > .right > a > span.divied {
    width: 257px;
    height: 2px;
    background: #1099d2;
    margin-top: 5px;
}

.gate-navigate > .left > a.normal > span.divied,
.gate-navigate > .right > a.normal > span.divied {
    display: none;
}

.gate-content {
	width: 593px;
    height: 315px;
    margin-left: 28px;
    padding-top: 22px;
    position: relative;
    background: #85dffc;
}
.gate-content .content-scrollable {
    overflow-y: auto;
    width: 592px;
    height: 239px;
    padding-bottom: 10px;
}

.gate-content > .information {
    width: 493px;
    height: 49px;
    margin-left: 47px;
    padding-left: 18px;
    font-size: 14px;
    color: #fff;
    font-family: "Helvetica Neue";
    padding-top: 3px;
	background:#1099d2;
	border-radius:10px;
}
.gate-content > .information > .icon{
	display: inline-block;
    width: 52px;
    font-size: 36px;
}
.gate-content > .information > .message{
	display: inline-block;
    vertical-align: top;
    width: 345px;
    font-size: 15px;
}
.gate-content > .information-bottom {
    width: 100%;
    font-size: 14px;
    color: #fff;
    font-family: "Helvetica Neue";
    padding-top: 3px;
    position: absolute;
    text-align: center;
    bottom: 15px;
}

.gate-footer {
    width: 620px;
    height: 47px;
    margin-left: 14px;
    margin-top: 12px;
}

.gate-footer > .left {
    float: left;
    width: 240px;
    height: 47px;
}

.gate-footer > .left > a.close-window-169 {
    display: block;
    width: 169px;
    height: 39px;
    background: #01518c;
    margin: 2px auto 0;
	text-align:center;
	line-height:39px;
	font-size:16px;
	color:#fff;
	border-radius:10px;
}

.gate-footer > .middle {
    float: left;
    width: 258px;
    height: 47px;
}

.gate-footer > .middle > span {
    color: #1099d2;
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 55px;
}

.gate-footer > .right {
    float: left;
    height: 47px;
    width: 122px;
}

.gate-footer > .right > a.save-button {
    display: block;
    width: 105px;
    height: 39px;
    background: #01518c;
    margin: 2px auto 0;
	text-align:center;
	line-height:39px;
	font-size:16px;
	color:#fff;
	border-radius:10px;
}

.gate-popup {
    margin: auto;
    position: relative;
    margin-top: 10px;
}

.gates-header {
    font-size: 26px;
    color: #000;
    margin: 5px 0 2px 15px;
}
.gates-info {
    color: #000;
    margin: 0 0 0 15px;
}

.gs-modal > .gate-settings{
	background-color:#01518c;
	height: 475px;
}