
.crms-modal {
    width: 682px;
    height: 529px;
	background-color:#fff;
	border-radius:10px;
	box-shadow:0px 5px 10px #d8d8d8;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -264px;
    margin-left: -341px;
    padding: 0px;
    display: none;
	border: 2px solid #e6e9ef;
}

.crm-section-header .top {
    position: relative;
    width: 100%;
    height: 64px;
	background-color: #eee;
    border-radius: 10px 10px 0px 0px;
}
.crm-section-header .top > h3{
	position:absolute;
	left:15px;
	font-size:16px;
	color: #000;
	font-weight:bold;
	top:-6px;
}
.crm-section-header .top > span{
	position:absolute;
	left:15px;
	font-size:13px;
	color: #000;
	top:34px;
	
}
.crm-section-header .top .closs-button {
    display: block;
    position: absolute;
    text-indent: 0px;
	top: -2px;
    right: -2px;
    display: block;
    width: 40px;
    height: 24px;
    background-color: #315c7b;
    border-radius: 0px 10px 0px 0px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    z-index: 989898;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
	
	
}
.crm-header{
	padding-left:0px;
}
.crm-header .crm-options {
    width: 100%;
    height: 100%;
    padding: 11px 10px 10px 0px;
}

.crm-header .crm-options .crm-element {
    display: inline-block;
    float: left;
	height:55px;
}

.crm-header .crm-options .crm-element .button a{
	width: 130px !important;
    background-color: transparent;
    color: #000;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 5px 10px #d8d8d8;
    text-indent: 0px;
    line-height: 40px;
    text-decoration: none;
    padding-left: 15px;
    height: 40px;
	background-image:none !important;
	border: 1px solid #f5f5f5;	
	margin-right:0px !important;

}
.crm-header .crm-options .crm-element.active .button a{
	background-color:#00518c !important;
	border-right:1px solid #00518c;
	border-bottom:1px solid #00518c;
	border-top:1px solid #00518c;
}

.crm-header .crm-options .crm-element .button a.button-crm {
    display: block;
}

.crm-header .crm-options .crm-element .button a.button-crm.zoho {
}

.crm-header .crm-options .crm-element .button a.button-crm.salesforce {
}

.crm-content {
    width: auto;
    height: 445px;
    margin-left: 14px;
	position:relative;
}

.crm-content .top .header {
    height: 41px;
    padding-left: 20px;
    padding-right: 5px;
    line-height: 41px;
    font-size: 16px;
    font-weight: lighter;
    color: #000;
	margin-top:10px;
}

.crm-content .top .content {
    height: 83px;
    position: relative;
}

.crm-content .top .content .left {
    height: 83px;
    width: 140px;
    float: left;
    padding-top: 23px;
    padding-left: 19px;
}

.crm-content span.step-list {
    display: block;
    width: 105px;
    height: 35px;
    background: #00518c;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    line-height: 35px;
    font-size: 14px;
    font-weight: lighter;
    box-shadow: 0px 5px 10px #d8d8d8;
    font-family: lato;
}

.crm-content .top .content .right {
    height: 83px;
    width: 320px;
    float: right;
}

.crm-content .top .content .right a.button-api {
    display: block;
    height: 44px;
    text-indent: 0px;
    margin: 20px auto 0 auto;
}

.crm-content .top .content .right a.button-api.api-key {
    background: url(../images/autoresponders/get-api-key.png) no-repeat;
    width: 351px;
}

.crm-content .top .content .right a.button-api.api-credentials {
    background: url(../images/autoresponders/get-api-cred.png) no-repeat;
    width: 364px;
}

.crm-content .top .content .right a.button-api {
	width: 300px !important;
    box-shadow: 0px 5px 10px #d8d8d8;
    border-radius: 10px;
    color: #000;
    text-indent: 0;
	line-height: 44px;
    padding: 0px 15px;	
	text-decoration:none;
	border:1px solid #f5f5f5;
	background-image:none !important;
}
.crm-content .top .content .right a.button-api:hover{
	color:#fff;
	background-color:#00518c;
	border:1px solid #00518c;
}
.crm-content .content .bottom {
    margin-top: 7px;
    height: 240px;
	position:absolute;
	top:80px;
	width:auto;
}
.crm-content .bottom {
    margin-top: 7px;
    height: 49px;
    width: 380px;
	position:absolute;
	top:auto;
	bottom:0px;
    right: 0px;
}

.crm-content .bottom .top {
    height: 157px;
}

.crm-content .bottom .top .middle {
    text-align: center;
    height: 157px;
    line-height: 157px;
    font-size: 42px;
    color: #000;
    font-weight: lighter;
    font-style: italic;
}
.crm-content .bottom .top .middle .crm-list-name {
    display: inline-block;
    max-width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 35px;
}

.crm-content .bottom .top .middle .big-title span {
    display: inline-block;
}

.crm-content .bottom .top .middle .big-title span.big-ticked {
    width: 91px;
    height: 91px;
    margin-bottom: -35px;
    margin-left: 15px;
	line-height:91px;
	color:#fff;
	border-radius:50%;
	background-color:#00518c;
	text-align:center;
	font-size:28px;
}

.crm-content .bottom .top .left {
    padding-left: 10px;
    padding-top: 14px;
    float: left;
    width: 140px;
    height: 157px;
}

.crm-content .bottom .top .right {
    width: 320px;
    float: left;
    height: 157px;
}

.crm-content .bottom .footer {
    height: 49px;
	position:absolute;
	bottom:0;
	width:380px;
}

.crm-content .bottom .footer .left {
    height: 49px;
    float: left;
}

.crm-content .bottom .footer .left .close-window-button {
	display: block;
    height: 40px;
    text-indent: 0;
    margin-top: 0px;
    background-image: none;
    box-shadow: 0px 5px 10px #d8d8d8;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    width: auto;
    min-width: 140px;
    background-color: #00518c;
    color: #fff;
}

.crm-content .bottom .footer .right {
    float: right;
    height: 49px;
}

.crm-content .bottom .footer .right .button {
    display: block;
    text-indent: 0px;
    margin: 2px auto 0 auto;
}

.crm-content .bottom .footer .right .button.connect {
	display: block;
    height: 40px;
    /* background: url(../images/autoresponders/close-window-button.png) no-repeat; */
    text-indent: 0;
    margin-top: 0px;
    background-image: none;
    box-shadow: 0px 5px 10px #d8d8d8;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    width: auto;
    min-width: 140px;
    background-color: transparent;
    color: #000;
	border:1px solid #f5f5f5;
}

.crm-content .bottom .footer .right .button.connect.active {
    background-position: 0 -38px;
    background-color: #00518c;
	color:#fff;
    border:none;
	
}

.crm-content .bottom .footer .right .button.disconnect {
	display: block;
    height: 40px;
    /* background: url(../images/autoresponders/close-window-button.png) no-repeat; */
    text-indent: 0;
    margin-top: 0px;
    background-image: none;
    box-shadow: 0px 5px 10px #d8d8d8;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    width: auto;
    min-width: 140px;
    background-color: #00518c;
	color:#fff;
    height: 39px;
}

.input-long {
    margin-bottom: 10px;
    width: 320px;
    height: 41px;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    box-shadow: 0px 5px 10px #d8d8d8;
}

.input-long .input-label {
    width: 90px;
    float: left;
    height: 31px;
    background: transparent;
    padding-left: 10px;
    font-size: 13px;
    font-weight: lighter;
    color: #000;
	line-height:31px;
	border-right:1px solid #eee;
	margin-top:5px;
}

.input-long .input-hold {
    width: 225px;
    height: 41px;
    background: transparent;
    float: left;
    padding-left: 13px;
    padding-top: 5px;
}

.input-long .input-hold input {
    background: transparent;
    border: 0;
    font-size: 15px;
    font-weight: lighter;
    color: #000;
    height: 30px;
    width: 300px;
}

.input-long .input-hold input::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    font-style: italic;
}
.input-long .input-hold input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    font-style: italic;
}
.input-long .input-hold input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    font-style: italic;
}
.input-long .input-hold input:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    font-style: italic;
}

.input-textarea {
    width: 320px;
    height: 127px;
}

.input-textarea .input-label {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 36px;
    background: #eee;
    width: 100%;
    line-height: 36px;
    padding-left: 17px;
    font-size: 14px;
    font-weight: lighter;
    color: #000;
}

.input-textarea .input-hold {
    height: 91px;
    background: transparent;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
	color:#000;
	border: 1px solid #eee;
}

.input-textarea .input-hold textarea {
    background: transparent;
    font-style: italic;
    border: 0;
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    height: 70px;
    width: 298px;
}

.delete-modal-over {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
}

.delete-modal-over .delete-modal {
    width: 226px;
    height: 162px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -113px;
    margin-top: -81px;
    background: url(../images/autoresponders/modal-delete-bg.png) no-repeat;
}

.delete-modal-over .delete-modal .yes-button {
    width: 64px;
    height: 32px;
    background: url(../images/autoresponders/yes-button.png) no-repeat;
    text-indent: -99999px;
    position: absolute;
    top: 113px;
    left: 34px;
}

.delete-modal-over .delete-modal .cancel-button {
    width: 80px;
    height: 32px;
    background: url(../images/autoresponders/cancel-button.png) no-repeat;
    text-indent: -99999px;
    position: absolute;
    top: 113px;
    left: 118px;
}

.crm-content .top .content .middle {
    padding-top: 20px;
    width: 280px;
    margin: 0 auto;
    height: 44px;
}
.crm-content .top .content .middle.connect-tick{
	padding-top: 0px;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    height: 48px;
}
.crm-content .top .content .middle.connect-tick > span{
	width: 48px;
    height: 48px;
    background-color: #eee;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
	line-height:48px;
	font-size:20px;
}
.crm-content .top .content .middle a.choose-your-list-button {
    width: 280px;
    height: 44px;
    text-indent: -9999px;
    display: block;
    margin: 0 auto;
    background: url(../images/autoresponders/choose-your-list.png) no-repeat;
}

.crm-content .select-a-list {
    width: 176px;
    height: 231px;
    background: url(../images/autoresponders/select-list-bg.png) no-repeat;
    position: absolute;
    margin-top: 30px;
    margin-left: 55px;
    padding-top: 57px;
}

.crm-content .select-a-list .content {
    width: 152px;
    height: 152px;
    margin-left: 17px;
    padding: 0 5px;
    overflow-y: auto;
    overflow-x: hidden;
}
.crm-content .select-a-list ul {
    padding: 0;
    list-style-type: none;
    width: 125px;
}
.crm-content .select-a-list ul li {
    margin: 5px 0;
    line-height: 1;
}

.crm-content .middle {
    color: #fff;
}

.crm-list-choice{
	position:relative;
	height:445px;
}
.crm-list-choice > .bottom{
	height:445px;	
}
.crm-list-choice > .bottom > .top{
	position:absolute;
	top:25%;
	left:25%;
	
}
.crms-modal > .col-md-9 > .crm-content > .crm-modal.warning-modal > .crm-modal-inner.warning-modal-inner{

	top: 53%;
    left: 76%;
}