/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-04-25, 11:45:43
    Author     : wiktor1
*/

.template-item {
    float: left; 
    width: 300px;  
    margin: 10px;
    display: inline-block;
    background: #ddd;
    text-align: center;
}

.select-template {

}