.selectable-element.selected,
.selected[data-admin-tag],

/*.field-element.selected,*/ 
.field-element:not([data-field-type=scrollTo]):hover, 
.selectable-element:hover, 
[data-admin-tag]:hover {
    outline: 3px ridge orange;
}

.field-element {
    position: relative;
}

.field-element,
[data-admin-tag],
.selectable-element
{
    cursor: pointer;
}

[data-field-type="template05Gate"] {
    float: right;
}

.hidden-field-cover {
    background-image: url(../images/tabwizard/eye_off.png);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
}

.autoscroll-field {
    margin-bottom: 15px;
    height: 50px;
    width: 809px;
    position: relative;
}
.autoscroll-field .autoscroll-switch {
    position: absolute;
    cursor: pointer;
    background: url(../images/autoscroll-switch.png) no-repeat top left;
    width: 34px;
    height: 35px;
    top: 8px;
}
.autoscroll-field.autoscroll-enabled {
    background: url(../images/autoscroll.png) no-repeat 0 0;
}
.autoscroll-field.autoscroll-disabled {
    background: url(../images/autoscroll.png) no-repeat 0 -50px;
}
.autoscroll-field.autoscroll-enabled .autoscroll-switch {
    left: 641px;
}
.autoscroll-field.autoscroll-disabled .autoscroll-switch {
    left: 714px;
}