<!doctype html>
<html>
    <head>

        <title>Template 17</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=810, maximum-scale=1.0">
		
        <script src="resources/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="//connect.facebook.net/en_US/all.js"></script>
        <script>
            FB.init({
                appId: '243962189122234',
                status: false, /* check login status */
                cookie: true, /* enable cookies to allow the server to access the session */
                xfbml: true /* parse XFBML */
            });
        </script>
        <script type="text/javascript">
        var getTotalHeightOfPage = function() {
            return Math.max(
                (document.height) ? document.height : 0,
                Math.max(document.body.scrollHeight, document.documentElement.scrollHeight),
                Math.max(document.body.offsetHeight, document.documentElement.offsetHeight),
                Math.max(document.body.clientHeight, document.documentElement.clientHeight)
            );
        };
        var last_height = 0;
        function sizeChangeCallback() {
            if (typeof(FB) == 'undefined' || typeof(document.body) == 'undefined') return;
            var h = getTotalHeightOfPage();
            if (last_height == h) {
                return;
            }
            h += 20;
            last_height = h;
            FB.Canvas.setSize({ height: h });
        }

        $(window).load(function() {
            window.fbAsyncInit = function() {
                sizeChangeCallback();
            };
            setTimeout(function() { sizeChangeCallback(); }, 800);
            
            // hide hidden feature
            if ($.trim($('.video-holder').html()) == '') {
                $('.video-holder').hide();
            }
        });
        </script>

        <link rel="stylesheet" href="resources/css/style.css">

    </head>
    <body style="overflow:hidden">
        <div id="fb-root"></div>
        {{_tabfu:ImportField:scrollTo:}}
		<div class="main">
			
			{{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9iYW5uZXIuanBnIiwiYWx0IjoiTG9nbyIsInByZWZlcmVkV2lkdGgiOjgxMCwicHJlZmVyZWRIZWlnaHQiOjU1OX0=}}
			<section id="container">
				<header id="header">

                <div class="logo">
					<a href="#"> {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9sb2dvLnBuZyIsImFsdCI6IkxvZ28iLCJwcmVmZXJlZFdpZHRoIjo5OCwicHJlZmVyZWRIZWlnaHQiOjcwfQ==}} </a>
                </div>
				
            </header>
			<section id="sec-01">
                
                <h2 class="heading">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiV09SS0lORyBUSU1FIn0=}}</h2>
                <div class="content">
					{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiXDxzdHJvbmdcPk1vbmRheSAtIFNhdHVyZGF5Olw8XC9zdHJvbmdcPiAwODowMCAtIDIxOjAwIn0=}}</h2>
                    
					<br>
					{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiU3VuZGF5OiBDbG9zZWQifQ==}}</h2>
					
                </div>
            
            </section>
			<section id="sec-02">
                
                <h2 class="heading">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiTG9jYXRpb24ifQ==}}</h2>
                <div class="content">
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiXDxzdHJvbmdcPkFkZHJlc3M6XDxcL3N0cm9uZ1w+IExvcmVtIElwc3VtIGlzIHNpbXBseSBkdW1teSB0ZXh0In0=}}
                </div>
            
            </section>
			<section id="sec-03">
                
                <h2 class="heading">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiUGhvbmUifQ==}}</h2>
                <div class="content">
                   <strong>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoxMjMtNDU2LTc4OTB9}}</strong>
                </div>
            
            </section>
			
			<footer id="footer">
				{{_tabfu:ImportField:socialFollowIcons:}}
				<div class="social">
				</div>
            </footer>
			
			</section>

        </div>
    </body>
</html>