<!doctype html>
<html>
    <head>

        <title>Template 14</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=810, maximum-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <script src="resources/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="//connect.facebook.net/en_US/all.js"></script>
        <script>
        FB.init({
            appId: '243962189122234',
            status: false, /* check login status */
            cookie: true, /* enable cookies to allow the server to access the session */
            xfbml: true /* parse XFBML */
        });
        </script>
        <script type="text/javascript">
        var getTotalHeightOfPage = function() {
            return Math.max(
                (document.height) ? document.height : 0,
                Math.max(document.body.scrollHeight, document.documentElement.scrollHeight),
                Math.max(document.body.offsetHeight, document.documentElement.offsetHeight),
                Math.max(document.body.clientHeight, document.documentElement.clientHeight)
            );
        };
        var last_height = 0;
        function sizeChangeCallback() {
            if (typeof(FB) == 'undefined' || typeof(document.body) == 'undefined') return;
            var h = getTotalHeightOfPage();
            if (last_height == h) {
                    return;
            }
            h += 20;
            last_height = h;
            FB.Canvas.setSize({ height: h });
        }
        </script>

        <link rel="stylesheet" href="resources/css/style.css">
        
    </head>
    <body style="overflow:hidden">
        <script src="resources/js/jquery.countdown.js" type="text/javascript"></script>
        <script type="text/javascript">
        $(window).load(function() {
            window.fbAsyncInit = function() {
                sizeChangeCallback();
            };
            setTimeout(function() { sizeChangeCallback(); }, 800);
        });
        </script>
	<div id="fb-root"></div>
        {{_tabfu:ImportField:scrollTo:}}
        <div class="main">
            <div class="main-container">
                <div id="header">
                    <div class="logo">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvbG9nby5wbmcifQ==}}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="section-01">
                    <div class="left">
                        <div class="information">
                            <div class="heading">
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPEgxPkxhdWRhbnRpdW0gdG90YW0gcmVtPC9IMT4ifQ==}}
                            </div>
                            <div class="content">
                                <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiU2VkIHV0IHBlcnNwaWNpYXRpcyB1bmRlIG9tbmlzIGlzdGUgbmF0dXMgZXJyb3Igc2l0IHZvbHVwdGF0ZW0gYWNjdXNhbnRpdW08YnI+IGRvbG9yIGVtcXVlIGxhdWRhbnRpdW0sIHRvdGFtIHJlbSBhcGVyaWFtIGVhcXVlIGxvcmVtIGlwc3VtIGRvbG9yIHNpdCJ9}}</span>
                            </div>
                            <div class="counter-container">
                                {{_tabfu:ImportField:countdownTimer:eyJ0aW1lem9uZSI6Ii0wNjowMCJ9}}
                                <div class="counter"></div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="ipad">
                            {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvaXBhZC1pbnNpZGUucG5nIn0=}}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="section-02">
                    <div class="left">
                        <div class="subscription">
                            <div class="heading">
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiU3Vic2NyaWJlIGFuZCBnZXQgbm90aWZpZWQifQ==}}
                            </div>
                            {{_tabfu:ImportField:template14Gate:eyJsYWJlbCI6IlN1YnNjcmliZSJ9}}
                            <div class="description">
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiKiBXZSB3b24ndCB1c2UgeW91ciBlbWFpbCBmb3Igc3BhbSwganVzdCB0byBub3RpZnkgeW91IG9mIG91ciBsYXVuY2guIn0=}}
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="form">
                            <div class="image">
                                <img src="resources/img/twitter-icon.png" alt="">
                            </div>
                            <div class="input">
                                {{_tabfu:ImportField:rawHtml:}}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="description">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiXG4gICAgICAgICAgICAgICAgICAgICAgICAgICAgQ29weXJpZ2h0IDIwMTQgQ29tcGFueU5hbWVcbiAgICAgICAgICAgICAgICAgICAgICAgICJ9}}</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </body>
</html>