html, body {
    padding: 0;
    width: 810px;
    margin: 0 auto;
}

div.clearfix {
    clear: both;
}

a img { border: 0; }

p {
    margin: 0;
}

div.main {
    width: 810px;
    margin: 0 auto;
    background: #fff;
    min-height: 500px;
}

#header div.left,
#footer div.left {
    width: 365px;
    float: left;
    height: 85px;
}

#header div.right,
#footer div.right {
    margin-left: 20px;
    float: right;
    height: 85px;
    width: 260px;
}

div.right .share-element {  
    margin: 0;
    text-align: center;
}
div.right .share-element,
div.right .share-element > * {
    color: #225aa6; 
    font-size: 18px; 
    font-weight: bold; 
    font-style: italic; 
    font-style: 'Helvetica Neue';
}
#footer div.right .share-element,
#footer div.right .share-element > * {
    color: #fff; 
    letter-spacing: 1px;
}

div.right div.share-images {
    text-align: center;
}

div.right div.share-images a {
    display: inline-block;
}

div.right div.share-images img {
    margin: 8px;
}

#header {
    height: 85px;
    padding: 23px 30px 17px 30px;
}

section.section-01 {
    /*min-height: 724px;*/
    padding: 24px 24px 40px 24px;
    font-family: 'Helvetica Neue'; 
    font-weight: bold; 
    font-size: 30px; 
    color: #fff; 
    margin-bottom: 20px;
    text-align: center;
}

section.section-01 .video iframe {
    width: 721px;
    height: 423px;
}

section.section-02 {
    font-family: 'Helvetica Neue'; 
    font-weight: bold; 
    font-size: 18px; 
    color: #fff; 
    margin-bottom: 10px;
}

section.section-01 h1,
section.section-01 h2 {
    margin: 0;
    text-align: center;
    font-family: 'Helvetica Neue'; 
    font-weight: bold; 
    font-size: 30px; 
    color: #fff; 
}

section.section-01 h1 {
    margin-bottom: 20px;
    font-size: 30px;
}

section.section-01 h2 {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

section.section-04 h2 {
    color: #fff; 
    font-size: 40px; 
    font-weight: bold; 
    font-family: 'Helvetica Neue'; 
    text-align: center;
}

section.section-05 {
    font-family: 'Helvetica Neue'; 
    font-size: 18px; 
    color: #225aa6; 
    text-align: center;
}

section.section-05 h2 {
    font-size: 40px; 
}

section.section-06 h2 {
    font-family: 'Helvetica Neue'; 
    font-size: 30px; 
    color: #fff; 
    font-weight: normal; 
    text-align: center; 
    margin: 28px 0 0;
}


div.video {
    width: 721px;
    /*height: 423px;*/
    margin: 40px auto;
}

div.download-button {
    width: 577px;
    min-height: 63px;
    margin: 0 auto;
    border-radius: 30px;
    padding: 13px 30px;
    cursor: pointer;
}

a div.download-button {
    display: block;
}

a div.download-button div.image {
    padding-top: 5px;
    width: 84px;
    float: left;
    display: block;
    height: 100%;
}
a div.download-button div.image img {
    max-width: 84px;
    height: auto;
}

a div.download-button div.text-content {
    width: 490px;
    float: right;
    text-align: center;
}

a div.download-button div.text-content h1,
a div.download-button div.text-content h2,
a div.download-button div.text-content h3,
a div.download-button div.text-content h4 {
    font-family: 'Helvetica Neue'; 
    color: #fff; 
    font-weight: bold; 
    font-style: italic;
    margin: 0;
}

a div.download-button div.text-content h1 {
    font-size: 30px; 
}

a div.download-button div.text-content h2 {
    font-size: 18px; 
}


section.section-02 {
    /*min-height: 390px;*/
    padding: 20px 24px 40px 24px;
}

section.section-03 {
    /*min-height: 558px;*/
    padding: 10px 24px;
}

div.text-boxes div.row-box {
    position: relative;
    margin-bottom: 70px;
}

div.text-boxes div.row-box div.box {
    width: 340px;
    min-height: 250px;
    margin: 0 15px;
}

div.box div.header {
    margin-bottom: 14px;
}

div.box div.header img {
    float: left;
}

div.box div.header h4 {
    font-family: "Helvetica Neue";
    margin: 0 0 0 20px;
    font-size: 30px;
    float: left;
    color: #333333;
    
}

div.text-boxes div.row-box div.box.float-left {
    float: left;
}

div.text-boxes div.row-box div.box.float-right {
    float: right;
}

section.section-04 {
    /*height: 37px;*/
    padding: 56px 24px 60px 24px;
    text-align: center;
}

section.section-04 h2 {
    margin: 0;
}

section.section-05 {
    /*height: 727px;*/
    padding: 73px 24px 20px 24px;
}

section.section-05 h2 {
    margin: 40px 0 50px 0;
    text-align: center;
}

section.section-05 p {
    text-align: center;
    margin: 18px 0;
}

div.final-image {
    text-align: center;
}

section.section-06 {
    /*height: 150px;*/
    padding: 42px 24px 43px 24px;
    text-align: center;
}

#footer {
    /*height: 96px;*/
    padding: 34px 30px 50px 30px;
}

div.footer-info {
    display: block;
    margin-top: 10px;
    letter-spacing: 1px; 
    font-family: 'Helvetica Neue'; 
    font-size: 18px; 
    color: #fff; 
    text-align: center;
}

/* Control nav styles (e.g. 1,2,3...) */

div.slider ul li,
div.slider ul {
    padding: 0;
}

div.slider ol.dots {
    text-align:center;
    padding: 15px 0;
}
div.slider ol.dots li.dot {
    background: url(../img/inactive_slide.png) no-repeat;
    display: inline-block;
    margin: 15px 6px;
    text-indent: -999999px;
    width: 23px;
    height: 23px;
    cursor:pointer;
}

div.slider ol.dots li.dot.active {
    background: url(../img/active_slide.png) no-repeat;
}

.slider { position: relative; overflow: auto; height: 400px !important; }
.slider li { list-style: none; text-align: center; }
.slider ul li { float: left; }
.slider .dots {
    position:absolute;
    left: 50%;
    width: 260px;
    margin-left: -130px;
    z-index:999999 !important;
    padding-top: 0  !important;
    margin-top: 0 !important;
}

/* fix for editor */
.box .field-element {
    display: inline-block;
}