html, body {
    margin: 0;
    padding: 0;
}

div.clearfix {
    clear: both;
}

a > img { border: 0; }

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

div.main {
    width: 1140px;
    height: 1140px;
    background: #FF4A32;
    padding: 30px;
    overflow: hidden;
}

.section-01 {
    background: #00BACC;
    width: 1140px;
    height: 1057px;
    padding: 0;
    position: relative;
}
.section-02 {
    background: #00808C url(../img/computer.png) no-repeat 0 -881px;
    width: 1140px;
    height: 83px;
}

.section-01 .triangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 402px;
    height: 402px;
    z-index: 1;
}
.section-01 .triangle img {
    width: 402px;
    height: 402px;
}
.section-01 .computer {
    position: absolute;
    width: 1056px;
    height: 639px;
    top: 178px;
    left: 0;
    padding: 51px 50px 189px 0;
    background: url(../img/computer.png) no-repeat;
}
.section-01 .computer img {
    width: 1056px;
    height: 639px;
}
.section-01 h1,
.section-01 h2,
.section-01 h3,
.section-01 h4,
.section-01 h5,
.section-01 h6,
.section-01 p {
    position: absolute;
    padding: 0;
    font-size: 120px;
    line-height: 178px;
    color: #FF0;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    z-index: 2;
    white-space: nowrap;
}