html, body {
    margin: 0;
    padding: 0;
}

div.clearfix {
    clear: both;
}

a > img { border: 0; }

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

div.main {
    width: 1200px;
    height: 627px;
    overflow: hidden;
}

.section-01 {
    background: #003068;
    width: 1110px;
    height: 537px;
    padding: 45px;
    position: relative;
}
.section-01 .curl {
    position: absolute;
    top: 0;
    left: 0;
    width: 392px;
    height: 217px;
    z-index: 99;
}
.section-01 .curl img {
    width: 392px;
    height: 217px;
}
.section-01 .curl > * {
    position: absolute;
}

.section-01 .curl h1,
.section-01 .curl h2,
.section-01 .curl h3,
.section-01 .curl h4,
.section-01 .curl h5,
.section-01 .curl h6,
.section-01 .curl p {
    position: absolute;
    padding: 0;
    font-size: 60px;
    color: #FFF000;
    left: 10px;
    top: 3px;
    font-family: Arial, sans-serif;
}
.section-01 .bottom-info {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #01ABCC;
    padding: 35px 65px;
}
.section-01 .bottom-info h1,
.section-01 .bottom-info h2,
.section-01 .bottom-info h3,
.section-01 .bottom-info h4,
.section-01 .bottom-info h5,
.section-01 .bottom-info h6,
.section-01 .bottom-info p {
    font-size: 50px;
    color: #fff;
    font-family: Arial, sans-serif;
    white-space: nowrap;
}