html, body {
    width: 810px;
    margin: 0 auto;
    padding: 0;
}

div.clearfix {
    clear: both;
}

a > img { border: 0; }

p {
    margin: 0;
}

div.main {
    position: relative;
    width: 810px;
    margin: 0 auto;
    background: #002f5f;
    min-height: 500px;
}

#header {
    /*height: 86px;*/
    background: #fff;
    padding-left: 34px;
}

#header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 25px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 86px;
    color: #cccccc;
    text-transform: uppercase;
}

.section-01 {
    /*height: 535px;*/
    background: #8ccb83;
    padding-bottom: 30px;
}

.section-01 .left {
    width: 240px;
    /*height: 535px;*/
    float: left;
    margin-left: 69px;
}

.section-01 .book-holder {
    width: 200px;
    height: 300px;
    position: relative;
    margin-top: 55px;
    box-shadow: 5px 5px 15px rgba(100, 100, 100, 0.7);
}
.section-01 .book-holder > img,
.section-01 .book-holder > .field-element,
.section-01 .book-holder > .field-element > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
}
.section-01 .book-holder .book-title {
    width: 169px;
    height: 264px;
    position: absolute;
    top: 18px;
    left: 15px;
}
.section-01 .book-holder .book-title > img,
.section-01 .book-holder .book-title > .field-element,
.section-01 .book-holder .book-title > .field-element > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 169px;
    height: 264px;
}

.section-01 .book-title span {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    display:  table-cell;
    vertical-align: middle;
    height: 283px;
}

.section-01 .get-the-report {
    margin: 0 auto;
}

.section-01 .get-the-report-link {
    display: block;
    background: url(../img/small-button.png) no-repeat;
    width: 203px;
    height: 52px;
    margin-left: 10px;
    margin-top: 15px;
    text-decoration: none;
    cursor: pointer;
}

.section-01 .get-the-report-link span {
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 45px;
    color: #3399cc;
}

.section-01 .info-report {
    text-align: center;
    margin-top: 8px;
}

.section-01 .heading h2 {
    margin: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-top: 25px;
}

.section-01 .heading h4 {
    margin: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 30px;
}

.section-01 .key-topics {
    background: #336633;
    width: 362px;
    height: auto;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    margin: 0 auto;
    padding: 17px 30px 19px 26px; 
}

.section-01 .key-topics .topic {
    display: table-row;
}

.section-01 .key-topics .topic .tick,
.section-01 .key-topics .topic .content {
    display: table-cell;
    vertical-align: top;
}

.section-01 .key-topics .topic .tick {
    width: 43px;
}

.section-01 .key-topics .topic .tick img {
    width: 43px;
    height: auto;
}

.section-01 .key-topics .topic .content {
    padding-left: 25px;
    padding-bottom: 16px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
}

.section-01 .download-copy {
    margin-top: 40px;
    background: #336633;
    width: 351px;
    height: 72px;
    margin: 40px auto 0 auto;
    padding: 17px 8px 0;
}
.section-01 .download-copy .warning-icon,
.section-01 .download-copy .download-button {
    float: left;
}
.section-01 .download-copy .warning-icon {
    margin: 5px 0 0 9px;
}

.section-01 .download-copy .download-button {
    background: url(../img/big-button.png) no-repeat;
    display: block;
    width: 272px;
    height: 59px;
    text-align: center;
    line-height: 53px;
    margin: 0;
    text-decoration: none;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #3399cc;
    float: right;
    cursor: pointer;
}
.section-01 .download-copy .download-button a {
    text-decoration: none;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #3399cc;
}

.section-01 .download-copy .warning-icon img {
}

.section-01 .info-report span {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
}

.section-01 .right {
    float: right;
    width: 438px;
    /*height: 535px;*/
    margin-right: 28px;
}

.section-02 {
    /*height: 164px;*/
    background: #fff;
    padding-top: 15px;
    padding-left: 65px;
    padding-right: 45px;
}

.section-02 .left {
    width: 208px;
    float: left;
}

.section-02 .left .polaroid-bg {
    width: 100px;
    height: 113px;
    background: url(../img/polaroid-bg.png) no-repeat;
    padding: 14px 25px 24px 23px;
    float: left;
}

.section-02 .left .polaroid-bg .image-holder img {
    width: 100px;
    height: 88px;
}

.section-02 .left .quotation {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.section-02 .right {
    width: 470px;
    float: left;
    margin-left: 21px;
    padding-top: 22px;
}

.section-02 .right span {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #cccccc;
}
