html, body {
    width: 810px;
    margin: 0 auto;
    padding: 0;
}

div.clearfix {
    clear: both;
}

a > img { border: 0; }

p {
    margin: 0;
}

div.main {
    position: relative;
    width: 810px;
    margin: 0 auto;
    background: url(../img/background.png) repeat;
    min-height: 500px;
}

#header {
    /*height: 210px;*/
}

#header .top {
    height: 93px;    
    padding-left: 42px;
}

#header .top span {
    font-family: "Corbel", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #f47083;
    line-height: 93px;
}

#header .bottom {
    height: 117px;
}

#header .bottom .background-bottom {
    background: #f57083;
    height: 117px;
    padding-top: 20px;
}

#header .bottom h1,
#header .bottom h2 {
    display: block;
    text-align: center;
    font-family: "Corbel", Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #fff;
    margin: 0;
    font-weight: normal;
    line-height: 50px;
}

#header .bottom h2 {
    font-size: 25px;
    line-height: 25px;
    margin-top: 20px;
}

#header .become-a-fan {
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/become-a-fan.png) no-repeat;
    width: 328px;
    height: 213px;
    pointer-events: none;
}

#header .become-a-fan > a {
    text-indent: -99999px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 130px;
    height: 55px;
}

span.counter {
    display: block;
    width: 53px;
    height: 53px;
    /*background: #ff9bad;*/
    color: #fff;
    line-height: 46px;
    text-align: center;
    /*border-radius: 50px;*/
    font-family: "Corbel", Arial, Helvetica, sans-serif;
    font-size: 30px;
    position: absolute;
    top: 23px;
    left: -36px;
}
span.counter .field-element {
    width: 53px;
    height: 53px;
}
span.counter img {
    position: absolute;
    top: 0;
    left: 0;
}
span.counter > span {
    position: relative;
    z-index: 1;
}

#sec-01 {
    margin-top: 43px;
    margin-bottom: 50px;
}

#sec-01 .background-section-01 {
    width: 581px;
    position: relative;
    background: #fff;
    border-radius: 15px;
    height: 88px;
    margin: 0 auto;
    padding-top: 18px;
    padding-left: 70px;
}

#sec-01 .like-element {
    position: absolute;
    top: 15px;
    right: 60px;
}

#sec-01 .like-element img {
    width: 143px;
    height: 127px;
}

#sec-01 .content-01 {
    font-family: "Corbel", Arial, Helvetica, sans-serif;
    color: #05aac6;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 35px;
}

#sec-02 .background-section-02 {
    position: relative;
    width: 657px;
    height: 74px;
    background: #fff;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
}

#sec-02 .background-section-02 span.counter {
    top: 10px;
}

#sec-02 .content-02 {
    display: block;
    text-align: center;
    line-height: 74px;
    font-family: "Corbel", Arial, Helvetica, sans-serif;
    color: #05aac6;
    font-size: 30px;
    text-transform: uppercase;
}

#sec-02 {
    position: relative;
}

#sec-02 .arrow-right {
    position: absolute;
    top: 35px;
    right: 25px;
    width: 52px;
    height: 90px;
}
#sec-02 .arrow-right > *, #sec-02 .arrow-right img {
    width: 52px;
    height: 90px;
}

#sec-02 .arrow-left {
    position: absolute;
    bottom: 75px;
    left: 30px;
    width: 44px;
    height: 103px;
}
#sec-02 .arrow-left > *, #sec-02 .arrow-left img {
    width: 44px;
    height: 103px;
}

#sec-02 .video-holder {
    display: block;
    width: 640px;
    height: 344px;
    margin: 21px auto 0;
    text-align: center;
    background: url(../img/video-bg.png) repeat;
    padding: 15px;
}

#sec-02 .video-holder > *,
#sec-02 .video-holder > div > * {
    width: 640px;
    height: 344px;
}

.instant-access .get-instant-access {
    display: block;
    width: 471px;
    height: 113px;
    background: transparent url(../img/get-instant-access.png) no-repeat top left;
    text-indent: -99999px;
    cursor: pointer;
}

.instant-access {
    position: relative;
    margin: 40px auto 0;
    width: 471px;
}

.instant-access .other-link-access {
    color: #05a8c5;
    text-decoration: underline;
    text-align: center;
    display: block;
    font-family: "Corbel", Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 20px;
}

.instant-access span.counter {
    top: 27px;
    line-height: 40px;
    left: -86px;
}

.instant-access .get-instant-access:hover,
.instant-access .get-instant-access:active,
.instant-access .get-instant-access:focus {
    opacity: 0.8;
}

#sec-03 {
    width: 668px;
    /*height: 361px;*/
    margin: 42px auto 63px auto;
}

#sec-03 .features-box {
    background: #fff;
    border-radius: 15px;
    width: 588px;
    /*min-height: 253px;*/
    padding: 54px 40px
}

#sec-03 .feature-element {
    display: table-row;
    margin-bottom: 50px;
}

#sec-03 .feature-element span.pink-tick {
    display: table-cell;
    width: 60px;
    height: 48px;
    /*background: url(../img/pink-tick.png) no-repeat;*/
    padding-right: 20px;
}

#sec-03 .feature-element span.content-tick {
    display: table-cell;
    vertical-align: top;
    color: #05aac6;
    font-family: "Corbel", Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 515px;
    padding-bottom: 40px;
    line-height: 27px;
}

#sec-03 .feature-element:last-of-type span.content-tick {
    padding-bottom: 0;
}

#sec-04 {
    position: relative;
}

#sec-04 .double-arrow {
    position: absolute;
    right: -100px;
    top: 25px;
    width: 83px;
    height: 64px;
}
#sec-04 .double-arrow > *, #sec-04 .double-arrow img {
    width: 83px;
    height: 64px;
}

#footer {
    /*height: 149px;*/
    margin-top: 60px;
}

#footer .left {
    /*height: 117px;*/
    background: #fff;
    padding: 32px 0 30px 44px;
}

#footer .left span {
    font-family: "Corbel", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #bbe3ec;
    line-height: 28px;
}
