/* modules */
/* this mixin makes possible to add transition to a specific vendor, example: */
/* -webkit-transition: -webkit-transform 0.5s linear; */
@import url(bootstrap.min.css);
.flexslider {
  border: 0 none;
  box-shadow: none !important; }
  .flexslider .flex-control-nav {
    top: -30px;
    height: 20px;
    right: 0;
    width: 14%; }
  
#top-slider.flexslider {
    margin-bottom: 90px;
}
#top-slider.flexslider .flex-control-nav {
    bottom: -40px;
    top: auto;
    left: 50%;
    margin-left: -68px;
}
#top-slider.flexslider .flex-control-paging li a {
    width: 20px;
    height: 20px;
    background-color: #91B6D1;
}
#top-slider.flexslider .flex-control-paging li a.flex-active, #top-slider.flexslider .flex-control-paging li a:hover {
    background-color: #00518C;
}
@media (max-width: 768px) {
    #top-slider.flexslider .flex-control-nav {
        width: 100%;
        left: 0 !important;
        right: 0 !important;
        text-align: center;
        margin: 0 !important;
    }
    .arrow {
        display: none !important;
    }
}

.image-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.image-items li {
    margin: 0 0 40px;
    padding: 0;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

.nav > li > a {
    font-size: 20px;
    line-height: 50px;
}
.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
    background: none;
}
.nav .trial-btn {
    margin-left: 30px;
}
.nav .trial-btn a {
    color: #FFAF23;
    font-weight: bold;
}
.nav .trial-btn a:hover {
    color: #E29B1F;
}
.nav .sign-btn a {
    color: #00518C;
    font-weight: bold;
}
.nav .sign-btn a:hover {
    color: #428bca;
}
@media (max-width: 991px) {
    .nav > li > a {
        padding: 15px 10px;
        font-size: 95%;
    }
}
@media (max-width: 768px) {
    nav {
        background: #fff;
        border-top: 1px solid #ddd !important;
    }
    .nav > li > a {
        line-height: 1.6;
    }
    .nav .trial-btn {
        margin-left: 0;
    }
}
.navbar-toggle {
    background: #000;
    border: 1px solid #000;
    margin-top: 20px;
}
.navbar-toggle .icon-bar {
    background: #fff;
}

/* config variables */
/* vendor */
.dropdown-menu > li > a {
  text-align: left; }

.dropdown-menu > li > a:hover {
  color: #000;
  background: rgba(0, 0, 0, 0.1); }

.form-control {
  background: #fff;
  border-color: rgba(0, 0, 0, 0.35);
  color: #263039;
  box-shadow: none; }

.form-control:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-style: italic;
  font-size: 15px;
  font-weight: 600; }

.form-control::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-style: italic;
  font-size: 15px;
  font-weight: 600; }

.form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-style: italic;
  font-size: 15px;
  font-weight: 600; }

.form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-style: italic;
  font-size: 15px;
  font-weight: 600; }

.form-control:focus {
  border-color: #93c762;
  -webkit-box-shadow: 0px 0px 6px -1px #93c762;
  box-shadow: 0px 0px 6px -1px #93c762; }

.btn {
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  color: #87909D;
  padding: 3px 25px;
  -webkit-transition: all linear .1s;
  -moz-transition: all linear .1s;
  -o-transition: all linear .1s;
  transition: all linear .1s; }

.btn-white {
  background: #fff;
  color: #8B94A1; }

.btn-gray {
  background: #eeeeee; }

.btn-gray:hover {
  background: #e2e2e2; }

.btn-green {
  background: #92B751;
  color: #fff; }

.gray-block {
    background: url(../images/bg.jpg) repeat top left;
}

/* layout */
body {
  background: #fff;
  color: #263039;
  font-family: "Myriad Pro", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal;
  color: #6E7277;
  font-family: "Myriad Pro", sans-serif; }

h3 {
  color: #263039; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -ms-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    text-decoration: none; }

form {
  margin: 0; }

@media (min-width: 1200px) {
  .container {
    width: 1000px; 
  } 
}

.navbar {
    background: #fff;
    height: 74px;
    margin-bottom: 0;
}
.navbar .container, .navbar-brand {
    height: 74px;
}

.navbar-inverse {
  background: #252B34;
  text-align: center; }
  .navbar-inverse .navbar-toggle {
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear; }
    .navbar-inverse .navbar-toggle:hover {
      background: #92b751; }
  @media (max-width: 767px) {
    .navbar-inverse .navbar-collapse {
      max-height: 655px; } }
  .navbar-inverse .navbar-nav {
    float: none;
    display: inline-block; }
    .navbar-inverse .navbar-nav > li {
      float: none;
      display: inline-block; }
      @media (max-width: 767px) {
        .navbar-inverse .navbar-nav > li {
          width: 100%;
          text-align: left; } }
      .navbar-inverse .navbar-nav > li > a {
        color: rgba(255, 255, 255, 0.6);
        text-transform: uppercase;
        padding: 18px 15px;
        font-size: 13px;
        -webkit-transition: color 0.1s linear;
        -moz-transition: color 0.1s linear;
        -ms-transition: color 0.1s linear;
        -o-transition: color 0.1s linear;
        transition: color 0.1s linear; }
        @media (min-width: 992px) and (max-width: 1200px) {
          .navbar-inverse .navbar-nav > li > a {
            padding: 18px 8px; } }
        @media (max-width: 991px) {
          .navbar-inverse .navbar-nav > li > a {
            padding: 18px 4px;
            font-size: 13px;
            text-transform: initial; } }
        @media (max-width: 767px) {
          .navbar-inverse .navbar-nav > li > a {
            padding: 13px 20px; } }
        .navbar-inverse .navbar-nav > li > a:hover {
          color: #fff; }
      .navbar-inverse .navbar-nav > li.sign-btn {
        background: #1d232b; }
        @media (min-width: 992px) {
          .navbar-inverse .navbar-nav > li.sign-btn {
            position: relative;
            left: 50px; } }
        .navbar-inverse .navbar-nav > li.sign-btn:hover {
          background: #000; }
          .navbar-inverse .navbar-nav > li.sign-btn:hover a {
            color: #fff; }
        .navbar-inverse .navbar-nav > li.sign-btn a {
          text-transform: none;
          color: rgba(255, 255, 255, 0.8); }
          @media (min-width: 979px) and (max-width: 1200px) {
            .navbar-inverse .navbar-nav > li.sign-btn a {
              padding: 18px 7px; } }

.navbar-fixed-top.scroll {
  opacity: 0.96;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.9); }

.block, .inner-block {
  padding: 40px 0; }
  .block header, .inner-block header {
    text-align: center;
    color: #6D7176;
    margin-bottom: 48px; }
    .block header h2, .inner-block header h2 {
      font-size: 44px;
      margin-bottom: 0;
      font-weight: 200; }
    .block header p, .inner-block header p {
      font-size: 18px;
      font-weight: 200;
      margin-bottom: 0;
      margin-top: 2px; }
    .block header .line, .inner-block header .line {
      border-top: 1px solid #b8babe;
      width: 148px;
      display: block;
      box-shadow: 0px 1px 0px 0px white;
      margin: 10px auto 0; }

.block:last-child {
  padding-bottom: 160px; }

.inner-block {
  padding: 30px 0; }
  .inner-block:last-child {
    padding-bottom: 150px; }
  .inner-block:first-child {
    padding-top: 85px; }

footer {
  padding: 45px 0 50px;
  background: #fff; }
  footer .row:first-child { }
  footer ul {
    margin-top: 20px;
    padding-left: 0px; }
    footer ul li {
      list-style: none;
      color: #000;
      font-size: 17px;
      font-weight: 400; }
      footer ul li a {
        color: #000; }
        footer ul li a:hover {
          color: #8fc25d;
          text-decoration: none; }
    footer ul .phone {
      margin-top: 17px; }
  footer h2 {
    color: #000;
    margin: 7px 0 20px 80px;
    font-weight: bold;
    font-size: 16px; }
    @media (max-width: 767px) {
      footer h2 {
        margin-left: 0; } }
  footer .form-control {
    width: 274px;
    padding: 3px;
    background: #fff;
    border-color: #A5A5A5;
    float: left;
    color: #000;
    box-shadow: none; }
    footer .form-control:focus {
      border-color: #40542C;
      -webkit-box-shadow: 0 0 8px rgba(143, 194, 93, 0.4);
      box-shadow: 0 0 5px rgba(143, 194, 93, 0.4); }
  footer .form-control:-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
    font-weight: 400; }
  footer .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
    font-weight: 400; }
  footer .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
    font-weight: 400; }
  footer .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
    font-weight: 400; }
  footer .btn {
    text-transform: uppercase;
    background: #4E535A;
    float: left;
    font-size: 15px;
    padding: 2px 22px;
    margin-left: 80px;
    color: rgba(255, 255, 255, 0.8); }
    footer .btn:hover {
      background: #8fc25d;
      color: #fff; }
  footer .row:last-child p {
    margin-top: 5px;
    color: #AAADB0;
    font-size: 12px; }
  footer .row:last-child h6 {
    margin: 6px 0 0 0;
    color: #000;
    float: left;
    font-size: 22px; }
    @media (max-width: 767px) {
      footer .row:last-child h6 {
        margin-bottom: 15px; } }
  footer .row:last-child .social {
    float: left; }
    footer .row:last-child .social a {
      float: left;
      text-align: center;
      width: 33px;
      margin: 0 15px 0 0;
      height: 33px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 100%;
      -webkit-transition: background 0.1s linear;
      -moz-transition: background 0.1s linear;
      -ms-transition: background 0.1s linear;
      -o-transition: background 0.1s linear;
      transition: background 0.1s linear; }
      footer .row:last-child .social a:last-child {
        margin-right: 0; }
      @media (max-width: 767px) {
        footer .row:last-child .social a {
          margin: 0 13px !important; } }
    footer .row:last-child .social i {
      font-size: 18px;
      line-height: 36px;
      display: inline-block;
      color: #fff; }
    footer .row:last-child .social .facebook {
      background: #3b5998; }
    footer .row:last-child .social .twitter {
      background: #00abf0; }
    footer .row:last-child .social .linkedin {
      background: #006599; }
    footer .row:last-child .social .pinterest {
      background: #cb2027; }
    footer .row:last-child .social .gplus {
      background: #000; }
    footer .row:last-child .social .youtube {
      background: #CF1714; }
    footer .row:last-child .social .github {
      background: #edce44; }
    footer .row:last-child .social a:hover {
        background: none;
    }
    footer .row:last-child .social a:hover i {
        color: #000;
    }
    
footer h3 {
    color: #000;
    margin: 5px 0 10px 0;
    font-weight: bold;
    font-size: 16px; 
}
footer .email i {
    background: #E6E6E6;
    margin-right: 7px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 6px;
    display: inline-block;
}

/* pages */
#about .intro {
  margin-bottom: 22px; }
  #about .intro h3 {
    margin-top: 0;
    font-size: 24px;
    line-height: 31px; }
#about .block:first-child .text {
  font-size: 17px; }
#about .teammate {
  text-align: center; }
  @media (max-width: 767px) {
    #about .teammate {
      margin-bottom: 30px;
      text-align: center; } }
  #about .teammate img {
    display: inline-block;
    margin-bottom: 14px; }
  #about .teammate h5, #about .teammate p {
    text-align: left; }
  #about .teammate h5 {
    font-weight: 400;
    font-size: 16px; }
  #about .teammate p {
    font-weight: 400; }

#blog-wrapper .post {
  box-shadow: 0px 1px 1px 1px rgba(207, 207, 207, 0.2);
  background-color: white;
  padding: 4px 10px 4px 4px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  margin-bottom: 40px; }
  #blog-wrapper .post h3 {
    color: #87a46e; }
  #blog-wrapper .post p {
    font-size: 15px; }
  #blog-wrapper .post .img {
    padding-left: 0; }
    @media (max-width: 767px) {
      #blog-wrapper .post .img {
        padding: 0 15px;
        text-align: center; }
        #blog-wrapper .post .img img {
          display: inline-block; } }
  #blog-wrapper .post img {
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -ms-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear; }
  #blog-wrapper .post img:hover {
    opacity: 0.8; }
  #blog-wrapper .post .post_info {
    margin-top: 25px;
    font-size: 14px; }
    #blog-wrapper .post .post_info .author {
      font-weight: 600; }
  #blog-wrapper .post .btn {
    padding: 2px 25px 4px 25px;
    position: absolute;
    bottom: 15px;
    right: 15px; }
#blog-wrapper .post:last-child {
  margin-bottom: 20px; }
#blog-wrapper .pagination {
  margin: 0;
  float: right; }
  #blog-wrapper .pagination a {
    color: #67aa25; }
@media (max-width: 767px) {
  #blog-wrapper .sidebar {
    margin-top: 50px; } }
#blog-wrapper .sidebar ul {
  padding: 0; }
#blog-wrapper .sidebar .sidebar-header {
  font-size: 20px;
  margin-top: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bfc0c4;
  box-shadow: 0px 2px 1px 0px white;
  color: #263039; }
#blog-wrapper .sidebar .sidebar-menu {
  list-style-type: none;
  margin-top: 30px;
  margin-left: 0px; }
  #blog-wrapper .sidebar .sidebar-menu li {
    margin-bottom: 10px;
    font-size: 15px; }
  #blog-wrapper .sidebar .sidebar-menu a {
    color: #333333; }
  #blog-wrapper .sidebar .sidebar-menu a:hover {
    color: #87a46e;
    text-decoration: underline; }
#blog-wrapper .sidebar .recent-posts {
  list-style-type: none;
  margin-top: 30px;
  margin-left: 0px; }
  #blog-wrapper .sidebar .recent-posts li {
    margin-bottom: 20px;
    font-size: 15px; }
  #blog-wrapper .sidebar .recent-posts .thumb {
    border: 2px solid white;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2); }
  #blog-wrapper .sidebar .recent-posts .link {
    color: #333333;
    display: block;
    margin-top: 10px; }
  #blog-wrapper .sidebar .recent-posts .link:hover {
    color: #87a46e;
    text-decoration: underline; }
  #blog-wrapper .sidebar .recent-posts .thumb:hover {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.4); }
#blog-wrapper .blog-post .post_pic {
  border: 4px solid white;
  box-shadow: 0px 0px 1px 1px #d0d0d0;
  border-radius: 5px; }
#blog-wrapper .blog-post .post_content {
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #c0c1c3;
  box-shadow: 0px 2px 1px 0px white; }
#blog-wrapper .blog-post .author {
  margin-top: 45px;
  font-weight: 600;
  font-size: 14px; }
#blog-wrapper .blog-post .date {
  font-size: 13px;
  color: #666666; }
#blog-wrapper .blog-post .comments {
  margin-top: 40px; }
  #blog-wrapper .blog-post .comments .comment {
    margin-bottom: 60px;
    margin-top: 30px; }
  #blog-wrapper .blog-post .comments .img {
    text-align: center; }
    #blog-wrapper .blog-post .comments .img img {
      display: inline-block; }
  #blog-wrapper .blog-post .comments .reply {
    color: #6d9748;
    text-decoration: underline;
    margin-left: 20px; }
  #blog-wrapper .blog-post .comments .name {
    font-weight: 600; }
  #blog-wrapper .blog-post .comments .date {
    font-size: 13px; }
  #blog-wrapper .blog-post .comments .response {
    margin-top: 10px; }
  #blog-wrapper .blog-post .comments .reply_to {
    margin-top: -10px; }

#comingsoon {
  margin-top: 180px; }
  #comingsoon .countdown {
    padding-bottom: 120px;
    border-bottom: 1px solid #c0c2c5;
    box-shadow: 0px 2px 1px 0px white; }
    #comingsoon .countdown .left h1 {
      color: #333333;
      font-weight: 600;
      margin-top: 0; }
    #comingsoon .countdown .left p {
      margin-top: 20px;
      line-height: 25px;
      color: #555555;
      font-size: 17px; }
    #comingsoon .countdown .figure {
      float: left;
      margin: 0 13px; }
      #comingsoon .countdown .figure .square {
        width: 88px;
        height: 88px;
        border-radius: 6px;
        border: 1px solid #93c762;
        position: relative;
        box-shadow: 0px 0px 6px -1px #93c762; }
        #comingsoon .countdown .figure .square span {
          color: #394350;
          font-size: 40px;
          font-weight: 600;
          position: absolute;
          top: 14px;
          display: block;
          width: 100%;
          text-align: center; }
      #comingsoon .countdown .figure label {
        display: block;
        color: #7a7d80;
        font-weight: 400;
        font-size: 12px;
        margin-top: 5px;
        text-align: center; }
  #comingsoon .subscribe {
    margin-top: 50px;
    text-align: center; }
    #comingsoon .subscribe form {
      margin-bottom: 20px; }
    #comingsoon .subscribe .form-group {
      float: none;
      display: inline-block;
      margin-bottom: 0; }
    #comingsoon .subscribe .follow {
      margin: 0 auto;
      width: 35%; }
      @media (min-width: 979px) and (max-width: 1200px) {
        #comingsoon .subscribe .follow {
          width: 38%; } }
      @media (min-width: 768px) and (max-width: 979px) {
        #comingsoon .subscribe .follow {
          width: 48%; } }
      @media (max-width: 767px) {
        #comingsoon .subscribe .follow {
          width: 100%;
          text-align: center; } }
      #comingsoon .subscribe .follow strong {
        float: left;
        margin: 5px 16px 0 0; }
        @media (max-width: 767px) {
          #comingsoon .subscribe .follow strong {
            float: none;
            margin: 0 0 10px 0;
            display: block; } }
      #comingsoon .subscribe .follow .social {
        float: left; }
        @media (max-width: 767px) {
          #comingsoon .subscribe .follow .social {
            float: none; } }
        #comingsoon .subscribe .follow .social a {
          float: left;
          text-align: center;
          width: 33px;
          margin: 0 6px;
          height: 33px;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 100%;
          -webkit-transition: background linear .1s;
          -moz-transition: background linear .1s;
          -o-transition: background linear .1s;
          transition: background linear .1s; }
          @media (max-width: 767px) {
            #comingsoon .subscribe .follow .social a {
              float: none;
              display: inline-block; } }
        #comingsoon .subscribe .follow .social a:last-child {
          margin-right: 0; }
        #comingsoon .subscribe .follow .social i {
          font-size: 20px;
          margin-top: 7px;
          display: inline-block;
          color: #fff; }
        #comingsoon .subscribe .follow .social .facebook {
          background: #3b5998; }
        #comingsoon .subscribe .follow .social .twitter {
          background: #00abf0; }
        #comingsoon .subscribe .follow .social .linkedin {
          background: #006599; }
        #comingsoon .subscribe .follow .social .pinterest {
          background: #cb2027; }
        #comingsoon .subscribe .follow .social .gplus {
          background: #000; }
        #comingsoon .subscribe .follow .social .github {
          background: #edce44; }

.footer-comingsoon {
  text-align: center;
  margin-top: 130px;
  padding: 30px 0; }
  .footer-comingsoon .row:first-child {
    border: 0 none;
    padding-bottom: 0;
    box-shadow: none;
    margin-bottom: 0; }
  .footer-comingsoon p {
    color: #fff !important;
    font-size: 15px !important; }

#contact .map {
  margin-bottom: 60px; }
  #contact .map iframe {
    width: 100%;
    height: 370px;
    border: 3px solid white;
    border-radius: 6px;
    box-shadow: 0px 0px 1px 1px #cfcfcf; }
  #contact .map h3 {
    margin: 40px 0px 30px 0px;
    color: #394350;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal; }
#contact form .form-group {
  clear: both;
  min-height: 34px; }
#contact form label {
  font-weight: 600;
  color: #000;
  width: 80px;
  font-size: 12px;
  float: left;
  text-align: left; }
#contact .address h3 {
  font-weight: 600; }
#contact .address h3:first-child {
  margin-top: 2px; }
#contact .address i {
  display: inline-block;
  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 100%;
  font-size: 18px;
  line-height: 35px;
  background: rgba(0, 0, 0, 0.1); }
#contact .address .info {
  margin: 25px 0px;
  position: relative;
  font-weight: 600;
  font-size: 18px; }
  #contact .address .info i {
    float: left;
    top: -4px;
    position: relative;
    margin-right: 20px; }
#contact .address .social i {
  margin: 6px;
  font-size: 20px;
  color: #fff; }
#contact .address .social .icon-facebook {
  background: #3b5998; }
#contact .address .social .icon-twitter {
  background: #00abf0; }
#contact .address .social .icon-linkedin {
  background: #006599; }
#contact .address .social .icon-pinterest {
  background: #cb2027; }
#contact .address .social .icon-google-plus {
  background: #000; }
#contact .address .social .icon-github-alt {
  background: #edce44; }
#contact .address .social .icon-dribbble {
  background: #ed6393; }
#contact .address .social .icon-youtube {
  background: #cc181e; }
#contact .address .social .icon-tumblr {
  background: #304e6b; }
#contact .address .social .icon-flickr {
  background: #f3006f; }
#contact .address .social i:hover {
  opacity: 0.8; }

#highresponse {
    text-align: center;
    padding-bottom: 0;
}
#highresponse h2 {
    font-weight: bold;
    color: #00518C;
    font-size: 28px;
    margin: 0 0 25px;
    line-height: 1.4;
}
#highresponse h2 em {
    text-decoration: underline;
}
#highresponse p {
    color: #00518C;
    font-size: 22px;
    margin: 0 0 50px;
    line-height: 1.4;
}
.tick-box {
    border-radius: 15px;
    width: 850px;
    margin: 30px auto;
    background: #0266a3;
    padding: 30px;
    color: #fff;
    font-size: 22px;
}
#highresponse img.mark {
    float: right;
    margin: -17px 232px 0 0;
}
#highresponse .tick-box p {
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.list-style1 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.list-style1 li {
    background: url(../images/tick-dark.png) no-repeat center left;
    list-style: none;
    padding: 15px;
    padding-left: 70px;
    text-align: left;
}
@media (max-width: 991px) {
    #highresponse img.mark {
        display: none;
    }
    .tick-box {
        width: 90%;
    }
}

#faq .panel {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
#faq .panel-default > .panel-heading {
  background: transparent;
  border: 0 none; }
#faq .panel-group .panel {
  border: 0 none;
  margin-bottom: 30px; }
#faq .panel-group .panel-title {
  color: #2c3339;
  font-weight: 600;
  font-size: 20px; }
#faq .panel-group .panel:last-child {
  margin-bottom: 0; }
#faq .panel-group .panel-title:hover {
  color: #7fa662; }
#faq .panel-body {
  background: #f1f1f1; }
#faq .panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #b6b6b6; }

#features-wrapper .intro {
  color: #282f39;
  text-align: center;
  font-weight: normal;
  font-size: 26px;
  margin-top: 0;
  line-height: 34px;
  margin-bottom: 70px; }
@media (max-width: 767px) {
  #features-wrapper .feature {
    margin: 40px 0; } }
#features-wrapper .feature .thumb {
  border: 3px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px #bcbcbc;
  display: block;
  margin: 0 auto 25px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
#features-wrapper .feature h3 {
  font-size: 22px;
  font-weight: 600;
  color: #252b34;
  margin: 16px auto 10px;
  display: block;
  width: 81%; }
  @media (min-width: 768px) and (max-width: 979px) {
    #features-wrapper .feature h3 {
      margin: 0;
      margin-bottom: 20px; } }
#features-wrapper .feature i {
  margin-right: 10px;
  color: #52575f;
  font-size: 25px; }
#features-wrapper .feature .description {
  color: #44474d;
  width: 87%;
  padding-left: 35px; }
  @media (min-width: 768px) and (max-width: 979px) {
    #features-wrapper .feature .description {
      width: 100%;
      padding-left: 0; } }
#features-wrapper .feature2 {
  margin-bottom: 50px;
  position: relative; }
  #features-wrapper .feature2 .icon {
    width: 65px;
    height: 65px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    position: absolute; }
    #features-wrapper .feature2 .icon i {
      font-size: 30px;
      line-height: 65px; }
  #features-wrapper .feature2 p, #features-wrapper .feature2 h4 {
    margin-left: 80px;
    width: 70%; }
  #features-wrapper .feature2 h4 {
    font-weight: 600;
    line-height: 25px;
    color: black; }

.first-section {
    margin-top: 74px;
}

.dark-background {
    background: #00518C;
    text-align: center;
}
.dark-background h1, 
.dark-background h2,
.dark-background h3,
.dark-background h4,
.dark-background h5,
.dark-background h6 {
    color: #fff;
}
.dark-background h2 {
    font-size: 22px;
    margin: 18px 0;
}

.blue-background {
  background: #85DFFC;    
}
.blue-background p {
    color: #00518C;
}
.darkblue-background {
  background: #00518C;    
}
.darkblue-background p {
    color: #fff;
}

.orange-button {
    width: 521px;
    height: 135px;
    text-align: center;
    display: block;
    background: url(../images/orange-button.png) no-repeat top left;
    margin: 20px auto;
    position: relative;
}
.orange-button .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: #FFE1B5;
    display: none;
    border-radius: 10px;
}
.orange-button:hover .overlay, .orange-button:focus .overlay, .orange-button:active .overlay {
    opacity: 0.3;
    display: block;
}
.orange-button.button-small {
    background: url(../images/orange-button-small.png) no-repeat top left;
    width: 376px;
    height: 98px;
    margin: 0;
}
.orange-button strong {
    font-size: 47px;
    font-weight: bold;
    color: #fff;
    border-bottom: 2px solid #fff;
    line-height: 1.8;
}
.orange-button.button-small strong {
    font-size: 34px;
}
.orange-button span {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    display: block;
    line-height: 1;
}
.orange-button.button-small span {
    font-size: 14px;
}
  
.intro {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 70px;
  margin: 0; }
  @media (max-width: 767px) {
    .intro { } }
  .intro .row {
    text-align: center; }
  .intro h1 {
    color: #252b33;
    margin: 80px auto 100px;
    width: 70%;
    font-size: 35px; }
    @media (min-width: 991px) {
      .intro h1 {
        line-height: 41px; } }
    @media (max-width: 767px) {
      .intro h1 {
        width: 90%;
        margin: 80px auto 90px;
        font-size: 30px; } }
    .intro h1 span {
      font-weight: 600; }
  .intro .img {
    width: 51%;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .intro .img {
        width: 95%; } }
    @media (max-width: 700px) {
        .intro object, .intro object embed {
            width: 90% !important;
            height: auto !important;
        }
        .intro img.arrow-left {
            display: none !important;
        }
        .orange-button {
            transform: scale(0.7, 0.7) !important;
        }
    }
    @media (max-width: 500px) {
        .orange-button {
            margin-left: -25px;
        }
    }
    
.intro h2 {
    color: #00518C;
    font-size: 28px;
    font-weight: bold;
    margin: 30px 0;
}
.intro img.arrow-left {
    display: block;
    margin: -20px -30px -90px 125px;
}
.intro iframe, .intro embed {
    background: #61CCEE;
}

/* About us */
#aboutus .text {
  margin-top: 20px; }
  @media (max-width: 767px) {
    #aboutus .text {
      margin-bottom: 50px; } }
  #aboutus .text h3 {
    font-size: 34px;
    width: 80%;
    color: #263039;
    margin: 0 0 23px 0; }
  #aboutus .text p {
    line-height: 24px; }
  #aboutus .text .btn {
    margin-top: 34px; }
#aboutus .img {
  text-align: center; }
  #aboutus .img img {
    display: inline-block; }

/* Features */
#features p {
    color: #002F5F;
    text-align: center;
    font-size: 22px;
}
#features {
    padding-top: 80px;
}
.steps header h2 {
    font-size: 30px;
    color: #00518C;
    font-weight: bold;
}
.steps header h3 {
    font-size: 32px;
    color: #00518C;
    font-weight: bold;
}
.steps header p {
    font-size: 20px;
    color: #00518C;
    margin: 15px 0;
}
.block#tabfu p {
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    margin: 0 0 25px;
    line-height: 1.3;
}
#tabfu header img {
    margin: 0 auto;
}
#tabfu .arrow {
    float: left;
    margin-left: 10px;
}
#tabfu .orange-button {
    float: left;
}
.features-list {
    width: 800px;
    margin: 0 auto;
    list-style-type: none;
}
.features-list li {
    float: left;
    width: 330px;
    margin: 25px;
}
.features-list li p {
    margin-left: 35px;
    font-size: 20px;
}
.features-list li p,
.features-list li img {
    float: left;
    line-height: 64px;
}
@media (min-width: 1200px) {
  #features .container {
    width: 1000px; } }
#features .row {
  margin-bottom: 65px; }
  #features .row:last-child {
    margin-bottom: 0; }
  #features .row.to-right .info {
    float: left; }
  #features .row.to-right .pic {
    float: right; }
    @media (min-width: 992px) {
      #features .row.to-right .pic img {
        float: right; } }
  #features .row header {
    margin-bottom: 65px; }
  #features .row h3 {
    margin-bottom: 20px; }
  @media (max-width: 991px) {
    #features .row .pic img {
      margin: 0 auto; } 
    #features p {
        font-size: 19px;
    }
  }
  @media (max-width: 820px) {
      #features .features-list {
          width: 90%;
      }
  }
  @media (max-width: 768px) {
      .features-list li {
        width: 275px;
      }
      #features p {
          font-size: 16px;
      }
  }
  @media (max-width: 510px) {
      #tabfu .arrow {
          display: none;
      }
  }
  
@media (min-width: 768px) and (max-width: 991px) {
    .block#tabfu p {
        font-size: 24px;
    }
    .block#tabfu div > img.arrow {
        display: none;
    }
}
@media (max-width: 991px) {
    .orange-button {
        -ms-transform: scale(0.8,0.8); /* IE 9 */
        -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
        transform: scale(0.8,0.8);
    }
    .intro img.arrow-left {
        margin-left: 0;
    }
}
  
  
/* Projects */
#projects {
  background: #fff; }
  .project .img {
    margin-bottom: 10px;
    position: relative;
    display: inline-block; }
    .project .img .hover {
      position: absolute;
      background: rgba(142, 179, 81, 0.5);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      transition: all 0.1s linear; }
      .project .img .hover span {
        left: 35%;
        color: white;
        font-size: 113px;
        line-height: 39px;
        position: relative;
        top: 40%;
        font-weight: 200; }
        @media (min-width: 768px) and (max-width: 979px) {
          .project .img .hover span {
            font-size: 65px; } }
  .project .title {
    font-weight: bold;
    color: #888;
    display: block;
    font-size: 14px; }
  #features .project p {
    font-style: italic;
    font-size: 14px;
    color: #888;
    text-align: left; }
  .project a:hover .hover {
    opacity: 1; }
  
#makethem h2 {
    position: relative;
    width: 880px;
    height: 50px;
    margin: 0 0 0 50px;
    text-align: center;
}
#makethem h2 strong {
    background: #85DFFC;
    color: #fff;
    padding: 0 10px;
    width: 550px;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    display: inline-block;
    top: -20px;
    left: 50%;
    margin-left: -275px;
}
#makethem h2 span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    border-top: 4px solid #fff;
}
#makethem ul {
    width: 880px;
    list-style-type: none;
    margin: 0 0 0 50px;
    padding: 0 0 30px;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
}
#makethem ul li {
    padding: 0 0 0 70px;
    margin-left: -34px;
    font-size: 26px;
    font-weight: bold;
    color: #00518C;
    line-height: 64px;
    background: url(../images/tick.png) no-repeat top left;
}
@media (max-width: 991px) {
    #makethem h2, #makethem ul.ticks-list {
        width: 90%;
    }
    #makethem ul.ticks-list li {
        font-size: 21px;
    }
}
@media (max-width: 700px) {
    #makethem h2 strong {
        font-size: 30px;
        width: 410px;
        margin-left: -205px;
        top: -15px;
    }
}
@media (max-width: 500px) {
    #makethem h2 strong {
        font-size: 20px;
        width: 300px;
        margin-left: -150px;
        top: -10px;
    }
}

#wantto {
    text-align: center;
    padding: 30px 0;
}
#wantto h2 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 30px;
}
#wantto p {
    font-size: 20px;
    font-weight: normal;
}
#wantto img {
    margin: 0 auto 40px;
}

#once {
    padding: 30px 0;
}
#once p {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

#step2 {
    text-align: center;
}
#step2 header {
    margin-bottom: 20px;
}
#step2 header h3 {
    margin-top: 10px;
}
#step2 header p,
#finished header p {
    font-weight: bold;
    margin-top: 25px;
}
#step2 img {
    margin: 20px auto;
}
#step2 p {
    font-size: 20px;
    color: #00518C;
    margin: 15px 0;
}

#step3 {
    text-align: center;
}
#step3 h2 {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 25px;
}
#step3 p {
    font-size: 20px;
}
.feature-box {
    background: #fff url(../images/feature-box.png) no-repeat top left;
    width: 809px;
    min-height: 166px;
    font-size: 18px;
    line-height: 41px;
    text-align: left;
    color: #00518C;
    padding: 25px 25px 25px 175px;
    margin: 20px auto;
    border-radius: 10px;
}
@media (max-width: 991px) {
    .feature-box {
        width: 90%;
        font-size: 13px;
    }
}

#finished header p {
    text-align: center;
}
#finished p {
    text-align: left;
    font-size: 20px;
    margin: 20px 0;
    color: #00518C;
}

/* Pricing */
#pricing .row {
  margin-top: 78px; }
#pricing .price-box {
  border: 1px solid #e7e7e7;
  margin: 0 auto;
  background: #fff;
  display: block;
  width: 90%;
  padding-bottom: 13px; }
  @media (min-width: 979px) and (max-width: 1200px) {
    #pricing .price-box {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 979px) {
    #pricing .price-box {
      width: 100%;
      margin: 0 0 20px 0; } }
  @media (max-width: 767px) {
    #pricing .price-box {
      width: 100%; } }
  #pricing .price-box header {
    background: #0266A3;
    padding: 20px 30px;
    color: #fff;
    margin-bottom: 0px;
    width: 100%;
    display: inline-block; }
    #pricing .price-box header span {
      font-style: italic;
      font-size: 20px;
      float: right;
      margin-bottom: 0;
      line-height: 26px; }
    #pricing .price-box header .price {
      float: left;
      width: 100%; }
      #pricing .price-box header .price p {
        font-size: 55px;
        float: left;
        line-height: 75px; }
      #pricing .price-box header .price span {
        font-size: 19px;
        float: none;
        margin:  0;
        font-weight: 400; }
        @media (min-width: 768px) and (max-width: 979px) {
          #pricing .price-box header .price span {
            margin-top: 5px; } }
  #pricing .price-box .text {
    padding: 15px 31px 20px;
    font-weight: 400;
    line-height: 21px;
    font-size: 16px; }
  #pricing .price-box .perk {
    color: #7A8289;
    padding: 12px 0;
    border-bottom: 1px solid #F3F3F3; }
    #pricing .price-box .perk .content {
      margin: 0 auto;
      font-size: 13px;
      text-align: center;
      width: 80%; }
  #pricing .price-box .btn {
    display: block;
    margin: 30px auto 0;
    width: 160px;
    text-transform: uppercase; }
#pricing .price-pro {
  position: relative;
  top: -33px;
  box-shadow: 1px 1px 2px 0px rgba(66, 66, 66, 0.1); }
  @media (min-width: 768px) and (max-width: 979px) {
    #pricing .price-pro {
      top: 0; } }
  @media (max-width: 767px) {
    #pricing .price-pro {
      top: 0; } }
  #pricing .price-pro header span {
    font-weight: 400; }
#pricing .cols4 .price-box {
  min-height: 395px;
  width: 100%; }
  #pricing .cols4 .price-box header .price p {
    font-size: 50px;
    line-height: 65px; }
    @media (min-width: 979px) and (max-width: 1200px) {
      #pricing .cols4 .price-box header .price p {
        font-size: 40px; } }
  #pricing .cols4 .price-box header .price span {
    margin: 31px 0 0 12px; }

/* Action call */
#action-call {
  padding: 20px 0; }
  @media (max-width: 767px) {
    #action-call {
      text-align: center; } }
  #action-call .box {
    padding: 18px 0;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 0px 0px rgba(26, 26, 26, 0.15);
    display: inline-block; }
    @media (max-width: 767px) {
      #action-call .box {
        float: none;
        display: inline-block; } }
    #action-call .box .content {
      margin: 0 auto;
      width: 68%; }
      @media (min-width: 768px) and (max-width: 979px) {
        #action-call .box .content {
          width: 85%; } }
    #action-call .box p {
      font-weight: 400;
      font-size: 26px;
      float: left;
      margin: 4px 0 0 0; }
      @media (max-width: 767px) {
        #action-call .box p {
          margin-bottom: 20px; } }
    #action-call .box .btn {
      float: right;
      font-size: 22px;
      padding: 5px 31px;
      font-weight: 300; }
      @media (max-width: 767px) {
        #action-call .box .btn {
          float: none; } }

#workswith, #enterdojo, .ejcontent, #enterdojo .ejcontent p {
    text-align: center;
}
#workswith img {
    margin: 0 auto;
}
.ejcontent .orange-button {
    display: inline-block;
}
#enterdojo .ejcontent p img {
    display: block;
    margin: 15px auto 10px;
}
@media (max-width: 991px) {
    #enterdojo .col-md-3 img {
        display: none;
    }
    #enter img, #enter .orange-button {
        margin: 0 auto 15px;
        display: block;
    }
}
      
/* Clients */
#clients header {
  float: left;
  width: auto;
  margin-bottom: 0; }
  #clients header h2 {
    font-size: 35px; }
  #clients header .line {
    width: 100%; }
#clients .client {
  margin-top: 23px;
  text-align: center; }
  #clients .client img {
    opacity: 0.27;
    display: inline-block;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
    #clients .client img:hover {
      opacity: 1; }

#portfolio .photo {
  border: 1px solid #dddddd;
  box-shadow: none;
  background-color: white;
  margin-bottom: 40px;
  padding: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear; }
  #portfolio .photo .pic {
    position: relative; }
  #portfolio .photo .see_more {
    position: absolute;
    top: 37%;
    left: 42%;
    opacity: 0;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear; }
  #portfolio .photo h3, #portfolio .photo p {
    padding: 0px 15px; }
  #portfolio .photo .pic:hover .see_more {
    opacity: 1; }
#portfolio .photo:hover {
  box-shadow: 0px 0px 7px 0px #8cbe5b; }

#box-sign {
  margin: 110px 0; }
  #box-sign .box {
    margin: 0 auto;
    width: 35%;
    overflow: hidden;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 4px 4px 4px 4px;
    padding: 0 0 14px 0;
    margin-bottom: 25px;
    box-shadow: 0px 0px 10px 0px #dddddd; }
    @media (min-width: 979px) and (max-width: 1200px) {
      #box-sign .box {
        width: 50%; } }
    @media (min-width: 768px) and (max-width: 979px) {
      #box-sign .box {
        width: 50%; } }
    @media (max-width: 767px) {
      #box-sign .box {
        width: 80%; } }
    #box-sign .box .head {
      background-color: #f4f4f4;
      border-bottom: 1px solid #d6d6d6;
      border-radius: 4px 4px 1px 0;
      display: inline-block;
      margin-bottom: 37px;
      padding: 25px 0 25px;
      text-align: center;
      width: 100%; }
      #box-sign .box .head h6 {
        font-weight: normal;
        color: #373d44;
        font-size: 21px;
        margin: 0px; }
    #box-sign .box .form {
      margin: 0 auto;
      text-align: center;
      width: 90%; }
      #box-sign .box .form .form-group {
        margin-bottom: 20px; }
      #box-sign .box .form .form-control {
        line-height: 17px;
        height: 40px; }
      #box-sign .box .form .form-control:-moz-placeholder {
        color: rgba(0, 0, 0, 0.3);
        font-style: italic;
        font-size: 18px;
        font-weight: 600; }
      #box-sign .box .form .form-control::-moz-placeholder {
        color: rgba(0, 0, 0, 0.3);
        font-style: italic;
        font-size: 18px;
        font-weight: 600; }
      #box-sign .box .form .form-control:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.3);
        font-style: italic;
        font-size: 18px;
        font-weight: 600; }
      #box-sign .box .form .form-control::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.3);
        font-style: italic;
        font-size: 18px;
        font-weight: 600; }
      #box-sign .box .form .btn {
        margin-top: 20px; }
    #box-sign .box .social {
      margin: 0 auto;
      width: 83%; }
      #box-sign .box .social .face-login {
        border: 1px solid #3b4868;
        border-radius: 3px;
        display: inline-block;
        background: #39599f;
        text-align: center;
        padding: 8px 0;
        width: 100%;
        position: relative;
        box-shadow: -1px 1px 1px 0px rgba(255, 255, 255, 0.2) inset, 1px -1px 0px 0px rgba(0, 0, 0, 0.15) inset; }
        #box-sign .box .social .face-login i, #box-sign .box .social .face-login span {
          color: #fff; }
        #box-sign .box .social .face-login i {
          position: absolute;
          left: 7%;
          font-size: 26px;
          top: 8px;
          text-shadow: 1px 1px 0 #1a2f5e; }
        #box-sign .box .social .face-login span {
          font-size: 18px;
          font-weight: 600;
          text-shadow: 1px 1px 0 #1a2f5e; }
      #box-sign .box .social .division {
        display: inline-block;
        margin: 17px 0 23px;
        position: relative;
        text-align: center;
        width: 100%; }
        #box-sign .box .social .division hr {
          border-color: #e2e2e4;
          border-width: 2px;
          margin: 0;
          position: absolute;
          width: 40%; }
        #box-sign .box .social .division hr:first-child {
          top: 13px; }
        #box-sign .box .social .division hr:last-child {
          bottom: 6px;
          right: 0; }
    #box-sign .box .remember {
      display: inline-block;
      margin: 7px 0;
      width: 90%; }
      #box-sign .box .remember .checkbox {
        float: left;
        margin: 5px 0 0 0; }
      #box-sign .box .remember .forgot {
        color: #7ea05e;
        float: right;
        line-height: 16px;
        margin: 7px 0 0 0;
        font-size: 14px; }
      #box-sign .box .remember .forgot:hover {
        text-decoration: underline; }
  #box-sign .already {
    text-align: center;
    font-size: 13px; }
    #box-sign .already a {
      color: #263039;
      margin-left: 5px;
      font-size: 14px; }
      #box-sign .already a:hover {
        color: #8fc25d; }
  #box-sign .reset .head h6 {
    font-weight: normal;
    color: #373d44;
    font-size: 17px;
    margin: 0px auto;
    width: 82%; }

  
/** MODALS **/

.modal-overlay {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/blackout.png) repeat;
    z-index: 9999;
}

.login-modal {
    position: absolute;
    background: url(../images/login-form.png) no-repeat;
    width: 515px;
    height: 403px;
    padding: 1px 2px 25px 25px;
    margin-left: -257px;
    /* margin-top: -288px; */
    top: 20%; /* 50%; */
    left: 50%; 
}

.login-modal .header {
    height: 65px;
    position: relative;
    text-align: center;
    line-height: 65px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.login-modal .header strong {
    text-decoration: underline;
    text-transform: uppercase;
}
.login-modal .header a.close-window {
    position: absolute;
    width: 30px;
    height: 30px;
    text-indent: -999999px;
    top: -10px;
    right: -12px;
    background: url(../images/close-30x30.png) no-repeat;
}
.login-modal .login-button {
    display: block;
    width: 390px;
    height: 76px;
    margin: 30px auto;
    overflow: hidden;
    text-indent: -3000em;
}
.login-modal .login-facebook {
    background: url(../images/login-facebook.png) no-repeat;
}
.login-modal .login-email {
    background: url(../images/login-email.png) no-repeat;
}
.login-modal .login-button:hover, 
.login-modal .login-button:active,
.login-modal .login-button:focus {
    opacity: 0.8;
}
.login-modal p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #00518C;
}
.login-modal p a {
    text-decoration: underline;
}

.login-modal form input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
.login-modal form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    opacity:  1;
}
.login-modal form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    opacity:  1;
}
.login-modal form input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}
.login-modal form input {
    border: 0 none;
    margin: 13px auto;
    font-size: 25px;
    font-weight: bold;
    display: block;
    width: 390px;
    height: 76px;
    padding: 0 0 0 100px;
    color: #fff;
}
.login-modal form input[type=email] {
    background: url(../images/email.png) no-repeat;
}
.login-modal form input[type=password] {
    background: url(../images/password.png) no-repeat;
}
.login-modal form input[type=submit] {
    background: url(../images/submit.png) no-repeat;
    padding: 0;
    font-size: 30px;
    text-decoration: underline;
    text-transform: uppercase;
}
.login-modal form input[type=submit]:hover,
.login-modal form input[type=submit]:active,
.login-modal form input[type=submit]:focus {
    opacity: 0.8;
}
.login-modal form p {
    font-size: 12px;
    font-weight: normal;
}