body {
    background: #00518c;
}

#adjust-button-modal {
    position: absolute;
    background: url(images/edit-button-bg.png) no-repeat;
    width: 394px;
    height: 550px;
    padding: 2px 2px 25px 25px;
    margin-left: -210px;
    /* margin-top: -288px; */
    top: 20%; /* 50%; */
    left: 50%; 
}

#adjust-button-modal #header {
    height: 65px;
    position: relative;
}

#adjust-button-modal #header span.move-modal {
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 15px;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

#adjust-button-modal #header a.close-window {
    position: absolute;
    width: 30px;
    height: 30px;
    text-indent: -999999px;
    top: -10px;
    right: -12px;
    background: url(images/close-30x30.png) no-repeat;
}

#adjust-button-modal .content {
    height: 428px;
    position: relative;
}

#adjust-button-modal .content .destination-url {
    position: relative;
    height: 58px;
}

#adjust-button-modal .content .destination-url > .input-url {
    width: 320px;
    height: 41px;
    border: 0;
    background: transparent;
    position: absolute;
    top: 5px;
    left: 39px;
    padding-left: 15px;
    line-height: 45px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 14px;
    font-style: italic;
}

#adjust-button-modal .content .editor-widget {
    height: 192px;
    width: 373px;
    margin-left: 10px;
}

#adjust-button-modal .content .color-picker {
    width: 182px;
    height: 165px;
    position: absolute;
    bottom: 0px;
    left: 10px;
}

#adjust-button-modal .content .icon-add {
    width: 182px;
    height: 165px;
    position: absolute;
    bottom: 0px;
    right: 10px;
}

#adjust-button-modal .content .load-icon-link {
    display: block;
    width: 59px;
    height: 58px;
    background: url(images/plus.png) no-repeat;
    text-indent: -99999px;
    margin-top: 65px;
    margin-left: 59px;
}

#adjust-button-modal #footer {
    height: 58px;
    position: relative;
}

#adjust-button-modal #footer .ok-button {
    display: block;
    width: 90px;
    height: 39px;
    text-indent: -999999px;
    position: absolute;
    right: 12px;
    bottom: 9px;
    background: url(images/ok-button.png) no-repeat;
}

#adjust-button-modal .content .destination-url > .input-url::-webkit-input-placeholder { /* WebKit browsers */
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 14px;
    font-style: italic;
}
#adjust-button-modal .content .destination-url > .input-url:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 14px;
    font-style: italic;
}
#adjust-button-modal .content .destination-url > .input-url::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 14px;
    font-style: italic;
}
#adjust-button-modal .content .destination-url > .input-url:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 14px;
    font-style: italic;
}