html, body {
    margin: 0;
    padding: 0;
}

div.clearfix {
    clear: both;
}

a > img { border: 0; }

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

div.main {
    position: relative;
    width: 1200px;
    height: 627px;
    overflow: hidden;
}

.section-01 {
    background: #003068;
    width: 100%;
    height: 627px;
    padding: 0;
    position: relative;
}

.section-01 .stripe {
    background: url(../img/stripe.png) no-repeat top left;
    position: absolute;
    left: 0;
    top: 0;
}

.section-01 .header-bg {
    position: absolute;
    z-index: 2;
    background: #01ABCC;
    bottom: 0;
    left: 0;
    padding: 30px 50px;
}
.section-01 h1,
.section-01 h2,
.section-01 h3,
.section-01 h4,
.section-01 h5,
.section-01 h6,
.section-01 p {
    font-size: 50px;
    color: #fff;
    font-family: Arial, sans-serif;
    white-space: nowrap;
}

.section-01 .computer {
    background: url(../img/computer.png) no-repeat top left;
    width: 740px;
    height: 401px;
    float: right;
    margin: 20px 48px 0 0;
    padding: 34px 34px 171px;
    position: relative;
}
.section-01 .computer img {
    width: 739px;
    height: 401px;
    border-radius: 5px;
}