<!doctype html>
<html>
    <head>

        <title>Template 04</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=810, maximum-scale=1.0">
		
        <script src="resources/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="//connect.facebook.net/en_US/all.js"></script>
        <script>
            FB.init({
                appId: '243962189122234',
                status: false, /* check login status */
                cookie: true, /* enable cookies to allow the server to access the session */
                xfbml: true /* parse XFBML */
            });
        </script>
        <script type="text/javascript">
        var getTotalHeightOfPage = function() {
            return Math.max(
                (document.height) ? document.height : 0,
                Math.max(document.body.scrollHeight, document.documentElement.scrollHeight),
                Math.max(document.body.offsetHeight, document.documentElement.offsetHeight),
                Math.max(document.body.clientHeight, document.documentElement.clientHeight)
            );
        };
        var last_height = 0;
        function sizeChangeCallback() {
            if (typeof(FB) == 'undefined' || typeof(document.body) == 'undefined') return;
            var h = getTotalHeightOfPage();
            if (last_height == h) {
                return;
            }
            h += 20;
            last_height = h;
            FB.Canvas.setSize({ height: h });
        }

        $(window).load(function() {
            window.fbAsyncInit = function() {
                sizeChangeCallback();
            };
            setTimeout(function() { sizeChangeCallback(); }, 800);
        });
        </script>

        <link rel="stylesheet" href="resources/css/style.css">

    </head>
    <body style="overflow:hidden">
        <div id="fb-root"></div>
        {{_tabfu:ImportField:scrollTo:}}
        <div class="main">
            <header id="header">
                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnRvcCIsImFkbWluVGFnIjoiaGVhZGVyLXRvcC1iYWNrZ3JvdW5kIiwiY29sb3IiOiJmZmZmZmYifQ==}}<div class="top" data-admin-tag="header-top-background">
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgxPldFQklOQVIgTkFNRTwvaDE+In0=}}
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgyPlN1YiBIZWFkbGluZSBmb3IgeW91ciBXZWJpbmFyPC9oMj4ifQ==}}
                </div>
                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI2hlYWRlciAuaGVhZGVyLWJvdHRvbSIsImFkbWluVGFnIjoiaGVhZGVyLWJvdHRvbS1iYWNrZ3JvdW5kIiwiY29sb3IiOiI0ZmE3YWEifQ==}}<div class="bottom header-bottom" data-admin-tag="header-bottom-background" style="text-align:center">
                    <div style="display:inline-block">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgzPjxlbT5CeWxpbmUgYWJvdXQgdGhlIGF3ZXNvbWUgc2VjcmV0cyByZXZlYWxlZCBpbiB5b3VyIFdlYmluYXI8XC9lbT48XC9oMz4ifQ==}}</div>
                </div>
                <div class="clearfix"></div>
            </header>
            
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI3NlY3Rpb24tMDEiLCJhZG1pblRhZyI6InNlY3Rpb24tMDEtYmFja2dyb3VuZCIsImNvbG9yIjoiMDAyZjVmIn0=}}<section id="section-01" data-admin-tag="section-01-background">
                
                <div class="movie-background">
                    {{_tabfu:ImportField:video:}}
                </div>
                
                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLmV2ZW50LWJhY2tncm91bmQiLCJhZG1pblRhZyI6ImV2ZW50LWJhY2tncm91bmQiLCJjb2xvciI6Ijg0ZTllYyJ9}}<div class="event-background" data-admin-tag="event-background">
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgzPkZSRUUgT05MSU5FIEVWRU5UIFJFVkVBTFMgQUxMPC9oMz4ifQ==}}
                    <span class="access-data">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGVtPkFjY2VzcyBpcyBsaW1pdGVkPC9lbT4ifQ==}}</span>
                </div>
                <div class="clearfix"></div>
            </section>
            
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI3NlY3Rpb24tMDIiLCJhZG1pblRhZyI6InNlY3Rpb24tMDItYmFja2dyb3VuZCIsImNvbG9yIjoiMDAyZjVmIn0=}}<section id="section-02" data-admin-tag="section-02-background">
                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnJlZ2lzdGVyLWVsZW1lbnQgLmhlYWRlciwgLnJlZ2lzdGVyLWVsZW1lbnQgLmNvbnRlbnQiLCJhZG1pblRhZyI6InJlZ2lzdGVyLWVsZW1lbnQtYmFja2dyb3VuZCIsImNvbG9yIjoiNGZhN2FhIn0=}}<div class="register-element" data-admin-tag="register-element-background">
                    
                    <div class="header">
                        <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiUmVnaXN0ZXIgbm93ISJ9}}</span>
                    </div>
                    
                    <div class="content">
                        <div class="column-01">
                            <div class="calendar">
                                <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiMTMifQ==}}</span>
                            </div>
                        </div>
                        <div class="column-02">
                            <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiSXRcdTIwMTlzIEhhcHBlbmluZzxiciBcLz4gVEhJUyBGcmlkYXk8YnIgXC8+KGluc2VydCBkYXRlKSBhdC4uIn0=}}</span>
                        </div>
                        <div class="column-03">
                            <div class="time"></div>
                        </div>
                        <div class="column-04">
                            <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiMVBNIFBhY2lmaWM8YnIgXC8+MlBNIE1vdW50aWFuPGJyIFwvPjNQTSBDZW50cmFsPGJyIFwvPjRQTSBFYXN0ZXJuIn0=}}</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div style="clear: both;"></div>
                <div class="arrow-left">
                    {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9sZWZ0LWFycm93LnBuZyIsImFsdCI6IiJ9}}
                </div>
                
                {{_tabfu:ImportField:template04Gate:}}
                
                <div class="arrow-right">
                    {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9yaWdodC1hcnJvdy5wbmciLCJhbHQiOiIifQ==}}
                </div>
                <div class="clearfix"></div>
            </section>
            
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI3NlY3Rpb24tMDMiLCJhZG1pblRhZyI6InNlY3Rpb24tMDMtYmFja2dyb3VuZCIsImNvbG9yIjoiZmZmZmZmIn0=}}<section id="section-03" data-admin-tag="section-03-background">
                <div class="top">
                    <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRnVydGhlciBjb21wZWxsaW5nIGluZm9ybWF0aW9uIGFib3V0IHlvdXIgV2ViaW5hci4gRnVydGhlciBjb21wZWxsaW5nIGluZm9ybWF0aW9uIGFib3V0IHlvdXIgV2ViaW5hci4gRnVydGhlciByZWFsbHkgY29tcGVsbGluZyBpbmZvcm1hdGlvbiBhYm91dCB5b3VyIFdlYmluYXIuIn0=}}</span>
                </div>
                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLmJvdHRvbSIsImFkbWluVGFnIjoic2VjdGlvbi0wMy1ib3R0b20tYmFja2dyb3VuZCIsImNvbG9yIjoiNGZhN2FhIn0=}}<div class="bottom" data-admin-tag="section-03-bottom-background">
                    <span>
                        {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiU3RhdGVtZW50IG9mIHlvdXIgZXhwZXJ0aXNlIGFuZCBtb3JlIGluZm9ybWF0aW9uIGxlYWRpbmcgaW50byB0aGUgYmVsb3cga2V5IHBvaW50cyBjb3ZlcmVkLiBTdGF0ZW1lbnQgb2YgeW91ciBleHBlcnRpc2UgYW5kIG1vcmUgaW5mb3JtYXRpb24gbGVhZGluZyBpbnRvIHRoZSBiZWxvdyBrZXkgcG9pbnRzIGNvdmVyZWQuIn0=}}
                    </span>
                </div>
                <div class="clearfix"></div>
            </section>
            
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI3NlY3Rpb24tMDQiLCJhZG1pblRhZyI6InNlY3Rpb24tMDQtYmFja2dyb3VuZCIsImNvbG9yIjoiZmZmZmZmIn0=}}<section id="section-04" data-admin-tag="section-04-background">
                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLmhlYWRlciIsImFkbWluVGFnIjoic2VjdGlvbi0wNC1oZWFkZXItYmFja2dyb3VuZCIsImNvbG9yIjoiNGZhN2FhIn0=}}<div class="header" data-admin-tag="section-04-header-background">
                    <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiT04gVEhJUyBXRUJJTkFSIFlPVSBXSUxMIExFQVJOLi4uIn0=}}</span>
                </div>
                
                <div class="content-features">
                    <div class="feature-element">
                        <span class="pink-tick">{{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9waW5rLXRpY2sucG5nIiwiYWx0IjoiIn0=}}</span>
                        <span class="content-tick">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiQXdlc29tZSBmZWF0dXJlIG51bWJlciBvbmUgYW5kIGFuZCBob3cgaXQgd2lsbCBiZW5lZml0IHRoZSB1c2VyIHRvIGEgZ3JlYXQgZXh0ZW50LiJ9}}</span>
                    </div>
                    <div class="feature-element">
                        <span class="pink-tick">{{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9waW5rLXRpY2sucG5nIiwiYWx0IjoiIn0=}}</span>
                        <span class="content-tick">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiQXdlc29tZSBmZWF0dXJlIG51bWJlciBvbmUgYW5kIGFuZCBob3cgaXQgd2lsbCBiZW5lZml0IHRoZSB1c2VyIHRvIGEgZ3JlYXQgZXh0ZW50LiJ9}}</span>
                    </div>
                    <div class="feature-element">
                        <span class="pink-tick">{{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9waW5rLXRpY2sucG5nIiwiYWx0IjoiIn0=}}</span>
                        <span class="content-tick">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiQXdlc29tZSBmZWF0dXJlIG51bWJlciBvbmUgYW5kIGFuZCBob3cgaXQgd2lsbCBiZW5lZml0IHRoZSB1c2VyIHRvIGEgZ3JlYXQgZXh0ZW50LiJ9}}</span>
                    </div>
                    <div class="feature-element">
                        <span class="pink-tick">{{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9waW5rLXRpY2sucG5nIiwiYWx0IjoiIn0=}}</span>
                        <span class="content-tick">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiQXdlc29tZSBmZWF0dXJlIG51bWJlciBvbmUgYW5kIGFuZCBob3cgaXQgd2lsbCBiZW5lZml0IHRoZSB1c2VyIHRvIGEgZ3JlYXQgZXh0ZW50LiJ9}}</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
            
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI3NlY3Rpb24tMDUiLCJhZG1pblRhZyI6InNlY3Rpb24tMDUtYmFja2dyb3VuZCIsImNvbG9yIjoiMDAyZjVmIn0=}}<section id="section-05" data-admin-tag="section-05-background">
                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLmhvdy1yZWdpc3RlciIsImFkbWluVGFnIjoic2VjdGlvbi0wNS1ob3ctcmVnaXN0ZXItYmFja2dyb3VuZCIsImNvbG9yIjoiNGZhN2FhIn0=}}<div class="how-register" data-admin-tag="section-05-how-register-background">
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgyPjxzdHJvbmc+PGVtPkhvdyBkbyBJIHJlZ2lzdGVyPzwvZW0+PC9zdHJvbmc+PC9oMj4ifQ==}}
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgzPjxzdHJvbmc+PGVtPlNpbXBseSBjbGljayB0aGUgYnV0dG9uIGJlbG93PC9lbT48L3N0cm9uZz48L2gzPiJ9}}
                </div>
                
                <div class="left-bottom-arrow">
                    {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9ib3R0b20tbGVmdC1hcnJvdy5wbmciLCJhbHQiOiIifQ==}}
                </div>
                <div class="left-top-arrow">
                    {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9ib3R0b20tYi1hcnJvdy5wbmciLCJhbHQiOiIifQ==}}
                </div>
                
                {{_tabfu:ImportField:template04Gate:}}
                
                <div class="right-bottom-arrow">
                    {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9ib3R0b20tcmlnaHQtYXJyb3cucG5nIiwiYWx0IjoiIn0=}}
                </div>
                <div class="clearfix"></div>
            </section>
            
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI2Zvb3RlciIsImFkbWluVGFnIjoiZm9vdGVyLWJhY2tncm91bmQiLCJjb2xvciI6ImZmZmZmZiJ9}}<footer id="footer" data-admin-tag="footer-background">
                <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRGlzY2xhaW1lciBhbmQgb3RoZXIgaW1wb3J0YW50IGxlZ2FsIGluZm9ybWF0aW9uIGFib3V0IHlvdXIgY29tcGFueS4ifQ==}}</span>
                <div class="clearfix"></div>
            </footer>
        </div>
    </body>
</html>