html, body {
    width: 810px;
    margin: 0 auto;
    padding: 0;
}

div.clearfix {
    clear: both;
}

a > img { border: 0; }

p {
    margin: 0;
}

div.main {
    position: relative;
    width: 810px;
    margin: 0 auto;
    background: #2b3848;
    min-height: 500px;
}

#header {
    /*height: 101px;*/
    background: url(../img/header-bg.png) repeat-x;
    padding-top: 4px;
}

#header .left {
    float: left;
    width: 355px;
    padding-left: 45px;
}

#header .left .logo {
    display: table-cell;
    vertical-align: middle;
    height: 101px;
}

#header .right {
    float: right;
}

#header .right nav ul {
    margin: 0;
    padding: 0;
}

#header .right nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 25px;
    margin-top: 10px;
}

#header .right nav ul li a {
    font-family: "Open Sans", Arial, Helvetica;
    color: #2778bd;
    font-size: 12px;
    text-decoration: none;
}

#header .right nav ul li a:hover, 
#header .right nav ul li.active a {
    color: #222222;
}

/* # # # */

.section-01 {
    /*height: 528px;*/
    background: url(../img/bg-section-01.jpg) repeat;
}

.section-01 .top {
    height: 54px;
    background: #153559;
}

.section-01 .top #menu {
    width: 473px;
    float: left;
    padding-left: 54px;
}

.section-01 .top #menu nav ul {
    margin: 0;
    padding: 0;
}

.section-01 .top #menu nav ul li {
    display: inline-block;
    width: 90px;
    text-align: center;
}

.section-01 .top #menu nav ul li a {
    display: block;
    margin: 0 auto;
    font-family: "Open Sans", Arial, Helvetica;
    color: #58c4ed;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.52);
    font-weight: bold;
    text-decoration: none;
    width: 80px;
    line-height: 54px;
}

.section-01 .top #menu nav ul li a:hover,
.section-01 .top #menu nav ul li.active a {
    color: #fff;
    background: url(../img/menu-shape.png) no-repeat;
    background-position: 50% 0;
}
 
.section-01 .top .search {
    float: right;
    width: 240px;
    height: 40px;
    margin-top: 7px;
    background: #0a2a4e;
    margin-right: 33px;
    position: relative;
}

.section-01 .top .search input[type=text] {
    width: 198px;
    height: 40px;
    font-family: "Open Sans", Arial, Helvetica;
    color: #2778bd;
    background: transparent;
    font-style: italic;
    border: 0;
    margin: 0;
    padding: 0 0 0 12px;
}

.section-01 .top .search input.submit-button {
    width: 25px;
    height: 25px;
    background: url(../img/lens.png) no-repeat;
    border: 0;
    position: absolute;
    right: 7px;
    top: 8px;
    display: block;
    cursor: pointer;
}

.section-01 .content {
   padding: 60px 30px 50px 10px;
}

.section-01 .content .left {
    float: left;
    width: 330px;
}

.section-01 .content .right {
    float: left;
    width: 410px;
    margin-left: 30px;
}

.section-01 .content .right .description span {
    font-family: "Open Sans", Arial, Helvetica;
    font-size: 18px;
    color: #58c4ed;
    font-style: italic;
}

.section-01 .content .right .title h1 {
    font-family: "Open Sans", Arial, Helvetica;
    font-size: 36px;
    color: #fff;
    line-height: 40px;
    margin: 27px 0 30px 0;
}

.section-01 .content .right .button {
    cursor: pointer;
}
.section-01 .content .right .button a.blue-link {
    display: block;
    background: #0d527d;
    border: 3px solid #58c4ed;
    border-radius: 3px;
    width: 209px;
    height: 57px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    font-family: "Open Sans", Arial, Helvetica;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 57px;
}

.section-01 .top .search input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
    font-family: "Open Sans", Arial, Helvetica;
    color: #2778bd;
}
.section-01 .top .search input[type=text]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: "Open Sans", Arial, Helvetica;
    color: #2778bd;
}
.section-01 .top .search input[type=text]::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: "Open Sans", Arial, Helvetica;
    color: #2778bd;
}
.section-01 .top .search input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: "Open Sans", Arial, Helvetica;
    color: #2778bd;
}


/* # # # */

.section-02 {
    /*height: 112px;*/
    background: #dc6d10;
    padding-bottom: 30px;
}

.section-02 .left {
    width: 272px;
    float: left;
    padding-left: 50px;
    padding-top: 28px;
    margin-right: 5px;
}

.section-02 .left h2 {
    font-family: "Open Sans", Arial, Helvetica;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.section-02 .left p {
    font-family: "Open Sans", Arial, Helvetica;
    font-size: 15px;
    color: #fff;
    margin: 0;
}

.section-02 .middle {
    float: left;
    width: 282px;
    padding-top: 38px;
}

.section-02 .middle input[type=email] {
    width: 260px;
    height: 40px;
    padding: 0 5px 0 15px;
    background: #8f4405;
    border: 0;
    border-right: 1px solid #9d4b07;
    border-left: 1px solid #bc5c0b;
    font-family: "Open Sans", Arial, Helvetica;
    color: #fff;
    font-size: 20px;
}

.section-02 .right {
    float: left;
    width: 180px;
    margin-left: 10px;
    padding-top: 37px;
}

.section-02 .right .button input {
    display: block;
    background: #dc6d10;
    border: 3px solid #f6912e;
    border-radius: 3px;
    width: 170px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: "Open Sans", Arial, Helvetica;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 30px;
    cursor: pointer;
}

/* # # # */

.section-03 {
    /*height: 578px;*/
    background: #f7fcff;
    border-bottom: 1px solid #e7e8e8;
    padding-bottom: 40px;
}

.section-03 .heading-main {
    padding-top: 68px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.section-03 .heading-main h2 {
    color: #252525;
    font-family: "Open Sans", Arial, Helvetica;
    margin: 0;
    font-size: 36px;
    font-weight: lighter;
    letter-spacing: -1px;
    margin: 0 30px 34px;
}

.section-03 .boxes {
    padding-left: 54px;
}

.section-03 .boxes .box {
    margin-right: 30px;
    width: 152px;
    text-align: center;
    float: left;
}

.section-03 .boxes .box .image {
    margin-bottom: 25px;
}

.section-03 .boxes .box .heading {
    color: #252525;
    font-family: "Open Sans", Arial, Helvetica;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 13px;
}

.section-03 .boxes .box .description {
    color: #7e8385;
    font-family: "Open Sans", Arial, Helvetica;
    font-size: 15px;
    line-height: 20px;
}

/* # # # */

.section-04 {
    border-top: 1px solid #fcfcfc;
    /*height: 576px;*/
    background: #fff;
    border-bottom: #e7e7e7; 
    padding-bottom: 40px;
}

.section-04 .heading-main {
    padding-top: 58px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.section-04 .heading-main h2 {
    color: #252525;
    font-family: "Open Sans", Arial, Helvetica;
    margin: 0;
    font-size: 36px;
    font-weight: lighter;
    letter-spacing: -1px;
    margin-bottom: 50px;
}

.section-04 .features {
    width: 702px;
    margin: 0 auto;
}

.section-04 .features .feature {
    width: 339px;
    min-height: 80px;
    float: left;
    display: inline-block;
    margin-bottom: 10px;
}

.section-04 .features .feature:nth-child(2n-1) {
    margin-right: 20px;
}

.section-04 .features .feature .image {
    float: left;
    width: 100px;
}

.section-04 .features .feature .content {
    float: left;
	width: 239px;
}

.section-04 .features .feature .content .heading {
    font-size: 20px;
    color: #dc6d10;
    font-family: "Open Sans", Arial, Helvetica;
    line-height: 48px;
    padding-top: 15px;
}

.section-04 .features .feature .content .description {
    line-height: 15px;
    color: #aaaaaa;
    font-family: "Open Sans", Arial, Helvetica;
    font-weight: lighter;
}

/* # # # */

.section-05 {
    border-top: 1px solid #f6fafd;
    /*height: 561px;*/
    background: #f7fcff;
    padding-bottom: 40px;
}

.section-05 .heading-main {
    padding-top: 58px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.section-05 .heading-main h2 {
    color: #252525;
    font-family: "Open Sans", Arial, Helvetica;
    margin: 0;
    font-size: 36px;
    font-weight: lighter;
    letter-spacing: -1px;
    margin-bottom: 50px;
}

.section-05 .boxes {
    padding-left: 54px;
}

.section-05 .boxes .box {
    margin-right: 30px;
    width: 152px;
    text-align: center;
    float: left;
}

.section-05 .boxes .box .image {
    margin-bottom: 25px;
}

.section-05 .boxes .box .heading {
    color: #252525;
    font-family: "Open Sans", Arial, Helvetica;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 13px;
}

.section-05 .boxes .box .description {
    color: #7e8385;
    font-family: "Open Sans", Arial, Helvetica;
    font-size: 15px;
    line-height: 20px;
}

/* # # # */

.section-06 {
    /*height: 550px;*/
    background: #0d527d;
    padding: 82px 0 50px;
}

.section-06 .heading-main {
    margin-bottom: 50px;
}

.section-06 .heading-main h2 {
    width: 710px;
    margin: 0 auto;
    text-align: center;
    font-size: 33px;
    font-family: "Open Sans", Arial, Helvetica;
    color: #fff;
    font-weight: lighter;
    line-height: 44px;
    letter-spacing: -1px;
}

.section-06 .content .left {
    margin-right: 10px;
    width: 430px;
    margin-left: 54px;
    float: left;
}

.section-06 .content .left .list-element {
    min-height: 105px;
}

.section-06 .content .left .list-element .check {
    float: left;
    width: 50px;
}

.section-06 .content .left .list-element .content {
    width: 370px;
    float: left;
}

.section-06 .content .left .list-element .content .heading {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    font-family: "Open Sans", Arial, Helvetica;
    color: #fff;
}

.section-06 .content .left .list-element .content .description {
    color: #baecff;
    font-size: 15px;
    line-height: 20px;
    font-family: "Open Sans", Arial, Helvetica;
}

.section-06 .content .left .list-element .content .spacer {
    color: #153559;
    font-size: 15px;
    line-height: 24px;
    font-family: "Open Sans", Arial, Helvetica;
}

.section-06 .content .right {
    float: left;
}

/* # # # */

.section-07 {
    /*height: 165px;*/
    background: #dc6d10;
    padding: 37px 0;
}

.section-07 .order-now {
	text-align: center;
	padding-bottom: 20px;
}
.section-07 .order-now > * {
	display: inline-block;
}

.section-07 .order-now .order-now-button {
    width: 468px;
    height: 72px;
    background: #dc6d10;
    border: 3px solid #f6912e;
    border-radius: 4px;
    display: block;
    text-align: center;
    font-family: "Open Sans", Arial, Helvetica;
    font-size: 34px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    line-height: 72px;
    text-transform: uppercase;
    margin: 0 auto 17px auto;
    cursor: pointer;
}

.section-07 .payments {
    text-align: center;
}

.section-07 .payments > * {
    display: inline-block;
    margin: 0 7px;
}

/* # # # */