<!doctype html>
<html>
    <head>
        <title>Page Like Ad Template</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="stylesheet" href="resources/css/style.css">
    </head>
    <body>
        <div class="main">
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5zZWN0aW9uLTAxIiwiY29sb3IiOiIjODU2MEE5IiwiYWRtaW5UYWciOiJzZWN0aW9uLTAxLWJhY2tncm91bmQifQ==}}
            <div class="section-01 selectable-element" data-admin-tag="section-01-background">
                <div class="content">
                    {{_tabfu:ImportField:imagead:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9hZGQtc2NyZWVuc2hvdC5wbmcifQ==}}
                </div>
                <div class="uptodate">
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgxPlNUQVkgVVAgVE8gREFURTwvaDE+In0=}}
                </div>
                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5jbGljayIsImNvbG9yIjoiI0Y3OTQxRCIsImFkbWluVGFnIjoiY2xpY2stYmFja2dyb3VuZCJ9}}
                <div class="click selectable-element" data-admin-tag="click-background">
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgyPkNMSUNLIExJS0UgQkVMT1chPC9oMj4ifQ==}}
                </div>
                <div class="arrow">
                    {{_tabfu:ImportField:imagead:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9hcnJvdy5wbmcifQ==}}
                </div>
            </div>
        </div>
    </body>
</html>