<!doctype html>
<html>
    <head>

        <title>Template 11</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=810, maximum-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <script src="resources/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="//connect.facebook.net/en_US/all.js"></script>
        <script>
            FB.init({
                appId: '243962189122234',
                status: false, /* check login status */
                cookie: true, /* enable cookies to allow the server to access the session */
                xfbml: true /* parse XFBML */
            });
        </script>
        <script type="text/javascript">
        var getTotalHeightOfPage = function() {
            return Math.max(
                (document.height) ? document.height : 0,
                Math.max(document.body.scrollHeight, document.documentElement.scrollHeight),
                Math.max(document.body.offsetHeight, document.documentElement.offsetHeight),
                Math.max(document.body.clientHeight, document.documentElement.clientHeight)
            );
        };
        var last_height = 0;
        function sizeChangeCallback() {
            if (typeof(FB) == 'undefined' || typeof(document.body) == 'undefined') return;
            var h = getTotalHeightOfPage();
            if (last_height == h) {
                return;
            }
            h += 20;
            last_height = h;
            FB.Canvas.setSize({ height: h });
        }
		
        $(window).load(function() {
            window.fbAsyncInit = function() {
                sizeChangeCallback();
            };
            setTimeout(function() { sizeChangeCallback(); }, 800);
        });
        </script>

        <link rel="stylesheet" href="resources/css/style.css">
        
    </head>
    <body style="overflow:hidden">
        <div id="fb-root"></div>
        {{_tabfu:ImportField:scrollTo:}}
        <div class="main">
            <div id="header">
                <div class="blue-line"></div>
                <div class="content">
                    <div class="left">
                        {{_tabfu:ImportField:linkedImage:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9sb2dvLnBuZyJ9}}
                    </div>
                    <div class="right">
                        <span class="follow">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiU2hhcmUifQ==}}</span>
                        {{_tabfu:ImportField:socialShareIcons:}}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="shadow-box"></div>
            </div>
            
            <div class="section-01">
                <div class="heading">
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPEgxPllvdXIgUHJpbWFyeSBIZWFkbGluZTwvSDE+In0=}}
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPEgyPllvdXIgc2Vjb25kYXJ5IGhlYWRsaW5lPC9IMj4ifQ==}}
                </div>
                <div class="clearfix"></div>
                <div class="boxes">
                    <div class="left">
                        <div class="content">
                            {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9sZWZ0LWltYWdlLnBuZyJ9}}
                        </div>
                    </div>
                    <div class="middle">
                        <div class="content">
                            {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPEgzPkludHJvZHVjdGlvbjwvSDM+In0=}}
                            {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+TWFlY2VuYXMgZGlnbmlzc2ltIHRlbXB1cyBtb2xsaXMuIERvbmVjIGV1aXNtb2QgaW1wZXJkaWV0IGR1aSBhIGZhY2lsaXNpcy4gRHVpcyBpYWN1bGlzIGx1Y3R1cyBtb2xlc3RpZS4gSW4gZGFwaWJ1cyBzZWQgbGVvIHZpdGFlIGNvbnZhbGxpcy48L3A+In0=}}
                            <div class="list">
                                <div class="element">
                                    <div class="left-table">
                                        <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiMSJ9}}</span>
                                    </div>
                                    <div class="right-table">
                                        <span class="title">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiUGhhc2VsbHVzIGludGVyZHVtIn0=}}</span>
                                        <span class="description">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRXRpYW0gdml0YWUgZG9sb3Igc2l0IGFtZXQgZWxpdCBhbGlxdWV0IGZldWdpYXQuIFF1aXNxdWUgYWMgb3JjaSAifQ==}}</span>
                                    </div>
                                </div>
                                <div class="element">
                                    <div class="left-table">
                                        <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiMiJ9}}</span>
                                    </div>
                                    <div class="right-table">
                                        <span class="title">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiUGhhc2VsbHVzIGludGVyZHVtIn0=}}</span>
                                        <span class="description">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRXRpYW0gdml0YWUgZG9sb3Igc2l0IGFtZXQgZWxpdCBhbGlxdWV0IGZldWdpYXQuIFF1aXNxdWUgYWMgb3JjaSAifQ==}}</span>
                                    </div>
                                </div>
                                <div class="element">
                                    <div class="left-table">
                                        <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiMyJ9}}</span>
                                    </div>
                                    <div class="right-table">
                                        <span class="title">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiUGhhc2VsbHVzIGludGVyZHVtIn0=}}</span>
                                        <span class="description">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRXRpYW0gdml0YWUgZG9sb3Igc2l0IGFtZXQgZWxpdCBhbGlxdWV0IGZldWdpYXQuIFF1aXNxdWUgYWMgb3JjaSAifQ==}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="background-box">
                            <div class="header">
                                <div class="background-image">
                                    <img src="resources/img/background-box-top.png" alt="">
                                </div>
                                <div class="text-on-background">
                                    <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiIE5hbSBsaWd1bGEgbmlzaSwgdHJpc3RpcXVlIDxicj5zaXQgYW1ldCBlcm9zIHV0In0=}}</span>
                                </div>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="field">
                                        <input type="text" name="name" value="" placeholder="First Name*">
                                    </div>
                                    <div class="field">
                                        <input type="email" name="email" value="" placeholder="Email Address*">
                                    </div>
                                    <div class="button">
                                        
                                        {{_tabfu:ImportField:template11Gate:}}
                                        
                                        <div class="background-image">
                                            {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9idXR0b24ucG5nIn0=}}
                                        </div>
                                        
                                    </div>
                                </form>
                                <div class="description">
                                    <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRHVpcyBlZ2V0IGxpZ3VsYSBldCBuaWJoIGVnZXN0YXMgPGJyPmhlbmRyZXJpdC4gRnVzY2Ugc2l0IGFtZXQgaXBzdW0gcXVpcyAifQ==}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="under-box">
                            {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+RnJlZSBGb3IgQSBMaW1pdGVkIFRpbWUgT25seTwvcD4ifQ==}}
                            <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiQSBWQUxVRSBPRiJ9}}</span>
                            <div class="price-image">
                                {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvcHJpY2UucG5nIn0=}}
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI2Zvb3RlciIsImFkbWluVGFnIjoiZm9vdGVyLWJhY2tncm91bmQiLCJjb2xvciI6ImYzYjQ0NiJ9}}<div id="footer" data-admin-tag="footer-background">
                <div class="shadow"></div>
                <div class="left">
                    <div class="quotation">
                        <div class="intro">
                            <img src="resources/img/quotation.png" alt="">
                        </div>
                        <div class="content">
                            {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+TmFtIHBsYWNlcmF0IHB1cnVzIGVnZXQgYWNjdW1zYW4gcGxhY2VyYXQuIFBoYXNlbGx1cyBncmF2aWRhIGRvbG9yIHZlbCBsb2JvcnRpcyBhbGlxdWFtLiBOdWxsYW0gYXQgY29udmFsbGlzIG5pYmgsIGEgY29uc2VxdWF0IGF1Z3Vlbm9uIHF1YW0gZWdldCBlcmF0IGJsYW5kaXQgdWx0cmljZXMuIE51bmMgaW4gZXJvcyBwaGFyZXRyYSB2ZW5lbmF0aXMgc2VkIHZlbCBqdXN0by4g4oCdPC9wPiJ9}}
                        </div>
                    </div>
                    
                    <div class="author">
                        <div class="image">
                            {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvaW1hZ2UtcGVyc29uLnBuZyJ9}}
                        </div>
                        <div class="description-user">
                            {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+Sk9ITiBET0U8L3A+In0=}}
                            {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+RXRpYW0gcnV0cnVtIHJpc3VzIGV1IHB1cnVzPC9wPiJ9}}
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="quotation">
                        <div class="intro">
                            <img src="resources/img/quotation.png" alt="">
                        </div>
                        <div class="content">
                            {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+TmFtIHBsYWNlcmF0IHB1cnVzIGVnZXQgYWNjdW1zYW4gcGxhY2VyYXQuIFBoYXNlbGx1cyBncmF2aWRhIGRvbG9yIHZlbCBsb2JvcnRpcyBhbGlxdWFtLiBOdWxsYW0gYXQgY29udmFsbGlzIG5pYmgsIGEgY29uc2VxdWF0IGF1Z3Vlbm9uIHF1YW0gZWdldCBlcmF0IGJsYW5kaXQgdWx0cmljZXMuIE51bmMgaW4gZXJvcyBwaGFyZXRyYSB2ZW5lbmF0aXMgc2VkIHZlbCBqdXN0by4g4oCdPC9wPiJ9}}
                        </div>
                    </div>
                    
                    <div class="author">
                        <div class="image">
                            {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvaW1hZ2UtcGVyc29uLnBuZyJ9}}
                        </div>
                        <div class="description-user">
                            {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+Sk9ITiBET0U8L3A+In0=}}
                            {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+RXRpYW0gcnV0cnVtIHJpc3VzIGV1IHB1cnVzPC9wPiJ9}}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </body>
</html>