<!doctype html>
<html>
    <head>

        <title>Template 13</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=810, maximum-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <script src="resources/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="//connect.facebook.net/en_US/all.js"></script>
        <script>
            FB.init({
                appId: '243962189122234',
                status: false, /* check login status */
                cookie: true, /* enable cookies to allow the server to access the session */
                xfbml: true /* parse XFBML */
            });
        </script>
        <script type="text/javascript">
        var getTotalHeightOfPage = function() {
            return Math.max(
                (document.height) ? document.height : 0,
                Math.max(document.body.scrollHeight, document.documentElement.scrollHeight),
                Math.max(document.body.offsetHeight, document.documentElement.offsetHeight),
                Math.max(document.body.clientHeight, document.documentElement.clientHeight)
            );
        };
        var last_height = 0;
        function sizeChangeCallback() {
            if (typeof(FB) == 'undefined' || typeof(document.body) == 'undefined') return;
            var h = getTotalHeightOfPage();
            if (last_height == h) {
                return;
            }
            h += 20;
            last_height = h;
            FB.Canvas.setSize({ height: h });
        }
		
        $(window).load(function() {
            window.fbAsyncInit = function() {
                sizeChangeCallback();
            };
            setTimeout(function() { sizeChangeCallback(); }, 800);
            
            // hide hidden elements
            var numberInvisible = 0;
            $('.section-02 .comments .element').each(function() {
                if ($.trim($('.description', this).html()) == '' && $.trim($('.author .left', this).html()) == '') {
                    $(this).hide();
                    numberInvisible++;
                }
            });
            if (numberInvisible >= 3) {
                $('.section-02').hide();
            }
        });
        </script>

        <link rel="stylesheet" href="resources/css/style.css">
    </head>
    <body style="overflow:hidden">
        <div id="fb-root"></div>
        {{_tabfu:ImportField:scrollTo:}}
        <div class="main">
            <div id="header">
                <div class="left">
                    <div class="logo">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvbG9nby5wbmcifQ==}}
                    </div>
                </div>
                <div class="right">
                    <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiWW91ciBTZWNvbmRhcnkgSGVhZGxpbmUgR29lcyBIZXJlIn0=}}</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="section-01">
                <div class="left">
                    <div class="heading">
                        {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPEgxPllvdXIgUHJpbWFyeSBIZWFkbGluZSA8YnI+R29lcyBIZXJlIGFuZCBNYXRjaGVzIHRoZSBBZHZlcnN0aXNlbWVudDwvSDE+In0=}}
                    </div>
                    <div class="white-line"></div>
                    <div class="list">
                        <div class="element">
                            <div class="left">
                                <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiMSJ9}}</span>
                            </div>
                            <div class="right">
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPEgzPlNlZCBldCBwdXJ1cyBhbGlxdWFtLCBwbGFjZXJhdCBtYWduYSA8L0gzPiJ9}}
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+TWFlY2VuYXMgYSBtYWduYSBzaXQgYW1ldCBvZGlvIGhlbmRyZXJpdCBkaWduaXNzaW0uIFV0IGxhb3JlZXQgbW9sbGlzIGxpZ3VsYSB0ZW1wb3IgYWxpcXVldC4gRHVpcyBlZ2V0IGxpZ3VsYSBldCBuaWJoIGVnZXN0YXMgaGVuZHJlcml0LjwvcD4ifQ==}}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="element">
                            <div class="left">
                                <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiMiJ9}}</span>
                            </div>
                            <div class="right">
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPEgzPlNlZCBldCBwdXJ1cyBhbGlxdWFtLCBwbGFjZXJhdCBtYWduYSA8L0gzPiJ9}}
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+TWFlY2VuYXMgYSBtYWduYSBzaXQgYW1ldCBvZGlvIGhlbmRyZXJpdCBkaWduaXNzaW0uIFV0IGxhb3JlZXQgbW9sbGlzIGxpZ3VsYSB0ZW1wb3IgYWxpcXVldC4gRHVpcyBlZ2V0IGxpZ3VsYSBldCBuaWJoIGVnZXN0YXMgaGVuZHJlcml0LjwvcD4ifQ==}}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="element">
                            <div class="left">
                                <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiMyJ9}}</span>
                            </div>
                            <div class="right">
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPEgzPlNlZCBldCBwdXJ1cyBhbGlxdWFtLCBwbGFjZXJhdCBtYWduYSA8L0gzPiJ9}}
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+TWFlY2VuYXMgYSBtYWduYSBzaXQgYW1ldCBvZGlvIGhlbmRyZXJpdCBkaWduaXNzaW0uIFV0IGxhb3JlZXQgbW9sbGlzIGxpZ3VsYSB0ZW1wb3IgYWxpcXVldC4gRHVpcyBlZ2V0IGxpZ3VsYSBldCBuaWJoIGVnZXN0YXMgaGVuZHJlcml0LjwvcD4ifQ==}}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="right">
                    <div class="arrow">
                        <div class="image-holder">
                            <img src="resources/img/arrow.png" alt="">
                        </div>
                        <div class="text-holder">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiXG4gICAgICAgICAgICAgICAgICAgICAgICAgICAgIE5hbSBsaWd1bGEgbmlzaSA8YnI+dHJpc3RpcXVlIHNpdCBhbWV0IDxicj5lcm9zIHV0XG4gICAgICAgICAgICAgICAgICAgICAgICAifQ==}}</div>
                    </div>
                    <div class="description">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiXG4gICAgICAgICAgICAgICAgICAgICAgICA8c3Ryb25nPkV0aWFtIG5vbiBzYXBpZW4gYWNjdW1zYW4sIDxicj5hbGlxdWFtIG5lcXVlIHNpdCBhbWV0LCA8YnI+dnVscHV0YXRlIHRvcnRvciBRdWlzcXVlPC9zdHJvbmc+IFxuICAgICAgICAgICAgICAgICAgICAifQ==}}</div>
                    <div class="form">
                        <form>
                            <div class="input">
                                <input type="text" name="name" placeholder="First Name*">
                            </div>
                            <div class="input">
                                <input type="email" name="email" placeholder="Email Address*">
                            </div>
                            {{_tabfu:ImportField:template13Gate:}}
                        </form>
                        <div class="about-info">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiXG4gICAgICAgICAgICAgICAgICAgICAgICAgICAgRHVpcyBlZ2V0IGxpZ3VsYSBldCBuaWJoIGVnZXN0YXMgPGJyPmhlbmRyZXJpdC4gRnVzY2Ugc2l0IGFtZXQgaXBzdW0gcXVpcyBcbiAgICAgICAgICAgICAgICAgICAgICAgICJ9}}</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDIiLCJhZG1pblRhZyI6InNlY3Rpb24tMDItYmFja2dyb3VuZCIsImNvbG9yIjoiMDE2OTdiIn0=}}<div class="section-02" data-admin-tag="section-02-background">
                <div class="comments">
                    <div class="element">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvcXVvdGUucG5nIn0=}}
                        <div class="description">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiXG4gICAgICAgICAgICAgICAgICAgICAgICAgICAgTmFtIHBsYWNlcmF0IHB1cnVzIGVnZXQgYWNjdW1zYW4gcGxhY2VyYXQuIFBoYXNlbGx1cyBncmF2aWRhIGRvbG9yIHZlbCBsb2JvcnRpcyBhbGlxdWFtLiBOdWxsYW0gYXQgY29udmFsbGlzIG5pYmgsIGEgY29uc2VxdWF0IGF1Z3Vlbm9uIHF1YW0gZWdldCBlcmF0IGJsYW5kaXQgdWx0cmljZXMuIE51bmMgaW4gZXJvcyBwaGFyZXRyYSB2ZW5lbmF0aXMgc2VkIHZlbCBqdXN0by4g4oCdXG4gICAgICAgICAgICAgICAgICAgICAgICAifQ==}}</div>
                        <div class="author">
                            <div class="left">
                                {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvdXNlci5wbmcifQ==}}
                            </div>
                            <div class="right">
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+Sk9ITiBET0U8L3A+In0=}}
                                <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRXRpYW0gcnV0cnVtIHJpc3VzIGV1IHB1cnVzIn0=}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="element">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvcXVvdGUucG5nIn0=}}
                        <div class="description">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiXG4gICAgICAgICAgICAgICAgICAgICAgICAgICAgTmFtIHBsYWNlcmF0IHB1cnVzIGVnZXQgYWNjdW1zYW4gcGxhY2VyYXQuIFBoYXNlbGx1cyBncmF2aWRhIGRvbG9yIHZlbCBsb2JvcnRpcyBhbGlxdWFtLiBOdWxsYW0gYXQgY29udmFsbGlzIG5pYmgsIGEgY29uc2VxdWF0IGF1Z3Vlbm9uIHF1YW0gZWdldCBlcmF0IGJsYW5kaXQgdWx0cmljZXMuIE51bmMgaW4gZXJvcyBwaGFyZXRyYSB2ZW5lbmF0aXMgc2VkIHZlbCBqdXN0by4g4oCdXG4gICAgICAgICAgICAgICAgICAgICAgICAifQ==}}</div>
                        <div class="author">
                            <div class="left">
                                {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvdXNlci5wbmcifQ==}}
                            </div>
                            <div class="right">
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+Sk9ITiBET0U8L3A+In0=}}
                                <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRXRpYW0gcnV0cnVtIHJpc3VzIGV1IHB1cnVzIn0=}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="element">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvcXVvdGUucG5nIn0=}}
                        <div class="description">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiXG4gICAgICAgICAgICAgICAgICAgICAgICAgICAgTmFtIHBsYWNlcmF0IHB1cnVzIGVnZXQgYWNjdW1zYW4gcGxhY2VyYXQuIFBoYXNlbGx1cyBncmF2aWRhIGRvbG9yIHZlbCBsb2JvcnRpcyBhbGlxdWFtLiBOdWxsYW0gYXQgY29udmFsbGlzIG5pYmgsIGEgY29uc2VxdWF0IGF1Z3Vlbm9uIHF1YW0gZWdldCBlcmF0IGJsYW5kaXQgdWx0cmljZXMuIE51bmMgaW4gZXJvcyBwaGFyZXRyYSB2ZW5lbmF0aXMgc2VkIHZlbCBqdXN0by4g4oCdXG4gICAgICAgICAgICAgICAgICAgICAgICAifQ==}}</div>
                        <div class="author">
                            <div class="left">
                                {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvdXNlci5wbmcifQ==}}
                            </div>
                            <div class="right">
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+Sk9ITiBET0U8L3A+In0=}}
                                <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRXRpYW0gcnV0cnVtIHJpc3VzIGV1IHB1cnVzIn0=}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </body>
</html>