@import url('animations.css');

html, body {
    width: 100%;
    height: 100%;
}

div.main {
    background: #002642;
    padding: 50px;
}

/**
 * Main
 */
.tabbed-modal {
    position: relative;
    margin: 0 auto;
    background: url(../images/editor-background.png) no-repeat;
    padding: 0 0 29px 31px;
    width: 975px;
    height: 940px;
}

/**
 * Header
 */
.tabbed-modal > .tabbed-modal-header {
    width: 944px;
    height: 93px;
    padding: 6px 12px 0 8px;
}

.tabbed-modal > .tabbed-modal-header > #editor-close {
    width: 30px;
    height: 30px;
    background: url(../images/editor-close.png) no-repeat;
    text-indent: -999999px;
    display: block;
    position: absolute;
    top: -13px;
    right: -7px;
}

.tabbed-modal > .tabbed-modal-header > .tabbed-modal-nav > a.editor-nav-link {
    display: block;
    float: left;
    width: 283px;
    height: 87px;
    text-indent: -99999px;
}

.tabbed-modal > .tabbed-modal-header > .tabbed-modal-nav > div.editor-nav-next {
    float: left;
    width: 17px;
    margin: 0 13px 0 12px;
    height: 87px;
    background: url(../images/menu-spacer.png) no-repeat;
}

.tabbed-modal > .tabbed-modal-header > .tabbed-modal-nav > div.editor-nav-next:first-of-type {
    margin: 0 5px 0 9px;
}

.tabbed-modal > .tabbed-modal-header > .tabbed-modal-nav > a#editor-choose-template.editor-nav-link {
    background: url(../images/menu-choose-template.png) no-repeat;
}

.tabbed-modal > .tabbed-modal-header > .tabbed-modal-nav > a#editor-edit-template.editor-nav-link {
    background: url(../images/menu-edit-template.png) no-repeat;
}

.tabbed-modal > .tabbed-modal-header > .tabbed-modal-nav > a#editor-publish.editor-nav-link {
    background: url(../images/menu-publish.png) no-repeat;
}

.tabbed-modal > .tabbed-modal-header > .tabbed-modal-nav > a.editor-nav-link.active {
    background-position: 0 -87px !important;
}

/**
 * Content 
 */
.tabbed-modal > .tabbed-modal-content {
    width: 944px;
    height: 748px;
    padding: 6px 0 0 0;
}

.tabbed-modal > .tabbed-modal-content > .tab {
    display: none;
    opacity: 0;
}

.tabbed-modal > .tabbed-modal-content > .tab.active {
    display: block;
    opacity: 1;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-header {
    width: 920px;
    height: 52px;
    background: #1796dd;
    margin: 0 auto;
    padding: 6px 11px 5px 11px;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-header.second-tab {
    margin-left: 11px;
    float: left;
    width: 563px;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-header > h1,
.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-header > h2 {
    margin: 0;
    font-family: "Helvetica Neue";
    font-size: 25px;
    font-weight: normal;
    line-height: 20px;
    color: #fff;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-header > h2 {
    font-size: 14px;
    line-height: 14px;
    margin-top: 5px;
    font-weight: lighter;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header {
    height: 44px;
    padding-left: 21px;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header > .search-templates {
    margin: 13px 0 12px 0;
    width: 187px;
    position: relative;
    height: 43px;
    background: url(../images/search-background.png) no-repeat;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header > .editor-template-title {
    width: 554px;
    height: 43px;
    background: url(../images/template-title-bar.png) no-repeat;
    position: relative;
    float: left;
    margin-top: 14px;
}

.tab .editor-preview-on-facebook {
    display: block;
    float: left;
    text-indent: -99999px;
    width: 323px;
    height: 44px;
    margin-top: 6px;
    margin-left: 13px;
    background: url(../images/preview-on-FB-button.png) no-repeat;
}

.tab .editor-add-autoresponder {
    display: block;
    float: left;
    margin-left: 13px;
    text-indent: -99999px;
    width: 323px;
    height: 44px;
    margin-top: 13px;
    background: url(../images/add-autoresponder.png) no-repeat;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header > .editor-template-title > input,
.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header > .search-templates > input {
    border: 0;
    background: transparent;
    position: absolute;
    top: 5px;
    font-size: 14px;
    font-family: "Helvetica Neue";
    font-style: italic;
    color: #fff;
    left: 176px;
    height:33px;
    width:355px;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header > .search-templates > input {
    top: 5px;
    left: 50px;
    width: 130px;
    font-weight: bold;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .editor-template-preview {
    width: 901px;
    height: 610px;
    background: #002f5f;
    border-top: 5px solid #1786dd;
    margin: 10px auto 6px auto;
    padding: 15px;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .editor-templates-list {
    width: 901px;
    height: 615px;
    background: #002f5f;
    margin: 10px auto 6px auto;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .editor-templates-list > .editor-header-templates-list {
    height: 43px;
    background: #1796dd;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .editor-templates-list > .editor-header-templates-list > span {
    display: block;
    font-family: "Helvetica Neue";
    font-size: 16px;
    float: left;
    font-weight: lighter;
    color: #fff;
    line-height: 43px;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .editor-templates-list > .editor-header-templates-list > a {
    float: left;
    display: block;
    line-height: 43px;
    text-indent: -99999px;
    width: 152px;
    height: 31px;
    margin-top: 7px;
}

/**
 * Templates box
 */

.editor-templates-list-content .template-box {
    width: 231px;
    height: 289px;
    background: #fff;
    display: block;
    float: left;
    border-radius: 28px;
    margin: 13px 25px;
}

.editor-templates-list-content .template-box .title {
    width: 198px;
    height: 20px;
    background: #1796dd;
    color: #fff;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    margin:12px auto 0 auto;
    padding: 0 5px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.editor-templates-list-content .template-box .description {
    width: 198px;
    height: 50px;
    background: #1796dd;
    color: #fff;
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    line-height: 45px;
    margin:7px auto 0 auto;
    padding: 0 3px;
    overflow: hidden;
}

.editor-templates-list-content .template-box .description > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;   
}

.editor-templates-list-content .template-box .thumb {
    width: 198px;
    height: 136px;
    margin: 8px auto 7px auto;
}

.editor-templates-list-content .template-box.active {
    border: 5px solid #57d1f7;
    height: 299px;
    margin: 8px 25px;
}

.editor-templates-list-content .template-box .buttons {
    height: 42px;
    margin-top: 8px;
}

.editor-templates-list-content .template-box .buttons > a {
    display: block;
    float: left;
    text-indent: -99999px;
}

.editor-templates-list-content .template-box .buttons > a.edit-button {
    width: 114px;
    height: 39px;
    display: block;
    text-indent: -99999px;
    background: url(../images/edit-button.png) no-repeat;
    margin: 0 15px 0 33px;
}

.editor-templates-list-content .template-box .buttons > a.favorite-button {
    width: 38px;
    height: 41px;
    display: block;
    text-indent: -99999px;
    background: url(../images/start-favorite.png) no-repeat;
    margin-top: -3px;
}

.editor-templates-list-content .template-box .buttons > a.favorite-button.active {
    background-position: 0 -41px;
}

i.ticked {
    margin-top: 7px;
    float: left;
    display: none;
    background: url(../images/show-all-tick.png) no-repeat;
    width: 28px;
    height: 28px;
}

i.ticked.active {
    display: block;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .editor-templates-list > .editor-header-templates-list > select.categories-select-box {
    background-color: transparent;
    background: url(../images/categories-button.png) no-repeat 0 0;
    float: left;
    display: block;
    line-height: 43px;
    border: 0;
    text-indent: -99999px;
    width: 152px;
    height: 31px;
    margin-top: 7px;
    margin-left: 17px;
    -webkit-appearance:none;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .editor-templates-list > .editor-header-templates-list > a.categories-select-box {
    background: url(../images/categories-button.png) no-repeat 0 0;
    margin-left: 17px;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .editor-templates-list > .editor-header-templates-list > a.show-all-button {
    background: url(../images/show-all-tabs.png) no-repeat 0 -1px;
    margin-right: 8px;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .editor-templates-list > .editor-header-templates-list > span.one {
    margin-left: 20px;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .editor-templates-list > .editor-header-templates-list > span.two {
    margin-left: 21px;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .editor-templates-list > .editor-header-templates-list > span.two > a {
    color: #fff;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .editor-templates-list > .editor-header-templates-list > span.three {
    margin-left: 19px;
    margin-right: 21px;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .editor-templates-list > .editor-templates-list-content {
    height: 572px;
    padding: 5px;
}

.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header > .editor-template-title > input::-webkit-input-placeholder,
.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header > .search-templates > input::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 14px;
    font-family: "Helvetica Neue";
    font-style: italic;
    color:    #fff;
}
.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header > .editor-template-title > input:-moz-placeholder,
.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header > .search-templates > input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
    font-family: "Helvetica Neue";
    font-style: italic;
    color:    #fff;
}
.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header > .editor-template-title > input::-moz-placeholder,
.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header > .search-templates > input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 14px;
    font-family: "Helvetica Neue";
    font-style: italic;
    color:    #fff;
}
.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header > .editor-template-title > input:-ms-input-placeholder,
.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header > .search-templates > input:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 14px;
    font-family: "Helvetica Neue";
    font-style: italic;
    color:    #fff;
}

.responders.publish-box > .responder-element {
    width: 493px;
    height: 55px;
    background: #002f5f;
    margin-bottom: 5px;
    position: relative;
}

.responders.publish-box > .responder-element > .element {
    position: absolute;
    margin: 0;
    font-size: 16px;
    font-family: "Helvetica Neue";
    color: #fff;
    font-weight: lighter;
    display: block;
    width: 141px;
    height: 55px;
    top: 0;
    left: 0;
    line-height: 55px;
    background: #1796dd;
    text-align: center;
}

.responders.publish-box > .responder-element > .contents {
    display: table;
    width: 490px;
    height: 55px;
    text-align: center;
    padding-left: 150px;
}

.responders.publish-box > .responder-element > .contents > span {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    font-family: "Helvetica Neue";
    color: #fff;
    font-weight: lighter;
    text-align: left;
}

/* Publish tab */
.editor-publish-container > .left-column {
    float: left;
    margin: 13px 0 0 20px;
}

.editor-publish-container > .right-column {
    float: left;
    margin-top: 13px;
    margin-left: 27px;
}

.editor-publish-container > .left-column > .publish-box > .header,
.editor-publish-container > .right-column > .publish-box > .header {
    width: 381px;
    height: 56px;
    background: #1796dd;
    padding: 9px 13px;
}

.editor-publish-container > .left-column > .publish-box > .header > h3,
.editor-publish-container > .right-column > .publish-box > .header > h3,
.editor-publish-container > .left-column > .publish-box > .header > span,
.editor-publish-container > .right-column > .publish-box > .header > span  {
    margin: 0;
    font-size: 16px;
    font-family: "Helvetica Neue";
    color: #fff;
    font-weight: bold;
} 

.editor-publish-container > .left-column > .publish-box > .header > span,
.editor-publish-container > .right-column > .publish-box > .header > span {
    font-weight: lighter !important;
    font-size: 15px;
} 

.editor-publish-container > .left-column > .publish-box > .content {
    min-height: 188px;
    background: #002f5f;
}

.your-tab-icon.publish-box > .content {
    padding-top: 23px;
}

.your-tab-icon.publish-box > .content > .select-button {
    width: 111px;
    height: 74px;
    display: block;
    text-indent: -9999px;
    background: url(../images/drag-file.png) no-repeat;
    margin: 0 auto 22px auto;
}

.your-tab-icon.publish-box > .content > .upload-button {
    width: 133px;
    height: 39px;
    display: block;
    text-indent: -9999px;
    background: url(../images/upload-button.png) no-repeat;
    margin: 0 auto;
}

.editor-publish-container .search-library.publish-box {
    margin: 17px 0 22px 0;
    width: 381px;
}

.editor-publish-container .background-search {
    width: 234px;
    height: 49px;
    position: relative;
    background: url(../images/search-background-publish.png) no-repeat;
    margin: 0 auto;
}

.editor-publish-container .background-search > input {
    position: absolute;
    top: 11px;
    right: 13px;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    width: 150px;
    background: transparent;
    border: 0;
}

.icon-library.publish-box > .content {
    height: 286px;
    width: 381px;
    padding: 10px;
}

.icon-library.publish-box > .content a {
    display: block;
    float: left;
    margin: 2px;
}

/* Bolded placeholder */
.editor-publish-container .background-search > input::-webkit-input-placeholder {
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
}
.editor-publish-container .background-search > input:-moz-placeholder {
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
}
.editor-publish-container .background-search > input::-moz-placeholder {
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
}
.editor-publish-container .background-search > input:-ms-input-placeholder {
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
}

.publishing-tab-to.publish-box > .header {
    width: 493px !important;
}

.publishing-tab-to.publish-box > .header > span {
    line-height: 36px;
    margin-left: 12px;
}

.publishing-tab-to.publish-box > .header > .choose-other-page-button {
    display: block;
    width: 182px;
    height: 31px;
    text-indent: -9999px;
    background: url(../images/other-page-button.png) no-repeat;
    float: right;
    margin-top: 5px;
}

.publishing-tab-to.publish-box > .content {
    width: 493px;
    height: 437px;
    background: #002f5f;
    padding-top: 31px;
}

.publishing-tab-to.publish-box > .content > .button {
    display: block;
    text-indent: -99999px;
    margin: 15px auto;
}

.publishing-tab-to.publish-box > .content > .button.preview-on-fb-big {
    width: 323px;
    height: 44px;
    margin: 0 auto 29px auto;
    background: url(../images/preview-on-FB-button.png) no-repeat;
}

.publishing-tab-to.publish-box > .content > .button.publish-now-big {
    width: 416px;
    height: 92px;
    background: url(../images/publish-now-button.png) no-repeat;
}

.publishing-tab-to.publish-box > .content > .button.schedule-big {
    width: 416px;
    height: 92px;
    margin: 29px auto 36px auto;
    background: url(../images/SCHEDULE-button.png) no-repeat;
}

.publishing-tab-to.publish-box > .content > .button.copy-download-big {
    width: 358px;
    height: 44px;
    background: url(../images/copy-or-download.png) no-repeat;
}

/* Bolded placeholder */
.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header > .search-templates > input::-webkit-input-placeholder {
    font-weight: bold;
}
.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header > .search-templates > input:-moz-placeholder {
    font-weight: bold;
}
.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header > .search-templates > input::-moz-placeholder {
    font-weight: bold;
}
.tabbed-modal > .tabbed-modal-content > .tab > .tabbed-modal-content-main > .preview-header > .search-templates > input:-ms-input-placeholder {
    font-weight: bold;
}
/**
 * Footer
 */
.tabbed-modal > .tabbed-modal-footer {
    width: 944px;
    height: 61px;
}

.tabbed-modal > .tabbed-modal-footer > #editor-footer-left-side {
    width: 161px;
    float: left;
}

.tabbed-modal > .tabbed-modal-footer > #editor-footer-left-side > .button,
.tabbed-modal > .tabbed-modal-footer > #editor-footer-right-side > .button {
    margin-left: 18px;
    display: block;
    width: 143px;
    height: 39px;
    text-indent: -9999px;
}

.tabbed-modal > .tabbed-modal-footer > #editor-footer-left-side > #editor-back-button.back {
    margin-top: 14px;
    background: url(../images/back-button.png) no-repeat;
}

.tabbed-modal > .tabbed-modal-footer > #editor-footer-left-side > #editor-back-button.cancel {
    margin-top: 14px;
    background: url(../images/cancel-button.png) no-repeat;
}

.tabbed-modal > .tabbed-modal-footer > #editor-footer-middle-side {
    width: 574px;
    float: left;
}

.tabbed-modal > .tabbed-modal-footer > #editor-footer-right-side {
    width: 209px;
    float: right;
}

.tabbed-modal > .tabbed-modal-footer > #editor-footer-right-side > #editor-next-button {
    margin-right: 23px;
    background: url(../images/next.png) no-repeat;
    float: right;
    margin-top: 14px;
}

.tabbed-modal > .tabbed-modal-footer > #editor-footer-right-side > #editor-next-button.disabled {
    background: url(../images/next-greyed.png) no-repeat;
    float: right;
}

.tabbed-modal > .tabbed-modal-footer > #editor-footer-right-side > #editor-close-button {
    margin-right: 23px;
    margin-top: 14px;
    width: 187px;
    background: url(../../images/facebook-tabs/close-window-button.png) no-repeat;
    float: right;
}

/**
 *     Editor - modals like color picker etc
 */

.modal-editor {
    width: 342px;
    height: 422px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -171px;
    margin-top: -111px;
    background: url(../images/modals/background.png) no-repeat;
    padding: 2px 2px 25px 25px; 
}

.modal-editor > .modal-editor-header {
    position: relative;
    height: 64px;
}

.modal-editor > .modal-editor-header > .close-modal-button {
    display: block;
    width: 27px;
    height: 27px;
    text-indent: -99999px;
    position: absolute;
    top: -10px;
    right: -10px;
    background: url(../images/modals/close.png) no-repeat;
}

.modal-editor > .modal-editor-header > span.draggable {
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    float: left;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.modal-editor > .modal-editor-header > .head {
    float: left;
    width: 255px;
    text-align: left;
    font-family: "Helvetica Neue";
    color: #fff;
    font-size: 20px;
    padding-top: 13px;
    line-height: 20px;
    padding-left: 5px;
}

.modal-editor > .modal-editor-header > .head.video {
    text-align: center;    
    line-height: 21px;
}

.modal-editor > .modal-editor-header > .head.color-picker {
    line-height:35px;
    padding-left: 50px;
}

.modal-editor > .modal-editor-header > .head > span.title {
    display: block;
}

.modal-editor > .modal-editor-header > .head > span.description {
    display: block;
    font-weight: lighter;
    font-size: 14px;
}

.modal-editor > .modal-editor-content {
    height: 261px;
}

.modal-editor > .modal-editor-content > .preview-element {
    width: 296px;
    height: 208px;
    margin: 11px 0 11px 11px;
}

.modal-editor > .modal-editor-content > .preview-element.colorpicker {
    margin-top: 12px;
}

.modal-editor > .modal-editor-content > .preview-element > .head {
    height: 38px;
    background: #1796dd;
    font-weight: lighter;
    font-family: "Helvetica Neue";
    font-size: 14px;   
    line-height: 38px;
    text-align: center;
    color: #fff;
}

.modal-editor > .modal-editor-content > .preview-element > .head-color {
    width: 240px;
    height: 49px;
    margin-left: 38px;
    margin-bottom: 6px;
}

.modal-editor > .modal-editor-content > .preview-element > .head-color > .color-picker-preview {
    width: 49px;
    height: 49px;
    float: left;
}

.modal-editor > .modal-editor-content > .preview-element > .head-color > .color-picker-pickup {
    float: left;
    margin-left: 21px;
    width: 170px;
    padding-top: 6px;
}

.modal-editor > .modal-editor-content > .preview-element > .head-color > .color-picker-pickup > .left {
    font-family: "Helvetica Neue";
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    width: 43px;
    float: left;
    background: #1796dd;
    text-align: center;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 39px;
    line-height: 39px;
    padding-left: 7px;
}

.modal-editor > .modal-editor-content > .preview-element > .head-color > .color-picker-pickup > .right {
    height: 39px;
    width: 127px;
    float: left;
    background: #57d1f7;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.modal-editor > .modal-editor-content > .preview-element > .head-color > .color-picker-pickup > .right > input {
    height: 30px;
    font-family: "Helvetica Neue";
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    line-height: 30px;
    margin-left: 8px;
    width: 100px;
    background: transparent;
    border: 0;
    margin-top: 4px;
}

.modal-editor > .modal-editor-content > .preview-element > .content {
    background: #002f5f;
    height: 170px;
}

.modal-editor > .modal-editor-content > .url-link-holder {
    width: 295px;
    height: 43px;
    margin-left: 10px;
}

.modal-editor > .modal-editor-content > .url-link-holder > .left {
    width: 98px;
    height: 43px;
    background: #1796dd;
    float: left;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.modal-editor > .modal-editor-content > .url-link-holder.video > .left {
    width: 110px;
}

.modal-editor > .modal-editor-content > .url-link-holder.video > .right {
    width: 185px;
}

.modal-editor > .modal-editor-content > .url-link-holder.video > .right > input {
    width: 170px;
}

.modal-editor > .modal-editor-content > .url-link-holder > .left > a {
    display: block;
}

.modal-editor > .modal-editor-content > .url-link-holder > .left > a:hover {
    text-decoration: none;
}

.modal-editor > .modal-editor-content > .url-link-holder > .left > a > .plus-element {
    width: 21px;
    height: 21px;
    display: block;
    text-indent: -99999px;
    background: url(../images/modals/add-link.png) no-repeat;
    float: left;
    margin: 0 4px 0 8px;
}

.modal-editor > .modal-editor-content > .url-link-holder > .left > a > .description {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-family: "Helvetica Neue";
    font-size: 14px;   
    color: #fff;
}

.modal-editor > .modal-editor-content > .url-link-holder > .right {
    min-width: 180px;
    width: 100%;
    max-width: 197px;
    height: 43px;
    float: left;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #57d1f7;
}

.modal-editor > .modal-editor-content > .url-link-holder > .right > input {
    margin: 4px 0 0 10px;
    height: 35px;
    width: 175px;
    background: transparent;
    border: 0;
    font-weight: normal;
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}

.modal-editor > .modal-editor-footer {
    height: 48px;
    margin-top: 10px;
}

.modal-editor > .modal-editor-footer > .modal-editor-upload-buttom, 
.modal-editor > .modal-editor-footer > .modal-editor-ok-buttom {
    display: block;
    text-indent: -999999px;
    float: right;
    margin-right: 13px;
    height: 39px;  
}

.modal-editor > .modal-editor-footer > .modal-editor-ok-buttom {
    width: 90px;
    background: url(../images/modals/ok-button.png) no-repeat;
}

.modal-editor > .modal-editor-footer > .modal-editor-upload-buttom {
    width: 133px;
    background: url(../images/modals/upload-button.png) no-repeat;    
}

/**
 *     Published - modal
 */

.modal-congrats {
    position: absolute;
    width: 614px;
    height: 465px;
    background: url(../images/modals/schedule-background.png) no-repeat;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -307px;
    z-index: 999999;
    padding: 3px 3px 41px 42px; 
}

.modal-congrats > .header {
    width: 569px;
    height: 74px;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-family: "Helvetica Neue";
    color: #fff;
    line-height: 74px;
}

.modal-congrats > .header > .close-modal-button {
    text-indent: -99999px;
    display: block;
    position: absolute;
    top: -3px;
    right: -3px;
    background: url(../images/modals/close-30x30.png) no-repeat;
    width: 30px;
    height: 30px;
}

.modal-congrats > .modal-congrats-content {
    width: 569px;
    padding-top: 28px; 
    height: 293px;
}

.modal-congrats > .modal-congrats-content > .content {
    width: 485px;
    height: 255px;
    margin: 0 auto;
    background: #002f5f;
    border-radius: 15px;
    padding-top: 18px;
    position: relative;
}

.modal-congrats > .modal-congrats-content > .content > .what-next {
    background: url(../images/modals/what-next.png) no-repeat;
    position: absolute;
    width: 151px;
    height: 44px;
    top: 118px;
    left: 63px;
    text-indent: -99999px;
}

.modal-congrats > .modal-congrats-content > .content > .button {
    text-indent: -99999px;
    position: absolute;
    height: 39px;
    display: block;
}

.modal-congrats > .modal-congrats-content > .content > .create-new.button {
    width: 162px;
    background: url(../images/modals/create-new-button.png) no-repeat;
    left: 247px;
    top: 122px;
}

.modal-congrats > .modal-congrats-content > .content > .duplicate.button {
    width: 146px;
    left: 69px;
    top: 191px;
    background: url(../images/modals/duplicate-button.png) no-repeat;   
}

.modal-congrats > .modal-congrats-content > .content > .analytics.button {
    width: 146px;
    left: 265px;
    top: 191px;
    background: url(../images/modals/analytics-button.png) no-repeat;
}

.modal-congrats > .modal-congrats-content > .content > h2 {
    margin: 0;
    font-size: 60px;
    color: #fff;
    text-decoration: bold;
    font-family: "Helvetica Neue";
    text-align: center;
}

span.checked-action {
    display: inline-block;
    width: 73px;
    height: 73px;
    background: url(../images/modals/checked-action.png) no-repeat;
    margin-bottom: -15px;
    margin-left: 20px;
}

.modal-congrats > .modal-congrats-footer {
    height: 54px;
    width: 100%;
}

.modal-congrats-exit-buttom,
.modal-congrats-close-buttom {
    text-indent: -999999px;
    display: inline-block;
    float: right;
    height: 39px;
} 

.modal-congrats-exit-buttom {
    width: 139px;
    margin-right: 18px;
    background: url(../images/modals/exit-button.png) no-repeat;
}

.modal-congrats-close-buttom {
    margin-right: 39px;
    width: 187px;
    background: url(../images/modals/close-window-button.png) no-repeat;
}

.modal-editor > .modal-editor-content > .url-link-holder > .right > input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: normal;
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}
.modal-editor > .modal-editor-content > .url-link-holder > .right > input:-moz-placeholder {
    font-style: italic;
    font-weight: normal;
    font-family: "Helvetica Neue";
    font-size: 14px;
    color: #fff;
    line-height: 19px;
}
.modal-editor > .modal-editor-content > .url-link-holder > .right > input::-moz-placeholder {
    font-style: italic;
    font-weight: normal;
    font-family: "Helvetica Neue";
    font-size: 14px;
    color: #fff;
    line-height: 19px;
}
.modal-editor > .modal-editor-content > .url-link-holder > .right > input:-ms-input-placeholder {
    font-style: italic;
    font-weight: normal;
    font-family: "Helvetica Neue";
    font-size: 14px;
    color: #fff;
    line-height: 19px;
}

.modal-congrats.modal-congrats-scheduled .button.analytics {
    display: none;
}
.modal-congrats.modal-congrats-scheduled .button.duplicate {
    left: 256px !important;
}