html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: green;
    padding: 25px;
}

.template-html-editor {
    /* position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -334px;
    margin-left: -362px; */ /* It's correct css for this modal */
   
    padding: 0 0 27px 35px;
    position: relative;
    margin: 0 auto;
    width: 668px;
    height: 724px;
    background: url(../images/template-copy-bg.png) no-repeat;
}

.template-html-editor-header {
    height: 64px;
}

.template-html-editor-header a {
    display: block;
    position: absolute;
    right: -12px;
    top: -12px;
    text-indent: -99999px;
    background: url(../images/editor-close.png) no-repeat;
    width: 30px;
    height: 30px;
}

.template-html-editor-nav {
    padding-top: 11px;
    height: 83px;
    padding-left: 200px;
}

.template-html-editor-nav a, .template-html-editor-nav i {
    display: block;
    float: left;
}

a.copy-button-clipboad {
    width: 185px;
    height: 65px;
    background: url(../images/copy-button.png) no-repeat;
    text-indent: -9999px;
    margin-right: 11px;
}

a.download-html-editor {
    /* I can't find psd for it */
    width: 185px;
    height: 65px;
    background: url(../images/copy-button.png) no-repeat;
    text-indent: -9999px;
    display: none;
}

i.tick-44 {
    width: 44px;
    height: 44px;
    background: url(../images/tick-44x44.png) no-repeat;
    text-indent: -9999px;
    margin-top: 10px;
}

.template-html-editor-content {
    width: 606px;
    height: 485px;
    margin-left: 14px;
    padding: 15px 5px 15px 15px;
}

.template-html-editor-footer {
    height: 65px;
}

a.close-window-button {
    display: block;
    width: 187px;
    height: 39px;
    background: url(../images/modals/close-window-button.png) no-repeat;
    text-indent: -9999px;
    float: right;
    margin-right: 13px;
    margin-top: 14px;
}
