html, body {
    width: 810px;
    margin: 0 auto;
    padding: 0;
}

div.clearfix {
    clear: both;
}

a > img { border: 0; }

p {
    margin: 0;
}

div.main {
    position: relative;
    width: 810px;
    margin: 0 auto;
    background: #ffe066;
    min-height: 500px;
}

#header {
    height: 86px;
    background: #fff;
}

#header .left {
    width: 345px;
    float: left;
    padding-left: 35px;
}

#header .right {
    width: 389px;
    float: left;
    text-align: right;
    padding-right: 41px;
}

#header .right span {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #20b899;
    text-transform: uppercase;
    line-height: 86px;
}

#header .left span {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 35px;
    line-height: 86px;
    color: #ccc;
    display: block;
}

.heading-left {
    height: 49px;
    padding: 20px 0 14px 0;
}

.heading-left div.heading-left-inner {
    display: block;
    background: #fff;
    width: 378px;
    -webkit-border-top-right-radius: 17px;
    -webkit-border-bottom-right-radius: 17px;
    -moz-border-radius-topright: 17px;
    -moz-border-radius-bottomright: 17px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    height: 49px;
    line-height: 49px;
}

.heading-left div span {
    display: block;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #20b899;
    padding-left: 46px;
}

.section-01 .box {

}

.section-01 .box {
    width: 658px;
    /*height: 175px;*/
    padding: 31px 30px 18px 25px;
}

.section-01 .box .left {
    width: 283px;
    float: left;
    margin-right: 18px;
}

.section-01 .box .left .message-icon {
    width: 72px;
    float: left;
    height: 175px;
}


.section-01 .box .left .left-form {
    width: 211px;
    float: left;
}

.section-01 .box .right {
    float: left;
}

.section-01 .box .field input[type=text],
.section-01 .box .field input[type=email] {
    width: 201px;
    height: 42px;
    padding: 0 5px 0 10px;
    line-height: 42px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #d9d9d9;
    background: #fff;
    border: 0;
    margin-bottom: 13px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.section-01 .box .field input[type=text]::-webkit-input-placeholder,
.section-01 .box .field input[type=email]::-webkit-input-placeholder,
.section-01 .box .field textarea::-webkit-input-placeholder { /* WebKit browsers */
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #d9d9d9;
}
.section-01 .box .field input[type=text]:-moz-placeholder,
.section-01 .box .field input[type=email]:-moz-placeholder,
.section-01 .box .field textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #d9d9d9;
}
.section-01 .box .field input[type=text]::-moz-placeholder,
.section-01 .box .field input[type=email]::-moz-placeholder,
.section-01 .box .field textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #d9d9d9;
}
.section-01 .box .field input[type=text]:-ms-input-placeholder,
.section-01 .box .field input[type=email]:-ms-input-placeholder,
.section-01 .box .field textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #d9d9d9;
}

.section-01 .box .field textarea {
    width: 323px;
    height: 86px;
    padding: 10px 15px;
    background: #fff;
    border: 0;
    margin-bottom: 6px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-style: italic;
    color: #d9d9d9;
}

.section-01 .box,
.section-02 .box {
    background: #20b899;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-left: 51px;
}

.section-02 {
    /*height: 360px;*/
    padding-bottom: 30px;
}

.section-02 .box {
    width: 713px;
    height: 303px;
}

.section-02 .socials {
    padding: 33px 0 0 30px;
}

.section-02 .socials .social {
    width: 309px;
    height: 59px;
    float: left;
    margin-right: 32px;
    margin-bottom: 27px;
}

.section-02 .socials .social .left {
    width: 46px;
    height: 59px;
    float: left;
    margin-right: 29px;
}

.section-02 .socials .social .right {
    width: 234px;
    float: left;
    height: 59px;
}

.section-01 .box .right-form input[type=submit] {
    float: right;
}

.section-02 .socials .social .right a,
.section-01 .box .right-form input[type=submit] {
    display: block;
    width: 234px;
    height: 59px;
    background: #72dfff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcyZGZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MGNjZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #72dfff 0%, #60cced 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#72dfff), color-stop(100%,#60cced)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #72dfff 0%,#60cced 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #72dfff 0%,#60cced 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #72dfff 0%,#60cced 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #72dfff 0%,#60cced 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72dfff', endColorstr='#60cced',GradientType=0 ); /* IE6-8 */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 0;
    border-bottom: 1px solid #d1eff9;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(49, 124, 143, 1);
    -moz-box-shadow:    0px 4px 0px 0px rgba(49, 124, 143, 1);
    box-shadow:         0px 4px 0px 0px rgba(49, 124, 143, 1);
    text-align: center;
    line-height: 59px;
    text-decoration: none;
    cursor: pointer;
}

.section-02 .socials .social .right a span,
.section-01 .box .right-form input[type=submit] {
    font-style: italic;
    font-weight: bold;
    color: #fff;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#footer {
    height: 79px;
    background: #fff;
}

#footer span {
    display: block;
    line-height: 79px;
    font-size: 35px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-align: center;
    color: #cccccc;
}

/* admin fix */
.right-form .field-element {
    display: inline-block;
    float: right;
}

.socials .field-element {
    display: inline-block;
    float: left;
}