html, body {
    margin: 0;
    padding: 0;
}

div.clearfix {
    clear: both;
}

a > img { border: 0; }

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

div.main {
    position: relative;
    width: 1180px;
    height: 607px;
    padding: 10px;
    background: #DF4343;
    overflow: hidden;
}

.section-01 {
    background: #2B3848;
    width: 1180px;
    height: 607px;
    padding: 0;
    position: relative;
}

.section-01 .title {
    padding: 15px 0 0 27px;
}
.section-01 .title h1,
.section-01 .title h2,
.section-01 .title h3,
.section-01 .title h4,
.section-01 .title h5,
.section-01 .title h6,
.section-01 .title p {
    font-size: 80px;
    color: #fff;
    font-family: Arial, sans-serif;
    white-space: nowrap;
}
.section-01 .subtitle {
    padding: 5px 0 0 145px;
}
.section-01 .subtitle h1,
.section-01 .subtitle h2,
.section-01 .subtitle h3,
.section-01 .subtitle h4,
.section-01 .subtitle h5,
.section-01 .subtitle h6,
.section-01 .subtitle p {
    font-size: 25px;
    color: #fff;
    font-family: Arial, sans-serif;
    white-space: nowrap;
}

.section-01 .phone {
    background: url(../img/phone.png) no-repeat top left;
    width: 636px;
    height: 358px;
    float: right;
    margin: 20px 0 0 0;
    padding: 36px 126px 31px 70px;
    position: relative;
    float: left;
}
.section-01 .phone img {
    width: 636px;
    height: 358px;
}

.section-01 .app-icon {
    float: right;
    margin: -10px 75px 0 0;
}
.section-01 .app-icon img {
    width: 218px;
    height: 218px;
}

.section-01 .download-icons {
    clear: right;
    float: right;
    width: 340px;
    text-align: center;
    margin-top: 15px;
}
.section-01 .download-icons > * {
    margin: 0 10px 10px;
    display: inline-block;
}
.section-01 .download-icons p,
.section-01 .download-icons a {
    font-family: Arial, sans-serif;
    color: #fff;
    font-size: 40px;
}