html, body, div.main {
    background: rgba(0,0,0,0.25);
    width: 100%;
    height: 100%;
    min-height: 700px;
    position: relative;
}

.ar-modal {
    width: 682px;
    height: 529px;
    background: url(../images/autoresponders-bg.png) no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -264px;
    margin-left: -341px;
    padding: 2px 2px 27px 35px;
}

.ar-header > .top {
    position: relative;
    width: 645px;
    height: 64px;
}

.ar-header > .top > .closs-button {
    display: block;
    position: absolute;
    top: -12px;
    right: -12px;
    width: 30px;
    height: 30px;
    background: url(../images/close-30x30.png) no-repeat;
    text-indent: -99999px;
}

.ar-header > .ar-options {
    width: 645px;
    height: 83px;
    padding: 11px 10px 10px 12px;
}

.ar-header > .ar-options > .ar-element {
    display: inline-block;
    float: left;
}

.ar-header > .ar-options > .ar-element > .button > a.button-ar {
    display: block;
    height: 35px;
    text-indent: -99999px;
    width: 99px;
    margin-right: 4px;
}

.ar-header > .ar-options > .ar-element > .button > a.button-ar.aweber {
    background: url(../images/aweber-button.png) no-repeat;
    width: 100px;
}

.ar-header > .ar-options > .ar-element > .button > a.button-ar.getresponse {
    background: url(../images/get-response-button.png) no-repeat;
    width: 106px;
    margin-right: 4px;
}

.ar-header > .ar-options > .ar-element > .button > a.button-ar.icontact {
    background: url(../images/icontact-button.png) no-repeat;
}

.ar-header > .ar-options > .ar-element > .button > a.button-ar.mailchimp {
    background: url(../images/mailchimp-button.png) no-repeat;
    margin-right: 4px;
}

.ar-header > .ar-options > .ar-element > .button > a.button-ar.sendreach {
    background: url(../images/sendreach-button.png) no-repeat;
    margin-right: 4px;
}

.ar-header > .ar-options > .ar-element > .button > a.button-ar.infusionsoft {
    background: url(../images/infusionsoft-button.png) no-repeat;
    margin-right: 0;
}

.ar-header > .ar-options > .ar-element > .eye {
    display: none;
    margin: 4px auto 0 auto;
    width: 34px;
    height: 23px;
    background: url(../images/eye.png) no-repeat;
}

.ar-header > .ar-options > .ar-element.active > .eye {
    display: block;
}

.ar-content {
    width: 618px;
    height: 337px;
    margin-left: 14px;
}

.ar-content > .top > .header {
    width: 618px;
    height: 41px;
    padding-left: 68px;
    padding-right: 5px;
    line-height: 41px;
    font-size: 25px;
    font-weight: lighter;
    font-family: "Helvetica Neue";
    color: #fff;
}

.ar-content > .top > .content {
    height: 83px;
    width: 618px;
    position: relative;
}

.ar-content > .top > .content > .left {
    height: 83px;
    width: 149px;
    float: left;
    padding-top: 23px;
    padding-left: 19px;
}

.ar-content span.step-list {
    display: block;
    width: 105px;
    height: 35px;
    background: #1099d2;
    border-radius: 14px;
    text-align: center;
    color: #fff;
    line-height: 35px;
    font-size: 22px;
    font-weight: lighter;
    font-family: "Helvetica Neue";
}

.ar-content > .top > .content > .right {
    height: 83px;
    width: 469px;
    float: left;
}

.ar-content > .top > .content > .right > a.button-api {
    display: block;
    height: 44px;
    text-indent: -9999px;
    margin: 20px auto 0 auto;
}

.ar-content > .top > .content > .right > a.button-api.api-key {
    background: url(../images/get-api-key.png) no-repeat;
    width: 351px;
}

.ar-content > .top > .content > .right > a.button-api.api-credentials {
    background: url(../images/get-api-cred.png) no-repeat;
    width: 364px;
}

.ar-content > .bottom {
    margin-top: 7px;
    width: 618px;
    height: 157px;
}

.ar-content > .bottom > .top {
    height: 157px;
}

.ar-content > .bottom > .top > .middle {
    text-align: center;
    height: 157px;
    line-height: 157px;
    font-size: 42px;
    color: #fff;
    font-weight: lighter;
    font-family: "Helvetica Neue";
    font-style: italic;
}

.ar-content > .bottom > .top > .middle > .big-title > span {
    display: inline-block;
}

.ar-content > .bottom > .top > .middle > .big-title > span.big-ticked {
    background: url(../images/ticked-91x91.png) no-repeat;
    width: 91px;
    height: 91px;
    margin-bottom: -30px;
    margin-left: 15px;
}

.ar-content > .bottom > .top > .left {
    padding-left: 19px;
    padding-top: 14px;
    float: left;
    width: 150px;
    height: 157px;
}

.ar-content > .bottom > .top > .right {
    width: 468px;
    float: left;
    height: 157px;
    padding-top: 11px;
    padding-right: 19px;
}

.ar-content > .bottom > .footer {
    height: 49px;
}

.ar-content > .bottom > .footer > .left {
    width: 407px;
    height: 49px;
    float: left;
}

.ar-content > .bottom > .footer > .left > .close-window-button {
    display: block;
    width: 187px;
    height: 39px;
    background: url(../images/close-window-button.png) no-repeat;
    text-indent: -9999px;
    margin-top: 10px;
}

.ar-content > .bottom > .footer > .right {
    float: left;
    height: 49px;
    width: 211px;
}

.ar-content > .bottom > .footer > .right > .button {
    display: block;
    text-indent: -9999px;
    margin: 2px auto 0 auto;
}

.ar-content > .bottom > .footer > .right > .button.connect {
    background: transparent;
    background-image: url(../images/connect-button.png);
    background-repeat: no-repeat;
    width: 161px;
    height: 39px;
}

.ar-content > .bottom > .footer > .right > .button.connect.active {
    background-position: 0 -38px;
}

.ar-content > .bottom > .footer > .right > .button.disconnect {
    background: url(../images/disconnect-button.png) no-repeat;
    width: 192px;
    height: 39px;
}

.input-long {
    margin-bottom: 6px;
    width: 450px;
    height: 41px;
}

.input-long > .input-label {
    width: 111px;
    float: left;
    height: 41px;
    background: #1099d2;
    line-height: 41px;
    padding-left: 13px;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    font-family: "Helvetica Neue";
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.input-long > .input-hold {
    width: 339px;
    height: 41px;
    background: #85dffc;
    float: left;
    padding-left: 13px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 5px;
}

.input-long > .input-hold > input {
    background: transparent;
    border: 0;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    font-family: "Helvetica Neue";
    height: 30px;
    width: 300px;
}

.input-long > .input-hold > input::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    font-family: "Helvetica Neue";
    font-style: italic;
}
.input-long > .input-hold > input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    font-family: "Helvetica Neue";
    font-style: italic;
}
.input-long > .input-hold > input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    font-family: "Helvetica Neue";
    font-style: italic;
}
.input-long > .input-hold > input:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    font-family: "Helvetica Neue";
    font-style: italic;
}

.input-textarea {
    width: 450px;
    height: 127px;
}

.input-textarea > .input-label {
    -webkit-border-top-left-radius: 14px;
    -webkit-border-top-right-radius: 14px;
    -moz-border-radius-topleft: 14px;
    -moz-border-radius-topright: 14px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    height: 36px;
    background: #1099d2;
    width: 100%;
    line-height: 36px;
    padding-left: 17px;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    font-family: "Helvetica Neue";
}

.input-textarea > .input-hold {
    height: 91px;
    background: #85dffc;
    -webkit-border-bottom-right-radius: 14px;
    -webkit-border-bottom-left-radius: 14px;
    -moz-border-radius-bottomright: 14px;
    -moz-border-radius-bottomleft: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    padding: 13px 16px;
}

.input-textarea > .input-hold > textarea {
    background: transparent;
    font-style: italic;
    border: 0;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    font-family: "Helvetica Neue";
    height: 70px;
    width: 420px;
}

.delete-modal-over {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
}

.delete-modal-over > .delete-modal {
    width: 226px;
    height: 162px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -113px;
    margin-top: -81px;
    background: url(../images/modal-delete-bg.png) no-repeat;
}

.delete-modal-over > .delete-modal > .yes-button {
    width: 64px;
    height: 32px;
    background: url(../images/yes-button.png) no-repeat;
    text-indent: -99999px;
    position: absolute;
    top: 113px;
    left: 34px;
}

.delete-modal-over > .delete-modal > .cancel-button {
    width: 80px;
    height: 32px;
    background: url(../images/cancel-button.png) no-repeat;
    text-indent: -99999px;
    position: absolute;
    top: 113px;
    left: 118px;
}

.ar-content > .top > .content > .middle {
    padding-top: 20px;
    width: 280px;
    margin: 0 auto;
    height: 44px;
}

.ar-content > .top > .content > .middle > a.choose-your-list-button {
    width: 280px;
    height: 44px;
    text-indent: -9999px;
    display: block;
    margin: 0 auto;
    background: url(../images/choose-your-list.png) no-repeat;
}

.ar-content .select-a-list {
    width: 176px;
    height: 231px;
    background: url(../images/select-list-bg.png) no-repeat;
    position: absolute;
    margin-top: 30px;
    margin-left: 55px;
    padding-top: 60px;
}

.ar-content .select-a-list .content {
    width: 152px;
    height: 149px;
    margin-left: 17px;
    padding: 5px;
}

