@font-face {
    font-family: Bebas.ttf;
    src: url(BEBAS.ttf);
}



html, body {
    width: 810px;
    margin: 0 auto;
    padding: 0;
}

div.clearfix {
    clear: both;
}
a {
	text-decoration:none;
}
a > img { border: 0; }

h1,h2,h3,h4,h5,h6,p,img,ul,li,a{
    margin: 0;
	padding: 0;
}

div.main {
	font-family: Bebas, Arial, Helvetica, sans-serif;
    position: relative;
    width: 810px;
	height: 563px;
    margin: 0 auto;
    background: #CECECE;
    min-height: 500px;
}
#container {
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.70);
	/* opacity: 0.6; */
    min-height: 559px;
    width: 315px;
}

#header {
    /*height: 210px;*/
}
#header .logo {
    width: 117px;
    height: 70px;
    background: url(../img/logo_bg.png) no-repeat;
    margin-top: 15px;
    padding: 15px;
}
#header .logo img {
	display: block;
    margin: 0 auto;
}


#sec-01 {
	padding: 20px 0 15px 40px;
}
#sec-02, #sec-03 {
	padding: 0 0 15px 40px;
}

.heading {
	font-family: Bebas, Arial, Helvetica, sans-serif;
	font-size: 18px;
	border-bottom: 1px solid;
	padding-bottom: 10px;	
}

.content {
	font-family: Ebrima, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
    margin-right: 15px;
	text-align: right;
}

#footer {
    margin-top: 30px;
	padding:0 0 0px 40px;
}

#footer .left {
	border-left: 2px solid;
    padding-left: 20px;
    float: left;
    width: 343px;
	
}
.social {
	
}