body {
    background: #002642;
}

.tabbed-modal {
    width: 855px;
    height: 593px;
    background: url(../images/background.png) no-repeat;
    padding: 6px 0 33px 34px;
    margin: 15px auto;
}

/**
 * Header & nav 
 */

.tabbed-modal > .tabbed-modal-header {
    position: relative;
    width: 100%;
    height: 87px;
}

#mp-nav {
    padding-left: 15px;
}

#mp-nav > a {
    display: block;
    width: 105px;
    height: 87px;
    float: left;
    text-indent: -9999px;
}

#mp-nav > a#mp-tab-link {
    background-image: url(../images/nav/tab-link.png);
}

#mp-nav > a#mp-animation {
    background-image: url(../images/nav/animation.png);
}

#mp-nav > a#mp-message {
    background-image: url(../images/nav/message.png);
}

#mp-nav > a#mp-preview {
    background-image: url(../images/nav/preview.png);
}

#mp-nav > a#mp-posted {
    background-image: url(../images/nav/posted.png);
}

#mp-nav > a.active {
    background-position: 0 -87px;
}

#mp-nav > div.mp-nav-next {
    width: 18px;
    height: 87px;
    display: block;
    background-image: url(../images/nav/limiter.png);
    background-repeat: no-repeat;
    background-position: 0 30px;
    float: left;
}

#mp-nav > div.mp-nav-next:nth-child(2) {
    margin: 0 20px;
}

#mp-nav > div.mp-nav-next:nth-child(4) {
    margin: 0 29px;
}

#mp-nav > div.mp-nav-next:nth-child(6) {
    margin: 0 32px 0 21px;
}

#mp-nav > div.mp-nav-next:nth-child(8) {
    margin: 0 17px;
}

#mp-close {
    position: absolute;
    top: -15px;
    right: -10px;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/close-30x30.png) no-repeat;
    text-indent: -99999px;
}

/**
 * Content 
 */
#mp-content {
    padding-top: 6px;
    width: 799px;
    margin: 0 auto;
}

#mp-content > .tab {
    display: none;
}

#mp-content > .tab.active {
    display: block;
}

#mp-content > .tab > .mp-tab-header {
    height: 52px;
    background: #1796dd;
    margin: 0 auto;
    padding: 6px 11px 5px 11px;
}

#mp-content > .tab > .mp-tab-header > h1, 
#mp-content > .tab > .mp-tab-header > h2 {
    margin: 0;
    font-family: "Helvetica Neue";
    font-size: 25px;
    font-weight: normal;
    line-height: 20px;
    color: #fff;
}

#mp-content > .tab > .mp-tab-header > h2 {
    font-size: 14px;
    line-height: 14px;
    margin-top: 5px;
    font-weight: lighter;
}


/**
 * Tab 1 - Tab link
 */
div.mp-search-link-place {
    padding-left: 9px;
}

div.mp-search-link-place > .search-element {
    margin: 13px 0 12px 0;
    float: left;
    width: 157px;
    position: relative;
    height: 43px;
    background: url(../images/step-1/search-bg-157.png) no-repeat;
}

div.mp-search-link-place > .search-element > input,
.add-own-link > .right > input,
#mp-tab-animation .search-element > input
 {
    border: 0;
    background: transparent;
    position: absolute;
    top: 5px;
    font-size: 14px;
    font-family: "Helvetica Neue";
    font-style: italic;
    color: #fff;
    left: 50px;
    height:33px;
    width:100px;
}

div.mp-search-link-place > .search-element > input::-webkit-input-placeholder,
.add-own-link > .right > input::-webkit-input-placeholder,
#mp-tab-animation .search-element > input::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 14px;
    font-family: "Helvetica Neue";
    font-style: italic;
    color:    #fff;
}
div.mp-search-link-place > .search-element > input:-moz-placeholder,
.add-own-link > .right > input:-moz-placeholder,
#mp-tab-animation .search-element > input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
    font-family: "Helvetica Neue";
    font-style: italic;
    color:    #fff;
}
div.mp-search-link-place > .search-element > input::-moz-placeholder,
.add-own-link > .right > input::-moz-placeholder,
#mp-tab-animation .search-element > input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 14px;
    font-family: "Helvetica Neue";
    font-style: italic;
    color:    #fff;
}
div.mp-search-link-place > .search-element > input:-ms-input-placeholder,
.add-own-link > .right > input:-ms-input-placeholder,
#mp-tab-animation .search-element > input:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 14px;
    font-family: "Helvetica Neue";
    font-style: italic;
    color:    #fff;
}

.add-own-link {
    float: left;
    margin-top: 13px;
    margin-left: 15px;
    width: 554px;
    height: 43px;
}

.add-own-link > .left {
    width: 195px; 
    float: left;
    background: #1796dd;
    height: 43px;
    -webkit-border-top-left-radius: 11px;
    -webkit-border-bottom-left-radius: 11px;
    -moz-border-radius-topleft: 11px;
    -moz-border-radius-bottomleft: 11px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.add-own-link > .left > span.plus-element {
    display: block;
    margin: 8px 13px 0 14px;
    width: 25px;
    height: 25px;
    float: left;
    background: url(../images/step-1/plus-element-25x25.png) no-repeat;
    text-indent: -9999px;
}

.add-own-link > .left > span.title {
    display: block;
    font-size: 14px;
    float: left;
    line-height: 43px;
    font-family: "Helvetica Neue";
    color:    #fff;
}


.add-own-link > .right {
    float: left;
    position: relative;
    background: #57d1f7;
    width: 359px;
    height: 43px;
    -webkit-border-top-right-radius: 11px;
    -webkit-border-bottom-right-radius: 11px;
    -moz-border-radius-topright: 11px;
    -moz-border-radius-bottomright: 11px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.add-own-link > .right > input {
    left: 9px;
    width: 330px;
}

div.list-tabs > div.header {
    width: 781px;
    height: 43px;
    padding-left: 51px;
    background: #1796dd;
}

div.list-tabs > div.header > span {
    display: block;
    font-family: "Helvetica Neue";
    font-size: 16px;
    float: left;
    font-weight: lighter;
    color: #fff;
    line-height: 43px;
}

div.list-tabs > div.header > span.one {
    margin-right: 40px;
}

div.list-tabs > div.header > span.two {

}

div.list-tabs > div.header > span > a {
    color: #fff;
}

div.list-tabs > div.header > span.three {
    margin: 0 21px 0 15px;
}

div.list-tabs > div.header > select.tabs-select-box {
    background-color: transparent;
    background: url(../images/step-1/choose-other-page-button.png) no-repeat 0 0;
    float: left;
    display: block;
    margin-left: 45px;
    line-height: 43px;
    border: 0;
    text-indent: -99999px;
    width: 182px;
    height: 31px;
    margin-top: 7px;
    -webkit-appearance:none;
}

div.list-tabs > div.header > a.show-all-button {
    float: left;
    display: block;
    line-height: 43px;
    text-indent: -99999px;
    width: 151px;
    height: 31px;
    margin-top: 7px;
    background: url(../images/step-1/show-all-tabs-button.png) no-repeat;
}

div.list-tabs > div.header > i.ticked {
    margin-top: 7px;
    float: left;
    display: none;
    background: url(../images/step-1/show-all-tick.png) no-repeat;
    width: 28px;
    margin-left: 8px;
    height: 28px;
}

div.list-tabs > div.header > i.ticked.active {
    display: block;
}

div.list-tabs > div.content {
    width: 781px;
    height: 238px;
    background: #002f5f;
    padding: 5px 5px 15px 5px;
}

div.list-tabs > div.content div.tabs-element {
    width: 128px;
    margin: 8px;
    height: 160px;
    background: #fff;
    border-radius: 16px;
    float: left;
}

div.list-tabs > div.content div.tabs-element.active {
    border: 5px solid #3fd3ff;
    height: 170px;
    width: 138px;
    margin: 3px;
}

div.list-tabs > div.content div.tabs-element > .title {
    width: 111px;
    height: 20px;
    margin: 12px auto 8px auto;
    background: #1796dd;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

div.list-tabs > div.content div.tabs-element > .thumb {
    width: 111px;
    height: 74px;
    margin: 0 auto 7px auto;
    background: #1796dd;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

div.list-tabs > div.content div.tabs-element > a.view-on-facebook {
    display: block;
    text-indent: -9999px;
    background: url(../images/step-1/view-on-fb.png) no-repeat;
    width: 90px;
    height: 30px;
    margin: 0 auto;
}

/**
 * Tab 2 - Animation
 */
#mp-tab-animation {
    width: 782px;
    height: 289px;
    margin: 6px auto 18px auto;
}

#mp-tab-animation > .left > .search-element, 
#mp-tab-animation > .right > .search-element {
    position: relative;
    margin: 0 auto 6px auto;
    width: 178px;
    height: 40px;
    background: url(../images/step-2/search-background-178x40.png) no-repeat;
}

#mp-tab-animation > .left > .search-element > input, 
#mp-tab-animation > .right > .search-element > input {
    position: absolute;
    width: 120px;
    top: 5px;
    height: 30px;
    left: 48px;
    background: transparent;
    border: 0;
}

#mp-tab-animation > .left {
    float: left;
    width: 378px;
    margin-right: 26px;
}

#mp-tab-animation > .right {
    float: left;
    width: 378px;
}

#mp-tab-animation > .left > .favorites-box > .header,
#mp-tab-animation > .right > .animations-box > .header {
    height: 17px;
    text-align: center;
    background: #1796dd;
    font-size: 15px;
    line-height: 17px;
    color: #fff;
}

#mp-tab-animation > .left > .favorites-box > .content,
#mp-tab-animation > .right > .animations-box > .content {
    width: 378px;
    height: 272px;
    background: #002f5f;
    padding: 0 0 5px 5px;
}

.favorites-list > .fav-element {
    width: 104px;
    height: 124px;
    background: #fff;
    border-radius: 16px;
    margin: 6px 5px;
    float: left;
}

.favorites-list > .fav-element > .top {
    clear: both;
}

.favorites-list > .fav-element > .top > .title {
    width: 63px;
    height: 22px;
    background: url(../images/step-2/title-bg.jpg) no-repeat;
    padding-right: 20px;
    margin-top: 6px;
    margin-left: 9px;
    text-align: center;
    float: left;
    color: #fff;
    font-family: "Helvetica Neue";
    font-size: 13px;
    font-weight: bold;
    line-height: 22px;
}

.favorites-list > .fav-element > .top > .favorite {
    width: 22px;
    height: 24px;
    background: url(../images/step-2/favorite-star.png) no-repeat;
    float: left;
    margin-left: 5px;
    margin-top: 3px;
}

.favorites-list > .fav-element > .top > .favorite.active {
    background: url(../images/step-2/favorite-star.png) no-repeat 0 -24px;    
}

.favorites-list > .fav-element > .animation {
    width: 86px;
    height: 79px;
    background: url(../images/step-2/animation-placeholder.jpg) no-repeat;
    margin: 4px auto;
}

/**
 * Message
 */

.mp-message-content {
    width: 787px;
    height: 342px;
    margin: 8px auto 0 auto;
}

.mp-message-content > .left {
    width: 227px;
    margin-right: 13px;
    float: left;
}

.mp-message-content > .left > .posting-box {
    height: 176px;
    margin-bottom: 6px;
}

.mp-message-content > .left > .posting-box > .header,
.mp-message-content > .left > .when-box > .header,
.mp-message-content > .right > .message-box > .header {
    height: 36px;
    width: 100%;
    text-align: center;
    background: #1796dd;
    font-size: 25px;
    font-family: "Helvetica Neue";
    color: #fff;
    line-height: 36px;
}

.mp-message-content > .left > .posting-box > .content,
.mp-message-content > .left > .when-box > .content {
    height: 140px;
    padding-top: 12px;
    background: #002f5f;
}
.mp-message-content > .left > .when-box > .content {
    height: 126px;
    position: relative;
}

.mp-message-content > .left > .when-box > .content > .now-button {
    display: block;
    text-indent: -99999px;
    width: 140px;
    height: 38px;
    background: url(../images/step-3/now-button.png) no-repeat;
    margin-left: 12px;
}

.mp-message-content > .left > .when-box > .content > .when-box-text {
    display: block;
    font-family: "Helvetica Neue";
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    margin-left: 72px;
    color: #fff;
}

.mp-message-content > .left > .when-box > .content > .schedule-button {
    display: block;
    text-indent: -99999px;
    width: 140px;
    height: 38px;
    background: url(../images/step-3/schedule-button.png) no-repeat;
    margin-left: 12px;
}

.mp-message-content > .left > .when-box > .content > .ticked {
    display: none;
    width: 38px;
    height: 38px;
    position: absolute;
    background: url(../images/step-3/when-choice-tick.png) no-repeat;
    bottom: 14px;
    right: 14px;
}

.mp-message-content > .left > .when-box > .content > .ticked.active {
    display: block;
}

.fan-page-box {
    display: block;
    background: #fff;
    border-radius: 15px;
    margin: 0 auto 6px auto;
    padding: 7px 7px 7px 10px;
    border: 3px solid #92e0f7;
    width: 188px;
    height: 76px;
}

.fan-page-box > .image-fan-box {
    width: 56px;
    float: left;
    height: 56px;
    background-color: #002e61;
}

.fan-page-box > .fan-page-name {
    float: left;
    width: 102px;
    text-align: center;
    background: #008dd8;
    height: 42px;
    line-height: 37px;
    color: #fff;
    font-size: 12px;
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-style: italic;
    margin-left: 4px;
    vertical-align: middle;
    margin-top: 6px;
}

.fan-page-box > .fan-page-name > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.other-pages-button {
    margin: 0 auto;
    display: block;
    width: 172px;
    height: 38px;
    background: url(../images/step-3/other-pages-button.png) no-repeat;
    text-indent: -99999px;
}

.mp-message-content > .right {
    width: 547px;
    float: left;
    height: 342px;
}

.mp-message-content > .right > .message-box > .content {
    height: 308px;
    padding-top: 12px;
    background: #002f5f;
}

.message-box .message-background {
    width: 492px;
    height: 259px;
    background: url(../images/step-3/fb-main.png) no-repeat;
    margin: 8px 0 0 11px;
    padding: 13px 0 0 93px;
}


.message-box .message-background.preview {
    width: 435px;
    height: 259px;
    background: url(../images/step-4/post-preview.png) no-repeat;
    padding: 13px 0 0 36px;
}

.message-box .message-background.preview > .header > .message-footer {
    margin-top: 15px;
}

.message-box .message-background > .header {
    width: 379px;
    height: 33px;
    padding-bottom: 4px;
    border-bottom: 1px solid #e5e5e5;
} 

.message-box .message-background > .header > .image {
    width: 33px;
    height: 33px;
    background: #c4cfe0;
    float: left;
}

.message-box .message-background > .header > .image > img {
    width: 33px;
    height: 33px;
}

.message-box .message-background > .header > .description {
    float: left;
    padding-top: 2px;
}

.message-box .message-background > .header > .fb-message {
    color: rgb(20, 24, 35);
    direction: ltr;
    display: block;
    font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: auto;
    line-height: 19px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    text-align: left;
    width: auto;
    word-wrap: break-word;
}

.message-box .message-background > .header > .description > p {
    margin: 0;
    font-size: 12px;
    color: rgb(137, 143, 156);
    direction: ltr;
    display: block;
    font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: auto;
    line-height: 15px;
    text-align: left;
    width: auto;
    margin-left: 5px;
    word-wrap: break-word;
}

.message-box .message-background > .header > .description > p > a {
    font-weight: bold;
}

.message-box .message-background > .header > .preview {
    width: 379px;
    height: 116px;
    border: 1px solid #d2dae7;
}

.message-box .message-background > .header > .preview > .left {
    border-right: 1px solid #d3dae8;
    width: 121px;
    float: left;
    height: 114px;
}

.message-box .message-background > .header > .preview > .left > img {
    display: block;
    width: 102px;
    height: 86px;
    background: #bbb;
    border-radius: 5px;
    margin: 16px auto 0 auto;
}

.message-box .message-background >  .header > .preview > .right {
    background: #f6f7f9;
    width: 256px;
    height: 114px;
    padding: 2px 9px;
    float: left;
}

.message-box .message-background > .header > .message-footer {
    width: 403px;
    height: 25px;
    background: url(../images/step-3/preview-footer-facebook.jpg) no-repeat;
    margin-left: -15px;
    margin-top: 5px;
}

.message-box .message-background >  .header > .preview > .right > .title {
    color: rgb(59, 89, 152);
    font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
}

.message-box .message-background >  .header > .preview > .right > .caption,
 .message-box .message-background >  .header > .preview > .right > .description {
    color: rgb(137, 143, 156);
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    height: auto;
    line-height: 15px;
    text-align: left;
    text-decoration: none;
    width: auto;
    word-wrap: break-word;
}

/**
 * Tab 4 - Preview 
 */
.mp-preview-content {
    width: 794px;
    height: 342px;
    padding-top: 8px;
    margin-bottom: 20px;
}

.mp-preview-content > .left {
    width: 169px;
    margin-left: 4px;
    float: left;
}

.mp-preview-content > .left > .preview-box {
    width: 169px;
    height: 69px;
}

.mp-preview-content > .left > .preview-box > .header {
    height: 36px;
    background: #1796dd;
    font-family: "Helvetica Neue";
    font-size: 15px;
    color: #fff;
    line-height: 36px;
}

.mp-preview-content > .left > .preview-box > .content {
    background: #002f5f;
    height: 33px;
    font-family: "Helvetica Neue";
    font-size: 15px;
    color: #fff;
    line-height: 33px;
    padding-left: 10px;
    font-weight: bold;
}

.mp-preview-content > .middle {
    margin-left: 9px;
    width: 149px;
    height: 225px;
    float: left;
}

.mp-preview-content > .middle > .header {
    height: 34px;
    background: #1796dd;
    font-family: "Helvetica Neue";
    font-size: 15px;
    color: #fff;
    line-height: 34px;
}

.mp-preview-content > .middle > .content {
    padding-top: 13px;
    background: #002f5f;
    height: 191px;
}

.mp-preview-content > .middle > .content > .tabs-element {
    width: 128px;
    margin: 0 auto;
    height: 160px;
    background: #fff;
    padding-top: 12px;
    border-radius: 16px;
}

.mp-preview-content > .middle > .content > .tabs-element > .title {
    width: 111px;
    height: 20px;
    margin: 0 auto 8px auto;
    background: #1796dd;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.mp-preview-content > .middle > .content > .tabs-element > .thumb {
    width: 111px;
    height: 74px;
    margin: 0 auto 7px auto;
    background: #1796dd;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.mp-preview-content > .middle > .content > .tabs-element > .view-on-facebook {
    display: block;
    text-indent: -9999px;
    background: url(../images/step-1/view-on-fb.png) no-repeat;
    width: 90px;
    height: 30px;
    margin: 0 auto;
}

.mp-preview-content > .right {
    width: 454px;
    margin-left: 9px;
    float: left;
    height: 342px;
}

.mp-preview-content > .right > .header {
    height: 34px;
    background: #1796dd;
    font-family: "Helvetica Neue";
    font-size: 15px;
    color: #fff;
    line-height: 34px;
}

.mp-preview-content > .right > .content {
    background: #002f5f;
    height: 308px;
    padding-top: 8px;
}

/**
 * Tab 5 - posted 
 */
.main-posted {
    position: relative;
    width: 505px;
    height: 282px;
    background: url(../images/step-5/posted-bg.png) no-repeat;
    margin: 20px auto 27px auto;
    padding-top: 78px;
}

.main-posted > span.title-posted {
    display: block;
    position: absolute;
    top: 5px;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    left: 95px;
}

.main-posted > h2 {
    font-family: "Helvetica Neue";
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    left: 95px;
    margin-top: 5px;
}

.main-posted > h2 > i.checked-big {
    width: 94px;
    height: 94px;
    background: url(../images/step-5/confirm-tick-94x94.png) no-repeat;
    text-indent: -9999px;
    display: inline-block;
    margin-bottom: -25px;
}

.main-posted > .view-on-facebook {
    display: block;
    width: 363px;
    height: 49px;
    background: url(../images/step-5/view-on-FB-button.png) no-repeat;
    text-indent: -99999px;
    margin: 35px auto 0 auto;
}

div.additional-buttons {
    width: 687px;
    height: 41px;
    margin: 0 auto 35px auto;
}

div.additional-buttons > div.what-next {
    width: 151px;
    height: 41px;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    line-height: 41px;
    background: #00a6f7;
    border-radius: 15px;
    text-align: center;
    margin-right: 17px;
    float: left;
}

div.additional-buttons > a.button {
    display: block;
    float: left;
    text-indent: -99999px;
    height: 39px;
    margin-right: 14px;
}

div.additional-buttons > a.new-motion-post {
    width: 199px;
    background: url(../images/step-5/new-motion-post-button.png) no-repeat;
}

div.additional-buttons > a.duplicate {
    width: 146px;
    background: url(../images/step-5/duplicate-buton.png) no-repeat;
}

div.additional-buttons > a.analytics {
    margin-right: 0;
    width: 146px;
    background: url(../images/step-5/analytics-button.png) no-repeat;
}

/**
 * Footer 
 */

#mp-footer {
    width: 782px;
    height: 49px;
    margin: 10px auto 0 auto;
}

#mp-footer > #mp-footer-left-side {
    width: 265px;
    height: 49px;
    float: left;
}

#mp-footer > #mp-footer-left-side > a.button,
#mp-footer > #mp-footer-right-side > a.button {
    display: block;
    text-indent: -99999px;
    height: 39px;
    width: 143px;
}

#mp-footer > #mp-footer-left-side > a.prev {
    background: url(../images/back-button.png) no-repeat;
}

#mp-footer > #mp-footer-left-side > a.cancel {
    background: url(../images/cancel-button.png) no-repeat;
}

#mp-footer > #mp-footer-middle {
    width: 211px;
    height: 49px;
    float: left;
}

#mp-footer > #mp-footer-middle > span {
    font-family: "Helvetica Neue";
    font-style: italic;
    font-size: 23px;
    display: block;
    float: left;
    color: #79daf9;
}

#mp-footer > #mp-footer-middle > a.upload-image-button {
    display: block;
    width: 178px;
    height: 39px;
    background: url(../images/step-2/upload-image-button.png) no-repeat;
    text-indent: -9999px;
    float: left;
    margin-left: 8px;
}

#mp-footer > #mp-footer-right-side {
    width: 306px;
    height: 49px;
    float: left;
}

#mp-footer > #mp-footer-right-side > a.next {
    background: url(../images/next-button.png) no-repeat;
    float: right;
}

#mp-footer > #mp-footer-right-side > a.next.active {
    background: url(../images/next-button.png) no-repeat;
    background-position: 0 -39px;
    float: right;
}

#mp-footer > #mp-footer-right-side > a.post {
    background: url(../images/step-4/post-button.png) no-repeat;
    float: right;
}

/** 
 * Fu.. icons
 */

.to-page-icon {
    display: inline-block;
    width: 25px;
    height: 28px;
    background: url(../images/step-4/to-page-icon.png) no-repeat;
    margin: 4px 8px -8px 9px;
}

.when-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../images/step-4/when-icon.png) no-repeat;
    margin: 4px 8px -8px 9px;
}

.linking-to-icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url(../images/step-4/link-to-icon.png) no-repeat;
    margin: 5px 7px -8px 8px;
}

.anim-icon {
    display: inline-block;
    width: 24px;
    height: 26px;
    background: url(../images/step-4/animation-icon.png) no-repeat;
    position: absolute;
    left: 10px;
    top: 4px;
}

.msg-icon {
    display: inline-block;
    width: 28px;
    height: 26px;
    background: url(../images/step-4/messages-icon.png) no-repeat;
    position: absolute;
    right: 8px;
    top: 5px;
}

#motion-post-save-details {
    width: 806px;
    height: 80px;
    background: url(../images/cancel-background.png) no-repeat;
    position: absolute;
    top: 1px;
    left: 11px;
}

#motion-post-save-details > span {
    font-family: "Helvetica Neue";
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    line-height: 80px;
    padding-left: 70px;
}

#motion-post-save-details > a.yes-button-msg {
    display: block;
    background: url(../images/cancel-msg-yes.png) no-repeat;
    width: 73px;
    height: 36px;
    text-indent: -99999px;
    position: absolute;
    top: 25px;
    right: 270px;
}

#motion-post-save-details > a.keep-button-msg {
    top: 25px;
    display: block;
    background: url(../images/cancel-msg-keep.png) no-repeat;
    width: 145px;
    text-indent: -99999px;
    height: 35px;
    right: 90px;
    position: absolute;
}