<!doctype html>
<html>
    <head>
        <title>Offer Ad Template</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="stylesheet" href="resources/css/style.css">
    </head>
    <body>
        <div class="main">
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5zZWN0aW9uLTAxIiwiY29sb3IiOiIjMDAzMDY4IiwiYWRtaW5UYWciOiJzZWN0aW9uLTAxLWJhY2tncm91bmQifQ==}}
            <div class="section-01 selectable-element" data-admin-tag="section-01-background">
                <div class="curl">
                    {{_tabfu:ImportField:imagead:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9jdXJsLnBuZyJ9}}
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgxPlNBTEU8L2gxPiJ9}}
                </div>
                <div class="content">
                    {{_tabfu:ImportField:imagead:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9hZGQtc2NyZWVuc2hvdC5wbmcifQ==}}
                </div>
                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5ib3R0b20taW5mbyIsImNvbG9yIjoiIzAxQUJDQyIsImFkbWluVGFnIjoiYm90dG9tLWluZm8tYmFja2dyb3VuZCJ9}}
                <div class="bottom-info selectable-element" data-admin-tag="bottom-info-background">
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgyPlFVSUNLIElORk8gSEVSRTwvaDI+In0=}}
                </div>
            </div>
        </div>
    </body>
</html>