<!doctype html>
<html>
    <head>

        <title>Template 03</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=810, maximum-scale=1.0">
		
        <script src="resources/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="//connect.facebook.net/en_US/all.js"></script>
        <script>
            FB.init({
                appId: '243962189122234',
                status: false, /* check login status */
                cookie: true, /* enable cookies to allow the server to access the session */
                xfbml: true /* parse XFBML */
            });
        </script>
        <script type="text/javascript">
        var getTotalHeightOfPage = function() {
            return Math.max(
                (document.height) ? document.height : 0,
                Math.max(document.body.scrollHeight, document.documentElement.scrollHeight),
                Math.max(document.body.offsetHeight, document.documentElement.offsetHeight),
                Math.max(document.body.clientHeight, document.documentElement.clientHeight)
            );
        };
        var last_height = 0;
        function sizeChangeCallback() {
            if (typeof(FB) == 'undefined' || typeof(document.body) == 'undefined') return;
            var h = getTotalHeightOfPage();
            if (last_height == h) {
                return;
            }
            h += 20;
            last_height = h;
            FB.Canvas.setSize({ height: h });
        }

        $(window).load(function() {
            window.fbAsyncInit = function() {
                sizeChangeCallback();
            };
            setTimeout(function() { sizeChangeCallback(); }, 800);
            
            // hide hidden feature
            if ($.trim($('.video-holder').html()) == '') {
                $('.video-holder').hide();
            }
        });
        </script>

        <link rel="stylesheet" href="resources/css/style.css">

    </head>
    <body style="overflow:hidden">
        <div id="fb-root"></div>
        {{_tabfu:ImportField:scrollTo:}}
        <div class="main">
            <header id="header">

                <div class="top">
                    <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiQ29tcGFueSBuYW1lIn0=}}</span>
                </div>

                <div class="bottom">
                    {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLmJhY2tncm91bmQtYm90dG9tIiwiYWRtaW5UYWciOiJwaW5rLWhlYWRlci1iYWNrZ3JvdW5kIiwiY29sb3IiOiJmNTcwODMifQ==}}<div class="background-bottom" data-admin-tag="pink-header-background">
                        <h1>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiWW91ciBGYWNlYm9vayBUYWIgVGl0bGUifQ==}}</h1>
                        <h2>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiWW91ciBTZWNvbmRhcnkgSGVhZGxpbmUgSGVyZSJ9}}</h2>
                    </div>
                </div>

                <div class="become-a-fan">
                    <a title="become a fan">become a fan</a>
                </div>
                
                <div class="clearfix"></div>

            </header>

            <section id="sec-01">
                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLmJhY2tncm91bmQtc2VjdGlvbi0wMSIsImFkbWluVGFnIjoic2VjdGlvbi0wMS1iYWNrZ3JvdW5kIiwiY29sb3IiOiJmZmZmZmYifQ==}}<div class="background-section-01" data-admin-tag="section-01-background">
                    <span class="counter">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9waW5rLWRvdC0xLnBuZyIsImFsdCI6IiJ9}}
                    </span>
                    <span class="content-01">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiR2V0IHJlYWR5IHRvIHNoYXJlPGJyIFwvPnRoaXMgcGFnZSB3aGVuIGFza2VkLi4uIn0=}}</span>
                    <div class="like-element">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9saWtlLWhhbmQucG5nIiwiYWx0IjoiIiwicHJlZmVyZWRXaWR0aCI6MTQzLCJwcmVmZXJlZEhlaWdodCI6MTI3fQ==}}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </section>

            <section id="sec-02">

                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLmJhY2tncm91bmQtc2VjdGlvbi0wMiIsImFkbWluVGFnIjoic2VjdGlvbi0wMi1iYWNrZ3JvdW5kIiwiY29sb3IiOiJmZmZmZmYifQ==}}<div class="background-section-02" data-admin-tag="section-02-background">
                    <span class="counter">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9waW5rLWRvdC0yLnBuZyIsImFsdCI6IiJ9}}
                    </span>
                    <span class="content-02" style="display:inline-block">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiV2F0Y2ggb3VyIGF3ZXNvbWUgdmlkZW8hIn0=}}</span>
                </div>

                <div class="arrow-right">
                    {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9yaWdodC1hcnJvdy5wbmciLCJhbHQiOiIifQ==}}
                </div>

                <div class="video-holder">
                    {{_tabfu:ImportField:video:}}
                </div>

                <div class="arrow-left">
                    {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9sZWZ0LWFycm93LnBuZyIsImFsdCI6IiJ9}}
                </div>

                <div class="instant-access">
                    <span class="counter">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9waW5rLWRvdC0zLnBuZyIsImFsdCI6IiJ9}}
                    </span>

                    {{_tabfu:ImportField:template03Gate:eyJwcmVmZXJlZFdpZHRoIjoiNDcxIiwicHJlZmVyZWRIZWlnaHQiOiIzMzEifQ==}}

                </div>
                
                <div class="clearfix"></div>

            </section>

            <section id="sec-03">
                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLmZlYXR1cmVzLWJveCIsImFkbWluVGFnIjoiZmVhdHVyZXMtYm94LWJhY2tncm91bmQiLCJjb2xvciI6ImZmZmZmZiJ9}}<div class="features-box" data-admin-tag="features-box-background">
                    <div class="feature-element">
                        <span class="pink-tick">{{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9waW5rLXRpY2sucG5nIiwiYWx0IjoiIn0=}}</span>
                        <span class="content-tick">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiQXdlc29tZSBmZWF0dXJlIG51bWJlciBvbmUgYW5kIGFuZCBob3cgaXQgd2lsbCBiZW5lZml0IHRoZSB1c2VyIHRvIGEgZ3JlYXQgZXh0ZW50LiJ9}}</span>
                    </div>
                    <div class="feature-element">
                        <span class="pink-tick">{{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9waW5rLXRpY2sucG5nIiwiYWx0IjoiIn0=}}</span>
                        <span class="content-tick">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiQXdlc29tZSBmZWF0dXJlIG51bWJlciBvbmUgYW5kIGFuZCBob3cgaXQgd2lsbCBiZW5lZml0IHRoZSB1c2VyIHRvIGEgZ3JlYXQgZXh0ZW50LiJ9}}</span>
                    </div>
                    <div class="feature-element">
                        <span class="pink-tick">{{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9waW5rLXRpY2sucG5nIiwiYWx0IjoiIn0=}}</span>
                        <span class="content-tick">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiQXdlc29tZSBmZWF0dXJlIG51bWJlciBvbmUgYW5kIGFuZCBob3cgaXQgd2lsbCBiZW5lZml0IHRoZSB1c2VyIHRvIGEgZ3JlYXQgZXh0ZW50LiJ9}}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </section>

            <section id="sec-04">
                <div class="instant-access">

                    <div class="double-arrow">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9hY2Nlc3MtYXJyb3cucG5nIiwiYWx0IjoiIn0=}}
                    </div>

                    {{_tabfu:ImportField:template03Gate:eyJwcmVmZXJlZFdpZHRoIjoiNDcxIiwicHJlZmVyZWRIZWlnaHQiOiIzMzEifQ==}}

                </div>
                <div class="clearfix"></div>
            </section>

            <footer id="footer">
                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLmxlZnQiLCJhZG1pblRhZyI6ImZvb3Rlci1iYWNrZ3JvdW5kIiwiY29sb3IiOiJmZmZmZmYifQ==}}<div class="left" data-admin-tag="footer-background">
                    <span> {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRGlzY2xhaW1lciBhbmQgb3RoZXIgaW1wb3J0YW50IGxlZ2FsPGJyIFwvPmluZm9ybWF0aW9uIGFib3V0IHlvdXIgY29tcGFueSwgd2hhdDxiciBcLz5pdCBkb2VzIGFuZCB3aGF0IHRoZSB1c2VyIGNhbiBleHBlY3QuIn0=}} </span>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
    </body>
</html>