

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);
body{ font-size:22px;  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height:1.3;}
p{ margin:0; margin-bottom:20px;}
p:last-child , h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child ,h6:last-child{ margin-bottom:0 !important;}
h1, h2, h3, h4, h5 ,h6{ margin:0; margin-bottom:20px; letter-spacing:-1px; font-weight:900; line-height: normal;}

.text-underline{ text-decoration:underline;}
.text-highlight1{ background:url(../img/hl.png) no-repeat center bottom; padding-bottom:10px;}
.text-highlight2{ background:url(../img/hl2.png) no-repeat center bottom; padding-bottom:33px;}
.text-large{ font-size:55px; padding:35px 0;}
.text-small{ font-size:20px;}
.text-medium{ font-size:45px;}
.text-medium span{ font-size:60px;}
.text-white{ color:#fff !important;}

.hl-small{ background:url(../img/blue-hl.png) no-repeat center bottom; padding-bottom:20px;}
.hl2-small{ background:url(../img/blue-hl2.png) no-repeat center bottom; padding-bottom:20px;}
.hl3-small{ background:url(../img/blue-hl3.png) no-repeat center bottom; padding-bottom:20px;}
.hl4-small{ background:url(../img/blue-hl4.png) no-repeat center bottom; padding-bottom:20px;}
.hl5-small{ background:url(../img/blue-hl5.png) no-repeat center bottom; padding-bottom:30px;}

header{ padding:10px 0;}

.cf-lblue{ padding:25px 0; background:#85dffc; color:#002f5f; letter-spacing:-0.5px;}
.cf-lblue p{ color:#00518c;}
.cf-lblue h1, .cf-lblue h2, .cf-lblue h3, .cf-lblue h4{ color:#00518c;}
.cf-blue{ padding:30px 0; background:#00518c; color:#fff; font-size:21px;} 
.cf-white{ padding:30px 0; color:#00518c; font-size:21px;}
.cf-blue p{ margin-bottom:20px;}

.arrow-right{ background:url(../img/arrow-right.png) no-repeat  140px 10px; padding:20px;}
.arrow-right2{ background:url(../img/arrow-right2.png) no-repeat  140px 10px; padding:20px;}
.arrow-down{ background:url(../img/arrow-down.png) no-repeat top left; padding:0px 180px 60px; display:inline-block;}
.arrow-left{ background:url(../img/arrow-left.png) no-repeat center right; padding:20px 0;}

.btn:hover{ opacity:0.9;}

.spacer{ height:30px;}

.share{ overflow:hidden;}
.share span{ float:left; font-size:20px; line-height:52px; text-transform:uppercase; font-weight:bold; color:#85dffc; margin-right:15px;}
.share ul li{ float:left; list-style:none;}
.share ul li a{ display:block; width:52px; height:52px; margin:0 6px; background-repeat:no-repeat; text-indent:-9999px; background-size:cover;}
.share ul li a:hover{ opacity:0.9;}
.share ul li a.tt{ background-image:url(../img/tt.png);}
.share ul li a.fb{ background-image:url(../img/fb.png);}
.share ul li a.li{ background-image:url(../img/li.png);}
.share ul li a.gp{ background-image:url(../img/gp.png);}

#share{ background:#61ccee; padding:20px;  border-radius:20px; color:#fff; width:515px; margin:0 auto;}
#share span{ line-height:72px; margin-right:30px; font-size:30px; color:#fff;}
#share ul li a{ width:72px; height:72px;}

header .share{ width:auto; background:none; margin-top:10px;}

#slider{ margin-bottom:60px;}


.cardinal-sins .container{ padding:40px 80px; padding-top:20px; color:#1099d2;}
.cardinal-sins .title span{ color:#00518c;}
.tooltip-box{ background:#1099d2; border-radius:20px; padding:20px; color:#fff; font-size:15px; height:340px; position:relative;}
.tooltip-box:after {content: ""; position: absolute; width: 0; height: 0; border-width: 20px; border-style: solid; border-color: transparent transparent #1099d2 transparent; top: -40px; left: 42%;}

.prod-desc{ padding-top:40px; color:#fff;}
.prod-desc h2{ line-height:1.8;}

.featured-block{ clear:both; overflow:hidden; margin-bottom:10px;}
.featured-block .ico{ float:left; width:80px; text-align:center; margin-right:20px;}
.featured-block h2{ font-size:20px; font-weight:normal; }
.featured-block h2 span{ display:inline-block; padding:20px 0; border-bottom:2px dotted #85dffc;}

.boxed-list{  border:4px solid #fff; position:relative; margin:30px 0;}
.boxed-list h2{ font-size:40px; text-align:center; margin-top:-26px; color:#fff;}
.boxed-list h2 span{  background:#85dffc; padding:10px 40px;}
.boxed-list ul {margin-left: -69px;}
.boxed-list ul li{ list-style:none; background:url(../img/list1.jpg) no-repeat center left; padding:20px 0; padding-left:80px; font-size:26px; font-weight:bold;}

.list-style1{ font-weight:bold;}
.list-style1 li{ background:url(../img/list-style1.png) no-repeat center left; list-style:none; padding:15px; padding-left:70px;}

.blue-box{ border-radius: 15px; width: 794px; margin:30px auto; background:#0266a3; padding:30px; color:#fff;}
.blue-box ul{ margin:0; padding:0;}


.line-height-x2 p{ line-height:1.8; margin-bottom:30px;}
.ttm{ background:url(../img/bg1.png) no-repeat center center;}

.featured-list { clear:both; margin-bottom:10px; padding:20px 0;}
.featured-list .ico{ float:left; width:140px; text-align:center; margin-top:5px;}


footer { background:#002f5f; color:#fff;}
footer .container{ padding:40px 0;}
footer .signup-form{ margin-bottom:40px; clear:both; overflow: hidden;}
footer .signup-form h3{ font-weight:normal; line-height: 1.6; font-size:30px;}
footer .signup-form h3 span{ font-size:18px; display:block; font-weight:normal;}
footer .signup-form input[type="email"]{ background:#85dffc; padding:10px; border:0; margin-top:10px; width:100%; color:#002f5f;}
footer .signup-form input[type="submit"]{ background:none; border:4px solid #85dffc; border-radius:5px; padding:8px 20px; margin-top:10px; text-transform:uppercase; width:80%; margin-left:20px;}
footer .signup-form input[type="submit"]:hover{ background-color:#023a74;}

.copyright{ font-size:15px;}
.copyright .sitename{ padding:15px 0;}