@import url(https://fonts.googleapis.com/css?family=Montserrat); /* Instead of Gotham */

html, body {
    width: 810px;
    margin: 0 auto;
    padding: 0;
}

div.clearfix {
    clear: both;
}

a > img { border: 0; }

p {
    margin: 0;
}

div.main {
    position: relative;
    width: 810px;
    margin: 0 auto;
    background: #2b3848;
    min-height: 500px;
}

/* # # # */
#header {
    height: 53px;
}

#header .left {
    padding-left: 35px;
    width: 330px;
    float: left;
}

#header .left .logo {
    height: 53px;
    display: table-cell;
    vertical-align: middle;
}

#header .right {
    text-align: right;
    float: right;
    width: 292px;
    margin-right: 34px;
}

#header .right .menu {
    float: left;
}

#header .right .sign-up {
    float: right;
    height: 53px;
}

#header .right .sign-up .sign-up-button {
    display: block;
    margin-top: 13px;
    width: 91px;
    height: 26px;
    background: url(../img/sign-up.png) no-repeat;
    text-indent: -99999999px;
    text-align: left;
}

#header .right nav ul {
    margin: 0;
    padding: 0;
}

#header .right nav ul li {
    list-style: none;
    float: left;
}

#header .right nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    text-transform: uppercase;
    color: #c4c3c3;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    line-height: 53px;
    display: block;
    margin-right: 12px;
}

#header .right nav ul li:last-of-type a {
    margin-right: 20px;
}

#header .right nav ul li.active a,
#header .right nav ul li a:hover {
    color: #f3f3f3;
}

/* # # # */

.section-01 {
    position: relative;
    /*height: 459px;*/
    background: #e4cf53;
}

.section-01 .top-border {
    background: #d1ba34;
    height: 5px;
}

.section-01 .left {
    width: 400px;
    float: left;
    height: 459px;
    position: relative;
    text-align: center;
    z-index: 1;
}
.section-01 .left .image .field-element {
    position: absolute;
    left: 0;
    bottom: 0;
}

.section-01 .left img {
    bottom: 0;
    left: 80px;
    position: absolute;
}

.section-01 .right {
    padding-top: 80px;
    width: 405px;
    margin-left: 5px;
    float: left;
    position: relative;
}

.section-01 .right .heading h1 {
    margin: 0 0 21px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.75);
}

.section-01 .right .description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #3f3f3f;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    line-height: 22px;
    width: 345px;
    margin-bottom: 30px;
}

.section-01 .right .form {
    padding-left: 8px;
}

.section-01 .right .form .title {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 11px;
}

.section-01 .right .form .inputs {
    width: 322px;
}

.section-01 .right .form .inputs .input {
    float: left;
    width: 160px;
}

.section-01 .right .form .inputs .input .image {
    float: left;
}

.section-01 .right .form .inputs .input .element {
    float: left;
}

.section-01 .right .form .inputs .input .element input {
    width: 107px;
    height: 24px;
    padding-left: 12px;
    border: 0;
    margin-right: 10px;
    border-bottom: 1px solid #b8b8b8;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.section-01 .form .free-quote {
    margin-left: 59px;
    margin-top: 18px;
}
.section-01 .form .free-quote .button-blue {
    width: 200px;
    height: 50px;
    background: url(../img/get-free-quote-blue.png) no-repeat;
    border: 0;
    color: #fff;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-indent: -3000em;
    overflow: hidden;
} 

.section-01 .right .form .inputs .input:last-of-type .element input {
    margin-right: 0;
}

.section-01 .overlay {
    height: 16px;
    width: 810px;
    bottom: 0;
    background: rgba(255,202,70,0.4);
    position: absolute;
}

/* # # # */

.section-02 {
    /*height: 390px;*/
    background: #fff;
    padding: 58px 0;
}

.section-02 .heading {
    text-align: center;
}

.section-02 .heading h2 {
    margin: 0 0 19px 0;
    color: #3b3e4c;
    font-family: 'Montserrat', sans-serif;
}

.section-02 .heading span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #a6a6a6;
    line-height: 25px;
}

.section-02 .elements-box,
.section-04 .elements-box {
    padding-left: 50px;
    padding-top: 45px;
}

.section-02 .elements-box .box,
.section-04 .elements-box .box {
    width: 200px;
    float: left;
    margin-right: 52px;
    text-align: center;
}

.section-02 .elements-box .box .heading-box,
.section-04 .elements-box .box .heading-box {
    margin-top: 25px;
    margin-bottom: 18px;
    font-size: 14px;
    color: #3b3e4c;
    font-family: 'Montserrat', sans-serif;
}

.section-02 .elements-box .box .description-box,
.section-04 .elements-box .box .description-box {
    color: #949494;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 18px;
}

.section-02 .elements-box .box:last-of-type,
.section-04 .elements-box .box:last-of-type {
    margin-right: 0;
}

/* # # # */

.section-03 {
    /*height: 305px;*/
    background: #f5f5f5;
    padding-bottom: 40px;
}

.section-03 .left {
    float: left;
    padding-left: 40px;
    padding-top: 63px;
}

.section-03 .left .image {
    width: 365px;
    text-align: center;
}

.section-03 .right {
    width: 389px;
    float: left;
    padding-left: 16px;
    padding-top: 89px;
}

.section-03 .right .heading h2 {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 20px 0;
    color: #75a1c5;
    font-size: 16px;    
}

.section-03 .right .description {
    font-size: 11px;
    color: #3f3f3f;
    line-height: 20px;
    width: 340px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0);
}

/* # # # */

.section-04 {
    /*height: 427px;*/
    background: #fff;
    padding-bottom: 60px;
}

.section-04 .heading {
    text-align: center;
    padding-top: 57px;
}

.section-04 .heading h2 {
    margin: 0 0 70px 0;
    color: #3b3e4c;
    font-family: 'Montserrat', sans-serif;
}

.section-04 .elements-box {
    padding-top: 0;
}

/* # # # */

.section-05 {
    /*height: 206px;*/
    padding: 86px 0;
    background: #86a6c0;
    text-align: center;
}

.section-05 .heading h3 {
    margin: 0 0 15px 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.section-05 .description {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 11px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    line-height: 18px;
}

.section-05 .free-quote .green-button {
    display: block;
    width: 200px;
    height: 50px;
    background: url(../img/get-free-quote-green.png) no-repeat;
    border: 0;
    color: #fff;
    font-size: 11px;
    line-height: 35px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    margin: 22px auto 0 auto;
    cursor: pointer;
    overflow: hidden;
    text-indent: -3000em;
}

/* # # # */

.section-06 {
    /*height: 206px;*/
    background: #fff;
}

.section-06 .left {
    width: 130px;
    padding-left: 40px;
    float: left;
}

.section-06 .left .image {
    width: 130px;
    height: 206px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.section-06 .right {
    float: left;
    width: 571px;
    padding: 60px 20px 0 29px;
}

.section-06 .right .quote {
    font-family: Georgia, Arial, sans-serif;
    font-size: 14px;
    color: #444444;
    line-height: 22px;
    margin-bottom: 20px;
}

.section-06 .right .author span.name,
.section-06 .right .author span.position {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #515151;
    text-transform: uppercase;
    line-height: 14px;
}

.section-06 .right .author span.position {
    color: #969696;
}

/* # # # */

.section-07 {
    /*height: 527px;*/
    background: #f5f5f5;
    padding-bottom: 40px;
}

.section-07 .heading {
    text-align: center;
    padding-top: 50px;
}

.section-07 .heading h2 {
    margin: 0 0 17px 0;
    color: #3b3e4c;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.section-07 .description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #8a8a8a;
    line-height: 20px;
    width: 500px;
    margin: 0 auto 50px auto;
    text-align: center;
}

.section-07 .slider {
    position: relative;
    text-align: center;
}

.section-07 .slider .unslider-arrow {
    display: block;
    width: 34px;
    height: 35px;
    background: url(../img/slider-nav.png) no-repeat;
    text-indent: -99999999px;
    position: absolute;
    top: 50px;
}

.section-07 .slider .unslider-arrow.prev {
    left: 78px;
}

.section-07 .slider .unslider-arrow.next {
    background-position: -43px 0;
    right: 79px;
}

/* # # # */

.section-08 {
    /*height: 264px;*/
    background: #fff;
    text-align: center;
    padding-bottom: 40px;
}

.section-08 .heading {
    text-align: center;
    padding-top: 50px;
}

.section-08 .heading h2 {
    margin: 0 0 17px 0;
    color: #3b3e4c;
    font-family: 'Montserrat', sans-serif;
}

.section-08 .description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #a6a6a6;
    line-height: 20px;
}

.section-08 .company-co {
    text-align: center;
}
.section-08 .company-co .image {
    display: inline-block;
}

.section-08 .company-co img {
    display: inline-block;
    margin: 30px 36px 0 36px;
}

.section-08 .company-co img:first-of-type {
    margin-left: 0;
}

.section-08 .company-co img:last-of-type {
    margin-right: 0;
}

/* # # # */

.section-09 {
    /*height: 214px;*/
    background: #86a6c0;
    padding-bottom: 60px;
}

.section-09 .description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 18px;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.25);
    color: #fff;
    text-align: center;
    padding-top: 60px;
}

.section-09 .free-quote-place {
    width: 280px;
    margin: 10px auto 0 auto;
}

.section-09 .free-quote-place .left-arrow {
    float: left;
}

.section-09 .free-quote-place .free-quote {
    float: left;
}

.section-09 .free-quote-place .right-arrow {
    float: left;
}

.section-09 .free-quote-place .free-quote .yellow-button {
    display: block;
    width: 200px;
    height: 50px;
    background: url(../img/get-free-quote-yellow.png) no-repeat;
    border: 0;
    color: #fff;
    font-size: 11px;
    line-height: 35px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    margin-top: 8px;
    cursor: pointer;
    overflow: hidden;
    text-indent: -3000em;
}

/* # # # */

#footer {
    height: 267px;
    border-top: 5px solid #15121b; 
    background: #24222f;
    padding-left: 43px;
}

#footer .columns .left-column,
#footer .columns .middle-column,
#footer .columns .right-column {
    float: left;
    width: 170px;    
}

#footer .columns .left-column {
    width: 282px;
    margin-right: 62px;
    padding-top: 25px;
}

#footer .columns .left-column #logo-footer {
    margin-bottom: 17px;
}

#footer .columns .left-column .description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #8f8f8f;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    line-height: 18px;
    margin-bottom: 13px;
}

#footer .columns .left-column .email-footer {
    width: 278px;
    height: 39px;
    background: url(../img/newsletter-footer.png) no-repeat;
    position: relative;
}

#footer .columns .left-column .email-footer input[type=text],
#footer .columns .left-column .email-footer input[type=email] {
    width: 226px;
    height: 37px;
    background: transparent;
    border: 0;
    margin-left: 20px;
    font-size: 8px;
    color: #868587;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 0.1);
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 8px;
    color: #868587;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 0.1);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 8px;
    color: #868587;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 0.1);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 8px;
    color: #868587;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 0.1);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 8px;
    color: #868587;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 0.1);
}

#footer .columns .left-column .email-footer input[type=submit] {
    width: 13px;
    height: 10px;
    text-indent: -9999999px;
    text-align: left;
    background: url(../img/send-it-icon.png) no-repeat;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: absolute;
    right: 14px;
    top: 13px;
}

#footer .columns .middle-column {
    margin-right: 44px;
    padding-top: 30px;
}

#footer .columns .right-column {
    padding-top: 30px;
}

#footer .columns .middle-column .heading h3,
#footer .columns .right-column .heading h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 0.2);
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 20px 0;
}

#footer .middle-column .description,
#footer .right-column .description {
    color: #949494;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 0.2);
    font-weight: normal;
    line-height: 18px;
}

div.clear {
    clear: both;
}

#footer .bottom {
    padding-top: 60px;
}

#footer .bottom .left {
    float: left;
}

#footer .bottom .left span {
    font-size: 8px;
    color: #686868;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25);
}

#footer .bottom .right {
    float: right;
    margin-right: 53px;
}

#footer .bottom .right .socials a {
    display: inline-block;
    margin-left: 12px;
}

.free-quote {
    display: inline-block;
}

/* Slider */
div#slider ul li,
div#slider ul {
    padding: 0;
    margin: 0;
}

div#slider ol.dots {
    text-align:center;
    bottom: 0;
    padding: 0;
}
div#slider ol.dots li.dot {
    background: url(../img/slider-bullet.png) no-repeat;
    display: inline-block;
    margin: -15px 6px 0;
    text-indent: -999999px;
    width: 28px;
    height: 28px;
    cursor:pointer;
}

div#slider ol.dots li.dot.active {
    background: url(../img/slider-bullet-active.png) no-repeat;
}

#slider > ul {
    height: 350px !important;
}

#slider { position: relative; overflow: auto; height: 350px !important; }
#slider li { list-style: none; text-align: center; }
#slider ul li { float: left; }


/* admin fixes */
li div.field-element {
    display: inline;
}