html, body {
    margin: 0;
    padding: 0;
}

div.clearfix {
    clear: both;
}

a > img { border: 0; }

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

div.main {
    width: 1200px;
    height: 450px;
    overflow: hidden;
}

.section-01 {
    background: #8560A9;
    width: 1200px;
    height: 450px;
    padding: 0;
    position: relative;
}

.section-01 .content {
    position: absolute;
    width: 844px;
    height: 391px;
    top: 30px;
    left: 32px;
}
.section-01 .content img {
    width: 844px;
    height: 391px;
}
.section-01 .uptodate {
    position: absolute;
    right: 0;
    bottom: 240px;
}
.section-01 h1,
.section-01 h2,
.section-01 h3,
.section-01 h4,
.section-01 h5,
.section-01 h6,
.section-01 p {
    padding: 0;
    font-size: 60px;
    line-height: 1.4;
    color: #FFF;
    width: 325px;
    text-align: center;
    font-family: Arial, sans-serif;
}
.section-01 .click {
    background: #F7941D;
    bottom: 104px;
    right: 0;
    position: absolute;
    padding: 25px 30px;
}
.section-01 .click h1,
.section-01 .click h2,
.section-01 .click h3,
.section-01 .click h4,
.section-01 .click h5,
.section-01 .click h6,
.section-01 .click p {
    font-size: 50px;
    color: #fff;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    width: auto;
}
.section-01 .arrow {
    position: absolute;
    right: 100px;
    bottom: 5px;
    width: 123px;
    height: 115px;
}
.section-01 .arrow img {
    width: 123px;
    height: 115px;
}