<!doctype html>
<html>
    <head>

        <title>Template 12</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=810, maximum-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <script src="resources/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="//connect.facebook.net/en_US/all.js"></script>
        <script>
        FB.init({
            appId: '243962189122234',
            status: false, /* check login status */
            cookie: true, /* enable cookies to allow the server to access the session */
            xfbml: true /* parse XFBML */
        });
        </script>
        <script type="text/javascript">
        var getTotalHeightOfPage = function() {
            return Math.max(
                (document.height) ? document.height : 0,
                Math.max(document.body.scrollHeight, document.documentElement.scrollHeight),
                Math.max(document.body.offsetHeight, document.documentElement.offsetHeight),
                Math.max(document.body.clientHeight, document.documentElement.clientHeight)
            );
        };
        var last_height = 0;
        function sizeChangeCallback() {
            if (typeof(FB) == 'undefined' || typeof(document.body) == 'undefined') return;
            var h = getTotalHeightOfPage();
            if (last_height == h) {
                return;
            }
            h += 20;
            last_height = h;
            FB.Canvas.setSize({ height: h });
        }
		
        $(window).load(function() {
            window.fbAsyncInit = function() {
                sizeChangeCallback();
            };
            setTimeout(function() { sizeChangeCallback(); }, 800);
            
            // hide hidden feature
            $('.features .feature').each(function() {
                if ($.trim($('.image', this).html()) == '' && 
                    $.trim($('.heading span', this).html()) == '' && 
                    $.trim($('.description span', this).html()) == '') {
                    $(this).hide();
                }
            });
        });
        </script>

        <link rel="stylesheet" href="resources/css/style.css">
    </head>
    <body style="overflow:hidden">
        <div id="fb-root"></div>
        {{_tabfu:ImportField:scrollTo:}}
        <div class="main">
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDEiLCJhZG1pblRhZyI6InNlY3Rpb24tMDEtYmFja2dyb3VuZCIsImNvbG9yIjoiMDgwNzA3In0=}}<div class="section-01" data-admin-tag="section-01-background">
                <div class="logo">
                    {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvbG9nby5wbmcifQ==}}
                </div>
                <div class="heading">
                    <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiWW91ciBQcmltYXJ5IEhlYWRsaW5lIEdvZXMgSGVyZSA8YnI+YW5kIE1hdGNoZXMgdGhlIEFkIn0=}}</span>
                </div>
                <div class="sub-heading">
                    <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiUGhhc2VsbHVzIHZpdmVycmEgYSBvcmNpIGlkIGdyYXZpZGEuIFV0IGV0IGxhY3VzIGdyYXZpZGEsIGNvbnNlcXVhdCB0b3J0b3IgaWQsIDxicj5waGFyZXRyYSBlc3QuIE1hdXJpcyB0ZWxsdXMgYXJjdSwgdWxsYW1jb3JwZXIgYSB0cmlzdGlxdWUgYSwgcHVsdmluYXIgZWdldCBlbmltLiAifQ==}}</span>
                </div>
                <div class="clearfix"></div>
                <div class="bottom-items">
                    <div class="element">
                        <div class="left">
                            <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiMDEifQ==}}</span>
                        </div>
                        <div class="right">
                            {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+UGhhc2VsbHVzIGludGVyZHVtIEV0aWFtPC9wPiJ9}}
                            <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50Ijoidml0YWUgZG9sb3Igc2l0IGFtZXQgZWxpdCBhbGlxdWV0IGZldWdpYXQuIFF1aXNxdWUgYWMifQ==}}</span>
                        </div>
                    </div>
                    <div class="element">
                        <div class="left">
                            <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiMDIifQ==}}</span>
                        </div>
                        <div class="right">
                            {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+UGhhc2VsbHVzIGludGVyZHVtIEV0aWFtPC9wPiJ9}}
                            <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50Ijoidml0YWUgZG9sb3Igc2l0IGFtZXQgZWxpdCBhbGlxdWV0IGZldWdpYXQuIFF1aXNxdWUgYWMifQ==}}</span>
                        </div>
                    </div>
                    <div class="element">
                        <div class="left">
                            <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiMDMifQ==}}</span>
                        </div>
                        <div class="right">
                            {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+UGhhc2VsbHVzIGludGVyZHVtIEV0aWFtPC9wPiJ9}}
                            <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50Ijoidml0YWUgZG9sb3Igc2l0IGFtZXQgZWxpdCBhbGlxdWV0IGZldWdpYXQuIFF1aXNxdWUgYWMifQ==}}</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDIiLCJhZG1pblRhZyI6InNlY3Rpb24tMDItYmFja2dyb3VuZCIsImNvbG9yIjoiMTExMTExIn0=}}<div class="section-02" data-admin-tag="section-02-background">
                {{_tabfu:ImportField:template12Gate:}}
                <div class="clearfix"></div>
            </div>
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDMiLCJhZG1pblRhZyI6InNlY3Rpb24tMDMtYmFja2dyb3VuZCIsImNvbG9yIjoiNGY0ODMzIn0=}}<div class="section-03" data-admin-tag="section-03-background">
                <div class="heading">
                    <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiUGhhc2VsbHVzIGF0IHNhcGllbiBpZCBtZXR1cyBibGFuZGl0IGNvbnZhbGxpcyBlZ2V0IG5lYyByaXN1cy4ifQ==}}</span>
                </div>
                <div class="clearfix"></div>
                <div class="items">
                    <div class="item">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvYXNzZXRzLWdvb2dsZS5wbmcifQ==}}
                    </div>
                    <div class="item">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvYXNzZXRzLWJpbmcucG5nIn0=}}
                    </div>
                    <div class="item">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvYXNzZXRzLXlhaG9vLnBuZyJ9}}
                    </div>
                    <div class="item">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvYXNzZXRzLWNvbWNhc3QucG5nIn0=}}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDQiLCJhZG1pblRhZyI6InNlY3Rpb24tMDQtYmFja2dyb3VuZCIsImNvbG9yIjoiMTExMTExIn0=}}<div class="section-04" data-admin-tag="section-04-background">
                <div class="features">
                    <div class="feature">
                        <div class="image">
                            {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvZi1tZXNzYWdlLnBuZyJ9}}
                        </div>
                        <div class="heading">
                            <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRnVzY2UgaWFjdWxpcyBwb3J0dGl0b3Igb3JuYXJlPGJyPm1hbGVzdWFkYSB0ZW1wdXMgc2FwaWVuIn0=}}</span>
                        </div>
                        <div class="description">
                            <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRHVpcyBub24gY29tbW9kbyBudW5jLCBzaXQgYW1ldCBsYW9yZWV0IG51bGxhLiBOdWxsYSB0ZWxsdXMgYXJjdSwgbWFsZXN1YWRhIHRlbXB1cyBzYXBpZW4gYWMsIG1vbGxpcyBsYWNpbmlhIGxvcmVtLiBDdXJhYml0dXIgdGVtcHVzIHJpc3VzIGZhY2lsaXNpcywgbGFvcmVldCBuaXNpIHNpdCBhbWV0LCBydXRydW0gbGVjdHVzIn0=}}</span>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="image">
                            {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvZi1nZWFyLnBuZyJ9}}
                        </div>
                        <div class="heading">
                            <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRnVzY2UgaWFjdWxpcyBwb3J0dGl0b3Igb3JuYXJlPGJyPm1hbGVzdWFkYSB0ZW1wdXMgc2FwaWVuIn0=}}</span>
                        </div>
                        <div class="description">
                            <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRHVpcyBub24gY29tbW9kbyBudW5jLCBzaXQgYW1ldCBsYW9yZWV0IG51bGxhLiBOdWxsYSB0ZWxsdXMgYXJjdSwgbWFsZXN1YWRhIHRlbXB1cyBzYXBpZW4gYWMsIG1vbGxpcyBsYWNpbmlhIGxvcmVtLiBDdXJhYml0dXIgdGVtcHVzIHJpc3VzIGZhY2lsaXNpcywgbGFvcmVldCBuaXNpIHNpdCBhbWV0LCBydXRydW0gbGVjdHVzIn0=}}</span>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="image">
                            {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvZi1icm93c2VyLnBuZyJ9}}
                        </div>
                        <div class="heading">
                            <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRnVzY2UgaWFjdWxpcyBwb3J0dGl0b3Igb3JuYXJlPGJyPm1hbGVzdWFkYSB0ZW1wdXMgc2FwaWVuIn0=}}</span>
                        </div>
                        <div class="description">
                            <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRHVpcyBub24gY29tbW9kbyBudW5jLCBzaXQgYW1ldCBsYW9yZWV0IG51bGxhLiBOdWxsYSB0ZWxsdXMgYXJjdSwgbWFsZXN1YWRhIHRlbXB1cyBzYXBpZW4gYWMsIG1vbGxpcyBsYWNpbmlhIGxvcmVtLiBDdXJhYml0dXIgdGVtcHVzIHJpc3VzIGZhY2lsaXNpcywgbGFvcmVldCBuaXNpIHNpdCBhbWV0LCBydXRydW0gbGVjdHVzIn0=}}</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDUiLCJhZG1pblRhZyI6InNlY3Rpb24tMDUtYmFja2dyb3VuZCIsImNvbG9yIjoiNGY0ODMzIn0=}}<div class="section-05" data-admin-tag="section-05-background">
                <div class="heading">
                    <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiUGhhc2VsbHVzIGF0IHNhcGllbiBpZCBtZXR1cyBibGFuZGl0IGNvbnZhbGxpcyBlZ2V0IG5lYyByaXN1cy4ifQ==}}</span>
                </div>
                <div class="clearfix"></div>
                {{_tabfu:ImportField:template12Gate:}}
                <div class="clearfix"></div>
            </div>
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI2Zvb3RlciIsImFkbWluVGFnIjoiZm9vdGVyLWJhY2tncm91bmQiLCJjb2xvciI6IjExMTExMSJ9}}<div id="footer" data-admin-tag="footer-background">
                <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiUGhhc2VsbHVzIGF0IHNhcGllbiBpZCBtZXR1cyBibGFuZGl0IGNvbnZhbGxpcyBlZ2V0IG5lYyByaXN1cy4ifQ==}}</span>
                <div class="clearfix"></div>
            </div>
        </div>
    </body>
</html>