<!doctype html>
<html>
    <head>
        <title>Photo Ad Template</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="stylesheet" href="resources/css/style.css">
    </head>
    <body>
        {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5tYWluIiwiY29sb3IiOiIjRkY0QTMyIiwiYWRtaW5UYWciOiJtYWluLWJhY2tncm91bmQifQ==}}
        <div class="main selectable-element" data-admin-tag="main-background">
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5zZWN0aW9uLTAxIiwiY29sb3IiOiIjMDBCQUNDIiwiYWRtaW5UYWciOiJzZWN0aW9uLTAxLWJhY2tncm91bmQifQ==}}
            <div class="section-01 selectable-element" data-admin-tag="section-01-background">
                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgxPllPVVIgSEVBRElORzwvaDE+In0=}}
                <div class="triangle">
                    {{_tabfu:ImportField:imagead:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC90cmlhbmdsZS5wbmcifQ==}}
                </div>
                <div class="computer">
                    {{_tabfu:ImportField:imagead:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9hZGQtc2NyZWVuc2hvdC5wbmcifQ==}}
                </div>
            </div>
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5zZWN0aW9uLTAyIiwiY29sb3IiOiIjMDA4MDhDIiwiYWRtaW5UYWciOiJzZWN0aW9uLTAyLWJhY2tncm91bmQifQ==}}
            <div class="section-02 selectable-element" data-admin-tag="section-02-background"></div>
        </div>
    </body>
</html>