<!doctype html>
<html>
    <head>

        <title>Template 05</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=810, maximum-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <script src="resources/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="//connect.facebook.net/en_US/all.js"></script>
        <script>
            FB.init({
                appId: '243962189122234',
                status: false, /* check login status */
                cookie: true, /* enable cookies to allow the server to access the session */
                xfbml: true /* parse XFBML */
            });
        </script>
        <script type="text/javascript">
        var getTotalHeightOfPage = function() {
            return Math.max(
                (document.height) ? document.height : 0,
                Math.max(document.body.scrollHeight, document.documentElement.scrollHeight),
                Math.max(document.body.offsetHeight, document.documentElement.offsetHeight),
                Math.max(document.body.clientHeight, document.documentElement.clientHeight)
            );
        };
        var last_height = 0;
        function sizeChangeCallback() {
            if (typeof(FB) == 'undefined' || typeof(document.body) == 'undefined') return;
            var h = getTotalHeightOfPage();
            if (last_height == h) {
                return;
            }
            h += 20;
            last_height = h;
            FB.Canvas.setSize({ height: h });
        }
		
        $(window).load(function() {
            window.fbAsyncInit = function() {
                sizeChangeCallback();
            };
            setTimeout(function() { sizeChangeCallback(); }, 800);
            
            // hide hidden elements
            if ($('.section-01 .book-holder > img').length <= 0 && $('.section-01 .book-holder > .field-element > img').length <= 0) {
                $('.section-01 .book-holder').hide();
            }
        });
        </script>

        <link rel="stylesheet" href="resources/css/style.css">

    </head>
    <body style="overflow:hidden">
        <div id="fb-root"></div>
        {{_tabfu:ImportField:scrollTo:}}
        <div class="main">

            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI2hlYWRlciIsImFkbWluVGFnIjoiaGVhZGVyLWJhY2tncm91bmQiLCJjb2xvciI6ImZmZmZmZiJ9}}<div id="header" data-admin-tag="header-background">
                <h1>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiQ29tcGFueSBuYW1lIn0=}}</h1>
                <div class="clearfix"></div>
            </div>

            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDEiLCJhZG1pblRhZyI6InNlY3Rpb24tMDEtYmFja2dyb3VuZCIsImNvbG9yIjoiOGNjYjgzIn0=}}<div class="section-01" data-admin-tag="section-01-background">
                <div class="left">
                    <div class="book-holder">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9ib29rLWJnLnBuZyIsInByZWZlcmVkV2lkdGgiOjIwMCwicHJlZmVyZWRIZWlnaHQiOjMwMH0=}}
                        <div class="book-title">
                            {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9ib29rLXRleHQucG5nIiwicHJlZmVyZWRXaWR0aCI6MTY5LCJwcmVmZXJlZEhlaWdodCI6MjY0fQ==}}
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="heading">
                        <h2>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiTWFpbiBoZWFkaW5nIn0=}}</h2>
                        <h4>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiU2Vjb25kYXJ5IFRpdGxlIEZ1cnRoZXIgRXhwbGFpbmluZyBUaGUgUXVhbGl0eSBDb250ZW50IGFuZCBXaGF0IGl0IENhbiBEbyBGb3IgWW91In0=}}</h4>
                    </div>

                    {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLmtleS10b3BpY3MiLCJhZG1pblRhZyI6ImtleS10b3BpY3MtYmFja2dyb3VuZCIsImNvbG9yIjoiMzM2NjMzIn0=}}<div class="key-topics" data-admin-tag="key-topics-background">
                        <div class="topic">
                            <span class="tick"> {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9ncmVlbi10aWNrLnBuZyIsImFsdCI6IiIsInByZWZlcmVkV2lkdGgiOjQzLCJwcmVmZXJlZEhlaWdodCI6NDN9}} </span>
                            <span class="content"> {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiS2V5IHRvcGljIGNvdmVyZWQgaW4geW91ciBmcmVlIHJlcG9ydCBhbmQgd2h5IGl0cyBpbXBvcnRhbnQuIn0=}} </span>
                        </div>
                        <div class="topic">
                            <span class="tick"> {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9ncmVlbi10aWNrLnBuZyIsImFsdCI6IiIsInByZWZlcmVkV2lkdGgiOjQzLCJwcmVmZXJlZEhlaWdodCI6NDN9}} </span>
                            <span class="content"> {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiS2V5IHRvcGljIGNvdmVyZWQgaW4geW91ciBmcmVlIHJlcG9ydCBhbmQgd2h5IGl0cyBpbXBvcnRhbnQuIn0=}} </span>
                        </div>
                        <div class="topic">
                            <span class="tick"> {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9ncmVlbi10aWNrLnBuZyIsImFsdCI6IiIsInByZWZlcmVkV2lkdGgiOjQzLCJwcmVmZXJlZEhlaWdodCI6NDN9}} </span>
                            <span class="content"> {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiS2V5IHRvcGljIGNvdmVyZWQgaW4geW91ciBmcmVlIHJlcG9ydCBhbmQgd2h5IGl0cyBpbXBvcnRhbnQuIn0=}} </span>
                        </div>
                    </div>

                    {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLmRvd25sb2FkLWNvcHkiLCJhZG1pblRhZyI6ImRvd25sb2FkLWNvcHktYmFja2dyb3VuZCIsImNvbG9yIjoiMzM2NjMzIn0=}}<div class="download-copy" data-admin-tag="download-copy-background">
                        <div class="warning-icon">
                            {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC93YXJuaW5nLWljb24ucG5nIiwiYWx0IjoiIn0=}}
                        </div>

                        {{_tabfu:ImportField:template05Gate:eyJwcmVmZXJlZFdpZHRoIjoiMjcyIiwicHJlZmVyZWRIZWlnaHQiOiI1OSIsImxhYmVsIjoiIn0=}}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDIiLCJhZG1pblRhZyI6InNlY3Rpb24tMDItYmFja2dyb3VuZCIsImNvbG9yIjoiZmZmZmZmIn0=}}<div class="section-02" data-admin-tag="section-02-background">
                <div class="left">
                    <div class="polaroid-bg">
                        <div class="image-holder">
                            {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9wcm9maWxlLWltYWdlLmpwZyIsImFsdCI6IiIsInByZWZlcmVkV2lkdGgiOjEwMCwicHJlZmVyZWRIZWlnaHQiOjg4fQ==}}
                        </div>
                    </div>
                    <div class="quotation">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9xdW90YXRpb24ucG5nIiwiYWx0IjoiIn0=}}
                    </div>
                </div>
                <div class="right">
                    <span><em>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiQXdlc29tZSB0ZXN0aW1vbmlhbCBmcm9tIGEgaGFwcHkgcmVhZGVyIGFuZCBob3cgdGhleSB1c2VkIHRoZSBpbmZvIGluIHlvdXIgZWJvb2sgdG8gaGVscCB0aGVpciBidXNpbmVzcy4ifQ==}}</em></span>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </body>
</html>