<!doctype html>
<html>
    <head>

        <title>Template 09</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=810, maximum-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <script src="resources/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="//connect.facebook.net/en_US/all.js"></script>
        <script>
        FB.init({
            appId: '243962189122234',
            status: false, /* check login status */
            cookie: true, /* enable cookies to allow the server to access the session */
            xfbml: true /* parse XFBML */
        });
        </script>
        <script type="text/javascript">
        var getTotalHeightOfPage = function() {
            return Math.max(
                (document.height) ? document.height : 0,
                Math.max(document.body.scrollHeight, document.documentElement.scrollHeight),
                Math.max(document.body.offsetHeight, document.documentElement.offsetHeight),
                Math.max(document.body.clientHeight, document.documentElement.clientHeight)
            );
        };
        var last_height = 0;
        function sizeChangeCallback() {
            if (typeof(FB) == 'undefined' || typeof(document.body) == 'undefined') return;
            var h = getTotalHeightOfPage();
            if (last_height == h) {
                return;
            }
            h += 20;
            last_height = h;
            FB.Canvas.setSize({ height: h });
        }
		
        $(window).load(function() {
            window.fbAsyncInit = function() {
                sizeChangeCallback();
            };
            setTimeout(function() { sizeChangeCallback(); }, 800);
        });
        </script>

        <link rel="stylesheet" href="resources/css/style.css">

    </head>
    <body style="overflow:hidden">
        <div id="fb-root"></div>
        {{_tabfu:ImportField:scrollTo:}}
        {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLm1haW4iLCJhZG1pblRhZyI6Im1haW4tYmFja2dyb3VuZCIsImNvbG9yIjoiMDBiYWNjIn0=}}<div class="main" data-admin-tag="main-background">
            <div id="header">
                <div class="logo">
                    {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9sb2dvLnBuZyIsImFsdCI6IiJ9}}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="section-01">
                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDEgLmxlZnQiLCJhZG1pblRhZyI6InNlY3Rpb24tMDEtbGVmdC1iYWNrZ3JvdW5kIiwiY29sb3IiOiIxOTZlNzYifQ==}}<div class="left" data-admin-tag="section-01-left-background">
                    <div class="heading">
                        <div class="image-intro">
                            {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9xdW90YXRpb24ucG5nIiwiYWx0IjoiIn0=}}
                        </div>
                        <div class="content-heading"><strong>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiUXVvdGUgYm9hc3Rpbmcgb2YgeW91ciBzdWNjZXNzIGFuZCBleHBlcnRpc2UifQ==}}</strong></div>
                    </div>
                    <div class="normal">
                        <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiQnlsaW5lIGV4cGxhaW5pbmcgdGhlIGV4dHJlbWUgdmFsdWUgb2YgeW91ciBjb250ZW50IGFuZCBob3cgaXRcdTIwMTlzIGhlbHBlZCB5b3VyIGN1c3RvbWVycyJ9}}</span>
                    </div>
                    <div class="image">
                        {{_tabfu:ImportField:template09Gate:}}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="right">
                    <div class="top">
                        {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDEgLnJpZ2h0IC50b3AgLmJnLXNlbGVjdG9yIiwiYWRtaW5UYWciOiJiZy1zZWxlY3Rvci1iYWNrZ3JvdW5kIiwiY29sb3IiOiIxMDQyNDgifQ==}}<div class="bg-selector" data-admin-tag="bg-selector-background">
                            <div class="content">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRW50ZXIgeW91ciBlbWFpbCBhZGRyZXNzIHRvIHdhdGNoIHRoaXMgZnJlZSB2aWRlbyJ9}}</div>
                            
                            <div class="underline-image">
                                {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC91bmRlcmxpbmUucG5nIiwiYWx0IjoiIn0=}}
                            </div>
                            
                        </div>
                    </div>
                    {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDEgLnJpZ2h0IC5ib3R0b20iLCJhZG1pblRhZyI6ImJvdHRvbS1iYWNrZ3JvdW5kIiwiY29sb3IiOiIxNDU1NWMifQ==}}<div class="bottom" data-admin-tag="bottom-background">
                        <form>
                            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDEgLnJpZ2h0IC5pbnB1dC1maWVsZCIsImFkbWluVGFnIjoiYm90dG9tLWlucHV0LWZpZWxkLWJhY2tncm91bmQiLCJjb2xvciI6ImMwZjlmZiJ9}}
                            <div class="input-field" data-admin-tag="bottom-input-field-background">
                                <input type="text" name="email" value="" placeholder="your email here..." />
                            </div>
                            <div class="video-button" onclick="return typeof(subscribeEmail) === 'function' ? subscribeEmail(this) : false">
                                {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvd2F0Y2gtdmlkZW8ucG5nIn0=}}
                            </div>
                        </form>
                        <div class="privacy">
                            <a href="#" class="privacy-link">
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiUHJpdmFjeSBhbmQgU2VjdXJpdHkgSW5mb3JtYXRpb24ifQ==}}
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="footer">
                <div class="text">
                    <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiQ29tcGFueSBhbmQgRGlzY2xhaW1lciBJbmZvcm1hdGlvbiJ9}}</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </body>
</html>