<!doctype html>
<html>
    <head>
        <title>Link Ad Template</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="stylesheet" href="resources/css/style.css">
    </head>
    <body>
        <div class="main">
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5zZWN0aW9uLTAxIiwiY29sb3IiOiIjMDAzMDY4IiwiYWRtaW5UYWciOiJzZWN0aW9uLTAxLWJhY2tncm91bmQifQ==}}
            <div class="section-01 selectable-element" data-admin-tag="section-01-background">
                <div class="stripe">
                    {{_tabfu:ImportField:imagead:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9zdHJpcGUucG5nIn0=}}
                </div>
                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5oZWFkZXItYmciLCJjb2xvciI6IiMwMUFCQ0MiLCJhZG1pblRhZyI6ImhlYWRlci1iZy1iYWNrZ3JvdW5kIn0=}}
                <div class="header-bg selectable-element" data-admin-tag="header-bg-background">
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgxPlFVSUNLIElORk8gSEVSRTwvaDE+In0=}}
                </div>
                <div class="computer">
                    {{_tabfu:ImportField:imagead:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9hZGQtc2NyZWVuc2hvdC5wbmcifQ==}}
                </div>
            </div>
        </div>
    </body>
</html>