<!doctype html>
<html>
    <head>
        
        <title>Template 01</title>
        
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=810, maximum-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <script src="resources/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="resources/js/unslider.min.js"></script>
        <script src="//connect.facebook.net/en_US/all.js"></script>
        <script>
            FB.init({
                appId: '243962189122234',
                status: false, /* check login status */
                cookie: true, /* enable cookies to allow the server to access the session */
                xfbml: true /* parse XFBML */
            });
        </script>
        <script type="text/javascript">
        var getTotalHeightOfPage = function() {
            return Math.max(
                (document.height) ? document.height : 0,
                Math.max(document.body.scrollHeight, document.documentElement.scrollHeight),
                Math.max(document.body.offsetHeight, document.documentElement.offsetHeight),
                Math.max(document.body.clientHeight, document.documentElement.clientHeight)
            );
        };
        var last_height = 0;
        function sizeChangeCallback() {
            if (typeof(FB) == 'undefined' || typeof(document.body) == 'undefined') return;
            var h = getTotalHeightOfPage();
            if (last_height == h) {
                    return;
            }
            h += 20;
            last_height = h;
            FB.Canvas.setSize({ height: h });
        }
		
        $(window).load(function() {
            window.fbAsyncInit = function() {
                sizeChangeCallback();
            };
            setTimeout(function() { sizeChangeCallback(); }, 800);
				
            $('.slider').unslider({
                speed: 6500,
                dots: true
            });
        }); 
        </script>
        
        <link rel="stylesheet" href="resources/css/style.css">
           
    </head>
    <body style="overflow:hidden">
        <div id="fb-root"></div>
        {{_tabfu:ImportField:scrollTo:}}
        <div class="main">
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6ImhlYWRlciNoZWFkZXIiLCJhZG1pblRhZyI6ImhlYWRlci1iYWNrZ3JvdW5kIiwiY29sb3IiOiJmZmYifQ==}}
            <header id="header" class="selectable-element" data-admin-tag="header-background">
                <div class="left">
                    <!-- COMPANY LOGO IMAGE -->
                    {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9sb2dvX3BsYWNlaG9sZGVyLmpwZyJ9}}
                </div>
                <div class="right">
                    <!-- SOCIAL MEDIA SHARE ICONS -->
                    {{_tabfu:ImportField:socialShareIcons:}}
                    <div class="share-element">
                        {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+U2hhcmU8L3A+In0=}}
                    </div>
                </div>
                <div class="clearfix"></div>
            </header>
            
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5zZWN0aW9uLTAxIiwiY29sb3IiOiIjMjI1YWE2IiwiYWRtaW5UYWciOiJzZWN0aW9uLTAxLWJhY2tncm91bmQifQ==}}
            <section class="section-01 selectable-element" data-admin-tag="section-01-background">
                <!-- HEADER 1 -->
                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgxPlByb21vdGUgQW55dGhpbmcgd2l0aCBEeW5hbWljIE1vdGlvblxuUG9zdHMgaW4geW91ciBGYWNlYm9vayBGYW5zIE5ld3NmZWVkITxcL2gxPiJ9}}
                
                <!-- HEADER 2 -->
                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgyPkluY3JlYXNlIHlvdXIgYnVzaW5lc3MgYnkgZ2VuZXJhdGluZyBtb3JlIGZhbnMsIGxlYWRzIGFuZCBzYWxlcyBmcm9tXG55b3VyIEZhY2Vib29rIHBhZ2VzIHVzaW5nIHRoaXMgYXdlc29tZSB0ZW1wbGF0ZSBhbmQgVGFiZnUuY29tITxcL2gyPiJ9}}
                
                <!-- VIDEO -->
                <div class="video">
                    {{_tabfu:ImportField:video:}}
                </div>
                               
                <!-- DOWNLOAD BUTTON -->
                {{_tabfu:ImportField:downloadButton:eyJ0aXRsZSI6IkRvd25sb2FkIHRoZSBTb2Z0d2FyZSBGUkVFIiwic3VidGl0bGUiOiJNb3JlIHJlYXNvbnMgd2h5IHlvdSBzaG91bGQgY2xpY2sgdGhpcyBidXR0b24iLCJpY29uUGxhY2Vob2xkZXJTcmMiOiJyZXNvdXJjZXNcL2ltZ1wvZG93bmxvYWQucG5nIiwiY29sb3IiOiIjZmQ5ZDAwIn0=}}
                
                <div class="clearfix"></div>
            </section>
            
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5zZWN0aW9uLTAyIiwiYWRtaW5UYWciOiJzZWN0aW9uLTAyLWJhY2tncm91bmQiLCJjb2xvciI6ImZmZiJ9}}
            <section class="section-02 selectable-element" data-admin-tag="section-02-background">
                
                <div class="slider" id="slider">
                    <ul>
                        <li>
                            {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9zbGlkZV9wbGFjZWhvbGRlci5wbmcifQ==}}
                        </li>
                        <li>
                            {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9zbGlkZV9wbGFjZWhvbGRlci5wbmcifQ==}}
                        </li>
                        <li>
                            {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9zbGlkZV9wbGFjZWhvbGRlci5wbmcifQ==}}
                        </li>
                    </ul>    
                </div>
                
                <div class="clearfix"></div>
            </section>
            
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5zZWN0aW9uLTAzIiwiYWRtaW5UYWciOiJzZWN0aW9uLTAzLWJhY2tncm91bmQiLCJjb2xvciI6ImYwZjBmMCJ9}}
            <section class="section-03 selectable-element" data-admin-tag="section-03-background">
                <div class="text-boxes">
                    <div class="row-box">
                        <div class="box float-left">
                            <div class="header">
                                <!-- KEY FEATURE'S ICON -->
                                {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9pY29uXzAxLnBuZyJ9}}

                                <!-- KEY FEATURE'S HEADER -->
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGg0PktleSBmZWF0dXJlIDE8XC9oND4ifQ==}}
                                <div class="clearfix"></div>
                            </div>

                            <!-- KEY FEATURE'S DESCRIPTION TEXT -->
                            <div class="content" style="letter-spacing: 1px;">
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHAgc3R5bGU9XCJmb250LWZhbWlseTogJ0hlbHZldGljYSBOZXVlJzsgZm9udC1zaXplOiAxOHB4OyBjb2xvcjogIzU1NTU1NTtcIj5UYWxrIGFib3V0IHRoaXMgZ3JlYXQgZmVhdHVyZSBhbmQgaG93IGl0IHdpbGwgYmVuZWZpdCB5b3VyIHVzZXJzLiBUYWxrIGFib3V0IHRoaXMgZ3JlYXQgZmVhdHVyZSBhbmQgaG93IGl0IHdpbGwgYmVuZWZpdCB5b3VyIHVzZXJzLiBUYWxrIGFib3V0IHRoaXMgZ3JlYXQgZmVhdHVyZSBhbmQgaG93IGl0IHdpbGwgYmVuZWZpdCB5b3VyIHVzZXJzLlRhbGsgYWJvdXQgdGhpcyBncmVhdCBmZWF0dXJlIGFuZCBob3cgaXQgd2lsbCBiZW5lZml0IHlvdXIgdXNlcnMuIDxcL3A+In0=}}
                            </div>
                        </div>
                        <div class="box float-right">
                            <div class="header">
                                <!-- KEY FEATURE'S ICON -->
                                {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9pY29uXzAyLnBuZyJ9}}

                                <!-- KEY FEATURE'S HEADER -->
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGg0PktleSBmZWF0dXJlIDI8XC9oND4ifQ==}}
                                <div class="clearfix"></div>
                            </div>

                            <!-- KEY FEATURE'S DESCRIPTION TEXT -->
                            <div class="content" style="letter-spacing: 1px;">
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHAgc3R5bGU9XCJmb250LWZhbWlseTogJ0hlbHZldGljYSBOZXVlJzsgZm9udC1zaXplOiAxOHB4OyBjb2xvcjogIzU1NTU1NTtcIj5UYWxrIGFib3V0IHRoaXMgZ3JlYXQgZmVhdHVyZSBhbmQgaG93IGl0IHdpbGwgYmVuZWZpdCB5b3VyIHVzZXJzLiBUYWxrIGFib3V0IHRoaXMgZ3JlYXQgZmVhdHVyZSBhbmQgaG93IGl0IHdpbGwgYmVuZWZpdCB5b3VyIHVzZXJzLiBUYWxrIGFib3V0IHRoaXMgZ3JlYXQgZmVhdHVyZSBhbmQgaG93IGl0IHdpbGwgYmVuZWZpdCB5b3VyIHVzZXJzLlRhbGsgYWJvdXQgdGhpcyBncmVhdCBmZWF0dXJlIGFuZCBob3cgaXQgd2lsbCBiZW5lZml0IHlvdXIgdXNlcnMuIDxcL3A+In0=}}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row-box">
                        <div class="box float-left">
                            <div class="header">
                                <!-- KEY FEATURE'S ICON -->
                                {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9pY29uXzAzLnBuZyJ9}}

                                <!-- KEY FEATURE'S HEADER -->
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGg0PktleSBmZWF0dXJlIDM8XC9oND4ifQ==}}
                                <div class="clearfix"></div>
                            </div>

                            <!-- KEY FEATURE'S DESCRIPTION TEXT -->
                            <div class="content" style="letter-spacing: 1px;">
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHAgc3R5bGU9XCJmb250LWZhbWlseTogJ0hlbHZldGljYSBOZXVlJzsgZm9udC1zaXplOiAxOHB4OyBjb2xvcjogIzU1NTU1NTtcIj5UYWxrIGFib3V0IHRoaXMgZ3JlYXQgZmVhdHVyZSBhbmQgaG93IGl0IHdpbGwgYmVuZWZpdCB5b3VyIHVzZXJzLiBUYWxrIGFib3V0IHRoaXMgZ3JlYXQgZmVhdHVyZSBhbmQgaG93IGl0IHdpbGwgYmVuZWZpdCB5b3VyIHVzZXJzLiBUYWxrIGFib3V0IHRoaXMgZ3JlYXQgZmVhdHVyZSBhbmQgaG93IGl0IHdpbGwgYmVuZWZpdCB5b3VyIHVzZXJzLlRhbGsgYWJvdXQgdGhpcyBncmVhdCBmZWF0dXJlIGFuZCBob3cgaXQgd2lsbCBiZW5lZml0IHlvdXIgdXNlcnMuIDxcL3A+In0=}}
                            </div>
                        </div>
                        <div class="box float-right">
                            <div class="header">
                                <!-- KEY FEATURE'S ICON -->
                                {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9pY29uXzA0LnBuZyJ9}}

                                <!-- KEY FEATURE'S HEADER -->
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGg0PktleSBmZWF0dXJlIDQ8XC9oND4ifQ==}}
                                <div class="clearfix"></div>
                            </div>

                            <!-- KEY FEATURE'S DESCRIPTION TEXT -->
                            <div class="content" style="letter-spacing: 1px;">
                                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHAgc3R5bGU9XCJmb250LWZhbWlseTogJ0hlbHZldGljYSBOZXVlJzsgZm9udC1zaXplOiAxOHB4OyBjb2xvcjogIzU1NTU1NTtcIj5UYWxrIGFib3V0IHRoaXMgZ3JlYXQgZmVhdHVyZSBhbmQgaG93IGl0IHdpbGwgYmVuZWZpdCB5b3VyIHVzZXJzLiBUYWxrIGFib3V0IHRoaXMgZ3JlYXQgZmVhdHVyZSBhbmQgaG93IGl0IHdpbGwgYmVuZWZpdCB5b3VyIHVzZXJzLiBUYWxrIGFib3V0IHRoaXMgZ3JlYXQgZmVhdHVyZSBhbmQgaG93IGl0IHdpbGwgYmVuZWZpdCB5b3VyIHVzZXJzLlRhbGsgYWJvdXQgdGhpcyBncmVhdCBmZWF0dXJlIGFuZCBob3cgaXQgd2lsbCBiZW5lZml0IHlvdXIgdXNlcnMuIDxcL3A+In0=}}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </section>
            
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5zZWN0aW9uLTA0IiwiYWRtaW5UYWciOiJzZWN0aW9uLTA0LWJhY2tncm91bmQiLCJjb2xvciI6IjIyNWFhNiJ9}}
            <section class="section-04 selectable-element" data-admin-tag="section-04-background">
                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgyPkZpbmFsIENvbXBlbGxpbmcgUXVlc3Rpb248XC9oMj4ifQ==}}
                <div class="clearfix"></div>
            </section>
            
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5zZWN0aW9uLTA1IiwiYWRtaW5UYWciOiJzZWN0aW9uLTA1LWJhY2tncm91bmQiLCJjb2xvciI6ImYwZjBmMCJ9}}
            <section class="section-05 selectable-element" data-admin-tag="section-05-background">
                <div class="final-image">
                    <a href="#">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9maW5hbF9pbWFnZS5wbmcifQ==}}
                    </a>
                </div>
                
                <!-- LIST -->
                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgyPkNvbXBlbGxpbmcgQW5zd2VyIHdoeSB0aGlzPGJyIFwvPnByb2R1Y3QgaXMgcmlnaHQgZm9yIHlvdTxcL2gyPlxyXG48cD48c3Ryb25nPi0gRGV0YWlsZWQgcmVhc29ucyB3aHkgdGhpcyBpcyB0cnVlPFwvc3Ryb25nPjxcL3A+XHJcbjxwPjxzdHJvbmc+LSBEZXRhaWxlZCByZWFzb25zIHdoeSB0aGlzIGlzIHRydWU8XC9zdHJvbmc+PFwvcD5cclxuPHA+PHN0cm9uZz4tIERldGFpbGVkIHJlYXNvbnMgd2h5IHRoaXMgaXMgdHJ1ZTxcL3N0cm9uZz48XC9wPlxyXG48cD48c3Ryb25nPi0gRGV0YWlsZWQgcmVhc29ucyB3aHkgdGhpcyBpcyB0cnVlPFwvc3Ryb25nPjxcL3A+XHJcbjxwPjxzdHJvbmc+LSBEZXRhaWxlZCByZWFzb25zIHdoeSB0aGlzIGlzIHRydWU8XC9zdHJvbmc+PFwvcD4ifQ==}}
                
                <div class="clearfix"></div>
            </section>
            
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5zZWN0aW9uLTA2IiwiYWRtaW5UYWciOiJzZWN0aW9uLTA2LWJhY2tncm91bmQiLCJjb2xvciI6IjIyNWFhNiJ9}}
            <section class="section-06 selectable-element" data-admin-tag="section-06-background">

                <!-- DOWNLOAD BUTTON -->
                {{_tabfu:ImportField:downloadButton:eyJ0aXRsZSI6IkRvd25sb2FkIHRoZSBTb2Z0d2FyZSBGUkVFIiwic3VidGl0bGUiOiJNb3JlIHJlYXNvbnMgd2h5IHlvdSBzaG91bGQgY2xpY2sgdGhpcyBidXR0b24iLCJpY29uUGxhY2Vob2xkZXJTcmMiOiJyZXNvdXJjZXNcL2ltZ1wvZG93bmxvYWQucG5nIiwiY29sb3IiOiIjZmQ5ZDAwIn0=}}
                
                <!-- "TRY IT FREE - NO CREDIT CARD REQUIRED" -->
                {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiICAgIDxoMj48ZW0+VHJ5IGl0IEZSRUUgLSBObyBDcmVkaXQgY2FyZCBSZXF1aXJlZDxcL2VtPjxcL2gyPiJ9}}
                
                <div class="clearfix"></div>
            </section>
            
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6ImZvb3RlciNmb290ZXIiLCJhZG1pblRhZyI6ImZvb3Rlci1iYWNrZ3JvdW5kIiwiY29sb3IiOiIzMzMzMzMifQ==}}
            <footer id="footer" class="selectable-element" data-admin-tag="footer-background">
                <div class="left">
                    <a href="#">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9sb2dvX3BsYWNlaG9sZGVyLmpwZyJ9}}
                    </a>
                    <div class="footer-info">
                        {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGVtPjxzdHJvbmc+Q29udGFjdCArIERpc2NsYWltZXIgSW5mb3JtYXRpb248c3Ryb25nPjxcL2VtPiJ9}}
                    </div>
                </div>
                <div class="right">
                    {{_tabfu:ImportField:socialFollowIcons:}}
                    <div class="share-element">
                        {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+R2V0IGluIFRvdWNoPC9wPiJ9}}
                    </div>
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>    
    </body>
</html>