html, body {
    width: 810px;
    margin: 0 auto;
    padding: 0;
}

div.clearfix {
    clear: both;
}

a > img { border: 0; }

p {
    margin: 0;
}

div.main {
    width: 810px;
    margin: 0 auto;
    background: red;
    min-height: 500px;
}

#footer div.left {
    width: 365px;
    float: left;
    height: 85px;
}

#footer div.right {
    margin-left: 20px;
    float: right;
    height: 123px;
    width: 260px;
}

div.right div.share-element {  
    margin: 0;
    text-align: center;
    float: right;
    line-height: 42px;
    margin-right: 8px;
}

div.right div.share-images {
    text-align: center;
    float: right;
    
}

div.right div.share-images > a {
    display: inline-block;
    margin: 5px;
    margin-top: 17px;
}

#header {
    /*height: 65px;*/
}

#header div.left {
    height: 65px;
    width: 351px;
    margin-right: 10px;
    float: left;
    padding-left: 49px;
}

#header div.left span.text_logo {
    line-height: 65px;
}

#header div.right {
    width: 351px;
    padding-right: 49px;
    float: right;
}

#footer {
    padding-left: 53px;
    padding-right: 49px;
    height: 123px;
}

#footer div.right p {
    line-height: 100px;
}

#footer div.right .share-images a {
    margin-top: 45px;
}

span.footer-info {
    display: block;
    line-height: 123px;
}

/**
 *     Sections
 */

#temp-01 {
    /*height: 586px;*/
    padding: 48px 39px 36px 39px;
}

#temp-01 h1, #temp-01 h2, #temp-01 h3 {
    margin: 0;
    text-align: center;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; 
    font-size: 80px; 
    color: #fff; 
    margin-bottom: 34px;
}
#temp-01 h2 {
    font-size: 70px;
}
#temp-01 h3 {
    font-size: 55px;
}

#temp-01 h4 {
    margin-bottom: 31px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; 
    text-align: center; 
    font-size: 18px; 
    display: block; 
    color: #fff; 
}

#temp-01 .form .image-placeholder {
    width: 420px;
    height: 284px;
    border: 12px solid #2d2d2d;
    float: left;
}

#temp-01 .form .image-placeholder img {
    width: 421px;
    height: 287px;
}

#temp-01 .form .form-content {
    width: 234px;
    height: 261px;
    float: left;
    padding: 25px 24px 34px 30px;
}

#temp-01 .form-intro {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 14px;
    color: #fff;
    display: block;
    text-align: center;
}

.form-fields {
    border-radius: 16px;
    margin-bottom: 8px;
    width: 204px;
    height: 37px;
    background: #fff;
    border: 0;
    line-height: 37px;
    padding-left: 16px;
    padding-right: 16px;
    color: #c7c7c7;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.submit-get-informed {
    cursor: pointer;
    width: 233px;
    border: 0;
    height: 87px;
    margin-top: 10px;
    text-transform: uppercase;
    line-height: 57px;
    background: url(../img/button-submit-bg.png) no-repeat;
}

.form-fields::-webkit-input-placeholder { /* WebKit browsers */
    color: #c7c7c7;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
}
.form-fields:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #c7c7c7;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
}
.form-fields::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #c7c7c7;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
}
.form-fields:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #c7c7c7;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
}

#temp-02 {
    /*height: 211px;*/
    padding: 31px 45px 25px 45px;
}

#temp-02 .features .feature {
    width: 170px;
    float: left;
    margin-right: 105px;
    text-align: center;
}

#temp-02 .feature .element-title {
    display: block;
    margin-bottom: 20px;
    margin-top: 18px;
}

#temp-02 .features .feature.last {
    margin-right: 0;
}

#temp-03 {
    /*height: 355px;*/
    padding: 49px 32px 37px 32px;
}

#temp-03 h1, #temp-03 h2, #temp-03 h3 {
    margin: 0;
    text-align: center;
}

#temp-03 .desc-second-headline {
    display: block;
    margin-bottom: 45px;
}

#temp-03 .benefit {
    width: 200px;
    float: left;
    height: 219px;
    margin-right: 72px;
}

#temp-03 .benefit > .tick {
    width:  102px;
    height: 83px;
    -webkit-border-top-left-radius: 16px;
    -webkit-border-top-right-radius: 16px;
    -moz-border-radius-topleft: 16px;
    -moz-border-radius-topright: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin: 0 auto;
    text-align: center;
}

#temp-03 .benefit > .tick img {
    margin-top: 19px;
}

#temp-03 .benefit.last {
    margin-right: 0;
}

#temp-03 .benefit .content {
    width: 200px;
    height: 136px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

#temp-03 .benefit .ben-title {
    display: block;
    padding-top: 26px;
    text-align: center;
}

#temp-03 .benefit .ben-content {
    display: block;
    padding-top: 20px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}

#temp-04 {
    /*height: 135px;*/
    padding: 42px 30px 30px 34px;
}

#temp-04 .left-customer {
    float: left;
    width: 159px;
    height: 140px;
    background: url(../img/quote-mark.png) no-repeat top right;
    margin-right: 15px;
}

#temp-04 .right-customer {
    float: left;
    width: 570px;
    padding-top: 17px;
}

#temp-04 .right-customer .cus-name {
    display: block;
    margin-top: 15px;
}

#temp-05 {
    /*height: 171px;*/
    padding: 38px 50px 33px 50px;
}

#temp-05 .final-point {
    text-align: center;
    border-radius: 27px;
    width: 596px;
    height: 53px;
    margin: 0 auto 20px auto;
}

#temp-05 .form-final-left {
    margin-left: 130px;
    margin-right: 19px;
}

#temp-05 .form-final-left input {
    width: 180px;
}

#temp-05 .form-final-left,
#temp-05 .form-final-right {
    float: left;
}

#temp-05 .form-final-right input[type=submit] {
    margin-top: 0;
}

/* fix for editor */
header .right .field-element,
footer .right .field-element {
    float: right;
    display: inline;
}

.field-element[data-gate-field] {
    display: inline-block;
}
