<!doctype html>
<html>
    <head>

        <title>Template 08</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=810, maximum-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <script src="resources/js/jquery-1.11.0.min.js" type="text/javascript"></script>
            <script src="//connect.facebook.net/en_US/all.js"></script>
            <script>
                FB.init({
                    appId: '243962189122234',
                    status: false, /* check login status */
                    cookie: true, /* enable cookies to allow the server to access the session */
                    xfbml: true /* parse XFBML */
                });
            </script>
        <script type="text/javascript">
        var getTotalHeightOfPage = function() {
            return Math.max(
                (document.height) ? document.height : 0,
                Math.max(document.body.scrollHeight, document.documentElement.scrollHeight),
                Math.max(document.body.offsetHeight, document.documentElement.offsetHeight),
                Math.max(document.body.clientHeight, document.documentElement.clientHeight)
            );
        };
        var last_height = 0;
        function sizeChangeCallback() {
            if (typeof(FB) == 'undefined' || typeof(document.body) == 'undefined') return;
            var h = getTotalHeightOfPage();
            if (last_height == h) {
                    return;
            }
            h += 20;
            last_height = h;
            FB.Canvas.setSize({ height: h });
        }
		
        $(window).load(function() {
            window.fbAsyncInit = function() {
                sizeChangeCallback();
            };
            setTimeout(function() { sizeChangeCallback(); }, 800);
        });
        </script>

        <link rel="stylesheet" href="resources/css/style.css">

    </head>
    <body style="overflow:hidden">
        <div id="fb-root"></div>
        {{_tabfu:ImportField:scrollTo:}}
        {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLm1haW4iLCJhZG1pblRhZyI6Im1haW4tYmFja2dyb3VuZCIsImNvbG9yIjoiZmZlMDY2In0=}}<div class="main" data-admin-tag="main-background">
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI2hlYWRlciIsImFkbWluVGFnIjoiaGVhZGVyLWJhY2tncm91bmQiLCJjb2xvciI6ImZmZmZmZiJ9}}<div id="header" data-admin-tag="header-background">
                <div class="left">
                    <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiQnVzaW5lc3MgbmFtZSJ9}}</span>
                </div>
                <div class="right">
                    <span>
                        <strong>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiR2V0IGluIHRvdWNoIn0=}}</strong>
                    </span>
                </div>
            </div>
            
            <div class="heading-left">
                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI2hlYWRpbmctbGVmdC0yLWlubmVyIiwiYWRtaW5UYWciOiJoZWFkaW5nLWxlZnQtMi1pbm5lci1iYWNrZ3JvdW5kIiwiY29sb3IiOiJmZmZmZmYifQ==}}<div class="heading-left-inner" id="heading-left-2-inner" data-admin-tag="heading-left-2-inner-background">
                    <span style="padding-left: 52px;">
                        <strong><em>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiU29jaWFsIE1lZGlhIEhlYWRpbmcifQ==}}</em></strong>
                    </span>    
                </div>
            </div>
            
            <div class="section-02">
                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI2JveDIiLCJhZG1pblRhZyI6ImJveC0yLWJhY2tncm91bmQiLCJjb2xvciI6IjIwYjg5OSJ9}}<div id="box2" class="box" data-admin-tag="box-2-background">
                    <div class="socials">
                        {{_tabfu:ImportField:template08SocialButton:eyJpY29uU3JjIjoicmVzb3VyY2VzXC9pbWdcL2ZhY2Vib29rLnBuZyIsImJ1dHRvblRpdGxlIjoiTGlrZSBvbiBGYWNlYm9vayJ9}}
                        {{_tabfu:ImportField:template08SocialButton:eyJpY29uU3JjIjoicmVzb3VyY2VzXC9pbWdcL2xpbmtlZGluLnBuZyIsImJ1dHRvblRpdGxlIjoiQ29ubmVjdCBvbiBMaW5rZWRpbiJ9}}
                        {{_tabfu:ImportField:template08SocialButton:eyJpY29uU3JjIjoicmVzb3VyY2VzXC9pbWdcL3R3aXR0ZXIucG5nIiwiYnV0dG9uVGl0bGUiOiJGb2xsb3cgb24gVHdpdHRlciJ9}}
                        {{_tabfu:ImportField:template08SocialButton:eyJpY29uU3JjIjoicmVzb3VyY2VzXC9pbWdcL3lvdXR1YmUucG5nIiwiYnV0dG9uVGl0bGUiOiJTdWJzY3JpYmUgb24gWW91dHViZSJ9}}
                        {{_tabfu:ImportField:template08SocialButton:eyJpY29uU3JjIjoicmVzb3VyY2VzXC9pbWdcL2dvb2dsZXBsdXMucG5nIiwiYnV0dG9uVGl0bGUiOiJGb2xsb3cgb24gR29vZ2xlKyJ9}}
                        {{_tabfu:ImportField:template08SocialButton:eyJpY29uU3JjIjoicmVzb3VyY2VzXC9pbWdcL3BpbnRlcmVzdC5wbmciLCJidXR0b25UaXRsZSI6IkZvbGxvdyBvbiBQaW50ZXJlc3QifQ==}}
                    </div>
                </div>
            </div>
            
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI2Zvb3RlciIsImFkbWluVGFnIjoiZm9vdGVyLWJhY2tncm91bmQiLCJjb2xvciI6ImZmZmZmZiJ9}}<div id="footer" data-admin-tag="footer-background">
                <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50Ijoid3d3LmJ1c2luZXNzc25hbWUuY29tIn0=}}</span>
            </div>
        </div>
    </body>
</html>