@import url(https://fonts.googleapis.com/css?family=Montserrat); /* Instead of Gotham */

html, body {
    width: 810px;
    margin: 0 auto;
    padding: 0;
}

div.clearfix {
    clear: both;
}

a > img { border: 0; }

p {
    margin: 0;
}

div.main {
    position: relative;
    width: 810px;
    margin: 0 auto;
    background: #2b3848;
    min-height: 500px;
}

.main-container {
    width: 810px;
    /*height: 694px;*/
    background: url(../img/main-bg.png) no-repeat;
    position: relative;
}

#header {
    margin-bottom: 7px;
}

#header .logo {
    display: table-cell;
    width: 810px;
    height: 123px;
    text-align: center;
    vertical-align: middle;
}

.section-01 {
    position: relative;
    /*height: 331px;*/
}

.section-01 .left {
    width: 423px;
    height: 258px;
    float: left;
    position: relative;
    padding: 73px 0 0 57px;
}

.section-01 .left .information .heading h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #373737;
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 24px;
}

.section-01 .left .information .content span {
    font-family: Arial, Helvetica, sans-serif;
    color: #a6a6a6;
    font-size: 11px;
    line-height: 18px;
}

.section-01 .left .information .counter {
    margin-top: 25px;    
}

.section-01 .left .information .counter-container {
    position: relative;
}
.section-01 .left .information .counter-container .field-element {
    width: 370px;
    height: 125px;
    position: absolute;
}

.section-01 .left .information .counter .element {
    float: left;
    width: 76px;
    height: 112px;
    margin: 0 12px 0 0;
}

.section-01 .left .information .counter .element .number {
    width: 78px;
    height: 79px;
    background: url(../img/timer-bg.png) no-repeat;
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    color: #fff;
    text-align: center;
    line-height: 79px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.section-01 .left .information .counter .element .desc {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
    color: #24222f;
}

.section-01 .right {
    width: 330px;
    height: 331px;
    float: left;
    position: relative;
}

.section-01 .right .ipad {
    position: absolute;
    left: 29px;
    bottom: -36px;
    width: 189px;
    height: 253px;
    padding: 29px 27px 33px;
    background: url(../img/ipad.png) no-repeat;
}
.section-01 .right .ipad img {
    width: 189px;
    height: 253px;
}

.section-02 {
    border-top: 5px solid #15121b;
    background: #24222f;
    /*height: 117px;*/
    padding-top: 33px;
}

.section-02 .left {
    width: 449px;
    padding-left: 51px;
    height: 150px;
    float: left;
}

.section-02 .left .subscription .heading {
    color: #bfbfbf;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.section-02 .left .subscription .input {
    width: 337px;
    height: 39px;
    background: url(../img/newsletter-bg.png) no-repeat;
    margin: 15px 0 10px 1px;
    position: relative;
}

.section-02 .left .subscription .input input[type=email] {
    background: transparent;
    border: 0;
    color: #868587;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 35px;
    width: 220px;
    margin-left: 20px;
    line-height: 39px;
}

.section-02 .left .subscription .input input[type=submit] {
    color: #fff;
    background: #86a6c0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    border: 0;
    width: 70px;
    height: 30px;
    line-height: 29px;  
    border-bottom: 2px solid #6789a3;
    position: absolute;
    right: 5px;
    top: 4px;
    cursor: pointer;
}

.section-02 .left .subscription .description {
    color: #686868;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    text-transform: uppercase;
}

.section-02 .right {
    height: 150px;
    width: 300px;
    padding-left: 10px;
    float: left;
}

.section-02 .right .form {
    width: 240px;
    margin-top: 35px;
}

.section-02 .right .form .image {
    float: left;
    width: 17px;
    height: 15px;
    margin-right: 10px;
    margin-top: 6px;
}

.section-02 .right .description {
    color: #686868;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: right;
    width: 231px;
    margin-top: 20px;
}

.section-02 .right .form .input {
    float: left;
    width: 204px;
    height: 28px;
    background: url(../img/twitter-bg.png) no-repeat;
    overflow: hidden;
}
.section-02 .right .form .input > * {
    width: 184px;
    height: 18px;
    padding: 5px 10px;
    margin: 0;
    color: #ccc;
}
.section-02 .right .form .input a {
    color: #ccc;
	text-underline: none;
}

#footer .socials {
    text-align: center;
}

#footer .socials a {
    display: inline-block;
    margin: 0 6px;
}

.section-02 .field-element {
    display: inline-block;
}
.section-02 .left .input .field-element {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 337px;
    height: 40px;
}