html, body {
    margin: 0;
    padding: 0;
}

div.clearfix {
    clear: both;
}

a > img { border: 0; }

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

div.main {
    position: relative;
    width: 1200px;
    height: 627px;
    overflow: hidden;
}

.section-01 {
    background: #6DEDFF;
    width: 100%;
    height: 426px;
    padding: 48px 0 0;
    position: relative;
    z-index: 1;
}

.section-01 .header-bg {
    background: #FF8F6D;
    top: 0;
    left: 0;
    padding: 15px 35px;
    position: absolute;
}
.section-01 .header-bg h1,
.section-01 .header-bg h2,
.section-01 .header-bg h3,
.section-01 .header-bg h4,
.section-01 .header-bg h5,
.section-01 .header-bg h6,
.section-01 .header-bg p {
    font-size: 35px;
    color: #fff;
    font-family: Arial, sans-serif;
    white-space: nowrap;
}
.section-01 .subheader-bg {
    top: 18px;
    right: 0;
    height: 102px;
    position: absolute;
    z-index: 999;
    padding: 0;
}
.section-01 .subheader-bg img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
.section-01 .subheader-bg h1,
.section-01 .subheader-bg h2,
.section-01 .subheader-bg h3,
.section-01 .subheader-bg h4,
.section-01 .subheader-bg h5,
.section-01 .subheader-bg h6,
.section-01 .subheader-bg p {
    font-size: 50px;
    line-height: 102px;
    color: #fff;
    font-family: Arial, sans-serif;
    position: relative;
    padding: 0 30px 0 75px;
    white-space: nowrap;
}

.section-01 .computer {
    background: url(../img/computer.png) no-repeat top left;
    width: 687px;
    height: 430px;
    margin: 0 auto;
    padding: 44px 188px 102px 188px;
}
.section-01 .computer img {
    width: 687px;
    height: 430px;
}

.section-02 {
    background: #FF8F6D;
    width: 100%;
    height: 153px;
}