html, body, div.main {
    width: 100%;
    height: 100%;
    min-height: 600px;
    background: #8ccb83;
}

.gs-modal {
    width: 682px;
    height: 674px;
    background: url(../images/gates-bg.png) no-repeat;
    position: absolute;
    top: 50%; 
    left: 50%;
    margin: -187px 0 0 -341px;
    padding: 2px 2px 27px 35px;
}

.gs-modal > .gs-header {
    width: 645px;
    height: 64px;
}

.gs-modal > .gs-nav {
    width: 645px;
    height: 53px;
    padding-top: 9px;
    padding-left: 14px;
}

.gs-modal > .gs-nav > .gate {
    width: 149px;
    height: 45px;
    float: left;
    position: relative;
}

.gs-modal > .gs-nav > .gate span.tick_container {
    content: "";
    background-color: #e5e5e5;
    display: none;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 7px;
    right: 0px;
    z-index:1;
    border-radius: 50px;
}

.gs-modal > .gs-nav > .gate span.tick {
    display: none;
    width: 27px;
    height: 17px;
    z-index: 2;
    position: absolute;
    background-color: transparent;
    background-image: url(../images/gate-tick.png);
    background-repeat: no-repeat;
    top: 6px;
    right: -1px;
}


.gs-modal > .gs-nav > .gate.active span.tick_container {
    display: block;
}

.gs-modal > .gs-nav > .gate.active span.tick {
    display: block;
}

.gs-modal > .gs-nav > .gate.like-gate,
.gs-modal > .gs-nav > .gate.share-gate {
    margin-right: 84px;
}

.gs-modal > .gs-nav > .gate > .button-nav {
    display: block;
    width: 114px;
    height: 45px;
    text-indent: -99999px;
    background-color: transparent;
}

.gs-modal > .gs-nav > .gate.active > .button-nav {
    background-position: 0 -45px;
}

.gs-modal > .gs-nav > .gate > .button-nav.like {
    background-image: url(../images/nav-like.png);
}

.gs-modal > .gs-nav > .gate > .button-nav.share {
    background-image: url(../images/nav-share.png);
}

.gs-modal > .gs-nav > .gate > .button-nav.email {
    background-image: url(../images/nav-email.png);
}

/** 
 * Switcher 
 */

.gs-info-active {
    width: 620px;
    padding-top: 17px;
    height: 89px;
    margin-left: 14px;
}

.gs-info-active > .left {
    width: 326px;
    height: 72px;
    float: left;
    margin-left: 11px;
}

.gs-info-active > .left > .about-info {
    padding: 5px 24px 7px 57px;
    height: 72px;
    font-family: "Helvetica Neue";
    color: #fff;
    font-size: 16px;
    line-height: 20px;
}

.gs-info-active > .right {
    float: left;
    margin-left: 74px;
    margin-top: 10px;
}

.on-off-switch {
    background: #85dffc;
    border-radius: 20px;
    width: 131px;
    height: 46px;
    position: relative;
    padding: 3px;
}

.on-off-switch.off {
    background: #f04831;
}

.on-off-switch > .on-click-switch {
    display: block;
    text-indent: -99999px;
    width: 39px;
    height: 40px;
    background: url(../images/switcher.png) no-repeat;
}

.on-off-switch.off > .on-click-switch {
    float: right;
}

.gate-main > .gate-navigate {
    margin-top: 16px;
    width: 593px;
    height: 42px;
    margin-left: 28px;
}

.gate-navigate > .left > a.link.active,
.gate-navigate > .right > a.link.active {
    padding: 10px 9px 1px 11px;
    display: block;
    width: 277px;
    height: 42px;
    background: #85dffc;
    color: #1099d2;
    font-family: "Helvetica Neue";
    font-size: 20px;
    line-height: 22px;
    text-decoration: none;
    position: relative;
    float: left;
    -webkit-border-top-left-radius: 17px;
    -webkit-border-top-right-radius: 17px;
    -moz-border-radius-topleft: 17px;
    -moz-border-radius-topright: 17px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.gate-navigate > .left > a.link.normal,
.gate-navigate > .right > a.link.normal {
    padding: 6px 9px 1px 11px;
    margin-top: 5px;
    display: block;
    width: 277px;
    height: 33px;
    background: #1099d2;
    color: #fff;
    font-family: "Helvetica Neue";
    font-size: 20px;
    line-height: 22px;
    text-decoration: none;
    position: relative;
    float: left;
    -webkit-border-top-left-radius: 17px;
    -webkit-border-top-right-radius: 17px;
    -moz-border-radius-topleft: 17px;
    -moz-border-radius-topright: 17px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.gate-navigate > .right > a.link.disabled {
    margin-top: 5px;
    display: block;
    float: left;
    background-image: url(../images/confirm-message-disabled.png);
    width: 277px;
    height: 33px;
}

.gate-navigate > .right > a.link.disabled > span {
    display: none;
}

.gate-navigate > .left > a {
    margin-right: 39px;
}

.gate-navigate > .left > a > span {
    display: block;
    float: left;
}

.gate-navigate > .right > a > span {
    display: block;
    float: left;
}

.gate-navigate > .left > a > span.number,
.gate-navigate > .right > a > span.number {
    border-radius: 50px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    background: #fff;
    text-align: center;
    color: #1099d2;
    font-family: "Helvetica Neue";
    font-size: 16px;
    margin-left: 13px;
    margin-right: 11px;
}

.gate-navigate > .left > a > span.divied,
.gate-navigate > .right > a > span.divied {
    width: 257px;
    height: 2px;
    background: #1099d2;
    margin-top: 5px;
}

.gate-navigate > .left > a.normal > span.divied,
.gate-navigate > .right > a.normal > span.divied {
    display: none;
}

.gate-content {
    width: 593px;
    height: 311px;
    margin-left: 29px;
    padding-top: 22px;
    position: relative;
}

.gate-content > .information {
    width: 493px;
    height: 49px;
    margin-left: 47px;
    padding-left: 55px;
    font-size: 14px;
    color: #fff;
    font-family: "Helvetica Neue";
    padding-top: 3px;
}

.gate-content > .information-bottom {
    width: 100%;
    font-size: 14px;
    color: #fff;
    font-family: "Helvetica Neue";
    padding-top: 3px;
    position: absolute;
    text-align: center;
    bottom: 15px;
}

.gate-footer {
    width: 620px;
    height: 47px;
    margin-left: 14px;
    margin-top: 12px;
}

.gate-footer > .left {
    float: left;
    width: 240px;
    padding-top: 10px;
    height: 47px;
}

.gate-footer > .left > a.close-window-169 {
    display: block;
    text-indent: -9999px;
    width: 169px;
    height: 35px;
    background: url(../images/close-window-169.png) no-repeat;
}

.gate-footer > .middle {
    float: left;
    width: 258px;
    height: 47px;
}

.gate-footer > .middle > span {
    color: #1099d2;
    font-family: "Helvetica Neue";
    font-size: 14px;
    line-height: 55px;
}

.gate-footer > .right {
    float: left;
    height: 47px;
    width: 122px;
}

.gate-footer > .right > a.save-button {
    display: block;
    width: 105px;
    height: 39px;
    background: url(../images/save-button.png) no-repeat;
    text-indent: -99999px;
    margin: 2px auto 0;
}