<!doctype html>
<html>
    <head>
        <title>Mobile App Ad Template</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="stylesheet" href="resources/css/style.css">
    </head>
    <body>
        {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5tYWluIiwiY29sb3IiOiIjREY0MzQzIiwiYWRtaW5UYWciOiJtYWluLWJhY2tncm91bmQifQ==}}
        <div class="main selectable-element" data-admin-tag="main-background">
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5zZWN0aW9uLTAxIiwiY29sb3IiOiIjMkIzODQ4IiwiYWRtaW5UYWciOiJzZWN0aW9uLTAxLWJhY2tncm91bmQifQ==}}
            <div class="section-01 selectable-element" data-admin-tag="section-01-background">
                <div class="title">
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgxPllPVVIgSEVBRElORyBIRVJFPC9oMT4ifQ==}}
                </div>
                <div class="subtitle">
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgyPklORk9STUFUSU9OIEFCT1VUIFlPVVIgQVBQIEFORCBXSFkgSVQnUyBHUkVBVDwvaDI+In0=}}
                </div>
                <div class="phone">
                    {{_tabfu:ImportField:imagead:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9hZGQtc2NyZWVuc2hvdC5wbmcifQ==}}
                </div>
                <div class="app-icon">
                    {{_tabfu:ImportField:imagead:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9hZGQtaWNvbi5wbmcifQ==}}
                </div>
                <div class="download-icons">
                    {{_tabfu:ImportField:imagead:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9hcHBsZS5wbmcifQ==}}
                    {{_tabfu:ImportField:imagead:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9nb29nbGUucG5nIn0=}}
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHA+RG93bmxvYWQgTm93PC9wPiJ9}}
                </div>
            </div>
        </div>
    </body>
</html>