html, body {
    width: 810px;
    margin: 0 auto;
    padding: 0;
}

div.clearfix {
    clear: both;
}

a > img { border: 0; }

p {
    margin: 0;
}

div.main {
    position: relative;
    width: 810px;
    margin: 0 auto;
    background: #002f5f;
    min-height: 500px;
}

#header {
    /*height: 216px;*/
}

#header .top {
    background: #fff;
    padding: 35px 0;
}

#header .bottom {
    height: 42px;
    background: #4fa7aa;
}

#header h1, #header h2, #header h3,
#header h4, #header h5, #header h6,
#section-01 .event-background h3 {
    margin: 0 auto;
    font-weight: normal;
}

#header h1, #header h2, #header h3,
#header h4, #header h5, #header h6 {
    color: #000;
    font-family: "Corbel", Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}
#header h1 {
    text-transform: uppercase;
    line-height: 70px;
    font-size: 70px;
}
#header h2 {
    font-size: 40px;
    color: #4fa7aa;
    line-height: 40px;
}
#header h3 {
    font-size: 30px;
    line-height: 30px;
}
#header h4 {
    font-size: 20px;
    line-height: 20px;
}
#header h5 {
    font-size: 18px;
    line-height: 18px;
}
#header h6 {
    font-size: 16px;
    line-height: 16px;
}

#header .bottom h3 {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #fff;
    line-height: 42px;
    text-align: center;
}

#section-01 {
    /*height: 449px;*/
    padding-top: 35px;
    position: relative;
    z-index: 0;
    background: #002f5f;
}

#section-01 .movie-background {
    width: 640px;
    /*height: 344px;*/
    text-align: center;
    margin: 0 auto;
    background: #141822;
}

#section-01 .movie-background > *,
#section-01 .movie-background > div > * {
    width: 640px;
    height: 344px;
}

#section-01 .event-background {
    height: 89px;
    background: #84e9ec;
    padding-top: 10px;
    position: relative;
    text-align: center;
}
#section-01 .event-background .field-element {
    display: inline-block;
}

#section-01 .event-background h3 {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 36px;
    font-weight: bold;
    color: #002f5f;
    text-align: center;
}

#section-01 .access-data {
    position: absolute;
    height: 35px;
    width: 140px;
    top: 52px;
    right: 10px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #002f5f;
}

#section-02 {
    height: 411px;
    background: #002f5f;
    position: relative;
}

#section-02 .register-element {
    width: 728px;
    height: 282px;
    left: 50%;
    margin-left: -364px;
    margin-top: -34px;
    position: absolute;
}

#section-02 .register-element .header {
    width: 491px;
    height: 71px;
    background: #4fa7aa;
    -webkit-border-top-left-radius: 14px;
    -webkit-border-top-right-radius: 14px;
    -moz-border-radius-topleft: 14px;
    -moz-border-radius-topright: 14px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin: 0 auto;
}

#section-02 .register-element .header span {
    font-size: 54px;
    line-height: 74px;
    display: block;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

#section-02 .register-element .content {
    width: 728px;
    height: 211px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    background: #4fa7aa;
}

#section-02 .register-element .content .column-01 {
    float: left;
    width: 144px;
    height: 134px;   
    padding-top: 34px;
    padding-left: 17px;
}

#section-02 .register-element .content .column-01 .calendar {
    background: url(../img/calendar.png) no-repeat;
    width: 144px;
    height: 134px;
    position: relative;
}

#section-02 .register-element .content .column-01 .calendar span {
    display: block;
    font-size: 58px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #343434;
    padding-top: 40px;
    text-align: center;
}

#section-02 .register-element .content .column-02 {
    float: left;   
    width: 180px;
    margin-left: 20px;
    padding-top: 55px;
}

#section-02 .register-element .content .column-02 span,
#section-02 .register-element .content .column-04 span {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #fff;
}

#section-02 .register-element .content .column-03 {
    float: left;
}

#section-02 .register-element .content .column-03 .time {
    width: 147px;
    height: 147px;
    background: url(../img/clock.png) no-repeat;
    margin-top: 30px;
    margin-left: 15px;
    
}

#section-02 .register-element .content .column-04 {
    float: left;
    height: 130px;
    margin-left: 20px;
    padding-top: 41px;
}

#section-02 .arrow-left,
#section-02 .arrow-right {
    width: 92px;
    height: 89px;
    position: absolute;
    bottom: 93px;
    left: 93px;
}

#section-02 .arrow-right {
    left: auto;
    right: 97px;
}

div.c-button {
    width: 406px;
    height: 104px;
    background: url(../img/pink-button.png) no-repeat;
    position: absolute;
    bottom: 33px;
    left: 198px;
    cursor: pointer;
}

div.c-button span {
    display: block;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 40px;
    color: #1b1f29;
    text-align: center;
    line-height: 90px;
}

#section-03 {
    /*height: 236px;*/
    background: #fff;
    padding-bottom: 30px;
}

#section-03 .top {
    padding-top: 26px;
    width: 664px;
    text-align: center;
    margin: 0 auto;
    background-color: transparent !important;
}

#section-03 .top span {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #002f5f;
}

#section-03 .bottom {
    width: 691px;
    height: 66px;
    background: #4fa7aa;
    padding: 10px;
    margin: 21px auto 0 auto;
}

#section-03 .bottom span {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    display: block;
    color: #fff;
    font-size: 18px;
}

#section-04 {
    /*height: 526px;*/
    background: #fff;
    padding-bottom: 30px;
}

#section-04 .header {
    height: 99px;
    background: #84e9ec;
    text-align: center;
}

#section-04 .header span {
    font-size: 35px;
    display: inline-block;
    line-height: 99px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #002f5f;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

#section-04 .content-features {
    width: 620px;
    margin: 0 auto;
    padding-top: 30px;
}

#section-04 .feature-element {
    display: table-row;
    margin-bottom: 50px;
}

#section-04 .feature-element span.pink-tick {
    display: table-cell;
    width: 60px;
    height: 48px;
    /*background: url(../img/deep-pink-tick.png) no-repeat;*/
    padding-right: 40px;
}

#section-04 .feature-element span.content-tick {
    display: table-cell;
    vertical-align: top;
    color: #4fa7aa;
    font-family: "Corbel", Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 515px;
    padding-bottom: 40px;
    line-height: 27px;
}

#section-04 .feature-element:last-of-type span.content-tick {
    padding-bottom: 0;
}

#section-05 {
    position: relative;
    height: 373px;
    background: #002F5F;
    padding-top: 25px;
}

#section-05 .how-register {
    width: 711px;
    height: 129px;
    background: #4fa7aa;
    margin: 25px auto 0 auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
}
#section-05 .how-register .field-element {
    display: inline-block;
}

#section-05 .how-register h2 {
    font-family: "Corbel", Arial, Helvetica, sans-serif;
    font-size: 62px;
    color: #fff;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

#section-05 .how-register h3 {
    font-family: "Corbel", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #fff;
    margin: 0;
    text-align: center;
}

#section-05 div.c-button {
    bottom: 73px;
}

#section-05 .left-bottom-arrow,
#section-05 .left-top-arrow,
#section-05 .right-bottom-arrow {
    position: absolute;
    width: 93px;
    height: 100px;
}

#section-05 .left-top-arrow {
    left: 358px;
    top: 160px;
    width: 99px;
    height: 57px;
}

#section-05 .left-bottom-arrow {
    bottom: 75px;
    left: 94px;
}
#section-05 .right-bottom-arrow {
    bottom: 75px;
    right: 94px;
}


#footer {
    /*height: 44px;*/
    background: #fff;
}

#footer span {
    display: block;
    font-family: "Corbel", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #84e9ec;
    text-align: center;
    line-height: 44px;
}

.c-button span * {
    display: inline;
}

/* fixes for admin view */
.field-element[data-gate-field],.bottom-gate-wrapper {
    width: 406px;
    height: 104px;
    position: absolute;
    bottom: 33px;
    left: 198px;
}

.field-element[data-gate-field] .c-button {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}

#section-05 .field-element[data-gate-field],.bottom-gate-wrapper {
    bottom: 73px !important;
}
