@import url('animations.css');

/* Main */
html, body, div.main { height: 100%; background: #00518c; }

/* Header */
#header {
    height: 100px;
    background: #fff;
    margin-bottom: 28px;
}

#header .shop-icon {
    margin-top: 21px;
}

#header .logo > a { 
    display: block;
    margin-top: 27px;
}

#header .shop-icon > .icon {
    display: block;
    width: 64px;
    height: 63px;
    position: relative;
    background: url(../images/header/shop-icon.png) no-repeat center center;
}

/* Red circle (message) */
span.circle.info.red {
    background-color: #f04831;
    border-radius: 70px;
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    display: block;
    color: #fff;
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: 16px;
    font-family: "Helvetica Neue";
}

span.circle.info.red.bottom {
    top: auto;
    bottom: -12px;
    right: -12px;
}

/* Header - settings menu */
.menu-settings {
    width: 539px;
    height: 80px;
    margin-top: 12px;
    background: #ddf7ff;
    border-radius: 14px;
    position: relative;
    padding: 17px 19px;
}

.menu-settings .element {
    float: left;
    display: inline-block;
    position: relative;    
}

/* Menu settings - Buttons */
.menu-settings .support-button > .support {
    display: block;
    width: 180px;
    height: 49px;
    background: url(../images/header/support.png) no-repeat center center;
}

.menu-settings .tutorial-button > .tutorials {
    display: block;
    margin-left: 17px;
    width: 180px;
    height: 49px;
    background: url(../images/header/tutorials.png) no-repeat center center;
}

.menu-settings .setting-button > .setting {
    margin-left: 19px;
    display: block;
    margin-top: 10px;
    width: 36px;
    height: 35px;
    background: url(../images/header/settings-icon.png) no-repeat center center;
}

.menu-settings .setting-messages > .messages {
    margin-left: 19px;
    display: block;
    position: relative;
    margin-top: 10px;
    width: 49px;
    height: 36px;
    background: url(../images/header/message.png) no-repeat center center;
}

.menu-settings .setting-messages > .messages.inbox {
    display: block;
    position:relative;
    margin-top: -8px;
    width: 49px;
    height: 54px;
    background: url(../images/header/new-message-icon.png) no-repeat center center;
    
    -webkit-animation: bounce 800ms ease-out;
    -moz-animation: bounce 800ms ease-out;
    -o-animation: bounce 800ms ease-out;
    animation: bounce 800ms ease-out; 
    
}

.menu-settings .setting-messages > .messages:not(.inbox) > .circle.info.red.bottom {
    display: none;
}

.menu-settings .setting-messages > .messages.inbox > .circle.info.red.bottom {
    display: block;
}

.menu-settings .support-button > .support,
.menu-settings .tutorial-button > .tutorials,
.menu-settings .setting-button > .setting {
    text-indent: -9999999px;
}

/* Modals */

.modal-tf {
    display: block;
    position: absolute;
    -webkit-animation: fade_effect 300ms ease-out;
    -moz-animation: fade_effect 300ms ease-out;
    -o-animation: fade_effect 300ms ease-out;
    animation: fade_effect 300ms ease-out; 
}

/* Modal - settings */
.modal-tf.setting-dialog {
    display: block;
    left: -55px;
    background: url(../images/modal/settings-drop-down-box.png) no-repeat;
    width: 176px;
    height: 231px;
    z-index:999999;
}

.modal-tf.setting-dialog > .modal-content-tf {
    width: 152px;
    height: 152px;
    margin: 57px 0 0 17px;
}

.modal-tf.setting-dialog > .modal-content-tf > ul {
    padding: 0;
    margin: 0;
    padding-top: 3px;
}

.modal-tf.setting-dialog > .modal-content-tf > ul > li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.modal-tf.setting-dialog > .modal-content-tf > ul > li > a {
    display: block;
    background: #00a6f7;
    color: #fff;
    font-family: "Helvetica Neue";
    font-size: 15px;
    text-decoration: none;
    width: 140px;
    height: 31px;
    border-radius: 14px;
    margin: 13px auto 0 auto;
    font-style: italic;
    text-align: center;
    line-height: 31px;
}

.modal-tf.setting-dialog > .modal-content-tf > ul > li > a:hover {
    background: #85dffc;
    color: #002e61;
}

/* Modal - messages */
.modal-tf.message-dialog {
    display: block;
    padding: 51px 0 0 18px;
    left: -420px;
    background: url(../images/modal/message-drop-down-box.png) no-repeat;
    width: 512px;
    height: 502px;
    z-index:999999;
}

.modal-content-tf > .left-column-tf {
    width: 181px;
    height: 418px;
    float: left;
    margin-left: 10px;
    margin-top: 9px
}

.modal-content-tf > .left-column-tf > .header-tf > h3,
.modal-content-tf > .right-column-tf > .header-tf > h3 {
    margin: 0;
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
    font-family: "Helvetica Neue";
}

.modal-content-tf > .right-column-tf > .header-tf > h3 {
    font-size: 12px;
    text-align: left;
    padding-left: 25px;
    line-height: 28px;
}

.modal-content-tf > .left-column-tf > .content-tf {
    height:332px;
    padding: 10px 0;
    position: relative;
}

.modal-content-tf > .left-column-tf > .content-tf .messages-list ul,
.modal-content-tf > .left-column-tf > .content-tf .messages-list ul li {
    margin: 0;
    padding: 0;
}

.modal-content-tf > .left-column-tf > .content-tf .messages-list .message-link {
    width: 151px; 
    height: 31px;
    display: block;
    background: url(../images/header/read-message.png) no-repeat;
    margin: 12px auto 0 auto;
    padding: 8px 9px 5px 38px;
    font-family: "Helvetica Neue";
    font-size: 13px;
    overflow: hidden;
    white-space:nowrap; 
    text-overflow:ellipsis;
    text-decoration: none;
    font-style: italic;
}

.modal-content-tf > .left-column-tf > .content-tf .messages-list .message-link.active {
    background: url(../images/header/read-message-selected.png) no-repeat;
    width: 153px; 
    height: 33px;
}

.modal-content-tf > .left-column-tf > .content-tf .messages-list .message-link.new {
    background: url(../images/header/new-message-tab.png) no-repeat;
    width: 151px; 
    height: 38px;
    padding: 11px 9px 5px 38px;
}

.modal-content-tf > .left-column-tf > .content-tf .messages-list .message-link.active.new {
    background: url(../images/header/new-message-selected.png) no-repeat;
    width: 153px; 
    height: 38px;
}

.modal-content-tf > .left-column-tf > .content-tf .messages-list li:first-of-type .message-link {
    margin-top: 0;
}

.modal-tf > .modal-content-tf > .left-column-tf > .footer-tf > .load-button-modal {
    margin-top: 12px;
}

.modal-tf > .modal-content-tf > .left-column-tf > .footer-tf > .load-button-modal > a {
    width: 141px; 
    height: 34px;
    text-indent: -9999999px;
    margin: 0 auto;
    display: block;
}

.modal-tf > .modal-content-tf > .left-column-tf > .footer-tf > .load-button-modal > a.view-archive-tf {
    background: url(../images/header/view-archive-button.png) no-repeat;
}

.modal-tf > .modal-content-tf > .left-column-tf > .footer-tf > .load-button-modal > a.view-inbox-tf {
    background: url(../images/header/view-inbox-button.png) no-repeat;
}


.modal-content-tf > .right-column-tf {
    width: 289px;
    height: 409px;
    margin-top: 9px;
    float: left;
    margin-left: 7px;
}

.modal-content-tf > .right-column-tf > .content-tf {
    padding: 10px 10px 8px 10px;
}

.modal-content-tf > .right-column-tf > .content-tf > .message-scroll-content {
    height: 323px;
    width: 267px;
    background: #fff;
    border-radius: 11px;
    margin: 0 auto;
    text-align: justify;
    padding: 6px;
}

.modal-content-tf > .right-column-tf > .footer-tf > .button-place {
    text-align: center;
}

.modal-content-tf > .right-column-tf > .footer-tf > .button-place > a {
    display: inline-block;
    margin: 0 auto;
    width: 110px;
    height: 34px;
    text-indent: -999999px;
}

.modal-content-tf > .right-column-tf > .footer-tf > .button-place > a.move-to-archive {
    background: url(../images/header/archive-button.png) no-repeat;
}

.modal-content-tf > .right-column-tf > .footer-tf > .button-place > a.move-to-trash {
    background: url(../images/header/delete-button.png) no-repeat;
    margin-left: 12px;
}

/* ## CONTENT ## */

/* Sidebar */
#sidebar {
    padding: 13px 13px 14px 8px;
    position: absolute;
    left: 0;
    height: 461px;
    width: 102px;
    background: #fff;
    -webkit-border-top-right-radius: 43px;
    -webkit-border-bottom-right-radius: 43px;
    -moz-border-radius-topright: 43px;
    -moz-border-radius-bottomright: 43px;
    border-top-right-radius: 43px;
    border-bottom-right-radius: 43px;
}

#sidebar > nav > ul,
#sidebar > nav > ul > li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar > nav > ul .icon-menu { 
    width: 81px; 
    height: 81px;
    display: block;
    text-indent: -9999999px;
    margin-bottom: 6px;
    -webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -ms-transition: opacity .1s ease-in-out;
    -o-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
}

#sidebar > nav > ul .icon-menu:hover:not(.active) { 
    opacity: 0.65; 
}

#sidebar > nav > ul .icon-menu.home   { background: url(../images/menu/home.png) no-repeat center center; }
#sidebar > nav > ul .icon-menu.tabs   { background: url(../images/menu/FB-tabs.png) no-repeat center center; }
#sidebar > nav > ul .icon-menu.motion { background: url(../images/menu/motion-posts.png) no-repeat center center; }
#sidebar > nav > ul .icon-menu.fb-ad  { background: url(../images/menu/FB-ad.png) no-repeat center center; }
#sidebar > nav > ul .icon-menu.analyt { background: url(../images/menu/analytics.png) no-repeat center center; }

#sidebar > nav > ul .icon-menu.home.active   { background: url(../images/menu/home-selected.png) no-repeat center center; }
#sidebar > nav > ul .icon-menu.tabs.active   { background: url(../images/menu/FB-tabs-selected.png) no-repeat center center; }
#sidebar > nav > ul .icon-menu.motion.active { background: url(../images/menu/motion-posts-selected.png) no-repeat center center; }
#sidebar > nav > ul .icon-menu.fb-ad.active  { background: url(../images/menu/FB-ad-selected.png) no-repeat center center; }
#sidebar > nav > ul .icon-menu.analyt.active { background: url(../images/menu/analytics-selected.png) no-repeat center center; }



.flash-container{
    position: fixed;
    top: 20%;
    left: 35%;
    width: 30%;
    z-index: 99;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 15px -1px;
}
.flash-container-close{
    float: right;
    margin-top: -25px;
    margin-right: -25px;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    padding: 0px;
    line-height: 20px;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    z-index: 100;
}
.flash-notice{
    background: #67BFFF;
    color: #fff;
    border: solid 1px #00518c;
    text-align: center;
    padding: 5px;
}
.flash-notice a{
    color: white;
}
.flash-warning {
    background: #FF6767;
    color: #fff;
    border: solid 1px #00518c;
    text-align: center;
    padding: 5px;
}
.flash-warning a, .flash-warning a:hover{
    color: white;
}
.inline-block{
    display: inline-block;
}
.margin0{
    margin: 0px;
}

.topwrapper{
    background-color: #002e61;
    min-height: 75px;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.topwrapper .addtbtn{
    background: url('../images/FB-account-button.png');
    background-repeat: no-repeat;
    width: 200px;
    height: 50px;
    background-size: 200px 50px;
    text-align: center;
    vertical-align: top;
}
.topwrapper .addtbtn > a{
    width: 100%;
    height: 100%;
    display: block;  
}

.topwrapper  h1{
    color: white;
    font-size: 45px;
}


.fbaccount{
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px;
    color: black;
}
.fbaccount.selected{
    border: 4px solid #000;
    padding-left: 6px;
}
.fbaccount > .disconnectaccount {
    float: right;
    margin-top: -20px;
    margin-right: -20px;
    width: 20px;
    border-radius: 15px;
    background-color: red;
    text-align: center;
    color: white;
    height: 20px;
    line-height: 20px;
}
.fbaccount > a:hover{
    text-decoration: none;
}
.fbaccount > a > .profileinfo span, .fbaccount > a > .fanpagescount > span{
    background-color: #00518c;
    color: white;
    padding: 10px;
    width: 75%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

    
}
.fbaccount > a > .profileinfo > img, .fbaccount > a > .fanpagescount > img{
    width: 20%;
    
}
.sidestrip {
    border-right: solid 5px #002e61;
}
.facebookaccounts{
    padding-bottom: 45px;
}
.fanpages{
    padding-bottom: 30px;
}

.fanpages .fanpage{
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px;
    color: black;
}
.fanpages .fanpage span{
    vertical-align: middle;
    background-color: #00518c;
    color: white;
    padding: 10px;
    width: 75%;
    display: inline-block;
    text-align: center;
}
.fanpages .fanpage img{
    width: 20%;
}
.fanpages .fanpage a:hover{
    text-decoration: none;
}
.fanpages .fanpage .no-decoration{
    text-decoration: none;
}
.vertical-top{
    vertical-align: top;
}
.align-center{
    text-align: center;
}

.tab-view{
    margin-top: 20px;
}
.tab-view .tab {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin: 10px 10px 10px 10px;
    height: 400px;
}
.tab-view .tab .head .name{
    background-color: #00518c;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    display: block;
    width: 70%;
    text-align: center;
}

#form-user{
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    color: white;
    
}
#form-user input[type="text"], #form-user input[type="password"]{
    width: 100%;
}
#form-user input{
    color: black;
}

#form-user input[type="submit"]{
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ddf7ff;
    color: black;
    padding: 5px;
    min-width: 50px;
}

.template-picker{
    display: none;
}

/**
 *     Home styles
 */
.home-row:first-of-type {
    margin-top: 24px;
}

.home-row {
    padding-left: 10px;
    margin-top: 10px;
}

.home-row .stats-info {
    width: 413px;
    height: 116px;
    position: relative;
    margin-top: 12px;
    background: url(../images/home/tabs-base.png) no-repeat;
}

.home-row .stats-info.analytics {
    background: url(../images/home/analytics-base.png) no-repeat;
}

.home-row .stats-info > div.head-title {
    margin-left: 69px;
    width: 334px;
    height: 37px;
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    background: url(../images/home/msg-info-bg.png) no-repeat;
    padding-left: 44px;
    line-height: 37px;
    margin-top: -12px;
    position: absolute;
}

.home-row .stats-info > div.msg-content {
    display: block;
    position: absolute;
    width: 292px;
    top: 32px;
    height: 75px;
    margin-left: 90px;
}

.home-row .stats-info > div.msg-content > div.msg-stats {
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    padding: 0 24px;
}

.home-row .stats-info > div.msg-content > div.msg-stats > span {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    float: left;
}

.home-row .stats-info > div.msg-content > div.msg-stats > span.scheduled {
    padding-right: 18px; 
}

.home-row .stats-info > div.msg-content > div.msg-stats > span.published-tabs,
.home-row .stats-info > div.msg-content > div.msg-stats > span.scheduled {
    float: right;
}

.home-row .stats-info > div.msg-content > div.msg-stats > span.saved-templates-ads {
    width: 100%;
    float: none;
    text-align: center;
}

.home-row .stats-info > div.msg-content > div.msg-buttons {
    text-align: center;
}

.home-row .stats-info > div.msg-content > div.msg-buttons > a.button-msg {
    text-indent: -999999px;
    display: inline-block;
    height: 34px;
    margin-top: 8px;
}

.home-row .stats-info > div.msg-content > div.msg-buttons > a.create-new.button-msg {
    width: 141px;
    background: url(../images/home/create-new-button.png) no-repeat;
    margin-right: 10px;
}

.home-row .stats-info > div.msg-content > div.msg-buttons > a.details.button-msg {
    width: 110px;
    background: url(../images/home/details-button.png) no-repeat;
}

.home-row .stats-info > div.msg-content > div.msg-buttons.analytics {
    height: 75px;
    width: 210px;
    margin-left: 44px;
}

.home-row .stats-info > div.msg-content > div.msg-buttons.analytics > a.view-data {
    width: 180px;
    height: 49px;
    background: url(../images/home/view-data-button.png) no-repeat;
    margin-top: 13px;
}

/**
 *     Motion posts
 */
#create-new-post {
    display: block;
    width: 180px;
    height: 49px;
    text-indent: -9999999px;
    background: url(../images/motion-posts/create-new-post-button.png) no-repeat;
}

div.search-background {
    float: right;
    width: 180px;
    position: relative;
    height: 49px;
    background: url(../images/motion-posts/search-input.png) no-repeat;
}

div.search-background > form >  input[type=search] {
    width: 105px;
    height: 30px;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: bold;
    border: 0;
    font-style: italic;
    color: #2dc5f5;
    position: absolute;
    top: 9px;
    right: 15px;
}

div.search-background > form > input[type=search]::-webkit-input-placeholder {
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: #2dc5f5;
}
div.search-background > form >  input[type=search]:-moz-placeholder {
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: #2dc5f5;
}
div.search-background > form >  input[type=search]::-moz-placeholder {
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: #2dc5f5;
}
div.search-background > form >  input[type=search]:-ms-input-placeholder {
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: #2dc5f5;
}

/**
 *     Left side (list of pages)
 */

.page-boxes {
    width: 188px;
    text-align: center;
    padding-left: 14px;
}

.page-boxes > a.page-box {
    display: inline-block;
    background: #fff;
    width: 182px;
    height: 70px;
    border-radius: 15px;
    margin: 15px auto;
    padding: 7px 7px 7px 10px;
}

.page-boxes > a.page-box.active {
    border: 3px solid #92e0f7;
    width: 188px;
    height: 76px;
}

.page-boxes > a.page-box:hover {
    cursor: pointer;
}

.page-boxes > a.page-box > div.image-placeholder {
    width: 56px;
    float: left;
    height: 56px;
    background-color: #002e61;
}

.page-boxes > a.page-box > div.page-box-title {
    float: left;
    width: 102px;
    text-align: center;
    background: #008dd8;
    height: 42px;
    line-height: 37px;
    color: #fff;
    font-size: 12px;
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-style: italic;
    margin-left: 4px;
    vertical-align: middle;
    margin-top: 6px;
    
}

.page-boxes > a.page-box > div.page-box-title > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.page-boxes > a.page-box.main {
    height: 87px;
    width: 181px;
}

.page-boxes > a.page-box.main > div.image-placeholder {
    background : none;
}

.page-boxes > a.page-box.main > div.page-box-title {
    height: 65px;
    margin-top: 4px;
    line-height: 57px;
}

/**
 *     Right side (posts)
 */

.motion-posts-elements {
    padding: 30px 0 0 10px;
}

.motion-posts-elements > .post {
    position: relative;
    display: inline-block;
    float: left;
    margin: 20px 0 0 12px;
    width: 168px;
    height: 384px;
    background: #fff;   
    border-radius: 21px;
    padding: 12px 9px 20px 12px
}

/**
 *     Elements of motion post (box)
 */

.motion-posts-elements > .post  div.clear {
    clear: both;
}

.motion-posts-elements > .post > .top-information > .left,
.motion-posts-elements > .post > .top-information > .right {
    float: left;
}

.motion-posts-elements > .post > .blue-divider {
    height: 2px;
    background: #002e61;
    width: 146px;
    margin: 0 auto;
}

.motion-posts-elements > .post > .top-information > .right {
    margin-left: 12px;
}

.motion-posts-elements > .post > .top-information > .left > .title,
.motion-posts-elements > .post > .top-information > .left > .date-time {
    width: 93px;
    height: 22px;
    color: #fff;
    font-family: "Helvetica Neue";
    font-size: 15px;
    font-weight: bold;
    background: #1796dd;
    line-height: 13px;
    text-align: center;
    padding: 4px;
}

.motion-posts-elements > .post > .top-information > .left > .date-time {
    font-weight: normal;
    margin-top: 2px;
}

.motion-posts-elements > .post > .top-information > .left > .animation {
    margin-top: 3px;
    width: 93px;
    text-align: center;
}

.motion-posts-elements > .post > .top-information > .left > .animation > img {
    width: 87px;
    height: 87px;
    margin: 0 auto;
}

.motion-posts-elements > .post > .top-information > .right > .icon-info {
    display: block;
    text-indent: -9999999px;
    width: 39px;
    background-position: center center;
    margin-bottom: 6px;
}

.motion-posts-elements > .post > .top-information > .right > .icon-info.favorite {
    background: url(../images/motion-posts/star.png) no-repeat; 
    height: 41px;
}

.motion-posts-elements > .post > .top-information > .right > .icon-info.mobile {
    background: url(../images/facebook-tabs/mobile-link.png) no-repeat; 
    background-position: 0 -42px;
    height: 43px;
}

.motion-posts-elements > .post > .top-information > .right > .icon-info.mobile.inactive {
    background: url(../images/facebook-tabs/mobile-link.png) no-repeat; 
    background-position: 0 0px;
}

.motion-posts-elements > .post > .top-information > .right > .icon-info.favorite.active {
    background-position: 0 -45px;
}

.motion-posts-elements > .post > .top-information > .right > .icon-info.vpof {
    background: url(../images/motion-posts/vpof-facebook.png) no-repeat; 
    height: 39px;
}

.motion-posts-elements > .post > .top-information > .right > .icon-info.vpof.active {
    background-position: center -41px;
}

.motion-posts-elements > .post > .top-information > .right > .icon-info.copy {
    background: url(../images/motion-posts/copy-icon.png) no-repeat; 
    height: 38px;
    background-position: center center;
}

/**
 *   Analytics space (box)
 */

.motion-posts-elements > .post > .bottom-analytics {
    margin-left: -2px;
}

.motion-posts-elements > .post > .bottom-analytics > .title {
    padding-top: 5px;
    width: 100%;
    height: 40px;    
}

.motion-posts-elements > .post > .bottom-analytics > .title > span.header-analytics {
    display: block;
    text-indent: -99999px;
    width: 111px;
    height: 28px;
    background: url(../images/motion-posts/analytics-heading.png) no-repeat;
    float: left;
}

.motion-posts-elements > .post > .bottom-analytics > .title > a.refresh-icon {
    float: left;
    display: block;
    text-indent: -999999px;
    background: url(../images/motion-posts/refresh-icon.png) no-repeat;
    width: 30px;
    height: 30px;
    margin-left: 7px;
}

.motion-posts-elements > .post > .bottom-analytics > .analytics-fb > .row {
    height: 40px;
    margin-bottom: 3px;
    width: 100%; 
    margin-left: 0;
}

.motion-posts-elements > .post > .bottom-analytics > .analytics-fb > .row > .background-box {
    width: 104px;
    height: 40px;
    background: #1796dd;
    text-align: center;
    line-height: 32px;
    padding: 4px;
    float: left;
    font-size: 18px;
    color: #fff;
    font-family: "Helvetica Neue";
}

.motion-posts-elements > .post > .bottom-analytics > .analytics-fb > .row > .icon-a-left {
    float: left;
    margin-right: 7px;
    display: block;
    width: 35px;
    height: 40px;
}

.motion-posts-elements > .post > .bottom-analytics > .analytics-fb > .row > .icon-a-left.clicks {
    background: url(../images/motion-posts/analytics-clicks.png) no-repeat center center;
}

.motion-posts-elements > .post > .bottom-analytics > .analytics-fb > .row > .icon-a-left.likes {
    background: url(../images/motion-posts/analytics-likes.png) no-repeat center center;
}

.motion-posts-elements > .post > .bottom-analytics > .analytics-fb > .row > .icon-a-left.impressions {
    background: url(../images/motion-posts/analytics-impressions.png) no-repeat center center;
}

.motion-posts-elements > .post > .bottom-analytics > .analytics-fb > .row > .icon-a-left.comments {
    background: url(../images/motion-posts/analytics-comments.png) no-repeat center 8px;
}

.motion-posts-elements > .post > .bottom-analytics > .analytics-fb > .row > .icon-a-left.shares {
    background: url(../images/motion-posts/analytics-share.png) no-repeat center 4px;
}

.motion-posts-elements > .post > .button-delete {
    position: absolute;
    bottom: -15px;
    width: 30px;
    height: 30px;
    display: block;
    left: 50%;
    margin-left: -15px;
    text-indent: -9999999px;
    background: url(../images/motion-posts/x-button.png) no-repeat;
}

.motion-posts-elements > .post > .delete-modal {
    width: 158px;
    height: 215px;
    padding-top: 80px;
    background: url(../images/motion-posts/delete-saved-post.png) no-repeat;
    position: absolute;
    bottom: 18px;
    left: 5px;
}

.motion-posts-elements > .post > .delete-modal.scheduled {
    background: url(../images/motion-posts/delete-scheduled-post.png) no-repeat;
}

.motion-posts-elements > .post > .delete-modal > .button-tf-yes {
    display: block;
    text-indent: -99999px;
    width: 71px;
    height: 36px;
    background: url(../images/motion-posts/yes.png) no-repeat;   
    margin: 0 auto 10px auto;
}

.motion-posts-elements > .post > .delete-modal > .button-tf-cancel {
    display: block;
    text-indent: -99999px;
    width: 90px;
    height: 35px;
    background: url(../images/motion-posts/cancel.png) no-repeat;
    margin: 0 auto;  
}

/**
 *     Facebook tabs
 */

.motion-posts-elements > .post.tab > .blue-divider {
    width: 162px;
}

.motion-posts-elements > .post.tab {
    width: 184px;
    height: 486px;
}

.motion-posts-elements > .post.tab > .top-information > .left > .title {
    width: 110px;
}

.motion-posts-elements > .post.tab > .top-information > .left > .image {
    margin: 3px auto 7px auto;
}

.motion-posts-elements > .post.tab > .top-information > .left > .image > img {
    width: 111px;
    height: 74px;
}

.motion-posts-elements > .post.tab > .top-information > .left > .button {
    text-indent: -999999px;
    display: block;
    margin-bottom: 7px;
}

.motion-posts-elements > .post.tab > .top-information > .left > .button.unpublic {
    width: 112px;
    height: 31px;
    background: url(../images/facebook-tabs/unpublish-button.png) no-repeat;
}

.motion-posts-elements > .post.tab > .top-information > .left > .button.unpublic.inactive {
    background: url(../images/facebook-tabs/unpublish-button-greyed.png) no-repeat;
}

.motion-posts-elements > .post.tab > .top-information > .left > .button.edit-tab {
    width: 112px;
    height: 38px;
    background: url(../images/facebook-tabs/edit-tab-button.png) no-repeat;
}

.motion-posts-elements > .post.tab > .bottom-analytics {
    width: 152px;
    margin: 0 auto;
}

.motion-posts-elements > .post.tab > .bottom-analytics > .title {
    width: 152px;
    padding-top: 10px;
    margin-bottom: 8px;
}

.motion-posts-elements > .post.tab > .bottom-analytics > .title > span.header-analytics {
    display: block;
    text-indent: -99999px;
    width: 111px;
    height: 33px;
    background: url(../images/facebook-tabs/analytics-heading.png) no-repeat;
    float: left;
}

.motion-posts-elements > .post.tab > .bottom-analytics > .title  > .refresh-icon {
    margin-left: 7px;
}

.motion-posts-elements > .post.tab > .bottom-analytics > .button-export {
    background: url(../images/facebook-tabs/export-CSV-button.png) no-repeat;
    width: 146px;
    height: 41px;
    display: block;
    text-indent: -99999px;
    margin-top: 2px;
}

.motion-posts-elements > .post.tab > .unpublished-element {
    width: 157px;
    height: 259px;
    background: url(../images/facebook-tabs/unpublished-box.png) no-repeat;
    margin: 6px auto 0 auto;
    padding-top: 135px;
}

.motion-posts-elements > .post.tab > .unpublished-element > .publish-now-button,
.motion-posts-elements > .post.tab > .scheduled-element > .publish-now-button {
    display: block; 
    text-indent: -99999px;
    width: 132px;
    height: 49px;
    background: url(../images/facebook-tabs/publish-now-button.png) no-repeat;
    margin: 11px auto 0 auto;
    
}

.motion-posts-elements > .post.tab > .unpublished-element > .schedule-button,
.motion-posts-elements > .post.tab > .scheduled-element > .schedule-button {
    display: block; 
    text-indent: -99999px;
    width: 132px;
    height: 49px;
    background: url(../images/facebook-tabs/schedule-button.png) no-repeat;
    margin: 0 auto;
}

.motion-posts-elements > .post.tab > .scheduled-element {
    position: relative;
    width: 157px;
    height: 259px;
    background: url(../images/facebook-tabs/scheduled-box.png) no-repeat;
    margin: 6px auto 0 auto;
    padding-top: 49px;
}

.motion-posts-elements > .post.tab > .scheduled-element > .date-scheduled,
.motion-posts-elements > .post.tab > .scheduled-element > .time-scheduled {
    width: 105px;
    height: 30px;
    position: absolute;
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    text-align: center;
    left: 46px;
    line-height: 30px;
}

.motion-posts-elements > .post.tab > .scheduled-element > .date-scheduled {
    top: 49px;
}

.motion-posts-elements > .post.tab > .scheduled-element > .time-scheduled {
    top: 93px;
}

.motion-posts-elements > .post.tab > .scheduled-element > .publish-now-button {
    background: url(../images/facebook-tabs/publish-now-button.png) no-repeat;
    margin: 10px auto 0 auto;
}

.motion-posts-elements > .post.tab > .scheduled-element > .schedule-button {
    margin: 90px auto 0 auto;
}


/**
 *     Facebook tabs (modals)
 *     - mobile link
 *     - publish your tab
 *     - schedule
 */

#mobile-link-modal {
    width: 425px;
    height: 230px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -115px 0 0 -213px;
    background: url(../images/facebook-tabs/modals/mobile-bg.png) no-repeat;
    z-index: 3;
    padding-left: 26px;
}

#mobile-link-modal > .header {
    height: 64px;
    line-height: 64px;
}

#mobile-link-modal > .header > p,
.main-modal > .header > p {
    margin: 0;
    font-family: "Helvetica Neue";
    font-size: 25px;
    color: #fff;
    text-align: center;
}

#mobile-link-modal > .header > .close-button,
.main-modal > .header > .close-button {
    display: block;
    position: absolute;
    top: -10px;
    right: -11px;
    text-indent: -99999px;
    background: url(../images/facebook-tabs/modals/mobie-link-X.png) no-repeat;
    width: 27px;
    height: 27px;
}

#mobile-link-modal > .content {
    height: 135px;
}

#mobile-link-modal > .content > .link-content {
    margin: 10px 0 13px 8px;
    width: 382px;
    height: 63px;
}

#mobile-link-modal > .content > .link-content > .left {
    float: left;
    width: 256px;
    height: 63px;
}

#mobile-link-modal > .content > .link-content > .left > input {
    border: 0;
    background: transparent;
    font-family: "Helvetica Neue";
    font-size: 20px;
    color: #fff;
    height: 59px;
    margin-top: 2px;
    width: 88%;
    margin-left: 8%;
    text-align: center;
}

#mobile-link-modal > .content > .link-content > .right {
    width: 126px;
    float: left;
    height: 63px;
}

#mobile-link-modal > .content > .link-content > .right > .copy-to-clipboard:hover {
    text-decoration: none;
}

#mobile-link-modal > .content > .link-content > .right > .copy-to-clipboard {
    display: block;
    padding-left: 53px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    font-family: "Helvetica Neue";
    line-height: 63px;
}

#mobile-link-modal > .content > .link-content > .right > .copy-to-clipboard.active {
    display: block;
    cursor: normal;
    margin: 10px 0 0 69px;
    text-indent: -99999999px !important;
    background: url(../images/facebook-tabs/confirm-tick.png) no-repeat;
    width: 40px;
    height: 40px;
}

/**
 *     Publish your tab (modal)
 */
.main-modal {
    width: 340px;
    height: 420px;
    position: absolute;
    left: 50%; top: 50%;
    margin: -210px 0 0 -170px;
    padding-left: 25px;
    background: url(../images/facebook-tabs/modals/main-bg.png) no-repeat;
}

.main-modal > .header {
    height: 64px;
    line-height: 64px;
}

.main-modal > .content {
    height: 331px;
    padding-top: 10px;
    width: 100%;
}

.main-modal > .content > .publish-list {
    width: 296px;
    margin: 0 auto 9px auto;
}

.main-modal > .content > .publish-list > .header {
    height: 39px;
    background: #1796dd;
    color: #fff;
    font-size: 22px;
    line-height: 39px;
    text-align: center;
    font-family: "Helvetica Neue";
    font-style: italic;
}

.main-modal > .content > .publish-list > .content {
    height: 225px;
    background: #002f5f;
}

.main-modal > .content > .publish-list > .content > .published {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue";
    color: #fff;
    padding-top: 20px;
}


.main-modal > .content > .publish-list > .content .publishing .page-boxes {
    width: 188px;
    padding-left: 0;
    margin: 0 auto;
}

.main-modal > .content > .publish-list > .content .publishing .page-boxes .page-box:first-of-type {
    margin-top: 10px;
}

.main-modal > .content > .publish-list > .content .publishing .page-boxes .page-box {
    margin: 4px auto;
}

#schedule-main-modal > .content > #time-widget {
    margin-top: 15px;
    width: 296px;
    height: 65px;
    margin: 13px auto 8px auto;
    background: #002f5f;
    line-height: 65px;
}

#schedule-main-modal > .content > #time-widget > #time-picker {
    width: 100%;
    height: 63px;
    margin-top: 1px;
    background: #002f5f;
    color: #fff;
    font-family: "Helvetica Neue";
    font-size: 22px;
    text-align: center;
    border: 0;
}

.close-window-button {
    display: block;
    width: 187px;
    height: 39px;
    margin: 0 auto;
    text-indent: -99999px;
    background: url(../images/facebook-tabs/close-window-button.png) no-repeat;
}

.ok-window-button {
    display: block;
    width: 90px;
    height: 39px;
    float: right;
    text-indent: -99999px;
    margin-right: 9px;
    background: url(../images/facebook-tabs/OK-button.png) no-repeat;
}

/**
 *     Delete modal (facebook tabs)
 */

.post.tab > .remove-modal {
    width: 160px;
    height: 262px;
    background: #f04831;
    color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    position: absolute;
    bottom: 16px;
}

.post.tab > .remove-modal > span.remove-modal-top {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-family: "Helvetica Neue";
    line-height: 17px;
    font-weight: bold;
    font-style: italic;
    margin-top: 11px;
}

.post.tab > .remove-modal > span.remove-modal-bottom {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: "Helvetica Neue";
    line-height: 14px;
    font-weight: bold;
    font-style: italic;
    margin-top: 11px;
}

.post.tab > .remove-modal.delete-tab-scheduled  > span.remove-modal-bottom{
    margin-top: 22px;
}

.post.tab > .remove-modal.delete-tab  > span.remove-modal-top{
    margin-top: 45px;
}

.post.tab > .remove-modal > a.button-tf-yes {
    display: block;
    width: 71px;
    height: 36px;
    background: url(../images/motion-posts/yes.png) no-repeat;
    text-indent: -999999px;
    margin: 23px auto 14px auto;
}

.post.tab > .remove-modal > a.button-tf-cancel {
    display: block;
    width: 90px;
    height: 35px;
    background: url(../images/motion-posts/cancel.png) no-repeat;
    text-indent: -999999px;
    margin: 0 auto 15px auto;
}
