html, body {
    width: 810px;
    margin: 0 auto;
    padding: 0;
}

div.clearfix {
    clear: both;
}

a > img {
    border: 0;
}

p {
    margin: 0;
}

div.main {
    position: relative;
    width: 810px;
    margin: 0 auto;
    background: #00bacc;
    min-height: 500px;
}

#header {
    /*height: 60px;*/
    padding: 34px 0 25px 60px;
}

.section-01 {
    width: 727px;
    /*height: 507px;*/
    margin: 0 auto;
    background: #196e76;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.section-01 .left {
    position: relative;
    background: #196e76;
    width: 372px;
    height: 507px;
    float: left;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.section-01 .left .heading {
    position: relative;
    padding: 41px 0 0 61px;
}

.section-01 .left .heading .image-intro {
    position: absolute;
    top: 32px;
    left: 24px;
}

.section-01 .left .heading .content-heading {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #fff;
    line-height: 36px;
}

.section-01 .normal {
    width: 280px;
    height: 70px;
    margin-left: 50px;
    margin-top: 27px;
}

.section-01 .image {
    margin: 35px 26px 0;
	text-align: center;
}

.section-01 .normal span {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
}

.section-01 .right {
    float: left;
    width: 355px;
    height: 507px;
}

.section-01 .right .top .content {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #fff;
    text-align: center;
    width: 240px;
    min-height: 140px;
    margin: 0 auto;
    padding-top: 40px;
}

.section-01 .right .top .underline-image {
    margin-top: -26px;
    text-align: center;
}

.section-01 .right .input-field {
    width: 314px;
    height: 71px;
    margin: 0 auto;
    background: #c0f9ff;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.section-01 .right .input-field > input {
    width: 304px;
    height: 61px;
    padding: 5px;
    line-height: 71px;
    background: transparent;
    border: 0;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    color: #fff;
}

.section-01 .right .video-button {
    text-align: center;
}
.section-01 .right .video-button > * {
    margin: 33px 0 0;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.section-01 .right .button-video span {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffee2e;
    line-height: 52px;
    display: block;
    text-align: center;
}

.section-01 .right .privacy {
    text-align: center;
    padding-top: 7px;
}

.section-01 .right .privacy a {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #c0f9ff;
    text-align: center;
    text-decoration: none;
}

.section-01 .right .input-field > input::-webkit-input-placeholder {/* WebKit browsers */
    color: #fff;
}
.section-01 .right .input-field > input:-moz-placeholder {/* Mozilla Firefox 4 to 18 */
    color: #fff;
}
.section-01 .right .input-field > input::-moz-placeholder {/* Mozilla Firefox 19+ */
    color: #fff;
}
.section-01 .right .input-field > input:-ms-input-placeholder {/* Internet Explorer 10+ */
    color: #fff;
}

.section-01 .right .top .bg-selector {
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    border-top-right-radius: 15px;
    background: #104248;
    height: 213px;
    position: relative;
}

#down-triangle {
    position: absolute;
    bottom: -48px;
    left: 135px;
    width: 83px;
    height: 48px;
}
#down-triangle img {
    width: 83px;
    height: 48px;
}

.section-01 .right .bottom {
    background: #14555c;
    height: 264px;
    padding-top: 30px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
}

#footer {
    /*height: 71px;*/
}

#footer .text {
    width: 100%;
    text-align: center;
}

#footer .text span {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #c0f9ff;
    line-height: 71px;
}

.image img {
    max-width: 320px;
    max-height: 180px;
}