<!doctype html>
<html>
    <head>
        <title>Desktop Ad Template</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="stylesheet" href="resources/css/style.css">
    </head>
    <body>
        <div class="main">
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5zZWN0aW9uLTAxIiwiY29sb3IiOiIjNkRFREZGIiwiYWRtaW5UYWciOiJzZWN0aW9uLTAxLWJhY2tncm91bmQifQ==}}
            <div class="section-01 selectable-element" data-admin-tag="section-01-background">
                {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5oZWFkZXItYmciLCJjb2xvciI6IiNGRjhGNkQiLCJhZG1pblRhZyI6ImhlYWRlci1iZy1iYWNrZ3JvdW5kIn0=}}
                <div class="header-bg selectable-element" data-admin-tag="header-bg-background">
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgxPkNPTVBBTllOQU1FPC9oMT4ifQ==}}
                </div>
                <div class="subheader-bg">
                    {{_tabfu:ImportField:imagead:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9iYW5uZXItYmcucG5nIn0=}}
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPGgyPlFVSUNLIElORk8gSEVSRTwvaDI+In0=}}
                </div>
                <div class="computer">
                    {{_tabfu:ImportField:imagead:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlc1wvaW1nXC9hZGQtc2NyZWVuc2hvdC5wbmcifQ==}}
                </div>
            </div>
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoxLCJzZWxlY3RvciI6Ii5zZWN0aW9uLTAyIiwiY29sb3IiOiIjRkY4RjZEIiwiYWRtaW5UYWciOiJzZWN0aW9uLTAyLWJhY2tncm91bmQifQ==}}
            <div class="section-02 selectable-element" data-admin-tag="section-02-background"></div>
        </div>
    </body>
</html>