<html>
    <body>
        {{_tabfu:ImportField:header:eyJ0aXRsZSI6Ikluc2VydCB5b3VyIHRpdGxlIGhlcmUifQ==}}
    
        <div style="float:left">
            {{_tabfu:ImportField:image:}}
        </div>
        
        <div style="float:right">
            {{_tabfu:ImportField:image:}}
        </div>
    </body>
</html>