@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

html, body {
    width: 810px;
    margin: 0 auto;
    padding: 0;
}

div.clearfix {
    clear: both;
}

a > img { border: 0; }

p {
    margin: 0;
}

div.main {
    position: relative;
    width: 810px;
    margin: 0 auto;
    background: #111111;
    min-height: 500px;
}

/* # # # */

.section-01 {
    /*height: 528px;*/
    background-color: #080707;
    /*background-image: url(../img/header-bg.png);*/
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 180px;
}

.section-01 .logo {
    height: 151px;
    text-align: center;
    display: table-cell;
    width: 810px;
    vertical-align: middle;
}

.section-01 .heading {
    font-size: 48px;
    font-family: "Oswald", sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 56px;
}

.section-01 .sub-heading {
    color: #666666;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 25px;
}

.section-01 .bottom-items {
    height: 90px;
    padding-top: 25px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
}

.section-01 .bottom-items .element:first-of-type {
    margin-left: 27px;
}

.section-01 .bottom-items .element {
    width: 240px;
    height: 79px;
    float: left;
    margin-right: 20px;
}

.section-01 .bottom-items .element .left {
    width: 50px;
    float: left;
    height: 79px;
    margin-right: 4px;
}

.section-01 .bottom-items .element .left span {
    font-family: "Oswald", Arial, sans-serif;
    color: #ff400c;
    font-size: 48px;
    line-height: 48px;
}

.section-01 .bottom-items .element .right {
    width: 185px;
    float: left;
    height: 79px;
}

.section-01 .bottom-items .element .right p {
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.section-01 .bottom-items .element .right span,
.section-01 .bottom-items .element .right span p {
    font-family: 'Open Sans', sans-serif;
    line-height: 16px;
    color: #666666;
    font-size: 14px;
}

.section-01 .bottom-items .element:last-of-type {
    margin-right: 15px;
}

/* # # # */

.section-02 {
    padding: 20px 0 40px;
    text-align: center;
    /*height: 136px;*/
}
.section-02 .field-element,
.section-02 .request {
    display: inline-block;
}
.section-02 .request {
    cursor: pointer;
}

/* # # # */

.section-03 {
    /*height: 120px;*/
    background-color: #4f4833;
    padding: 41px 0;
}

.section-03 .heading span {
    display: block;
    color: #fff57c;
    text-align: center;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.section-03 .items {
    padding-top: 30px;
    text-align: center;
}

.section-03 .items .item {
    display: inline-block;
    margin: 0 10px;
    height: 42px;
    vertical-align: middle;
}

/* # # # */

.section-04 {
    /*height: 348px;*/
    padding: 30px 0 50px;
}

.section-04 .features {
    padding-left: 15px;
    text-align: center;
}

.section-04 .features .feature {
    width: 240px;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

.section-04 .features .feature:last-of-type {
    margin-right: 17px;
}

.section-04 .features .feature .heading {
    font-family: "Oswald", Arial, sans-serif;
    color: #726b56;
    font-size: 18px;
    margin-bottom: 10px;
}

.section-04 .features .feature .description {
    font-family: "Myriad Pro", "Oswald", Arial, sans-serif;
    font-size: 13px;
    color: #7d7d7d;
}

/* # # # */

.section-05 {
    /*height: 189px;*/
    background-color: #4f4833;
    padding: 50px 0;
    text-align: center;
}
.section-05 .field-element,
.section-05 .request {
    display: inline-block;
}
.section-05 .request {
    cursor: pointer;
}

.section-05 .heading span {
    display: block;
    color: #fff57c;
    text-align: center;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.section-05 .heading {
    margin-bottom: 23px;
}

#footer {
    height: 47px;
}

#footer span {
    display: block;
    color: #4f4f4f;
    font-family: "Myriad Pro", "Oswald", Arial, sans-serif;
    text-align: center;
    line-height: 49px; 
}

/* # # # */
.request {
    width: 414px;
    height: 95px;
    /*margin: 0 auto;*/
}

.request .request-a-demo {
    display: block;
    width: 414px;
    height: 84px;
    background: #ff400c;
    border-radius: 18px;
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 92px;
    -webkit-box-shadow: 0px 9px 0px 0px rgba(180, 49, 13, 1);
    -moz-box-shadow:    0px 9px 0px 0px rgba(180, 49, 13, 1);
    box-shadow:         0px 9px 0px 0px rgba(180, 49, 13, 1);
}
