<!doctype html>
<html>
    <head>

        <title>Template 06</title>

        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=810, maximum-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <script src="resources/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="resources/js/unslider.min.js"></script>
        <script src="//connect.facebook.net/en_US/all.js"></script>
        <script>
            FB.init({
                appId: '243962189122234',
                status: false, /* check login status */
                cookie: true, /* enable cookies to allow the server to access the session */
                xfbml: true /* parse XFBML */
            });
        </script>
        <script type="text/javascript">
        var getTotalHeightOfPage = function() {
            return Math.max(
                (document.height) ? document.height : 0,
                Math.max(document.body.scrollHeight, document.documentElement.scrollHeight),
                Math.max(document.body.offsetHeight, document.documentElement.offsetHeight),
                Math.max(document.body.clientHeight, document.documentElement.clientHeight)
            );
        };
        var last_height = 0;
        function sizeChangeCallback() {
            if (typeof(FB) == 'undefined' || typeof(document.body) == 'undefined') return;
            var h = getTotalHeightOfPage();
            if (last_height == h) {
                    return;
            }
            h += 20;
            last_height = h;
            FB.Canvas.setSize({ height: h });
        }
		
        $(window).load(function() {
            window.fbAsyncInit = function() {
                sizeChangeCallback();
            };
            setTimeout(function() { sizeChangeCallback(); }, 800);
			
            var sliderUnslider = $('#slider').unslider({
                speed: 500,
                dots: true
            });
            var unsliderData = sliderUnslider.data('unslider');
        });
        </script>

        <link rel="stylesheet" href="resources/css/style.css">
        
    </head>
    <body style="overflow:hidden">
    <div id="fb-root"></div>
        {{_tabfu:ImportField:scrollTo:}}
        <div class="main">
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI2hlYWRlciIsImFkbWluVGFnIjoiaGVhZGVyLWJhY2tncm91bmQiLCJjb2xvciI6ImZmZmZmZiJ9}}<div id="header" data-admin-tag="header-background">
                <div class="left">
                    <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiQ29tcGFueSBuYW1lIn0=}}</span>
                </div>
                <div class="right">
                    {{_tabfu:ImportField:socialFollowIcons:}}                    
                    <span class="follow">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRm9sbG93IHVzIn0=}}</span>
                </div>
                <div class="clearfix"></div>
            </div>
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI3JlZC1zcGFjZXItMSIsImFkbWluVGFnIjoicmVkLXNwYWNlci0xLWJhY2tncm91bmQiLCJjb2xvciI6ImVhNTM0MyJ9}}<div id="red-spacer-1" class="red-spacer" data-admin-tag="red-spacer-1-background"></div>
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDEiLCJhZG1pblRhZyI6InNlY3Rpb24tMDEtYmFja2dyb3VuZCIsImNvbG9yIjoiMmIzODQ4In0=}}<div class="section-01" data-admin-tag="section-01-background">
                <div class="left">
                    
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPEgxPkFwcCBsYXVuY2g8L0gxPiJ9}}
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPEgyPkxhdW5jaCwgU2hvd2Nhc2UgYW5kIGdlbmVyYXRlIGRvd25sb2FkcyBvZiB5b3VyIGF3ZXNvbWUgYXBwIDxicj53aXRoIHRoaXMgdGVtcGxhdGUuPC9IMj4ifQ==}}
                    
                    <div class="markets">
                        {{_tabfu:ImportField:linkedImage:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvYXBwbGUucG5nIiwicHJlZmVyZWRXaWR0aCI6IjEwMCIsInByZWZlcmVkSGVpZ2h0IjoiMTAwIn0=}}
                        {{_tabfu:ImportField:linkedImage:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvZ29vZ2xlLXBsYXkucG5nIiwicHJlZmVyZWRXaWR0aCI6IjEwMCIsInByZWZlcmVkSGVpZ2h0IjoiMTAwIn0=}}
                    </div>
                    
                    {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPEgzPjxhIGhyZWY9XCIjXCI+RG93bmxvYWQgTm93PC9hPjwvSDM+In0=}}
                    
                    <form class="sign-up-form">
                        {{_tabfu:ImportField:template06Gate:eyJwcmVmZXJlZFdpZHRoIjoiODUiLCJwcmVmZXJlZEhlaWdodCI6IjcxIn0=}}
                        <div style="clear: both;"></div>
                        <span class="sign-up-info">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiTm8gc3BhbSBldmVyLiBXZSBwcm9taXNlLiJ9}}</span>
                    </form>
                    
                </div>
                
                <div class="right">
                    <div class="mobile-place">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvaW1hZ2UtcGxhY2Vob2xkZXItdG9wLnBuZyIsInByZWZlcmVkV2lkdGgiOiIyNTIiLCJwcmVmZXJlZEhlaWdodCI6IjQyNiJ9}}
                    </div>
                </div>
                
                <div class="clearfix"></div>
            </div>
            
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDIiLCJhZG1pblRhZyI6InNlY3Rpb24tMDItYmFja2dyb3VuZCIsImNvbG9yIjoiZmZmZmZmIn0=}}<div class="section-02" data-admin-tag="section-02-background">
                <div class="features">
                    <div class="feature">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvd2hpdGUtY2xvY2sucG5nIiwicHJlZmVyZWRXaWR0aCI6IjExMCIsInByZWZlcmVkSGVpZ2h0IjoiMTA2In0=}}
                        {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPEgzPkF3ZXNvbWUgRmVhdHVyZTwvSDM+In0=}}
                        <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHN0cm9uZz5UYWxrIGFib3V0IHRoaXMgZ3JlYXQgZmVhdHVyZSBhbmQgaG93IGl0IHdpbGwgYmVuZWZpdCB5b3VyIHVzZXJzLjwvc3Ryb25nPiJ9}}</span>
                    </div>
                    <div class="feature">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvd2hpdGUtcGxhY2UucG5nIn0=}}
                        {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPEgzPkF3ZXNvbWUgRmVhdHVyZTwvSDM+In0=}}
                        <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHN0cm9uZz5UYWxrIGFib3V0IHRoaXMgZ3JlYXQgZmVhdHVyZSBhbmQgaG93IGl0IHdpbGwgYmVuZWZpdCB5b3VyIHVzZXJzLjwvc3Ryb25nPiJ9}}</span>
                    </div>
                    <div class="feature">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvd2hpdGUtbXVzaWMucG5nIn0=}}
                        {{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPEgzPkF3ZXNvbWUgRmVhdHVyZTwvSDM+In0=}}
                        <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHN0cm9uZz5UYWxrIGFib3V0IHRoaXMgZ3JlYXQgZmVhdHVyZSBhbmQgaG93IGl0IHdpbGwgYmVuZWZpdCB5b3VyIHVzZXJzLjwvc3Ryb25nPiJ9}}</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDMiLCJhZG1pblRhZyI6InNlY3Rpb24tMDMtYmFja2dyb3VuZCIsImNvbG9yIjoiZWE1MzQzIn0=}}<div class="section-03" data-admin-tag="section-03-background">
                
                <div class="heading">
                    <span class="main">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiU2NyZWVuc2hvdHMifQ==}}</span>
                    <span class="desc">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHN0cm9uZz5EZXNjcmlwdGlvbiBvZiB5b3VyIGFwcOKAmXMgZmVhdHVyZXMgYW5kIHJldGluYSByZWFkeSBkaXNwbGF5PC9zdHJvbmc+In0=}}</span>
                </div>
                
                <div class="slider">
                    <div class="super-iphone">
                        <div id="slider" class="has-dots" style="overflow: hidden; width: 449px; height: 235px;">
                            <ul style="overflow: hidden; width: 500%; position: relative;">
                                <li style="width: 20%;">
                                    {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvc2xpZGVyLXBsYWNlaG9sZGVyLWJvdHRvbS5qcGcifQ==}}
                                </li>
                                <li style="width: 20%;">
                                    {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvc2xpZGUtMS5qcGcifQ==}}
                                </li>
                                <li style="width: 20%;">
                                    {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvc2xpZGUtMi5wbmcifQ==}}
                                </li>
                                <li style="width: 20%;">
                                    {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvc2xpZGUtMy5qcGcifQ==}}
                                </li>
                                <li style="width: 20%;">
                                    {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvc2xpZGUtNC5wbmcifQ==}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDQiLCJhZG1pblRhZyI6InNlY3Rpb24tMDQtYmFja2dyb3VuZCIsImNvbG9yIjoiMmIzODQ4In0=}}<div class="section-04" data-admin-tag="section-04-background">
                {{_tabfu:ImportField:downloadButton:eyJpY29uUGxhY2Vob2xkZXJTcmMiOiJyZXNvdXJjZXMvaW1nL2JpZy1hcHBsZS1iZy5wbmciLCJ0aXRsZSI6IkRvd25sb2FkIG9uIHRoZSBBcHAmbmJzcDtTdG9yZSIsImNvbG9yIjoiZWE1MzQzIn0=}}
                {{_tabfu:ImportField:downloadButton:eyJpY29uUGxhY2Vob2xkZXJTcmMiOiJyZXNvdXJjZXMvaW1nL2JpZy1nb29nbGUtcGxheS1iZy5wbmciLCJ0aXRsZSI6IkRvd25sb2FkIG9uIEdvb2dsZSZuYnNwO1BsYXkiLCJjb2xvciI6ImVhNTM0MyJ9}}
                <div class="clearfix"></div>
            </div>
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDUiLCJhZG1pblRhZyI6InNlY3Rpb24tMDUtYmFja2dyb3VuZCIsImNvbG9yIjoiZmZmZmZmIn0=}}<div class="section-05" data-admin-tag="section-05-background">
                <div class="left">
                    <div class="top">{{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvdXNlci1pbWFnZS5wbmcifQ==}}</div>
                    <div class="content">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHN0cm9uZz5UaGlzIGlzIGEgZ3JlYXQgdXNlciByZXZpZXcgb2YgeW91ciBhcHAgPGJyPmFuZCBob3cgaXQgbWFkZSB0aGVpciBsaWZlIGVhc2llci48L3N0cm9uZz4ifQ==}}</div>
                    <div class="name">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHN0cm9uZz5DdXN0b21lciBOYW1lPC9zdHJvbmc+In0=}}</div>
                </div>
                <div class="right">
                    <div class="top">{{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvdXNlci1pbWFnZS5wbmcifQ==}}</div>
                    <div class="content">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHN0cm9uZz5UaGlzIGlzIGEgZ3JlYXQgdXNlciByZXZpZXcgb2YgeW91ciBhcHAgPGJyPmFuZCBob3cgaXQgbWFkZSB0aGVpciBsaWZlIGVhc2llci48L3N0cm9uZz4ifQ==}}</div>
                    <div class="name">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiPHN0cm9uZz5DdXN0b21lciBOYW1lPC9zdHJvbmc+In0=}}</div>
                </div>
                <div class="clearfix"></div>
            </div>
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiLnNlY3Rpb24tMDYiLCJhZG1pblRhZyI6InNlY3Rpb24tMDYtYmFja2dyb3VuZCIsImNvbG9yIjoiMmIzODQ4In0=}}<div class="section-06" data-admin-tag="section-06-background">
                <div class="left">
                    <div class="image-news">
                        {{_tabfu:ImportField:image:eyJwbGFjZWhvbGRlclNyYyI6InJlc291cmNlcy9pbWcvcGFwZXJwbGFuZS5wbmcifQ==}}
                    </div>
                </div>
                <div class="right">
                    <form class="sign-up-form">
                        {{_tabfu:ImportField:template06Gate:eyJwcmVmZXJlZFdpZHRoIjoiODUiLCJwcmVmZXJlZEhlaWdodCI6IjcxIn0=}}
                        <div style="clear: both;"></div>
                        <span class="sign-up-info">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiTm8gc3BhbSBldmVyLiBXZSBwcm9taXNlLiJ9}}</span>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI3JlZC1zcGFjZXItMiIsImFkbWluVGFnIjoicmVkLXNwYWNlci0yLWJhY2tncm91bmQiLCJjb2xvciI6ImVhNTM0MyJ9}}<div id="red-spacer-2" class="red-spacer" data-admin-tag="red-spacer-2-background"></div>
            {{_tabfu:ImportField:styleColor:eyJiYWNrZ3JvdW5kIjoiMSIsInNlbGVjdG9yIjoiI2Zvb3RlciIsImFkbWluVGFnIjoiZm9vdGVyLWJhY2tncm91bmQiLCJjb2xvciI6ImZmZmZmZiJ9}}<div id="footer" data-admin-tag="footer-background">
                <div class="left">
                    <span>{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiQ29weXJpZ2h0IDIwMTQgY29tcGFueW5hbWUuY29tIn0=}}</span>
                </div>
                <div class="right">
                    <span class="follow">{{_tabfu:ImportField:rawHtml:eyJjb250ZW50IjoiRm9sbG93IHVzIn0=}}</span>
                    {{_tabfu:ImportField:socialFollowIcons:}}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </body>
</html>