html, body {
    width: 810px;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, ul, li {
    margin: 0;
}

.container {
    width: 810px;
    margin: 0 auto;
    min-height: 600px;
}

/* Header */
#header {
    display: table;
    width: 100%;
    height: 108px;
    background: url(../img/header.jpg) repeat-x;
    text-align: center;
}

#header #logo {
    display: table-cell;
    width: 100%;
    height: 108px;
    vertical-align: middle;
}

#header #logo a {
    display: inline-block;
    border: 0;
}

#header #logo a img {
    max-height: 95px;
}

/* Content */
#content {
    width: 100%;
    padding-top: 42px;
    min-height: 542px;
    background: url(../img/mainBg.jpg) no-repeat bottom center;
}

#content .heading h1 {
    color: #373737;
    font-size: 52px;
    font-weight: normal;
    max-width: 670px;
    font-family: Arial, "Myriad Pro", Helvetica, sans-serif;
    text-align: center;
    margin: 0 auto 50px auto;
    line-height: 55px;
}

#content .leftContent {
    width: 255px;
    float: left;
    margin-left: 75px;
}

#content .leftContent h2 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 15px;
    color: #373737;
    font-family: Arial, "Myriad Pro", Helvetica, sans-serif;
}

#content .leftContent p {
    font-size: 12px;
    color: #707070;
    line-height: 18px;
}

#content .rightContent {
    width: 365px;
    float: right;
    margin-right: 77px;
    margin-bottom: 25px;
}

#content .rightContent #timer tr td {
    padding: 0 3px;
}

#content .rightContent #timer tr td:first-of-type {
    padding-left: 2px;
}

#content .rightContent #timer tr:last-of-type td {
    text-align: center;
    padding: 20px 0 0 0;
}

#content .rightContent #timer span {
    color: #24222f;
    font-size: 15px;
}

#content .videoDesc {
    margin-top: 40px;
    width: 215px;
    height: 300px;
    float: left;
    margin-left: 49px;
}

#content .videoDesc h2 {
    font-weight: normal;
    color: #373737;
    font-size: 50px;
    line-height: 54px;
}

#content .videoDesc p {
    color: #707070;
    font-size: 20px;
    margin: 0;
}

#content .videoDesc .arrowiPod {
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    float: right;
}

#content #video {
    width: 384px;
    height: 287px;
    background: url(../img/ipad.png) no-repeat;
    float: right;
    margin: 10px 67px -36px 0;
    padding: 39px 49px 40px 43px;
    position: relative;
    z-index: 9;
}
#content #video img,
#content #video iframe {
    width: 384px;
    height: 287px;
    display: block;
}

#content .rightContent .counter-container {
    position: relative;
}
#content .rightContent .counter-container .field-element {
    width: 370px;
    height: 125px;
    position: absolute;
}
#content .rightContent .counter .element {
    float: left;
    width: 76px;
    height: 112px;
    margin: 0 12px 0 0;
}
#content .rightContent .counter .element .number {
    width: 78px;
    height: 79px;
    background: url(../img/timer-bg.png) no-repeat;
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    color: #fff;
    text-align: center;
    line-height: 79px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
#content .rightContent .counter .element .desc {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
    color: #24222f;
}

/* Blue box */
#blueBox {
    width: 100%;
    height: 309px;
    background: #24222f;
    position: relative;
}

#blueBox .arrowTwo {
    position: absolute;
    width: 100px;
    height: 93px;
    right: 200px;
    z-index: 9999;
    top: 20px;
}

#blueBox .buttonDesc {
    position: absolute;
    bottom: 95px;
    left: 85px;
    width: 300px;
}
#blueBox .buttonDesc p {
    width: 280px;
    font-size: 25px;
    color: #fff;
    margin: 0;
}

#blueBox .button {
    position: absolute;
    top: 125px;
    right: 107px;
    width: 301px;
    height: 110px;
    display: block;
}
#blueBox .button img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 301px;
    height: 76px;
}
#blueBox .button > .request > .request-a-demo,
#blueBox .button .field-element[data-field-type="template12Gate"] {
    position: absolute;
    top: 15px;
    left: 0;
    width: 301px;
    height: 46px;
}
#blueBox .button .request-a-demo {
    width: 301px;
    height: 46px;
    text-align: center;
    display: block;
    text-decoration: none;
    border: 0 none;
    cursor: pointer;
}
#blueBox .button .request-a-demo > * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #fff;
    line-height: 46px;
    font-weight: normal;
    margin: 0;
}

#blueBox .button .no-spam {
    position: absolute;
    top: 76px;
    left: 0;    
}
#blueBox .button .no-spam, #blueBox .button .no-spam *,
#blueBox .button .no-spam p {
    width: 301px;
    color: #b2b2b2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
}

#blueBox .buttonDesc .arrow-container {
    float: right;
    margin-top: -20px;
}

/* Footer */
#footer {
    height: 75px;
    width: 100%;
    background: #fff;
}

#footer .left {
    padding-top: 40px;
    padding-left: 40px;
    float: left;
}

#footer .left p {
    margin: 0;
    color: #686868;
    font-size: 12px;
}

#footer .right {
    padding-top: 25px;
    float: right;
    padding-right: 50px;
    font-size: 12px;
    color: #2b3848;
    font-family: Helvetica, Arial;
    width: 300px;
}
#footer .right > * {
    float: right;
}
#footer .right .share-images {
    margin-left: 10px;
}
#footer .right .share-images a {
    margin: 0 4px;
}

#footer .right .share-images a:last-of-type {
    margin-right: 0;
}

/*********/
div.c {
    clear: both;
}
